<div class="chart-container" [style.grid-template-columns]="chartInfoGridColumns">
  @if (includesAreas) {
    <div [style.grid-column]="'span ' + emptyInfoNameSpan"></div>
  }

  <!-- CHART HEADER -->
  @if (includesAreas) {
    <div class="background-area-labels" [class.default-background]="hasDefaultArea">
      <!-- LEFT/RIGHT AREAS (blue/orange) -->
      @if (!hasDefaultArea && bothAlternativesSelected) {
        @if (0 >= scaleAxis.from) {
          <div class="left-container" [style.width.%]="leftBackgroundAreaRatio * 100">
            <div class="background-area-label left-area">
              <div class="primary-label clamped-text" [matTooltip]="areas.leftAreaLabel">
                {{ areas.leftAreaLabel }}
              </div>
              <div class="secondary-label" i18n>ist besser</div>
            </div>
          </div>
        }
        @if (0 <= scaleAxis.to) {
          <div class="right-container" [style.width.%]="rightBackgroundAreaRatio * 100">
            <div class="background-area-label right-area">
              <div class="primary-label clamped-text" [matTooltip]="areas.rightAreaLabel">
                {{ areas.rightAreaLabel }}
              </div>
              <div class="secondary-label" i18n>ist besser</div>
            </div>
          </div>
        }
      }
      <!-- DEFAULT AREA -->
      @if (hasDefaultArea && !bothAlternativesSelected) {
        <div class="background-area-label default-area">
          <div class="primary-label clamped-text" [matTooltip]="areas.defaultAreaLabel">
            {{ areas.defaultAreaLabel }}
          </div>
        </div>
      }
    </div>
  }

  <div class="chart-info top-left-corner" [style.grid-column]="'span ' + emptyInfoNameSpan"></div>

  <!-- CHART BACKGROUND -->
  <div class="background-area-wrapper">
    <div class="background-area-container">
      <!-- LEFT/RIGHT AREAS (blue/orange) -->
      @if (!hasDefaultArea && bothAlternativesSelected) {
        @if (0 >= scaleAxis.from) {
          <div class="background-area left-area" [style.width.%]="leftBackgroundAreaRatio * 100">
            <!-- Split value -->
            @if (!barLimitsHovered) {
              <span class="split-value">0</span>
            }
          </div>
        }
        @if (0 <= scaleAxis.to) {
          <div class="background-area right-area" [style.width.%]="rightBackgroundAreaRatio * 100"> </div>
        }
      }

      <!-- DEFAULT AREA (gray) -->
      @if (hasDefaultArea && !bothAlternativesSelected) {
        <div class="background-area default-area"></div>
      }
    </div>

    <!-- EXPECTED VALUE DASHED LINE -->
    @if (!isPointHovered) {
      <div
        class="vertical-dashed-line"
        [style.left.%]="calculateLeftPercentage(tornadoData.totalExpectedValue.value)"
        [style.top.px]="calculateDashedLineTop(1)"
        [style.height.px]="calculateDashedLineHeight(1)"
      >
      </div>
    }

    <!-- VERTICAL DASHED LINES -->
    @for (tornadoBar of visibleTornadoBars; track tornadoBar; let barIdx = $index) {
      @for (tornadoPoint of tornadoBar.points; track tornadoPoint; let lineIdx = $index) {
        @if (isVerticalLineVisible(barIdx, lineIdx)) {
          <div
            class="vertical-dashed-line"
            [style.left.%]="calculateLeftPercentage(tornadoPoint.tornadoPointValue)"
            [style.top.px]="calculateDashedLineTop(barIdx + 1)"
            [style.height.px]="calculateDashedLineHeight(barIdx + 1)"
          ></div>
        }
      }
    }
  </div>

  <!-- TORNADO ROW INFOS -->
  @for (tornadoBar of visibleTornadoBars; track tornadoBar; let barIdx = $index) {
    <!-- LABEL -->
    <div class="chart-info chart-info-text clamped-text" [title]="tornadoBar.label">{{ tornadoBar.label }}</div>
    <!-- UNIT -->
    @if (containsUnits) {
      <div class="chart-info chart-info-text clamped-text">{{ tornadoBar.unit }}</div>
    }
    <!-- ALTERNATIVE BOX (blue/orange) -->
    @if (bothAlternativesSelected) {
      <div class="chart-info alternative-box-container">
        @if (tornadoBar.alternativeBoxes) {
          <div
            #alternativeBox
            class="alternative-outer-box"
            [class.primary]="tornadoBar.alternativeBoxes[0].isPrimary"
            [dtHoverPopover]="alternativeBoxTooltip"
            [dtHoverPopoverPosition]="'top'"
          >
            <!-- INNER TRIANGLE -->
            @if (tornadoBar.alternativeBoxes.length > 1) {
              <div class="alternative-inner-box" [class.primary]="tornadoBar.alternativeBoxes[0].isPrimary"></div>
            }
          </div>
          <ng-template #alternativeBoxTooltip>
            <div class="tornado-tooltip alternative-box-tooltip">
              <div class="tooltip-title" i18n>Relevant für die Alternative(n):</div>
              <ul>
                @if (visibleTornadoBars[barIdx].alternativeBoxes[0]) {
                  <li>
                    {{ visibleTornadoBars[barIdx].alternativeBoxes[0].alternativeName }}
                  </li>
                }
                @if (visibleTornadoBars[barIdx].alternativeBoxes[1]) {
                  <li>
                    {{ visibleTornadoBars[barIdx].alternativeBoxes[1].alternativeName }}
                  </li>
                }
              </ul>
            </div>
          </ng-template>
        }
      </div>
    }
    <!-- Expand/Collapse Children -->
    @if (containsChildren) {
      <div class="chart-info expand-icon-container">
        @if (isBarExpandable(tornadoBar)) {
          @if ($any(tornadoBar).areChildrenExpanded) {
            <button class="expand-icon" (click)="collapseExpandBar($any(tornadoBar), false)" mat-icon-button>
              <mat-icon>expand_less</mat-icon>
            </button>
          } @else {
            <button class="expand-icon" (click)="collapseExpandBar($any(tornadoBar), true)" mat-icon-button>
              <mat-icon>expand_more</mat-icon>
            </button>
          }
        }
      </div>
    }
    <!-- TORNADO BARS -->
    <!-- VALUES -->
    <div class="tornado-bar-container">
      <span
        class="chart-value bar-label left-label edge-label"
        [class.overlapping-label]="areLimitsOverlapping[barIdx]"
        [style.left.%]="calculateLeftPercentage(tornadoBar.points[0].tornadoPointValue)"
      >
        {{ transformTornadoPointLabel(tornadoBar.points[0].tornadoPointLabel) }}
      </span>
      @for (tornadoValue of tornadoBar.points | slice: 1 : tornadoBar.points.length - 1; track tornadoValue) {
        @if (!includesAreas) {
          <span class="chart-value bar-label" [style.left.%]="calculateLeftPercentage(tornadoValue.tornadoPointValue)">
            {{ transformTornadoPointLabel(tornadoValue.tornadoPointLabel) }}
          </span>
        }
      }
      <span
        class="chart-value bar-label right-label edge-label"
        [class.overlapping-label]="areLimitsOverlapping[barIdx]"
        [style.left.%]="calculateLeftPercentage(tornadoBar.points[tornadoBar.points.length - 1].tornadoPointValue)"
      >
        {{ transformTornadoPointLabel(tornadoBar.points[tornadoBar.points.length - 1].tornadoPointLabel) }}
      </span>
      <!-- BARS -->
      <span
        class="tornado-bar"
        [style.left]="'calc(' + calculateLeftPercentage(tornadoBar.points[0].tornadoPointValue) + '% - 5px)'"
        [style.width]="'calc(' + calculateWidthPercentage(tornadoBar.points) + '% + 10px)'"
        [class.child-row]="$any(tornadoBar).children == null"
        (mouseenter)="hoveredBarIdx = barIdx"
        (mouseleave)="hoveredBarIdx = -1"
      >
      </span>
      <!-- BAR POINTS -->
      @for (point of tornadoBar.points; track point; let pointIdx = $index) {
        <span
          class="bar-point"
          [style.left.%]="calculateLeftPercentage(point.tornadoPointValue)"
          [dtHoverPopover]="pointTooltip"
          [dtHoverPopoverPosition]="'top'"
          (popoverOpened)="onPointHovered(barIdx, pointIdx)"
          (popoverClosed)="hoveredPointIdx = -1; hoveredBarIdx = -1; tooltipCombinationIdx = 0"
        ></span>
        <ng-template #pointTooltip>
          <div class="tornado-tooltip point-tooltip" [class.scrollable-point-tooltip]="currentTornadoPoint.tooltipCombinations.length > 1">
            @if (currentTornadoPoint.tooltipCombinations.length > 1) {
              <button
                color="accent"
                (click)="tooltipCombinationIdx = tooltipCombinationIdx - 1"
                [disabled]="tooltipCombinationIdx === 0"
                mat-button
                ><mat-icon>arrow_left</mat-icon></button
              >
            }
            <div class="point-info">
              @for (row of currentTornadoPoint.tooltipCombinations[tooltipCombinationIdx].tooltipRows; track row) {
                <div class="row-container">
                  @if (row.indicatorName) {
                    <span class="indicator-name" [title]="row.indicatorName">{{ row.indicatorName }}</span>
                  }
                  <div
                    class="state-name-value"
                    [class.single-line]="row.stateValue == null"
                    [class.main-column]="row.indicatorName == null"
                  >
                    <span [title]="row.stateName">{{ row.stateName }}</span>
                    @if (row.stateValue) {
                      <span [title]="row.stateValue">({{ row.stateValue }})</span>
                    }
                  </div>
                  @if (row.probability) {
                    <span class="state-probability">{{ row.probability / 100 | percent: '1.0-2' }}</span>
                  }
                </div>
              }
              @if (
                currentTornadoPoint.tooltipCombinations.length > 1 ||
                currentTornadoPoint.tooltipCombinations[tooltipCombinationIdx].tooltipRows.length > 1
              ) {
                <div class="combination-probability">
                  <ng-container i18n
                    >Wahrscheinlichkeit:
                    {{
                      currentTornadoPoint.tooltipCombinations[tooltipCombinationIdx].probability
                        | percent: '1.0-' + percentageSignificantDigits
                    }}</ng-container
                  >
                  @if (currentTornadoPoint.tooltipCombinations.length > 1) {
                    <span class="total-combination-probability" i18n
                      >(von {{ summedUpTooltipProbability(currentTornadoPoint) | percent: '1.0-' + percentageSignificantDigits }})</span
                    >
                  }
                </div>
              }
              @if (currentTornadoPoint.tooltipCombinations.length > 1) {
                <div class="pagination" i18n>{{ tooltipCombinationIdx + 1 }} von {{ currentTornadoPoint.tooltipCombinations.length }}</div>
              }
            </div>
            @if (currentTornadoPoint.tooltipCombinations.length > 1) {
              <button
                color="accent"
                (click)="tooltipCombinationIdx = tooltipCombinationIdx + 1"
                [disabled]="tooltipCombinationIdx === currentTornadoPoint.tooltipCombinations.length - 1"
                mat-button
              >
                <mat-icon>arrow_right</mat-icon>
              </button>
            }
          </div>
        </ng-template>
      }
    </div>
  }

  <!-- SCALE INFO -->
  <div class="chart-info bottom-left-corner scale-info-text" [style.grid-column]="'span ' + scaleNameSpan">{{ scaleAxis.label }}</div>
  @if (!includesAreas && containsUnits) {
    <div class="chart-info scale-info-text clamped-text">{{ scaleAxis.unit }}</div>
  }

  <!-- SCALE -->
  <div class="chart-scale-container">
    <!-- EXPECTED VALUE -->
    @if (!isPointHovered) {
      <span
        class="chart-value scale-value"
        [style.left.%]="calculateLeftPercentage(tornadoData.totalExpectedValue.value)"
        [dtHoverPopover]="expectedValueTooltip"
        [dtHoverPopoverPosition]="'bottom'"
      >
        {{ showPlus(tornadoData.totalExpectedValue.value) }} {{ tornadoData.totalExpectedValue.value | roundAsPower: 2 }}
      </span>

      <ng-template #expectedValueTooltip>
        <div class="tornado-tooltip expected-value-tooltip">
          {{ tornadoData.totalExpectedValue.tooltipInfo }}
        </div>
      </ng-template>
    }

    @for (tornadoBar of visibleTornadoBars; track tornadoBar; let rowIdx = $index) {
      @for (tornadoPoint of tornadoBar.points; track tornadoPoint; let scaleValueIdx = $index) {
        @if (isScaleValueVisible(rowIdx, scaleValueIdx)) {
          <span
            class="chart-value scale-value"
            [class.lower-scale-value]="scaleValueIdx === 0 || scaleValueIdx === this.visibleTornadoBars[rowIdx].points.length - 1"
            [style.left.%]="calculateLeftPercentage(tornadoPoint.tornadoPointValue)"
          >
            {{ showPlus(tornadoPoint.tornadoPointValue) }} {{ tornadoPoint.tornadoPointValue | roundAsPower: 2 }}
          </span>
        }
      }
    }

    <!-- SCALE HANDLEBARS -->
    <div class="chart-scale-handlebar left-chart-scale-handlebar" [style.left.%]="(100 - chartWidthPercentage) / 2"></div>
    <div class="chart-scale-handlebar" [style.left.%]="chartWidthPercentage + (100 - chartWidthPercentage) / 2"></div>

    <!-- SCALE LIMITS -->
    <span class="chart-value left-axis-boundaries" [style.left.%]="(100 - chartWidthPercentage) / 2">
      {{ scaleAxis.from | roundAsPower: 2 }}
    </span>
    <span class="chart-value right-axis-boundaries" [style.left.%]="chartWidthPercentage + (100 - chartWidthPercentage) / 2">
      {{ showPlus(scaleAxis.to) }} {{ scaleAxis.to | roundAsPower: 2 }}
    </span>

    <!-- SCALE AXIS -->
    <span class="chart-scale" [style.left.%]="(100 - chartWidthPercentage) / 2" [style.width.%]="chartWidthPercentage"></span>
  </div>
</div>
