@use 'variables' as dt;

$row-height: 40px; // changes to the height should be addressed in the TS as well
$scale-height: 2 * $row-height;
$border-radius: 4px;

:host {
  position: relative;
  display: block; // important for FireFox positioning of tooltips
  --number-of-shown-bars: calc(var(--number-of-visible-bars) + 1);

  .background-area-container {
    height: calc((var(--number-of-visible-bars) + 1) * $row-height + $scale-height);
  }

  &.includes-areas {
    .chart-container {
      grid-template-rows: 50px repeat(var(--number-of-shown-bars), $row-height) $scale-height;
    }

    .chart-info {
      background-color: rgba(235, 237, 238);

      &.top-left-corner {
        border-top-left-radius: $border-radius;
      }

      &.bottom-left-corner {
        border-bottom-left-radius: $border-radius;
      }
    }
  }

  &:not(.includes-areas) {
    .chart-container {
      grid-template-rows: repeat(var(--number-of-shown-bars), $row-height) $scale-height;
    }
  }
}

// Grid
.chart-container {
  display: grid;
  overflow: auto;

  .chart-info-text {
    position: relative;
    padding: 0 15px;
    line-height: $row-height;
    text-align: right;
  }

  .scale-info-text {
    display: flex;
    padding: 0 15px;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
  }
}

// background areas
.background-area-labels {
  display: flex;
  width: 100%;

  &.default-background {
    flex-direction: column;

    .background-area-label {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &:not(.default-background) {
    position: relative;

    .background-area-label {
      color: white;
    }
  }

  .left-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .background-area-label {
      border-top-left-radius: $border-radius;
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;

    .background-area-label {
      border-top-right-radius: $border-radius;
    }
  }
}

.background-area-label {
  display: flex;
  text-align: center;
  padding: 5px;
  height: 50px;
  min-height: 50px;
  flex-direction: column;
  justify-content: center;

  .secondary-label {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
  }

  &.left-area {
    background-color: rgb(66, 104, 138);
  }

  &.right-area {
    background-color: rgb(202, 109, 28);
  }

  &.default-area {
    background-color: rgb(235, 237, 238);
  }
}

.background-area-wrapper {
  position: relative;

  .background-area-container {
    position: absolute;
    display: flex;
    width: 100%;
    pointer-events: none;

    .background-area {
      display: flex;
      flex-direction: column;
      height: 100%;

      &.left-area {
        background-color: rgba(66, 104, 138, 0.35);
        z-index: 20;
        border-bottom-left-radius: $border-radius;
        position: relative;

        .split-value {
          position: absolute;
          transform: translateX(50%);
          right: 0;
          bottom: 0;
        }
      }

      &.right-area {
        background-color: rgba(202, 109, 28, 0.35);
        z-index: 20;
        border-bottom-right-radius: $border-radius;
      }

      &.default-area {
        flex: 1;
        background-color: rgba(235, 237, 238, 0.5);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

// chart-info (text, icons, alternative boxes)
.clamped-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.expand-icon-container {
  display: flex;
  align-items: center;

  button {
    margin: 0;
  }
}

.expand-icon {
  display: flex;
  padding: 0;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.alternative-box-container {
  display: flex;
  align-items: center;
}

.alternative-outer-box {
  width: 30px;
  height: 15px;
  position: relative;
  border-radius: 2px;
  background-color: rgb(66, 104, 138);

  &.primary {
    background-color: rgb(202, 109, 28);
  }
}

.alternative-inner-box {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  border-radius: 2px;
  background-color: rgb(66, 104, 138);
}

// chart (tornado bars, bar points, dashed lines)
.tornado-bar-container {
  position: relative;
}

.tornado-bar {
  z-index: 5;
  height: 10px;
  background-color: dt.$blue;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border-radius: $border-radius;

  &.child-row {
    background-color: dt.$blue-lighten-4;
  }
}

.vertical-dashed-line {
  position: absolute;
  bottom: 0;
  border-left: 2px dashed #c8c8c8;
  margin-left: -1px;
}

.chart-value {
  top: 50%;
  white-space: nowrap;
  position: absolute;
  z-index: 10;
  font-size: 13px;
}

.bar-label {
  top: 0;
  line-height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateX(-50%);

  &.limited-bar-label {
    max-width: 90px;
  }

  &.overlapping-label {
    &.left-label {
      transform: translateX(-100%);
    }

    &.right-label {
      transform: translateX(0);
    }
  }
}

.bar-point {
  top: 50%;
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 30;
  cursor: pointer;
}

// scale (x-axis)
.chart-scale-container {
  z-index: 50;
  position: relative;
}

.chart-scale {
  background-color: dt.$blue;
  height: 1px;
  position: absolute;
  top: 50%;
}

.chart-scale-handlebar {
  position: absolute;
  top: 50%;
  background-color: dt.$blue;
  width: 2px;
  height: 30px;
  transform: translateY(-50%);
}

.left-chart-scale-handlebar {
  margin-left: -2px;
}

.lower-scale-value {
  margin-top: 15px;
}

.scale-value {
  transform: translateX(-50%);
}

.left-axis-boundaries {
  transform: translate(-100%, -50%);
  top: 50%;
  margin-left: -5px;
}

.right-axis-boundaries {
  transform: translate(0, -50%);
  top: 50%;
  margin-left: 5px;
  padding-right: 15px;
}

// tooltips
.tornado-tooltip {
  background-color: white;
  padding: 10px;
  border-radius: $border-radius;
  border: 1px solid dt.$blue;
  width: max-content;
  max-width: 450px;
  white-space: normal;
}

.point-tooltip {
  display: flex;
  justify-content: center;

  &.scrollable-point-tooltip {
    padding: 10px 0;

    .point-info {
      max-width: calc(100% - 60px);
    }
  }

  button {
    min-width: 30px;
    height: auto;

    mat-icon {
      margin: 0;
      transform: scale(1.5);
    }
  }

  .point-info {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 100%;

    .row-container {
      display: flex;
      gap: 15px;
      height: 36px;

      .indicator-name {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 36px;
        font-size: 15px;
      }

      .state-name-value {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 115px;
        font-size: 13px;
        line-height: 13px;

        &.single-line {
          line-height: 36px;
        }

        &.main-column {
          flex: 1;
        }

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
        }
      }

      .state-probability {
        font-size: 13px;
        font-style: italic;
        line-height: 36px;
      }
    }

    .combination-probability {
      text-align: center;
      font-style: italic;
      font-size: 13px;
      margin-top: 8px;
    }

    .total-combination-probability {
      margin-left: 5px;
    }

    .pagination {
      font-size: 13px;
      text-align: center;
      margin-bottom: 2px;
    }
  }
}

.expected-value-tooltip {
  height: fit-content;
}

.alternative-box-tooltip {
  display: flex;
  flex-direction: column;

  .tooltip-title {
    font-weight: 500;
  }

  ul {
    margin-left: 20px;
  }
}
