@use 'variables' as dt;

.edit-task {
  cursor: pointer;

  border-top: 1px solid lightgray;
  color: #f8931e;

  &:hover {
    background-color: #f0f0f0;
  }
}

[mat-raised-button]:first-child {
  margin-right: 8px;
}

mat-list {
  padding: 0;
}

.task-state-subtitle {
  @include dt.typography-level(caption);
  color: gray;
  line-height: 1;
}

mat-list-item {
  padding: 0 dt.$modal-padding;
}

mat-icon {
  vertical-align: middle;
}
