@use '@angular/material' as mat;
@use 'variables' as dt;
@use 'sass:color';

$grid-color: lightgray;

:host {
  --col-count: var(--col-count);

  .graph-overlay {
    position: absolute;
    pointer-events: none;

    grid-column-start: 4;
    grid-column-end: -1;

    grid-row: 1;
    grid-row-end: 2;

    place-self: start;
    width: 100%;
    height: 100%;
  }

  .grid-background {
    background-size: calc(100% / var(--col-count)) 10%;

    border-right: 2px solid $grid-color;
    background-image: linear-gradient(to right, $grid-color 2px, transparent 2px),
      linear-gradient(to bottom, $grid-color 2px, transparent 2px);
    background-repeat: repeat;

    grid-column-start: 4;
    grid-column-end: -1;

    &.fine {
      display: none;
      background-size: 10% 10%;
      background-image: linear-gradient(to bottom, color.change($grid-color, $alpha: 0.5) 2px, transparent 2px);
      background-repeat: repeat;
    }
  }
}

.chart-wrapper {
  max-width: 100%;
  height: 500px;
  margin-top: 20px;

  .chart-outer-container {
    display: flex;
    height: 100%;

    .chart-inner-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .chart-background {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 100%;
        background-color: #fff;
        border: 2px solid #e7e7e7;

        .point-anchor {
          position: absolute;
          display: flex;
          margin-top: -5px;
          margin-left: -5px;

          &.invisible-point {
            display: none;
          }

          .point-circle {
            z-index: 20;
            height: 10px;
            width: 10px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
          }

          .point-name {
            z-index: 15;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 200px;
            white-space: nowrap;
            margin-left: 10px;
            background-color: rgba(255, 255, 255, 0.5);

            &.left-aligned {
              margin-left: -215px;
              text-align: right;
            }

            &.top-aligned {
              margin-top: -20px;
            }
          }
        }

        svg {
          stroke-width: 2px;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 10;

          .default-curve {
            stroke: dt.$blue;
          }

          .hovered-curve {
            stroke: red;
          }
        }
      }

      .x-ticks {
        position: relative;
        height: 20px;
        min-height: 20px;
        margin-top: 5px;
        font-size: 12px;

        .x-tick {
          position: absolute;
          transform: translateX(-50%);
        }
      }

      .x-label {
        font-weight: 500;
        text-align: center;
        height: 20px;
        display: flex;
        flex-direction: column;
      }
    }

    .y-scale {
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: calc(100% + 1em);
      transform: translateY(-0.5em);

      grid-row: 1;
      grid-column: 2;

      > span {
        line-height: 1em;
        font-size: 12px;
      }
    }

    .y-label {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 45px; // 20 (height x-label) + 20 (height x-ticks) + 5 (margin x-ticks)
      font-weight: 500;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      text-align: center;
    }
  }
}

.primary-label {
  font-size: 15px;
}

.secondary-label {
  font-size: 12px;
  color: #b0a8a8;
}

.popover-container {
  z-index: 50;
  margin-top: 20px;
  @include mat.elevation(8);
  background-color: white;
  padding: 5px;
  border-radius: 4px;

  .popover-header {
    font-weight: 500;
    font-size: 15px;
  }

  .popover-body {
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }
}

.popover-on-cursor {
  width: 300px;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}
