@if (showTitle) {
  <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Kosten-Nutzen-Analyse</dt-step-title>
}

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description>
    @if (decisionData.isProfessional()) {
      <ng-container i18n
        >Hier kannst Du Kosten und Nutzen der Alternativen grafisch gegenüberstellen. Hierfür wählst Du ein Ziel als Kostenziel aus. Die
        anderen Ziele beschreiben den Nutzen in Form eines normierten Wertbeitrages. Die Indifferenzkurven ergeben sich aus Deinen
        angegebenen Zielgewichten.</ng-container
      >
    } @else {
      <ng-container i18n>Wähle ein Kostenziel aus und schaue Dir das Kosten-Nutzen-Verhältnis Deiner Alternativen an.</ng-container>
    }
  </ng-template>
  <ng-template #subDescription i18n
    >Alle Punkte auf einer Geraden haben ein gleich zu bewertendes Kosten-Nutzen-Verhältnis. Von oben links nach unten rechts wird das
    Kosten-Nutzen-Verhältnis immer schlechter.</ng-template
  >
</dt-step-description>

<dt-select-line>
  <dt-select [selectedOptions]="costObjectiveIdx()" (selectedOptionsChange)="costObjectiveIdx.set($event)">
    <dt-select-label i18n>Kostenziel</dt-select-label>
    @for (objective of decisionData.objectives; track objective; let objectiveIdx = $index) {
      <dt-select-option
        [disabled]="objective.isVerbal || normalizedWeights[objectiveIdx] === 1"
        [tooltipWhenDisabled]="verbalObjectivesDisabledTooltip"
        [value]="objectiveIdx"
        >{{ objective.name }}</dt-select-option
      >
    }
  </dt-select>
  <dt-select [(selectedOptions)]="selectedAlternatives" [multiple]="true">
    <dt-select-label i18n>Alternativen</dt-select-label>
    @for (alternative of decisionData.alternatives; track alternative; let alternativeIdx = $index) {
      <dt-select-option [value]="alternativeIdx">{{ alternative.name }}</dt-select-option>
    }
  </dt-select>
  <dt-toggle-button
    [disabled]="forceLabelHidden"
    [(value)]="showPointLabel"
    icon="abc"
    [tooltipTrue]="shownTooltip"
    [tooltipFalse]="hiddenTooltip"
  >
  </dt-toggle-button>
</dt-select-line>

<div class="chart-wrapper">
  <div
    class="chart-outer-container"
    [dtWidthTrigger]="{ 'points-hidden': 425 }"
    (dtWidthTriggerStateChange)="forceLabelHidden = $event['points-hidden']"
  >
    <!-- Y axis -->
    <div class="y-label">
      <span class="primary-label" i18n>Nutzen in den übrigen Zielen</span>
      <span class="secondary-label" i18n>aggregiert und normiert</span>
    </div>
    <div class="y-scale">
      @for (_ of [].constructor(11); track _; let tickIdx = $index) {
        <span>
          {{ (10 - tickIdx) / 10 | percent: '1.0-2' }}
        </span>
      }
    </div>
    @if (costObjectiveIdx() !== -1) {
      <div class="chart-inner-container">
        <!-- Diagram content -->
        <div class="chart-background" (mousemove)="tooltipPos = [$event.offsetX, $event.offsetY]" #chart>
          <!-- Grid -->
          <div class="graph-overlay grid-background"> </div>
          <div class="graph-overlay grid-background fine"> </div>
          <!-- Points -->
          @for (point of alternativePointSeries(); track point; let pointIdx = $index) {
            <div
              class="point-anchor"
              [class.invisible-point]="!selectedAlternatives.includes(pointIdx)"
              [style.left.%]="xValueToPercentage(point.x) * 100"
              [style.top.%]="100 - point.y"
            >
              <div
                class="point-circle"
                [dtHoverPopover]="pointPopOver"
                dtHoverPopoverPosition="bottom"
                (mouseenter)="hoveredPointIdx = pointIdx; showHoveredCurve = true"
                (mouseleave)="showHoveredCurve = false"
              ></div>
              @if (showPointLabel && !forceLabelHidden) {
                <div class="point-name" [class.top-aligned]="point.isLabelTopAligned" [class.left-aligned]="point.isLabelLeftAligned">{{
                  point.name
                }}</div>
              }
            </div>
          }
          <svg xmlns:svg="http://www.w3.org/1999/xhtml" viewBox="0 0 100 100" preserveAspectRatio="none">
            @for (curve of defaultCurves(); track curve; let curveIdx = $index) {
              <path
                class="default-curve"
                [attr.d]="curve.path"
                fill="none"
                vector-effect="non-scaling-stroke"
                (mouseenter)="hoveredCurveIdx = curveIdx"
                (mouseleave)="hoveredCurveIdx = -1"
              ></path>
            }
            @if (showHoveredCurve) {
              <path
                class="hovered-curve"
                [attr.d]="onHoverCurvePaths()[hoveredPointIdx]"
                fill="none"
                vector-effect="non-scaling-stroke"
              ></path>
            }
          </svg>
          @if (hoveredCurveIdx !== -1) {
            <div class="popover-container popover-on-cursor" [style.left.px]="tooltipPos[0]" [style.top.px]="tooltipPos[1]">
              <div class="popover-header" i18n
                >Nutzenerwartungswert (alle Ziele): {{ defaultCurves()[hoveredCurveIdx].totalUtility * 100 | number: '1.0-2' }}</div
              >
            </div>
          }
        </div>
        <!-- X axis -->
        <div class="x-ticks">
          @for (_ of [].constructor(numberOfXTicks()); track _; let tickIdx = $index) {
            <div class="x-tick" [style.left.%]="(tickIdx / (numberOfXTicks() - 1)) * 100">
              {{ this.xTickFromIndex(tickIdx) | number: '1.0-2' }}
            </div>
          }
        </div>
        <div class="x-label">
          <span class="primary-label"
            >{{ costObjective().name }}
            @if (costObjective().unit() !== '') {
              <span i18n>in {{ costObjective().unit() }}</span>
            }
          </span>
          <span class="secondary-label" i18n>Kostenziel</span>
        </div>
      </div>
    }
  </div>
</div>

<ng-template #pointPopOver>
  <div class="popover-container">
    <div class="popover-header">{{ alternativePointSeries()[hoveredPointIdx].name }}</div>
    <div class="popover-body">
      <span
        >{{ this.decisionData.objectives[this.costObjectiveIdx()].name }}:
        {{ alternativePointSeries()[hoveredPointIdx].x | number: '1.0-2' }}
        @if (costObjective().unit() !== '') {
          <span> {{ costObjective().unit() }}</span>
        }
      </span>
      <span
        ><span i18n>Nutzen in den übrigen Zielen</span>: {{ alternativePointSeries()[hoveredPointIdx].y / 100 | percent: '1.0-2' }}</span
      >
      <span><span i18n>Gesamtnutzen</span>: {{ alternativePointSeries()[hoveredPointIdx].totalUtility | percent: '1.0-2' }}</span>
    </div>
  </div>
</ng-template>
