<dt-hierarchy
  dtObjectiveHierarchyAction
  (simpleHierarchyDataDrop)="simpleHierarchyDataDrop.emit($event)"
  [readonly]="context.readonly"
  [tree]="context.tree()"
  (nodeDragStart)="hierarchyNodeDragStart($event.event, $event.locations)"
  (nodeDragOver)="hierarchyNodeDragOver($event.event)"
  #hierarchyMovement="dtHierarchyMovement"
>
  <ng-template #node let-element let-loc="locationSequence" let-focused="focused">
    <div
      class="node"
      [class.root]="loc.isRoot()"
      [class.fundamental]="loc.getLevel() === 1"
      [style.background-color]="element.backgroundColor"
      [style.color]="element.textColor"
    >
      <span class="invisible-auto-width-helper">{{ nameField.value || element.placeholder || '' }}</span>
      <input
        #nameField
        [ngModel]="element.name"
        (ngModelChange)="context.renameNode(loc, $event)"
        [ngModelOptions]="{ updateOn: 'blur' }"
        [readOnly]="!focused || context.readonly"
        [dtAutoFocus]="focused"
        [placeholder]="element.placeholder ?? ''"
        size="1"
      />
      @if (loc.isRoot()) {
        <dt-note-btn
          (noteClose)="updateComment(loc, element.comment, element.scaleComment, $event)"
          [readonly]="context.readonly"
          [comment]="element.comment"
        ></dt-note-btn>
      } @else if (focused && loc.getLevel() !== 1) {
        <dt-note-btn
          (noteClose)="updateComment(loc, element.comment, element.scaleComment, $event)"
          [readonly]="context.readonly"
          [comment]="element.comment"
          [caption]="element.name | noteBtnPreset: 'objective'"
        ></dt-note-btn>
      } @else if (focused || loc.getLevel() === 1) {
        <dt-note-btn
          (noteClose)="updateComment(loc, element.comment, element.scaleComment, $event)"
          [readonly]="context.readonly"
          [comment]="element.comment"
          [twoComments]="true"
          [secondComment]="element.scaleComment"
          [firstOpen]="true"
          [secondOpen]="false"
          [caption]="element.name | noteBtnPreset: 'objective'"
          [darkBackground]="true"
        ></dt-note-btn>
      }
    </div>
  </ng-template>

  <dt-hierarchy-toolbar>
    <button prepend mat-icon-button data-cy="hierarchy-help" (click)="openHelp()" matTooltip="Hilfe öffnen" i18n-matTooltip
      ><mat-icon>help</mat-icon></button
    >
    <mat-divider prepend vertical></mat-divider>
    <button prepend mat-icon-button (click)="toggleFullscreen()" matTooltip="Vollbildmodus" i18n-matTooltip>
      <mat-icon>{{ isInFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
    </button>
    <mat-divider vertical></mat-divider>
    <button
      mat-icon-button
      [disabled]="context.readonly || !context.canUndo()"
      (click)="context.undo()"
      matTooltip="Rückgängig machen"
      i18n-matTooltip
      data-cy="undo-button"
      ><mat-icon>undo</mat-icon></button
    >
    <button
      mat-icon-button
      [disabled]="context.readonly || !context.canRedo()"
      (click)="context.redo()"
      matTooltip="Wiederherstellen"
      i18n-matTooltip
      data-cy="redo-button"
      ><mat-icon>redo</mat-icon></button
    >
    <mat-divider vertical></mat-divider>
    <button mat-icon-button (click)="hierarchyMovement.zoom(-25)" matTooltip="Verkleinern" i18n-matTooltip
      ><mat-icon>zoom_out</mat-icon></button
    >
    <button mat-icon-button (click)="hierarchyMovement.zoom(+25)" matTooltip="Vergrößern" i18n-matTooltip
      ><mat-icon>zoom_in</mat-icon></button
    >

    <ng-template #nodeToolbar let-focused>
      <button
        mat-icon-button
        [disabled]="context.readonly"
        [dtColorPicker]="context.tree().getNode(focused[0]).value.backgroundColor ?? '#fff'"
        [dtColorPickerPreset]="backgroundPresetColorsGetter"
        (dtColorPickerClose)="context.changeNodeColor(focused, 'background', $event)"
        matTooltip="Hintergrundfarbe ändern"
        i18n-matTooltip
        ><mat-icon>brush</mat-icon></button
      >
      <button
        mat-icon-button
        [disabled]="context.readonly"
        [dtColorPicker]="context.tree().getNode(focused[0]).value.textColor ?? '#000'"
        [dtColorPickerPreset]="textPresetColorsGetter"
        (dtColorPickerClose)="context.changeNodeColor(focused, 'text', $event)"
        matTooltip="Textfarbe ändern"
        i18n-matTooltip
        ><mat-icon>format_color_text</mat-icon></button
      >
      <button
        mat-icon-button
        [disabled]="context.readonly"
        (click)="context.clearFormatting(focused)"
        matTooltip="Formatierung entfernen"
        i18n-matTooltip
        ><mat-icon>format_clear</mat-icon></button
      >
      <mat-divider vertical></mat-divider>
      <button mat-icon-button (click)="copyToClipboard()" matTooltip="Auswahl als Text kopieren" i18n-matTooltip
        ><mat-icon>content_copy</mat-icon></button
      >
    </ng-template>
  </dt-hierarchy-toolbar>
  <dt-objective-hierarchy-boxes
    overlay
    [brainstormingOpen]="true"
    [trashBinOpen]="false"
    [brainstormingShown]="brainstormingShown"
  ></dt-objective-hierarchy-boxes>
</dt-hierarchy>
