@use 'variables' as dt;
@use '@angular/material' as mat;

:host {
  display: block;
  position: relative;
  background-color: white;
}

dt-hierarchy {
  height: 100%;
  width: 100%;
}

.node {
  position: relative;
  padding: 4px 8px;
  line-height: 1;

  input {
    width: 100%;
    outline: none;
    color: inherit;
  }

  &.root,
  &.fundamental {
    border: 1px solid black;
    padding: 8px;
  }

  &.root {
    background-color: lightgray;
  }

  &.fundamental {
    background-color: dt.$objective;
    color: white;

    &,
    input {
      font-weight: 500;
    }
  }

  span.invisible-auto-width-helper {
    display: block;
    height: 0;

    white-space: pre;
    overflow: hidden;
  }
}
