@use '@angular/material' as mat;
@use 'sass:color';
@use 'variables' as dt;

// General:
:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  color: white;
  background-color: dt.$blue;
}

.top-container {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.bottom-container {
  display: flex;
  align-items: center;

  min-height: dt.$bottom-bar-height;
  overflow: hidden;

  color: lightgray;

  font-size: dt.font-size(caption);

  dt-legal {
    flex: 1;
  }

  .unfold-toggle {
    margin-left: 5px;
    margin-bottom: 3px;

    align-self: flex-end;
  }
}

// Background Color of sub step container
$collapse-bc: #32414d;

.navigation-container .navigation-list {
  margin: 0;
}

[tabindex]:focus {
  outline: none;
}

// Step List
.steps-container {
  &.disabled .step,
  .step.disabled {
    cursor: default;
    pointer-events: none;

    dt-note-btn {
      display: none;
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;

    position: relative;

    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);

    &:first-child {
      border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    }

    &:not(.active):not(:hover) .step-part-main {
      opacity: 0.6;
    }

    .step-part-main {
      display: flex;
      align-items: center;

      position: relative;

      padding: 10px 0;

      .left-container {
        display: flex;

        padding: 0 10px;
        margin-left: 3px;

        mat-icon {
          background-color: dt.$blue;
          outline: 2px solid dt.$blue;
          z-index: 1;
        }

        &:only-child {
          margin: 0 auto;
        }
      }

      .right-container {
        line-height: 1.2rem;

        .step-name {
          position: relative;
          font-weight: 500;

          dt-note-btn {
            margin-top: 4px;
            padding: inherit;
          }
        }
      }
    }

    .step-part-sub {
      background-color: $collapse-bc;
      box-shadow: inset 0em 0em 0.1em 1px rgb(0 0 0 / 10%);
    }
  }
}

.sub-menu > li {
  display: flex;
  align-items: center;

  padding-left: 25px;

  &:first-child {
    .line {
      bottom: 0;
      height: 50%;
    }
  }

  &:last-child {
    .line {
      top: 0;
      height: 50%;
    }
  }

  .sub-step-name {
    display: flex;
    align-items: center;
    align-self: stretch;

    font-size: dt.font-size(caption);
    color: #ffffff80;

    flex: 1;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);

    .progress-part {
      .circle {
        outline: 2px solid color.scale($collapse-bc, $lightness: -10%);
      }
    }
  }

  &.done .progress-part {
    .circle {
      background-color: #cbd4dd;

      width: 15px;
      height: 15px;

      .check {
        opacity: 1;
      }
    }
  }

  &.done .sub-step-name {
    color: #cbd4dd;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.2);

    .sub-step-name {
      font-weight: 500;
      color: #dbe1e7;
    }

    .progress-part {
      .circle {
        outline: 2px solid color.scale($collapse-bc, $lightness: -20%);
      }
    }
  }

  &.current .progress-part {
    .circle {
      background-color: dt.$orange;

      width: 15px;
      height: 15px;

      .arrow {
        opacity: 1;
      }
    }
  }

  &.current .sub-step-name {
    color: dt.$orange;
  }

  .progress-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40px;
    min-height: 25px;

    align-self: stretch;

    position: relative;

    mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      color: $collapse-bc;
      font-weight: bold;
      font-size: dt.font-size(caption);
    }

    .check {
      opacity: 0;
    }

    .arrow {
      opacity: 0;
    }

    .circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;

      z-index: 1;

      width: 5px;
      height: 5px;

      border-radius: 50%;
      background-color: rgb(153, 153, 153);

      outline: 2px solid $collapse-bc;
    }
  }
}

.line {
  position: absolute;
  height: 100%;
  width: 2px;

  background-color: rgba(255, 255, 255, 0.25);
}

.result-substep {
  .progress-part::before {
    content: '';
    background: #ffffff24;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 1px;
  }

  .sub-step-name {
    border-top: 1px solid #ffffff24;
  }

  .circle {
    background-color: dt.$orange;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.folded-sidenav {
  display: flex;
  justify-content: center;

  li {
    padding: 0;
  }
}

.decision-question {
  position: relative;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);

  .decision-statement-container {
    display: flex;
    color: white;
    background-color: #747f8b;
    margin: 20px;

    flex-direction: column;
    border-radius: 5px;

    overflow: hidden;

    span {
      margin: 5px;
      text-align: center;
      max-height: 110px;
      font-size: dt.font-size(caption);
    }
  }
}

.folded {
  width: 10px;

  span {
    width: 210px;
    visibility: hidden;
  }
}
