<div class="dt-help-padding">
  <p i18n
    >Du findest alle Aspekte, die Du im Brainstorming gesammelt hast und ggf. nachträglich noch sammelst, in der Box rechts oben. Per Drag
    &amp; Drop kannst Du diese aus der Box herausziehen und in die Zielhierarchie einordnen. Ordne Deine Aspekte nebeneinander bzw. unter-
    und übereinander an, um eine hierarchische Struktur zu erhalten. Eine farbliche Markierung an den Zielen selbst zeigt Dir, an welche
    Stelle Du das gehaltene Ziel positionieren würdest. Wenn Du Aspekte nicht mehr benötigst, ziehe sie in den Papierkorb unten rechts. In
    diesem verbleiben sie, bis Du sie durch Klicken auf den Mülleimer-Button endgültig löschst.</p
  >

  <p i18n
    >In der oberen Taskleiste findest Du einige Funktionen, um in der Zielhierarchie selbst arbeiten zu können (s. hierzu auch die Übersicht
    über die <a (click)="openShortcuts()">Shortcuts</a>, welche Du durch Klicken auf das Fragezeichen-Symbol einsehen kannst).</p
  >

  <p i18n
    >Bewege Deine Zielhierarchie im Fenster, indem Du in einen freien Bereich klickst und das Fenster hin- und herziehst. Um in den
    Ausgangszustand zurückzukehren, nutze den Button „Ansicht zurücksetzen“ in der Taskleiste.</p
  >

  <p i18n
    >In der Taskleiste findest Du zudem einen Button zum Wechseln in den Vollbildmodus und Lupenbuttons zum Zoomen. Der Button „Ansicht
    zurücksetzen“ setzt vorgenommene Zoom-Einstellungen zurück.</p
  >

  <p i18n
    >Du kannst alle Aspekte in der Zielhierarchie jederzeit wieder greifen und verschieben. Um mehrere Ziele gleichzeitig zu verschieben,
    markiere diese zuerst mit gedrückter STRG Taste auf Deiner Tastatur.</p
  >

  <p i18n
    >Um neue Ziele rechts von einem Ziel bzw. oberhalb oder unterhalb eines Ziels hinzuzufügen, kannst Du auf die einzelnen Zielboxen
    klicken und die kleinen orangen Plus-Buttons unten rechts in den Boxen nutzen. Durch einen Klick hierauf werden Dir vier weitere Plusse
    angezeigt, mit denen Du an den jeweiligen Stellen neue Ziele hinzufügen kannst. Mithilfe des Mülleimer-Buttons kannst Du Ziele in den
    Papierkorb schieben (s. zu diesen Funktionen auch die <a (click)="openShortcuts()">Shortcuts</a>). Verwende den Button „Elemente
    gruppieren“, um ein neues Ziel vor ein anderes zu schalten.</p
  >

  <p i18n
    >Weiterhin kannst Du einzelne Aspekte einklappen und verbergen. Klicke dazu das Ziel an, das links von dem Ziel liegt, das Du verbergen
    möchtest, und klicke auf Linie, welche die beiden Boxen verbindet. Um die Aspekte wieder auszuklappen, klicke auf das Plus hinter dem
    Ziel. Wenn Du den Ursprungsknoten in der Zielhierarchie markierst und die Einklapp-Funktion nutzt, werden automatisch alle Ziele auf den
    jeweils hintersten Ebenen Deiner Zielhierarchie eingeklappt.</p
  >

  <p i18n
    >Um in Deiner Zielhierarchie Elemente einzufärben, findest Du in der Taskleiste entsprechende Buttons, um sowohl die Hintergrundfarben
    markierter Ziele und deren Schriftfarben zu verändern als auch vorgenommene Einfärbungen zurückzusetzen.</p
  >

  <p i18n
    >Nutze die beiden Pfeilbuttons in der Taskleiste, um Änderungen in Deiner Zielhierarchie rückgängig zu machen oder
    wiederherzustellen.</p
  >

  <p i18n
    >Wenn Du Deine Zielhierarchie als PNG-Bilddatei herunterladen möchtest, findest Du auch hierzu einen entsprechenden Button in der
    Taskleiste.</p
  >
</div>
