@use '@angular/material' as mat;
@use 'sass:color';
@use 'variables' as dt;
@use '../../../shared.scss' as shared;

$grid-color: lightgray;

.graph-holder {
  display: flex;
}

.settings {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: black;
}

.consensus-circle {
  position: absolute;

  width: 15px;
  height: 15px;
  background-color: dt.$orange;
  border: 2px solid white;

  border-radius: 50%;
  translate: -50% -50%;
}

.member-info {
  display: flex;
  gap: 5px;
  background-color: white;
  border: 2px solid dt.$blue-darken-3;
  padding: 2px 4px;

  border-radius: 3px;
}

.graph-container {
  display: grid;
  grid-template-rows: 300px min-content min-content min-content;
  grid-template-columns: min-content min-content min-content 20px 1fr 20px;

  position: relative;

  width: 100%;
  height: 100%;

  padding: 2rem;
  padding-right: 10%;
  padding-left: calc(10% - 5em);

  overflow: hidden;

  .utility-label {
    grid-row: 1;
    grid-column: 1;

    margin-right: 0.5em;

    font-style: italic;

    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .y-scale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% + 1em);
    transform: translateY(-0.5em);

    grid-row: 1;
    grid-column: 2;

    margin-right: 10px;

    > span {
      line-height: 1em;
    }
  }

  .graph-overlay {
    position: absolute;
    pointer-events: none;

    grid-column: 5 / 6;

    grid-row: 1;
    grid-row-end: 2;

    place-self: start;
    width: 100%;
    height: 100%;

    &.clickable {
      pointer-events: all;
    }
  }

  .grid-background {
    border-right: 1px solid $grid-color;
    background-image: linear-gradient(to right, $grid-color 1px, transparent 1px),
      linear-gradient(to bottom, $grid-color 1px, transparent 1px);
    background-repeat: repeat;

    grid-column: 4 / 7;

    grid-column-start: 4;
    grid-column-end: -1;

    &.horizontal {
      grid-column: 5/6;
      background-image: linear-gradient(to right, $grid-color 1px, transparent 1px);
    }

    &.vertical {
      background-image: linear-gradient(to bottom, $grid-color 1px, transparent 1px);
    }
  }

  svg.line-overlay-container {
    stroke-width: shared.$member-stroke-width;
    fill: none;

    transition: 150ms opacity ease-in-out;

    path {
      vector-effect: non-scaling-stroke;
    }

    &.average {
      path {
        @include shared.aggregateStroke1();
      }

      &.second path {
        @include shared.aggregateStroke2();
      }

      &.unweighted path {
        stroke: shared.$unweighted-mean-color;
        stroke-width: 6px;

        stroke-dasharray: unset;
      }
    }
  }

  @for $i from 1 to 30 {
    .line-overlay-container:nth-of-type(#{$i}) {
      path {
        stroke: shared.memberColor($i);
      }
    }
  }

  .vertical-seperator {
    border-right: 1px solid black;
    grid-row: 1;
    grid-column: 3;
  }

  .horizontal-seperator {
    border-top: 1px solid black;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: -1;

    transform: translateY(-1px);
  }

  .x-label-container {
    display: flex;
    justify-content: space-between;

    hyphens: none;

    min-width: 0;

    gap: 5px;

    margin-top: 10px;

    grid-column: 5;
    grid-row: 3;
    .x-label {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      flex: 1;
    }
  }

  .x-axis-label {
    display: none;

    font-size: dt.font-size(body-2);
    font-weight: 500;

    margin-top: 5px;

    grid-row: 4;
    grid-column: 3 / 5;

    overflow: hidden;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 10px;

  .member {
    display: flex;
    align-items: center;

    cursor: pointer;

    &.invalid {
      opacity: 0.5;
    }

    &:not(.invalid):hover {
      font-weight: 500;
    }
  }

  .member.aggregate::before {
    display: block;
    content: '';

    width: 10px;
    height: 5px;

    margin-right: 5px;

    background: shared.$weighted-mean-gradient;
  }

  .member.aggregate.unweighted::before {
    background: shared.$unweighted-mean-color;
  }

  @for $i from 1 to 30 {
    .member:nth-child(#{$i}) {
      &::before {
        display: block;
        content: '';

        width: 10px;
        height: 5px;

        margin-right: 5px;

        background-color: shared.memberColor($i);
      }
    }
  }
}

.member-value {
  position: absolute;
  z-index: 5;

  @include mat.elevation(2);

  padding: 3px 5px;

  border-radius: 3px;

  background-color: white;
  color: black;

  translate: -50% calc(-100% - 10px);
}

.member-dot-container {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) .member-dot {
      background-color: shared.memberColor($i);
    }
  }

  .member-dot {
    position: absolute;

    width: 9px;
    height: 9px;

    border-radius: 50%;
    translate: -50% -50%;
  }
}

.grayed-out {
  opacity: 0.2;
}
