:host {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.cp-filters-form {
  align-items: flex-end;
  gap: 10px;

  .search-query {
    flex: 1 0 auto;
    max-width: 500px;
  }

  dt-tag-input {
    flex: 0 1 400px;
    min-width: 200px;
  }
}

.grouped-details-popover {
  width: min(100vw, 800px);
  background-color: white;
}
