.add-aspect-form {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  .dt-inputbox {
    flex: 1;
  }
}

.aspect-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;

  .aspect {
    margin: 8px 4px;
    width: 225px;
    height: 50px;
  }
}

.settings-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
