<div class="list">
  @for (objective of decisionData.objectives; track objective; let objectiveIndex = $index) {
    <klug-objective-box [objectiveIndex]="objectiveIndex" (delete)="deleteObjective(objectiveIndex)"></klug-objective-box>
  }
</div>

<button
  mat-raised-button
  (click)="addObjective()"
  [disabled]="decisionData.objectives.length >= constants.maxObjectiveCount"
  color="klug-red"
>
  <mat-icon>add</mat-icon>
  <span>weiteres Ziel hinzufügen </span>
</button>
