<div class="select-container">
  @if (riskProfiles.length > 1) {
    <dt-select [(selectedOptions)]="selectedRiskProfileIndices" (selectedOptionsChange)="computeDataSeries()" [multiple]="true">
      <dt-select-label i18n>Vergleichen mit</dt-select-label>
      @for (riskProfile of riskProfiles; track riskProfile; let i = $index) {
        @if (i > 0) {
          <dt-select-option [value]="i">{{ riskProfile.alternative.name }}</dt-select-option>
        }
      }
    </dt-select>
  }
  @if (!objective.isVerbal) {
    <dt-select [(selectedOptions)]="useIndicatorScale" (selectedOptionsChange)="computeDataSeries()">
      <dt-select-label i18n>Bandbreite</dt-select-label>
      <dt-select-option [value]="true" i18n>Gesamtskala</dt-select-option>
      <dt-select-option [value]="false" i18n>Angepasst</dt-select-option>
    </dt-select>
  }
</div>

<dt-risk-profile-chart
  xCaption="Ergebnis im Ziel „{{ objective.name }}“"
  i18n-xCaption
  yCaption="Überschreitungswahrscheinlichkeit in %"
  i18n-yCaption
  [xLabels]="horizontalLabels"
  [dataSeries]="visibleDataSeries"
>
  <ng-template #tooltipTemplate let-seriesIndex="seriesIndex" let-pointIndex="pointIndex">
    <div class="point-tooltip">{{ createTooltip(seriesIndex, pointIndex) }}</div>
  </ng-template>
</dt-risk-profile-chart>
