@use '@angular/material' as mat;

.select-container {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin: 16px;
}

dt-risk-profile-chart {
  margin: 16px;
}

.point-tooltip {
  @include mat.elevation(8);

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;

  padding: 4px;
  margin: 8px;
}
