@use 'sass:list';
@use 'variables' as dt;
@use '@angular/material' as mat;

$unweighted-mean-color: black;
$weighted-mean-gradient: repeating-linear-gradient(90deg, black 0px, lightgray 5px, black 10px);

$member-colors: #fd7f6f, #7eb0d5, #b2e061, #bd7ebe, #ffb55a, #ffee65, #beb9db, #fdcce5, #8bd3c7;

$good-green: #bae18f;
$bad-red: #ff9b9b;

$member-stroke-width: 3px;

// Gives the member color based on the index, wrapping back to the start if biggger than the list
@function memberColor($index) {
  @return nth($member-colors, ($index - 1) % length($member-colors) + 1);
}

@mixin aggregateStroke1() {
  stroke: black;
  stroke-dasharray: 8;
  stroke-width: 6px;
}

@mixin aggregateStroke2() {
  @include aggregateStroke1();

  stroke: lightgray;
  stroke-dashoffset: 8;
}

:host mat-card {
  display: flex;
  flex-direction: column;

  padding: 0;

  @include mat.elevation(3);

  ::ng-deep {
    .mat-card-actions {
      margin: 0;
    }

    .mat-card-header-text {
      margin: 0;
    }
  }

  mat-card-title {
    display: flex;
    align-items: center;

    gap: 20px;

    margin: 0;
  }

  mat-card-content {
    display: flex;
    overflow: auto;
    flex-direction: column;

    padding: 0;
  }

  mat-card-header {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }

  &:not(.no-content-padding) mat-card-content {
    padding: 10px 20px;

    margin: 0;

    &:empty {
      padding: 0;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
  }
}
