<h1>Was sind meine Optionen?</h1>
<klug-step-description
  >Trage in die orangenen Zeilen bis zu zehn Deiner Optionen für Deine Entscheidung ein. Beschreibe darunter so konkret wie möglich, was Du
  genau unter der Option verstehst.</klug-step-description
>

<klug-alternative-list></klug-alternative-list>

<ng-template #help>
  <p
    >Optionen werden auch Handlungsoptionen genannt. Sie beschreiben einander ausschließende Möglichkeiten, aus denen bei einer Entscheidung
    ausgewählt werden kann. Nur wenn wir eine Option wählen, können wir unsere Ziele erreichen.</p
  >
  <p
    >In unserer Entscheidung können wir nur eine Option auswählen, die wir vorher identifiziert haben. Daher sollten wir uns in diesem
    Schritt Mühe geben.</p
  >
  <p> Versuche zu brainstormen, recherchiere Optionen, frage Freunde, Familie, Lehrkräfte, etc. </p>
</ng-template>
