@use 'variables' as dt;

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  margin-right: 8px;

  &[type='submit'] {
    position: relative;
  }
}

.category-id {
  @include dt.typography-level(caption);
  display: flex;
  align-items: center;
  color: black;
}

.grey {
  color: gray;
}
