<div class="dt-limit-width">
  <dt-step-title step="objectives">{{ 'objectives' | naviStep }}</dt-step-title>

  <dt-step-description>
    <ng-template #description i18n>Hier siehst Du das Ergebnis des zweiten Schritts.</ng-template>
    <ng-template #subDescription i18n
      >Du kannst an dieser Stelle weiterhin Änderungen vornehmen. Es kann sein, dass Du später die Hierarchie noch etwas auf Deine
      Alternativen anpassen musst. Der Entscheidungsprozess kann hier iterativ sein.</ng-template
    >
  </dt-step-description>

  <div class="display-container">
    <dt-select [selectedOptions]="displayVariant" (selectedOptionsChange)="setDisplay($event)">
      <dt-select-label i18n>Ansicht</dt-select-label>
      <dt-select-option [value]="'list'" i18n>Liste</dt-select-option>
      <dt-select-option [value]="'tree'" i18n>Zielhierarchie</dt-select-option>
    </dt-select>
    @if (displayVariant === 'list') {
      <dt-collapse-all
        (expandAll)="expandAll()"
        (collapseAll)="collapseAll()"
        [allExpanded]="allExpanded"
        [allCollapsed]="allCollapsed"
      ></dt-collapse-all>
    }
  </div>
</div>

@switch (displayVariant) {
  @case ('list') {
    <dt-objective-list class="dt-limit-width" (newExpansionStatus)="updateExpansionStatus($event)"></dt-objective-list>
  }
  @case ('tree') {
    <dt-objective-hierarchy></dt-objective-hierarchy>
  }
}

<ng-template #helpTemplate>
  <div class="dt-help-padding">
    <p i18n
      >Du hast Schritt 2, die Benennung der Fundamentalziele, abgeschlossen. An dieser Stelle kannst Du jederzeit noch Änderungen vornehmen
      <span
        >(s. hierzu auch die Übersicht über die Shortcuts, welche Du durch Klicken auf das Fragezeichen-Symbol einsehen kannst).</span
      ></p
    >
    <p i18n
      >Alternativ kannst Du Dir Deine Ziele auch in einer Listenansicht anzeigen lassen. Im Gegensatz zur Zielhierarchie findest Du hier
      alle Fundamentalziele in Boxen aufgeführt. In diesen Boxen kannst Du Deine Ziele entweder im weißen Textfeld oder mithilfe des
      Kommentardreiecks oben rechts näher beschreiben. Rechts siehst Du einen kleinen Ausschnitt aus der Zielhierarchie, in welchem Dir alle
      Aspekte angezeigt werden, die hierarchisch unterhalb Deines Fundamentalziels angeordnet sind. Greife Deine Ziele oben links in der
      Kopfzeile am Symbol <mat-icon>drag_handle</mat-icon>, um sie per Drag &amp; Drop vertikal zu verschieben. Verwende den Mülleimer
      <mat-icon>delete</mat-icon>, um ein Ziel zu löschen.</p
    >
    <p i18n
      >Du solltest auf dieser Ergebnisseite nun eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner erzielten Ergebnisse ist.
      Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein Balken mit einer Skala von
      null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir eingeschätzte Qualität
      der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum Schluss in der
      Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten eingeschätzt
      hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste dieser
      Seite öffnet.</p
    >
  </div>
</ng-template>
