@use '@angular/material' as mat;
@use 'sass:color';
@use 'variables' as dt;
@use '../../../shared' as shared;

$grid-color: lightgray;

:host {
  display: flex;
  flex-direction: column;

  max-width: max-content;
  margin: 0 auto;
}

.graph-holder {
  display: flex;
}

.settings {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: black;
}

.consensus-circle {
  position: absolute;

  width: 15px;
  height: 15px;
  background-color: dt.$orange;
  border: 2px solid white;

  border-radius: 50%;
  translate: -50% -50%;
}

.member-info {
  display: flex;
  gap: 5px;
  background-color: white;
  border: 2px solid dt.$blue-darken-3;
  padding: 2px 4px;

  border-radius: 3px;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.graph-container {
  display: grid;
  grid-template-rows: 300px min-content min-content min-content;
  grid-template-columns: min-content min-content min-content var(--graph-padding) minmax(min-content, 1fr) var(--graph-padding);

  position: relative;

  width: 100%;
  height: 100%;

  padding: 2rem;
  padding-right: 10%;
  padding-left: calc(10% - 5em);

  overflow: hidden;

  .utility-label {
    grid-row: 1;
    grid-column: 1;

    margin-right: 0.5em;

    font-style: italic;

    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .y-scale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100% + 1em);
    transform: translateY(-0.5em);

    grid-row: 1;
    grid-column: 2;

    margin-right: 10px;

    > span {
      line-height: 1em;
    }
  }

  .graph-overlay {
    position: absolute;
    pointer-events: none;

    grid-column-start: 5;
    grid-column-end: 5;

    grid-row: 1;
    grid-row-end: 2;

    place-self: start;
    width: 100%;
    height: 100%;

    &.clickable {
      pointer-events: all;
    }
  }

  .grid-background {
    background-size: 20% 20%;

    border-right: 1px solid $grid-color;
    background-repeat: repeat;

    grid-column-start: 4;
    grid-column-end: -1;

    &.horizontal {
      grid-column: 5/6;
      background-image: linear-gradient(to right, $grid-color 1px, transparent 1px);
    }

    &.vertical {
      background-image: linear-gradient(to bottom, $grid-color 1px, transparent 1px);
    }
  }

  svg.line-overlay-container {
    stroke-width: shared.$member-stroke-width;
    fill: none;

    transition: 150ms opacity;

    path {
      vector-effect: non-scaling-stroke;
    }

    &.average {
      path {
        @include shared.aggregateStroke1();
      }

      &.second path {
        @include shared.aggregateStroke2();
      }

      &.unweighted path {
        stroke: shared.$unweighted-mean-color;
        stroke-width: 6px;

        stroke-dasharray: unset;
      }
    }
  }

  @for $i from 1 to 30 {
    .line-overlay-container:nth-of-type(#{$i}) {
      path {
        stroke: shared.memberColor($i);
      }
    }
  }

  .vertical-seperator {
    grid-row: 1;
    grid-column: 3;

    border-right: 1px solid black;
  }

  .horizontal-seperator {
    border-top: 1px solid black;
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: -1;

    transform: translateY(-1px);
  }

  .x-label-container {
    display: flex;
    justify-content: space-between;

    hyphens: none;

    min-width: 0;

    gap: 5px;

    margin-top: 10px;

    grid-column: 5;
    grid-row: 3;
    .x-label {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      flex: 1;
    }
  }
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 10px;

  .member {
    display: flex;
    align-items: center;

    cursor: pointer;

    &.invalid {
      opacity: 0.5;
    }

    &:not(.invalid):hover {
      font-weight: 500;
    }
  }

  .member.aggregate::before {
    display: block;
    content: '';

    width: 10px;
    height: 5px;

    margin-right: 5px;

    background: shared.$weighted-mean-gradient;
  }

  .member.aggregate.unweighted::before {
    background: shared.$unweighted-mean-color;
  }

  @for $i from 1 to 30 {
    .member:nth-child(#{$i}) {
      &::before {
        display: block;
        content: '';

        width: 10px;
        height: 5px;

        margin-right: 5px;

        background-color: shared.memberColor($i);
      }
    }
  }
}

.bar-container {
  display: flex;
  position: absolute;
  bottom: 0;

  height: 100%;
  align-items: flex-end;

  translate: -50%;

  .bar {
    position: relative;
    width: 20px;

    transition: 150ms opacity;

    .member-value {
      white-space: nowrap;
      left: 50%;
    }

    &.grayed-out {
      opacity: 0.2;
    }

    @for $i from 1 to 30 {
      &:nth-child(#{$i}) {
        background-color: shared.memberColor($i);
        border: 1px solid color.scale(shared.memberColor($i), $lightness: -25%);
      }
    }
  }

  .average {
    display: flex;
    justify-content: center;

    position: absolute;
    width: calc(100% + 40px);
    height: 3px;

    translate: -20px -50%;

    background: shared.$weighted-mean-gradient;

    .member-value {
      translate: 0 calc(-100% - 10px);
    }

    &.unweighted {
      background: shared.$unweighted-mean-color;
    }
  }
}

.member-value {
  position: absolute;
  z-index: 5;

  @include mat.elevation(2);

  padding: 3px 5px;

  border-radius: 3px;

  background-color: white;
  color: black;

  translate: -50% calc(-100% - 10px);
}

.member-dot-container {
  @for $i from 1 to 30 {
    &:nth-child(#{$i}) .member-dot {
      background-color: shared.memberColor($i);
    }
  }

  .member-dot {
    position: absolute;

    width: 9px;
    height: 9px;

    border-radius: 50%;
    translate: -50% -50%;
  }
}

.grayed-out {
  opacity: 0.2;
}
