<div class="box" [klugRequiredFieldRipple]="!!alternative.name">
  <div class="header">
    <input type="text" [(ngModel)]="alternative.name" placeholder="Name der Option" maxlength="60" />
    <button
      class="delete-button"
      (click)="deleteAlternative()"
      matRipple
      matTooltip="Option löschen"
      [disabled]="decisionData.alternatives.length === constants.minAlternativeCount"
      ><mat-icon>delete</mat-icon></button
    >
  </div>
  <div class="comment">
    <quill-editor
      [(ngModel)]="alternative.comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: null }"
      placeholder="Beschreibe bitte so konkret wie möglich, was Du unter dieser Option verstehst."
    ></quill-editor>
  </div>
</div>
