<div>
  <div class="dt-limit-width">
    <dt-chart-ranking
      class="active-chart"
      [(displayMode)]="displayMode"
      [(orderMode)]="orderMode"
      [utilityValues]="utilityValues"
      [enableAlternativeSelection]="true"
      [weightedUtilityMatrix]="weightedUtilityMatrix"
      [explainable]="true"
    >
    </dt-chart-ranking>
  </div>

  <mat-divider></mat-divider>

  <dt-objective-weighting-overview
    dtExplainable
    [sliderLength]="150"
    [showResetButton]="false"
    [explanationTrigger]="explainClearValues"
    (weightsChange)="recalculateObjectiveValues()"
    tradeoffUrl="objective-weighting/detailed"
    id="objective-weighting"
  ></dt-objective-weighting-overview>
  <dt-explanation-criteria-open-button
    dtExplanationTrigger
    #explainClearValues="explanationTrigger"
    criteriaToExplain="LOGICALLY_CORRECT_REASONING"
  ></dt-explanation-criteria-open-button>
</div>
