<dt-modal-content [contentPadding]="false" (closeClick)="close()" [size]="modalSize" [flexContent]="true">
  <ng-template #title i18n>Explizite Eingabe eines Trade-offs</ng-template>
  <ng-template #content>
    <div class="container">
      <ng-template #scaleButtons let-si>
        <div>
          <button mat-icon-button color="accent" (click)="scaling[si] = scaling[si] + 1" [disabled]="scaling[si] === 4"
            ><mat-icon>zoom_in</mat-icon></button
          >
          <button mat-icon-button color="accent" (click)="scaling[si] = scaling[si] - 1" [disabled]="scaling[si] === 1"
            ><mat-icon>zoom_out</mat-icon></button
          ></div
        >
      </ng-template>
      <div class="objective-header"
        ><div>{{ objective1.name }}</div>
        <ng-container *ngTemplateOutlet="scaleButtons; context: { $implicit: 0 }"></ng-container>
      </div>
      <div class="objective-header"
        ><div>{{ objective2.name }}</div>
        <ng-container *ngTemplateOutlet="scaleButtons; context: { $implicit: 1 }"></ng-container>
      </div>
      <div class="scales-container">
        <div class="column-container">
          @if (showModesDropDown1 || showModesDropDown2) {
            <div class="dropdown-container left-dropdown">
              @if (showModesDropDown1) {
                <dt-select [(selectedOptions)]="indicatorDescriptionModes[0]" (selectedOptionsChange)="updateDescriptions()">
                  <dt-select-label i18n>Indikatorbeschreibungen</dt-select-label>
                  <dt-select-option [value]="'custom'" [disabled]="areAllStagesEmpty(objective1)" i18n>benutzerdefiniert</dt-select-option>
                  <dt-select-option [value]="'suggested'" i18n>aus der qualitativen Indikatorskala</dt-select-option>
                </dt-select>
              }
            </div>
          }
          <div class="scroll-container first-column">
            <div class="graph-container" [style.height.%]="scaling[0] * 100">
              <div class="buffer" [style.height.%]="necessaryPadding"></div>
              <div class="content">
                <dt-scale-descriptor [points]="descriptors1" [align]="'right'" [currentValues]="valuesLeft"></dt-scale-descriptor>
                <dt-double-slider
                  [ticks]="ticks1"
                  [(valueA)]="valuesLeft[0]"
                  [(valueB)]="valuesLeft[1]"
                  [positionToValue]="getScaleValue(objective1)"
                ></dt-double-slider>
                <dt-scale-values [points]="values1" [align]="'left'"></dt-scale-values>
              </div>
              <div class="buffer" [style.height.%]="necessaryPadding"></div>
            </div>
          </div>
        </div>
        <div class="column-container">
          @if (showModesDropDown1 || showModesDropDown2) {
            <div class="dropdown-container right-dropdown">
              @if (showModesDropDown2) {
                <dt-select [(selectedOptions)]="indicatorDescriptionModes[1]" (selectedOptionsChange)="updateDescriptions()">
                  <dt-select-label i18n>Indikatorbeschreibungen</dt-select-label>
                  <dt-select-option [value]="'custom'" [disabled]="areAllStagesEmpty(objective2)" i18n>benutzerdefiniert</dt-select-option>
                  <dt-select-option [value]="'suggested'" i18n>aus der qualitativen Indikatorskala</dt-select-option>
                </dt-select>
              }
            </div>
          }
          <div class="scroll-container second-column">
            <div class="graph-container" [style.height.%]="scaling[1] * 100">
              <div class="buffer" [style.height.%]="necessaryPadding"></div>
              <div class="content">
                <dt-scale-values [points]="values2" [align]="'right'"></dt-scale-values>
                <dt-double-slider
                  [ticks]="ticks2"
                  [(valueA)]="valuesRight[0]"
                  [(valueB)]="valuesRight[1]"
                  [positionToValue]="getScaleValue(objective2)"
                ></dt-double-slider>
                <dt-scale-descriptor [points]="descriptors2" [align]="'left'" [currentValues]="valuesRight"></dt-scale-descriptor>
              </div>
              <div class="buffer" [style.height.%]="necessaryPadding"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button color="accent" [disabled]="!isTradeoffValid" (click)="applyTradeoff()"
      ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
    >
    <button mat-raised-button color="accent-less" i18n (click)="close()">Verwerfen</button>
  </ng-template>
</dt-modal-content>
