<dt-modal-content [contentPadding]="false" (closeClick)="dialogRef.close()">
  <ng-template #title i18n>Referenzziel auswählen</ng-template>
  <ng-template #content>
    <div>
      <table>
        <tr>
          <th></th>
          <th i18n>Ziel</th>
          <th i18n>Skala (Einheit)</th>
          <th i18n>Zielgewicht</th>
        </tr>
        @for (objective of sortedObjectives; track objective) {
          <tr [class.disabled]="objective[2] === 0">
            <td>
              <mat-radio-button
                [disabled]="objective[2] === 0"
                [checked]="referenceObjectiveIdx === objective[1]"
                (change)="referenceObjectiveIdx = objective[1]"
              ></mat-radio-button>
            </td>
            <td>{{ objective[0].name }}</td>
            <td>
              @if (objective[0].isNumerical) {
                <span><span i18n>Numerisch</span> ({{ objective[0].numericalData.unit }})</span>
              }
              @if (objective[0].isVerbal) {
                <span i18n>Verbal</span>
              }
              @if (objective[0].isIndicator) {
                <span><span i18n>Konstruierte Skala</span> ({{ '%' }})</span>
              }
            </td>
            <td>{{ objective[2] != null ? objective[2] + '%' : '-' }}</td>
          </tr>
        }
      </table>
    </div>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button color="accent" (click)="submit()" [disabled]="currentReferenceObjectiveIdx === referenceObjectiveIdx"
      ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
    >
    <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Verwerfen</button>
  </ng-template>
</dt-modal-content>
