@use 'variables' as dt;

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;

  tr.disabled {
    color: rgba(0, 0, 0, 0.3);
  }

  tr:first-child {
    background-color: #e3e6e8;
    font-weight: 500;
  }

  td {
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  }
  th {
    border-bottom: 1px solid lightgray;
  }

  td,
  th {
    padding: 5px 10px;

    &:not(:last-child) {
      border-right: 1px solid lightgray;
    }

    &:last-child {
      text-align: right;
    }
  }

  mat-radio-button {
    margin-left: 10px;
  }
}
