@if (showTitle) {
  <dt-step-title step="decisionStatement" i18n>For&shy;mu&shy;lie&shy;rung der Ent&shy;schei&shy;dungs&shy;fra&shy;ge</dt-step-title>
}

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
  <ng-template #description>
    <ng-container *dtProjectMode="'educational'" i18n>Hier siehst Du das Ergebnis des ersten Schritts.</ng-container>
    <ng-container *dtProjectMode="'professional'" i18n
      >Hier kannst Du Deine unterstellten Annahmen konkretisieren und Abgrenzungen in der Entscheidungsfrage vornehmen. Diese Angaben helfen
      Dir, ein klareres Verständnis der betrachteten Entscheidungsfrage zu erlangen.</ng-container
    >
  </ng-template>
  <ng-template #subDescription i18n>Du kannst an dieser Stelle weiterhin Änderungen vornehmen.</ng-template>
</dt-step-description>

<div>
  <dt-decision-statement-box
    [readonly]="decisionDataState.isProjectReadonly"
    [(decisionStatement)]="decisionData.decisionStatement.statement"
    [decisionStatementHint]="decisionData.decisionStatement.statement_attempt"
  ></dt-decision-statement-box>

  <div class="notes-container">
    <div>
      <span i18n>Annahmen und Vorentscheidungen</span>
      <dt-decision-statement-note-list
        [noteArray]="decisionData.decisionStatement.preNotesFinal"
        [readonly]="decisionDataState.isProjectReadonly"
      ></dt-decision-statement-note-list>
    </div>
    <div>
      <span i18n>Nachgelagerte Entscheidungen</span>
      <dt-decision-statement-note-list
        [noteArray]="decisionData.decisionStatement.afterNotesFinal"
        [readonly]="decisionDataState.isProjectReadonly"
      ></dt-decision-statement-note-list>
    </div>
  </div>
</div>

<ng-template #helpTemplate>
  <div class="dt-help-padding">
    <p i18n
      >Du hast Schritt 1, die Formulierung der Entscheidungsfrage, abgeschlossen. An dieser Stelle kannst Du jederzeit noch Änderungen
      vornehmen.</p
    >
    <p i18n
      >Du solltest auf dieser Ergebnisseite nun eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner erzielten Ergebnisse ist.
      Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein Balken mit einer Skala von
      null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir eingeschätzte Qualität
      der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum Schluss in der
      Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten eingeschätzt
      hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste dieser
      Seite öffnet.</p
    >
  </div>
</ng-template>
