<div
  [dtWidthTrigger]="{ 'small-screen': 600 }"
  (dtWidthTriggerStateChange)="onSmallScreenChange($event['small-screen'])"
  [class.has-sidepanel]="sidePanelTemplate"
>
  <div class="header" [class.dt-dark-theme]="darkHeader">
    <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>

    @if (allowCollapsing) {
      <button data-cy="expand-button" mat-icon-button [color]="darkHeader ? 'basic' : 'accent'" (click)="toggleExpansion()">
        <mat-icon [@expandCollapseIndicator]="expanded">expand_more</mat-icon>
      </button>
    }
  </div>

  <div class="body-wrapper" [@boxExpanded]="expanded">
    <div class="body">
      <div class="left">
        <ng-container [ngTemplateOutlet]="bodyTemplate"></ng-container>
      </div>

      @if (sidePanelTemplate) {
        <div class="right" [class.expanded]="sidePanelExpanded">
          <div class="right-content" [@sidePanelExpanded]="sidePanelExpanded">
            <ng-container [ngTemplateOutlet]="sidePanelTemplate"></ng-container>
          </div>
          <div class="expand-button-wrapper">
            <div class="expand-button" (click)="toggleSidePanel()" matRipple>
              <mat-icon [@expandCollapseIndicator]="sidePanelExpanded">chevron_left</mat-icon>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
