<dt-object-box [darkHeader]="true" [expanded]="expanded" (expandedChange)="expandedChange.emit($event)">
  <ng-template #header>
    <mat-icon class="drag-handle" [draggable]="true" dtDragHandle>drag_handle</mat-icon>
    <input
      data-cy="name-input"
      class="browser-default name-input"
      type="text"
      [(ngModel)]="objective.name"
      placeholder="Name des Ziels"
      i18n-placeholder
      [disabled]="readonly"
    />
    @if (showSendButton) {
      <button mat-icon-button (click)="sendObjective(me)" #me="dtElementRef" dtElementRef><mat-icon>send</mat-icon></button>
    }
    <button data-cy="delete-button" mat-icon-button (click)="deleteClick.emit()" [disabled]="readonly"><mat-icon>delete</mat-icon></button>

    <dt-note-btn
      [twoComments]="true"
      [(comment)]="objective.comment"
      [(secondComment)]="objective.scaleComment"
      [firstOpen]="true"
      [secondOpen]="false"
      [caption]="objective.name | noteBtnPreset: 'objective'"
      [darkBackground]="true"
      i18n-caption
      [readonly]="readonly"
    >
      <dt-team-comments additional-modal-content [object]="objective"></dt-team-comments>
    </dt-note-btn>
  </ng-template>

  <ng-template #body>
    <quill-editor
      [(ngModel)]="objective.comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: { container: [['bold', 'italic', 'underline', 'strike']] } }"
      placeholder="Beschreibung des Ziels"
      i18n-placeholder
      [readOnly]="readonly"
    ></quill-editor>
  </ng-template>

  <ng-template #sidePanel>
    <div class="sidepanel-wrapper">
      <ng-container [ngTemplateOutlet]="objectiveHierarchy" [ngTemplateOutletContext]="{ $implicit: true }"></ng-container>
    </div>
  </ng-template>
</dt-object-box>

<ng-template #objectiveHierarchy let-showFullscreenButton>
  <dt-simple-hierarchy [tree]="aspectTree">
    @if (showFullscreenButton) {
      <button mat-icon-button toolbar (click)="hierarchyModal.open()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    }
  </dt-simple-hierarchy>
</ng-template>

<dt-modal #hierarchyModal [contentPadding]="false">
  <ng-template #title i18n>Aspekte für das Ziel „{{ objective.name }}“</ng-template>
  <ng-template #content>
    <div class="hierarchy-modal-content">
      <ng-container [ngTemplateOutlet]="objectiveHierarchy"></ng-container>
    </div>
  </ng-template>
</dt-modal>
