@use 'variables' as dt;

dt-object-box {
  background-color: dt.$objective;
}

.drag-handle {
  cursor: move;
  height: 36px;
  width: 36px;
  padding: 6px;
}

.name-input {
  font-weight: 500;
  color: white;

  flex: 1 0 100px;
  min-width: 100px;

  padding: 2px 0;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  outline: none;

  &:focus {
    border-bottom: 1px solid dt.$orange;
  }

  &::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: normal;
  }
}

quill-editor {
  height: 250px;
  min-height: 100%;
  color: initial;
}

.sidepanel-wrapper {
  width: 300px;
  height: 250px;
}

dt-simple-hierarchy {
  width: 100%;
  height: 100%;
  background-color: white;
}

.hierarchy-modal-content {
  height: 50vh;
}
