<div class="dt-limit-width">
  @if (showTitle) {
    <dt-step-title step="impactModel" i18n
      >{{ 'impactModel' | naviStep }}: Über&shy;sicht über ver&shy;wen&shy;de&shy;te Ein&shy;fluss&shy;fak&shy;to&shy;ren</dt-step-title
    >
  }

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      <ng-container *dtProjectMode="'educational'" i18n
        >Hier kannst Du Deine definierten Einflussfaktoren anschauen bzw. bearbeiten und neue hinzufügen.</ng-container
      >

      <ng-container *dtProjectMode="'professional'" i18n
        >Hier kannst Du Deine Einflussfaktoren sortieren, bearbeiten und neue hinzufügen. Außerdem kannst Du die Einflussfaktoren hier
        genauer dokumentieren.</ng-container
      >
    </ng-template>
    <ng-template #subDescription i18n
      >Einflussfaktoren dienen dazu, unsichere Ausprägungen der Alternativen in Abhängigkeit von unsicheren Ereignissen abzubilden, bspw.
      wenn der Spaß an einer Reise vom Wetter (Regen oder Sonne) abhängt.</ng-template
    >
  </dt-step-description>
</div>

<div class="wide-width-wrapper">
  <div
    class="user-defined-list"
    [dtWidthTrigger]="{ 'two-column': 1299, 'one-column': 900 }"
    (dtWidthTriggerStateChange)="onWidthTriggerChange($event)"
  >
    @for (column of userDefinedIFColumns; track $index) {
      <div class="column">
        @for (influenceFactor of column; track influenceFactor) {
          <dt-user-defined-influence-factor-box
            [influenceFactor]="influenceFactor"
            [usageCount]="influenceFactors.get(influenceFactor).usage"
            [usedInCombinedIF]="influenceFactors.get(influenceFactor).isUsedInCombinedIF"
            [readonly]="decisionDataState.isProjectReadonly"
            (deleteClick)="deleteInfluenceFactor(influenceFactor)"
            (isNormalizedChange)="influenceFactors.get(influenceFactor).isNormalized = $event"
            (probabilitiesChange)="onProbabilitiesChanged(influenceFactor)"
          ></dt-user-defined-influence-factor-box>
        }
        <!-- Uncomment or delete in the future -->
      </div>
    }
  </div>

  <div class="combined-list">
    @for (combinedIF of combinedIFs; track combinedIF) {
      <dt-composite-influence-factor-box
        [influenceFactor]="combinedIF"
        [usageCount]="influenceFactors.get(combinedIF).usage"
        [usedInCombinedIF]="influenceFactors.get(combinedIF).isUsedInCombinedIF"
        [readonly]="decisionDataState.isProjectReadonly"
        (deleteClick)="deleteInfluenceFactor(combinedIF)"
      ></dt-composite-influence-factor-box>
    }
  </div>

  <dt-navline *dtProjectMode="'professional'" [navLine]="navLine"></dt-navline>
</div>
