@use 'variables' as dt;

.wide-width-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.user-defined-list {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  .column {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

dt-composite-influence-factor-box {
  display: block;
  margin-bottom: 16px;
}

dt-navline {
  border-top: none;
  background-color: white;
}
