@if (showTitle) {
  <dt-step-title [showStepNumber]="showTitle" step="results"
    ><span i18n>{{ 'results' | naviStep }}:&nbsp;</span>
    <span i18n>Sen&shy;si&shy;ti&shy;vi&shy;täts&shy;a&shy;na&shy;ly&shy;se</span></dt-step-title
  >
}

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="false">
  <ng-template #description>
    <ng-container *dtProjectMode="'educational'" i18n
      >Ändere die Parameter und schaue, wie sich die Änderungen auf das Ergebnis auswirken.</ng-container
    >
    <ng-container *dtProjectMode="'professional'" i18n
      >Hier kannst Du viele Parameter des Projektes verändern und dadurch Konstellationen identifizieren, die zu einer anderen Rangfolge der
      Alternativen führen würden. Dadurch kannst Du ein besseres Gefühl für das Zusammenspiel aller Faktoren entwickeln.</ng-container
    >
  </ng-template>
  <ng-template #subDescription i18n
    >Hier kannst Du viele Parameter des Projektes verändern. Dadurch kannst Du Änderungen identifizieren, die zu einem anderen Ergebnis
    führen würden und somit ein besseres Gefühl für das Zusammenspiel der Faktoren entwickeln.</ng-template
  >
</dt-step-description>

<div class="active-chart-top" dtViewIntersection (enterView)="chartUnStick()" (leaveView)="chartStick()"></div>
<dt-chart-ranking
  class="active-chart"
  [(selectedAlternatives)]="selectedAlternatives"
  (selectedAlternativesChange)="change()"
  [(displayMode)]="displayMode"
  [utilityValues]="alternativeUtilities"
  [weightedUtilityMatrix]="weightedUtilityMatrix"
  [initialUtilityValues]="utilityValues"
  [class.stuck]="chartStuck"
  [enableAlternativeSelection]="true"
>
  @if (hasDivisionByZero) {
    <button
      mat-button
      color="warn"
      matTooltip="Durch Veränderung der Parameter ist in einer benutzerdefinierten Formel eine Division durch null
  aufgetreten"
      i18n-matTooltip
    >
      <mat-icon>info</mat-icon>
      <ng-container i18n>Achtung: Division durch Null</ng-container>
    </button>
  }
  @if (hasOutOfBoundsIndicatorValues) {
    <button
      mat-button
      color="warn"
      matTooltip="Durch Veränderung der Parameter hat eine benutzerdefinierte Formel Werte außerhalb der Bandbreite eines Ziels produziert"
      i18n-matTooltip
    >
      <mat-icon>info</mat-icon>
      <ng-container i18n>Achtung: Werte außerhalb der Bandbreite</ng-container>
    </button>
  }
  @if (showOutcomes) {
    <button mat-raised-button color="accent-less" (click)="openOutcomeSelectionModal()" i18n>Parameterauswahl im Wirkungsmodell</button>
  }
  <dt-select [multiple]="true" [(selectedOptionsGrouped)]="selectedParameters">
    <dt-select-label i18n>Parameter</dt-select-label>

    <dt-select-option [value]="'objective-weights'" [showAsGroupLabel]="true" i18n>Zielgewichte</dt-select-option>

    <ng-container>
      <dt-select-group [value]="'objectives'">
        <dt-select-label i18n>Nutzenfunktionen</dt-select-label>
        @for (objective of objectives; track objective; let index = $index) {
          <dt-select-option [value]="index">{{ objective.name }}</dt-select-option>
        }
      </dt-select-group>

      <dt-select-group [value]="'influence-factors'">
        <dt-select-label i18n>Einflussfaktoren</dt-select-label>
        @for (influenceFactor of userDefinedInfluenceFactors; track influenceFactor) {
          <dt-select-option [value]="influenceFactor.id">{{ influenceFactor.name }}</dt-select-option>
        }
      </dt-select-group>

      <dt-select-group [value]="'indicator-weights'">
        <dt-select-label i18n>Indikatorgewichte</dt-select-label>
        @for (objective of objectivesIndicator; track objective; let index = $index) {
          <dt-select-option [value]="index">{{ objective.name }}</dt-select-option>
        }
      </dt-select-group>
    </ng-container>

    <dt-select-option [value]="'outcomes'" [showAsGroupLabel]="true" i18n>Wirkungsmodell</dt-select-option>

    @if (globalVariablesSA.activeVariables.length > 0) {
      <dt-select-option [value]="'globalVariables'" [showAsGroupLabel]="true" i18n>Globale Variablen</dt-select-option>
    }
  </dt-select>
</dt-chart-ranking>

<div class="parameter-group">
  @if (showObjectiveWeights) {
    <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
      <div class="caption-wrapper" title="Zielgewichte" i18n-title i18n>Zielgewichte</div>
      <div class="control-wrapper">
        <button mat-icon-button (click)="resetWeightsOfObjectivesSA()" [disabled]="weightsOfObjectivesSA.valuesChanged()"
          ><mat-icon>refresh</mat-icon></button
        >
      </div>
      <div class="content-wrapper">
        @for (weightOfObjective of weightsOfObjectivesSA.weightsOfObjectives; track i; let i = $index; let count = $count) {
          <div class="line">
            <div class="caption-field" [title]="decisionData.objectives[i].name">
              {{ decisionData.objectives[i].name }}
            </div>
            <div class="control-field">
              <dt-range-input
                [value]="weightOfObjective.value"
                [shownValue]="weightOfObjective.shownValue"
                [initialValue]="weightOfObjective.initValue"
                (valueChange)="weightsOfObjectivesSA.setValue($event, i); change()"
                [min]="weightOfObjective.valueRangeLimits.start"
                [max]="weightOfObjective.valueRangeLimits.end"
                [step]="stepWeightOfObjectives"
                [interval]="weightOfObjective.precisionInterval"
                [hasResponsiveLabelWidth]="true"
                [unit]="'percent'"
                [disabled]="count === 1"
                [allowManualInput]="true"
              >
              </dt-range-input>
            </div>
          </div>
        }
      </div>
    </dt-inputbox>
  }
  @if (isAnySelectedUtilityFunctionNumerical()) {
    <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
      <div class="caption-wrapper" title="Parameter c der Nutzenfunktionen" i18n-title i18n>Parameter c der Nutzenfunktionen</div>
      <div class="control-wrapper">
        <button mat-icon-button (click)="resetUtilityFunctionsNumericalSA()" [disabled]="utilityFunctionsNumericalSAValuesChanged()"
          ><mat-icon>refresh</mat-icon></button
        >
      </div>
      <div class="content-wrapper">
        @for (utilityFunctionNumerical of utilityFunctionsNumericalSA; track i; let i = $index) {
          <div class="line">
            <ng-template
              #numerical
              [ngTemplateOutlet]="numerical"
              let-objectiveIdx="numericalObjectiveIdx"
              [ngTemplateOutletContext]="{ numericalObjectiveIdx: getObjectiveIndex(i, 'numerical') }"
            >
              @if (objectiveIdx > -1) {
                <div class="caption-field" [title]="objectives[objectiveIdx].name">
                  {{ objectives[objectiveIdx].name }}
                </div>
                <div class="control-field">
                  <dt-range-input
                    [value]="utilityFunctionNumerical.value"
                    (valueChange)="utilityFunctionNumerical.value = $event; change()"
                    [initialValue]="utilityFunctionNumerical.initValue"
                    [min]="utilityFunctionNumerical.valueRangeLimits.start"
                    [max]="utilityFunctionNumerical.valueRangeLimits.end"
                    [step]="stepUtilityFunctionsNumerical"
                    [interval]="utilityFunctionNumerical.precisionInterval"
                    [hasResponsiveLabelWidth]="true"
                    [allowManualInput]="true"
                  >
                  </dt-range-input>
                </div>
              }
            </ng-template>
          </div>
        }
      </div>
    </dt-inputbox>
  }

  @for (utilityFunctionVerbal of utilityFunctionsVerbalSA; track i; let i = $index) {
    <ng-template
      #verbal
      [ngTemplateOutlet]="verbal"
      let-objectiveIdx="verbalObjectiveIdx"
      [ngTemplateOutletContext]="{ verbalObjectiveIdx: getObjectiveIndex(i, 'verbal') }"
    >
      @if (objectiveIdx > -1) {
        <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
          <div class="caption-wrapper" title="Nutzenbewertung von {{ objectives[objectiveIdx].name }}}" i18n-title i18n
            >Nutzenbewertung von <span class="italic-text">„{{ objectives[objectiveIdx].name }}”</span></div
          >
          <div class="control-wrapper">
            <button
              mat-icon-button
              (click)="utilityFunctionVerbal.resetValues(); change()"
              [disabled]="utilityFunctionVerbal.valuesChanged()"
              ><mat-icon>refresh</mat-icon></button
            >
          </div>
          <div class="content-wrapper">
            @for (value of utilityFunctionVerbal.values; track j; let j = $index) {
              <div class="line">
                <div class="caption-field" [title]="objectives[objectiveIdx].verbalData.options[j]">
                  {{ objectives[objectiveIdx].verbalData.options[j] }}
                </div>
                <div class="control-field">
                  <dt-range-input
                    [value]="utilityFunctionVerbal.values[j]"
                    (valueChange)="utilityFunctionVerbal.values[j] = $event; utilityFunctionVerbal.valuesChange(j); change()"
                    [initialValue]="utilityFunctionVerbal.initValues[j]"
                    [min]="utilityFunctionVerbal.valueRangeLimits.start"
                    [max]="utilityFunctionVerbal.valueRangeLimits.end"
                    [step]="stepUtilityFunctionsVerbal"
                    [interval]="utilityFunctionVerbal.precisionIntervals[j]"
                    [valueLimits]="utilityFunctionVerbal.valueLimits[j]"
                    [hasResponsiveLabelWidth]="true"
                    [allowManualInput]="true"
                  >
                  </dt-range-input>
                </div>
              </div>
            }
          </div>
        </dt-inputbox>
      }
    </ng-template>
  }

  @for (uncertaintyFactor of influenceFactorsSA.slice(); track $index) {
    @if (selectedInfluenceFactors.includes(uncertaintyFactor.rawInfluenceFactor.id)) {
      <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
        <div
          class="caption-wrapper"
          title="Wahrscheinlichkeit (in %) für Einflussfaktor {{ uncertaintyFactor.rawInfluenceFactor | influenceFactorName }}"
          i18n-title
        >
          <span i18n
            >Wahrscheinlichkeit (in %) für Einflussfaktor
            <span class="italic-text"> „{{ uncertaintyFactor.rawInfluenceFactor | influenceFactorName }}”</span>
          </span>
        </div>
        <div class="control-wrapper">
          <button mat-icon-button [dtHoverPopover]="uncertaintyPopover" [dtHoverPopoverPosition]="'left'"
            ><mat-icon>view_compact</mat-icon></button
          >
          <ng-template #uncertaintyPopover>
            <dt-matrix-popover
              [highlightOutcomes]="getOutcomesForInfluenceFactor(uncertaintyFactor.rawInfluenceFactor)"
            ></dt-matrix-popover>
          </ng-template>
          <button mat-icon-button (click)="uncertaintyFactor.resetValues(); change()" [disabled]="uncertaintyFactor.valuesChanged()"
            ><mat-icon>refresh</mat-icon></button
          >
        </div>
        <div class="content-wrapper">
          @for (value of uncertaintyFactor.values; track j; let j = $index) {
            <div class="line">
              <div class="caption-field" [title]="uncertaintyFactor.stateNames[j]">
                {{ uncertaintyFactor.stateNames[j] }}
              </div>
              <div class="control-field">
                <dt-range-input
                  [value]="value"
                  (valueChange)="uncertaintyFactor.setValue($event, j); change()"
                  [initialValue]="uncertaintyFactor.initValues[j]"
                  [min]="uncertaintyFactor.valueRangeLimits.start"
                  [max]="uncertaintyFactor.valueRangeLimits.end"
                  [step]="stepInfluenceFactors"
                  [interval]="uncertaintyFactor.precisionIntervals[j]"
                  [style]="'thin'"
                  [hasResponsiveLabelWidth]="true"
                  [allowManualInput]="true"
                >
                </dt-range-input>
              </div>
            </div>
          }
        </div>
      </dt-inputbox>
    }
  }

  @if (showOutcomes) {
    @for (o of flattenedTransposedOutcomes; track o; let i = $index) {
      @if (selectedOutcomes[o.alternativeIndex][o.objectiveIndex]) {
        <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
          <div
            class="caption-wrapper"
            title="Wirkungsprognose für Ziel {{ objectives[o.objectiveIndex].name }} und Alternative {{
              decisionData.alternatives[o.alternativeIndex].name
            }}"
            i18n-title
          >
            <span i18n
              >Wirkungsprognose für Ziel
              <span class="italic-text"> „{{ objectives[o.objectiveIndex].name }}” </span>
              und Alternative
              <span class="italic-text"> „{{ decisionData.alternatives[o.alternativeIndex].name }}”</span>
            </span>
          </div>
          <div class="control-wrapper">
            <button mat-icon-button [dtHoverPopover]="outcomePopover" [dtHoverPopoverPosition]="'left'"
              ><mat-icon>view_compact</mat-icon></button
            >
            <ng-template #outcomePopover>
              <dt-matrix-popover [highlightOutcomes]="[outcomes[o.alternativeIndex][o.objectiveIndex]]"></dt-matrix-popover>
            </ng-template>
            <button
              mat-icon-button
              (click)="o.outcomeSA.resetValue(); change()"
              [disabled]="!outcomesSA[o.alternativeIndex][o.objectiveIndex].valueChanged()"
              ><mat-icon>refresh</mat-icon></button
            >
          </div>
          <div class="content-wrapper" #contentWrapper>
            <!-- Numerical sliders -->
            @if (objectives[o.objectiveIndex].isNumerical) {
              <!-- With influence factor -->
              @if (o.outcomeSA.influenceFactor) {
                @for (state of o.outcomeSA.influenceFactor.values; track state; let stateIdx = $index) {
                  <div class="line">
                    <div class="caption-field state-name" [title]="o.outcomeSA.influenceFactor.stateNames[stateIdx]">
                      {{ o.outcomeSA.influenceFactor.stateNames[stateIdx] }}
                    </div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="o.outcomeSA.values[stateIdx][0]"
                        (valueChange)="onValueChange($event, o, stateIdx)"
                        [initialValue]="o.outcomeSA.initValues[stateIdx][0]"
                        [min]="getScaleMin(objectives[o.objectiveIndex].numericalData)"
                        [max]="getScaleMax(objectives[o.objectiveIndex].numericalData)"
                        [step]="
                          calculateSliderStep(
                            objectives[o.objectiveIndex].numericalData.from,
                            objectives[o.objectiveIndex].numericalData.to
                          )
                        "
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                        [allowManualInput]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                }
              }
              <!-- Without influence factor -->
              @if (!o.outcomeSA.influenceFactor) {
                <div class="line">
                  <div class="caption-field"></div>
                  <div class="control-field">
                    <dt-range-input
                      [value]="o.outcomeSA.values[0][0]"
                      (valueChange)="o.outcomeSA.values[0][0] = $event; change()"
                      [initialValue]="$any(o.outcomeSA.initValues[0])"
                      [min]="getScaleMin(objectives[o.objectiveIndex].numericalData)"
                      [max]="getScaleMax(objectives[o.objectiveIndex].numericalData)"
                      [step]="
                        calculateSliderStep(objectives[o.objectiveIndex].numericalData.from, objectives[o.objectiveIndex].numericalData.to)
                      "
                      [style]="'thin'"
                      [hasResponsiveLabelWidth]="true"
                      [allowManualInput]="true"
                    >
                    </dt-range-input>
                  </div>
                </div>
              }
            }
            <!-- Verbal sliders -->
            @if (objectives[o.objectiveIndex].isVerbal) {
              <!-- With influence factor -->
              @if (o.outcomeSA.influenceFactor) {
                @for (state of o.outcomeSA.influenceFactor.values; track state; let stateIdx = $index) {
                  <div class="line">
                    <div class="caption-field state-name" [title]="o.outcomeSA.influenceFactor.stateNames[stateIdx]">
                      {{ o.outcomeSA.influenceFactor.stateNames[stateIdx] }}
                    </div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="o.outcomeSA.values[stateIdx][0]"
                        (valueChange)="onValueChange($event, o, stateIdx)"
                        [initialValue]="o.outcomeSA.initValues[stateIdx][0]"
                        [min]="1"
                        [max]="objectives[o.objectiveIndex].verbalData.options.length"
                        [step]="1"
                        [shownValue]="objectives[o.objectiveIndex].verbalData.options[o.outcomeSA.values[stateIdx][0] - 1]"
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                }
              }
              <!-- Without influence factor -->
              @if (!o.outcomeSA.influenceFactor) {
                <div class="line">
                  <div class="caption-field"></div>
                  <div class="control-field">
                    <dt-range-input
                      [value]="o.outcomeSA.values[0][0]"
                      (valueChange)="o.outcomeSA.values[0][0] = $event; change()"
                      [initialValue]="o.outcomeSA.initValues[0][0]"
                      [min]="1"
                      [max]="objectives[o.objectiveIndex].verbalData.options.length"
                      [shownValue]="objectives[o.objectiveIndex].verbalData.options[o.outcomeSA.values[0][0] - 1]"
                      [step]="1"
                      [style]="'thin'"
                      [hasResponsiveLabelWidth]="true"
                    >
                    </dt-range-input>
                  </div>
                </div>
              }
            }
            <!-- Indicator sliders -->
            @if (objectives[o.objectiveIndex].isIndicator) {
              <!-- With influence factor -->
              @if (o.outcomeSA.influenceFactor) {
                <div #arrows>
                  <div class="scrolling-arrow" (click)="scrollHorizontally(-1, contentWrapper)" matRipple>
                    <mat-icon>chevron_left</mat-icon>
                  </div>
                  <div class="scrolling-arrow" [style.right]="0" (click)="scrollHorizontally(1, contentWrapper)" matRipple>
                    <mat-icon>chevron_right</mat-icon>
                  </div>
                </div>
                <div class="line">
                  <div class="caption-field"></div>
                  <div class="control-field control-field-slider-grid" [dtOverflow] [dtOverflowShow]="arrows">
                    @for (stateName of o.outcomeSA.influenceFactor.stateNames; track stateName) {
                      <div class="field-wrapper state-name">
                        <div class="dummy-container"></div>
                        <div class="title-container">
                          {{ stateName }}
                        </div>
                      </div>
                    }
                  </div>
                </div>
                @for (indicator of objectives[o.objectiveIndex].indicatorData.indicators; track indicator; let indicatorIdx = $index) {
                  <div class="line">
                    <div class="caption-field" [title]="indicator.name">
                      {{ indicator.name }}
                    </div>
                    <div class="control-field control-field-slider-grid">
                      @for (state of o.outcomeSA.influenceFactor.values; track state; let stateIdx = $index) {
                        <div class="field-wrapper">
                          <dt-range-input
                            [value]="o.outcomeSA.values[stateIdx][indicatorIdx]"
                            (valueChange)="onValueChange($event, o, stateIdx, indicatorIdx)"
                            [initialValue]="o.outcomeSA.initValues[stateIdx][indicatorIdx]"
                            [min]="getScaleMin(indicator)"
                            [max]="getScaleMax(indicator)"
                            [step]="calculateSliderStep(getScaleMin(indicator), getScaleMax(indicator))"
                            [style]="'thin'"
                            [hasResponsiveLabelWidth]="true"
                            [allowManualInput]="true"
                          >
                          </dt-range-input>
                        </div>
                      }
                    </div>
                  </div>
                }
              }
              <!-- Without influence factor -->
              @if (!o.outcomeSA.influenceFactor) {
                @for (indicator of objectives[o.objectiveIndex].indicatorData.indicators; track indicator; let indicatorIdx = $index) {
                  <div class="line">
                    <div class="caption-field" [title]="indicator.name">
                      {{ indicator.name }}
                    </div>
                    <div class="control-field">
                      <dt-range-input
                        [value]="o.outcomeSA.values[0][indicatorIdx]"
                        (valueChange)="onValueChange($event, o, 0, indicatorIdx)"
                        [initialValue]="o.outcomeSA.initValues[0][indicatorIdx]"
                        [min]="getScaleMin(indicator)"
                        [max]="getScaleMax(indicator)"
                        [step]="calculateSliderStep(getScaleMin(indicator), getScaleMax(indicator))"
                        [style]="'thin'"
                        [hasResponsiveLabelWidth]="true"
                        [allowManualInput]="true"
                      >
                      </dt-range-input>
                    </div>
                  </div>
                }
              }
            }
          </div>
        </dt-inputbox>
      }
    }
  }

  @for (objective of objectivesIndicator; track i; let i = $index) {
    @if (selectedIndicatorWeights.includes(i)) {
      <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
        <div class="caption-wrapper" title="Indikatorgewichte von  {{ objective.name }}" i18n-title>
          <span i18n
            >Indikatorgewichte von<span class="italic-text"> „{{ objective.name }}”</span>
          </span>
        </div>
        <div class="control-wrapper">
          @if (objective.indicatorData.useCustomAggregation) {
            <button
              mat-icon-button
              color="accent"
              matTooltip="Eine Veränderung der Indikatorgewichte erfordert unter Umständen eine Anpassung Deiner benutzerdefinierten Formel"
              i18n-matTooltip
              ><mat-icon>info</mat-icon></button
            >
          }
          <button mat-icon-button [dtHoverPopover]="objectivePopover" [dtHoverPopoverPosition]="'left'"
            ><mat-icon>view_compact</mat-icon></button
          >
          <ng-template #objectivePopover>
            <dt-matrix-popover [highlightOutcomes]="getOutcomesForObjective(objective)"></dt-matrix-popover>
          </ng-template>
          <button
            mat-icon-button
            (click)="
              weightsOfIndicatorsSA[i].resetValue();
              this.objectiveWeightsUpperBound[i].currentValue = this.objectiveWeightsUpperBound[i].initialValue;
              change()
            "
            [disabled]="
              !weightsOfIndicatorsSA[i].valueChanged() &&
              this.objectiveWeightsUpperBound[i].currentValue === this.objectiveWeightsUpperBound[i].initialValue
            "
            ><mat-icon>refresh</mat-icon></button
          >
        </div>
        <div class="content-wrapper">
          <div class="scrolling-arrow" [style.right]="0" (click)="changeWeightUB(2, i)" matRipple>
            <mat-icon>chevron_right</mat-icon>
          </div>
          @for (indicatorCoef of weightsOfIndicatorsSA[i].indicatorCoefficients; track j; let j = $index) {
            <div class="line scrolling-right">
              <div class="caption-field" [title]="objective.indicatorData.indicators[j].name">
                {{ objective.indicatorData.indicators[j].name }}
              </div>
              <div class="control-field">
                <dt-range-input
                  [value]="indicatorCoef"
                  [initialValue]="weightsOfIndicatorsSA[i].initIndicatorCoefficients[j]"
                  (valueChange)="weightsOfIndicatorsSA[i].indicatorCoefficients[j] = $event; change()"
                  [min]="weightLowerBound"
                  [max]="objectiveWeightsUpperBound[i].currentValue"
                  (maxChange)="objectiveWeightsUpperBound[i].currentValue = $event"
                  [step]="calculateSliderStep(weightLowerBound, objectiveWeightsUpperBound[i].currentValue)"
                  [style]="'thin'"
                  [hasResponsiveLabelWidth]="true"
                  [allowManualInput]="true"
                  [absoluteUpperBound]="absoluteWeightUpperBound"
                >
                </dt-range-input>
              </div>
            </div>
          }
        </div>
      </dt-inputbox>
    }
  }

  @if (showGlobalVariables) {
    <dt-inputbox [collapsibleButton]="true" [draggable]="false" [margin]="true">
      <div class="caption-wrapper" title="Globale Variablen" i18n-title i18n>Globale Variablen</div>
      <div class="control-wrapper">
        <button mat-icon-button (click)="globalVariablesSA.resetValue()" [disabled]="!globalVariablesSA.valuesChanged()"
          ><mat-icon>refresh</mat-icon></button
        >
      </div>
      <div class="content-wrapper">
        <div class="scrolling-arrow" [style.left.px]="320" (click)="globalVariablesSA.moveLowerBound()" matRipple>
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div class="scrolling-arrow" [style.right]="0" (click)="globalVariablesSA.moveUpperBound()" matRipple>
          <mat-icon>chevron_right</mat-icon>
        </div>
        @for (variable of globalVariablesSA.activeVariables; track $index) {
          <div class="line scrolling-left scrolling-right">
            @if (globalVariablesSA.nonCompliantObjectivesForVariable.has(variable)) {
              <mat-icon
                matTooltip="Folgende Ziele verwenden diese Variable mit automatischer Bandbreite, was zu unerwarteten Ergebnissen führen kann: {{
                  globalVariablesSA.nonCompliantObjectivesForVariable.get(variable).join(',')
                }}"
                i18n-matTooltip
                class="warning-icon"
                >warning</mat-icon
              >
            }
            <div class="caption-field" [title]="variable">
              {{ variable }}
            </div>
            <div class="control-field">
              <dt-range-input
                [value]="globalVariablesSA.variables.get(variable)"
                [initialValue]="globalVariablesSA.initVariables.get(variable)"
                (valueChange)="globalVariablesSA.setValue(variable, $event); change()"
                [min]="globalVariablesSA.visibleLimit.start"
                [max]="globalVariablesSA.visibleLimit.end"
                [valueLimits]="globalVariablesSA.settingLimit"
                [step]="0.1"
                [hasResponsiveLabelWidth]="true"
                [allowManualInput]="true"
              >
              </dt-range-input>
            </div>
          </div>
        }
      </div>
    </dt-inputbox>
  }
</div>

<ng-template #helpContent>
  <p i18n
    >Hier kannst Du Dir einmal anschauen, wie sich die Ergebnisse ändern, wenn Du an den Parametern Veränderungen vornimmst. Auch an dieser
    Stelle kannst Du Dir hierbei in der detaillierten Darstellung die Nutzenanteile aus allen Zielen anzeigen lassen.</p
  >
  <p i18n>Die etwas dunkleren Bereiche auf den Schiebereglern stellen die von Dir angegebenen Präzisionsintervalle dar.</p>

  <p i18n
    >Du kannst mit den Drop-Down-Menüs „Parameter“ und „Alternativen“ auswählen, welche Alternativen Du in der Sensitivitätsanalyse
    berücksichtigen willst und welche Parameter Du in der Analyse variieren willst.</p
  >
</ng-template>
