<dt-step-title [showStepNumber]="false" i18n>Ein erster Versuch der Formulierung einer Entscheidungsfrage</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Formuliere Deine Entscheidungsfrage.</ng-template>
  <ng-template #subDescription i18n
    >Wenn Du in der Entscheidungssituation bereits Annahmen bzw. Vorentscheidungen getroffen hast oder später noch nachgelagerte
    Entscheidungen treffen musst, trage diese auch ein.</ng-template
  >
</dt-step-description>

<div>
  <dt-decision-statement-box
    [(decisionStatement)]="decisionData.decisionStatement.statement_attempt"
    [readonly]="decisionDataState.isProjectReadonly"
  ></dt-decision-statement-box>

  <div class="notes-container">
    <div>
      <span i18n>Ich gehe hierbei von folgenden Annahmen oder Vorentscheidungen aus:</span>
      <dt-decision-statement-note-list
        [noteArray]="decisionData.decisionStatement.preNotes"
        [readonly]="decisionDataState.isProjectReadonly"
      ></dt-decision-statement-note-list>
    </div>
    <div>
      <span i18n>Später oder unabhängig von der aktuellen Frage muss ich noch entscheiden über:</span>
      <dt-decision-statement-note-list
        [noteArray]="decisionData.decisionStatement.afterNotes"
        [readonly]="decisionDataState.isProjectReadonly"
      ></dt-decision-statement-note-list>
    </div>
  </div>
</div>
