@use 'variables' as dt;

form {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  min-height: 0;
}

mat-form-field {
  display: block;
}

p,
mat-form-field {
  margin: 8px 24px;
}

.header {
  @include dt.typography-level(body-2);
  padding: 12px 24px 8px 24px;
}

.mode-selection {
  flex: 0 1 auto;
  overflow-y: auto;

  .entry {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
      background-color: #e5e5e5;
    }

    .bold {
      font-weight: 500;
    }
  }
}

.team-container {
  margin: 16px 24px;
  border-radius: 4px;
  border: 1px solid lightgray;
  align-self: center;

  padding: 4px 8px;

  .toggle-text {
    margin-left: 0.5ch;
  }

  .prefix {
    margin-right: 1ch;
  }
}
