@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.scroll-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  overflow: auto;
}

.start-container {
  padding: 0 16px;
}

.error-card {
  background-color: dt.$crimson-red;
  color: white;
  margin: 10px 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 199px 199px;
  grid-template-areas:
    'N O'
    'Q O'
    'P O';
  gap: 16px;
  position: relative;

  margin: 24px 0;

  .new-project-card {
    grid-area: N;
  }

  .videos-card {
    grid-area: P;
  }

  .recently-edited-card {
    grid-area: O;
  }

  .quickstart-card {
    grid-area: Q;
  }

  mat-card {
    @include mat.elevation(4);

    padding: 0;
    min-width: 0;

    display: flex;
    flex-direction: column;

    &,
    p {
      text-align: center;
    }

    h2 {
      background-color: rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 8px 16px;
      margin: 0;
      color: dt.$orange;
    }

    p {
      margin: 16px;
    }

    .offline-text {
      font-style: italic;
    }

    dt-recently-edited-projects {
      overflow-y: auto;
      flex: 1 0 0;
    }
  }

  .mat-ripple {
    cursor: pointer;
  }

  .disabled {
    .mat-ripple {
      cursor: unset;
    }

    p,
    h2 {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.logo {
  margin: 50px 0 80px 0;
  user-select: none;
  transform: scale(0.6);
}

@media (max-width: 799px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 215px);
    grid-template-areas:
      'N'
      'O'
      'Q'
      'P';
  }

  .logo {
    transform: unset;
  }
}

dt-legal {
  color: gray;
  padding: 15px 0;
  margin-top: auto;
}

.drag-area {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  inset: 0px;

  border: 3px dashed dt.$orange;
  border-radius: 4px;

  color: dt.$grey-foreground;
  background-color: rgba(255, 255, 255, 0.7);

  font-weight: bold;
  font-size: dt.font-size(headline-6);

  z-index: 100;
}
