@use '@angular/material' as mat;
@use 'variables' as dt;

$decision-statement-height: calc(3rem + 8px);

:host {
  @include mat.elevation(1);

  display: block;
  margin-bottom: 16px;

  border: 1px solid dt.$blue-lighten-1;
  border-radius: 4px;
  overflow: hidden;
}

.decision-statement-header {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  background-color: dt.$blue-lighten-1;
  color: white;
  font-size: dt.font-size(headline-6);
}

.decision-statement {
  background-color: #f2f2f2;

  .statement-wrapper {
    flex: 1;

    height: $decision-statement-height;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .statement-input {
      flex: 0 1 auto;
      min-height: 0;

      overflow-y: auto;

      outline: none;
      cursor: text;
    }
  }

  .statement-input {
    padding: 4px 16px;
  }

  mat-expansion-panel {
    background-color: transparent;
    box-shadow: none;

    mat-expansion-panel-header {
      --mat-expansion-header-collapsed-state-height: #{$decision-statement-height};

      font-size: inherit;
      padding-left: 0;
      border-radius: 0;

      border-bottom: 1px solid transparent;

      &:hover,
      &:focus-within {
        border-bottom-color: dt.$blue-lighten-4;
        background-color: transparent;
      }
    }

    .statement-input {
      padding-right: 0;

      &.readonly {
        color: gray;
      }
    }
  }

  .statement-hint {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
  }
}

:host ::ng-deep {
  .mat-expansion-panel-body {
    padding: 8px 16px;
  }
}
