<div class="decision-statement-header">
  <mat-icon>contact_support</mat-icon>
  <span i18n>Meine Entscheidungsfrage</span>
</div>

<div class="decision-statement">
  @if (dropDownMode) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container [ngTemplateOutlet]="inputField"></ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="statement-hint" #tooltip="matTooltip" [matTooltip]="decisionStatementHint" [dtOverflow] [dtOverflowTooltip]="tooltip">
        {{ decisionStatementHint }}
        @if (!decisionStatementHint) {
          <i i18n>Keine erste Formulierung vorhanden</i>
        }
      </div>
    </mat-expansion-panel>
  } @else {
    <div class="simple-statement">
      <ng-container [ngTemplateOutlet]="inputField"></ng-container>
    </div>
  }
</div>

<ng-template #inputField>
  <div class="statement-wrapper" (click)="$event.stopImmediatePropagation()">
    <div
      #decisionStatementInput
      [attr.contenteditable]="readonly ? undefined : true"
      dtPlainTextPaste
      class="statement-input"
      [class.readonly]="readonly"
      [textContent]="decisionStatement"
      (blur)="commitDecisionStatement()"
      (keydown.enter)="$event.preventDefault()"
      (keydown)="$event.stopImmediatePropagation()"
      data-cy="statement-input"
    ></div>
  </div>
</ng-template>
