.hidden {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  pointer-events: none;

  * {
    width: 800px;
  }

  klug-evaluation-graph {
    width: 1500px;
    height: 1600px;
  }

  klug-assessment-graph,
  klug-comparison-graph {
    width: max-content;
    height: max-content;
  }
}

:host ::ng-deep {
  .list {
    button {
      display: none;
    }

    .ql-editor.ql-blank::before {
      opacity: 0;
    }
  }
}
