/* content */
:host > div {
  border: 1px solid rgba(59, 76, 91, 0.2);
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &.padding {
    padding: 10px;
  }

  &.flex-tab {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex: 1;
  }
}
