@use 'variables' as dt;

.cp-filters-form {
  justify-content: end;
}

.mat-mdc-row.cdk-drag-preview {
  background-color: white;
  display: flex;
  align-items: center;
}

.mat-mdc-row > .mat-column-drag:first-child {
  width: 70px;
  text-align: center;
}

dt-table-layout {
  overflow: auto;
  max-height: 100%;
}
