@if (showTitle) {
  <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Risikovergleich</dt-step-title>
}

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description>
    @if (decisionData.isProfessional()) {
      <ng-container i18n>Hier kannst Du die Risiken der Alternativen auf Basis der erreichbaren Nutzenwerte vergleichen.</ng-container>
    } @else {
      <ng-container i18n>Vergleiche die Risiken der Alternativen auf Basis der erreichbaren Nutzenwerte.</ng-container>
    }
  </ng-template>
  <ng-template #subDescription i18n
    >Mit der Anzahl der Simulationsschritte kannst Du die Genauigkeit der Analyseergebnisse beeinflussen.</ng-template
  >
</dt-step-description>

<dt-select-line>
  <dt-select [(selectedOptions)]="selectedAlternativeIndices" (selectedOptionsChange)="updateResults()" [multiple]="true">
    <dt-select-label i18n>Alternativen</dt-select-label>
    @for (alternative of decisionData.alternatives; track alternative; let i = $index) {
      <dt-select-option [value]="i">{{ alternative.name }}</dt-select-option>
    }
  </dt-select>
</dt-select-line>

<dt-risk-profile-chart
  xCaption="Nutzenwert in %"
  i18n-xCaption
  yCaption="Überschreitungswahrscheinlichkeit in %"
  i18n-yCaption
  [xLabels]="xLabels"
  [dataSeries]="dataSeries"
>
  <ng-template #tooltipTemplate let-seriesIndex="seriesIndex" let-pointIndex="pointIndex">
    <div class="point-tooltip">
      <ng-container i18n>Nutzenwert</ng-container>: {{ dataSeries[seriesIndex].dataPoints[pointIndex].x | percent: '1.0-2' }};
      <ng-container i18n>Überschreitungswahrscheinlichkeit</ng-container>:
      {{ dataSeries[seriesIndex].dataPoints[pointIndex].y | percent: '1.0-2' }}
    </div>
  </ng-template>
</dt-risk-profile-chart>

<div class="calculation-info-box">
  <div class="header" [class.done]="state === 'done'" [dtOverlayProgress]="state === 'calculating'">
    @switch (state) {
      @case ('calculating') {
        <ng-container i18n>Berechnung läuft…</ng-container>
      }
      @case ('paused') {
        <ng-container i18n>Berechnung pausiert</ng-container>
      }
      @case ('done') {
        <ng-container i18n>Stabiles Ergebnis erreicht</ng-container>
      }
    }
  </div>
  <div class="content">
    <table>
      <tr>
        <td i18n>Simulationsschritte</td>
        <td>{{ currentResult?.iterationCount ?? 0 | number }}</td>
      </tr>
      <tr>
        <td i18n>Verstrichene Zeit</td>
        <td>{{ elapsedTime / 1000 | number: '1.0-0' }}s</td>
      </tr>
    </table>
    @if (isPaused) {
      <button mat-raised-button color="accent" (click)="resumeCalculation()" type="button" data-cy="resume-button"
        ><mat-icon>resume</mat-icon><ng-container i18n>Berechnung fortsetzen</ng-container></button
      >
    } @else {
      <button mat-raised-button color="accent" (click)="pauseCalculation()" type="button"
        ><mat-icon>save</mat-icon><ng-container i18n>Berechnung pausieren</ng-container></button
      >
    }
  </div>
</div>
