@use '@angular/material' as mat;

dt-risk-profile-chart {
  margin: 24px 0;
}

.point-tooltip {
  @include mat.elevation(8);

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;

  padding: 4px;
  margin: 8px;
}

.calculation-info-box {
  border: 2px solid #d0cece;
  border-radius: 5px;
  padding: 0 12px;

  max-width: fit-content;
  margin: 0 auto;

  .header {
    font-weight: bold;
    border-bottom: 1px solid #d0cece;
    padding-bottom: 4px;
    margin: 8px 0;

    &.done {
      color: green;
    }
  }

  .content {
    display: flex;
    gap: 8px;

    table {
      flex: 1;
      margin-bottom: 8px;
    }

    th {
      font-weight: bold;
      text-align: left;
    }

    td:nth-child(2) {
      min-width: 70px;
    }

    td:not(:last-child) {
      padding-right: 8px;
    }
  }
}
