.opinion-button {
  color: gray;

  &.selected {
    &.for {
      color: green;
    }

    &.against {
      color: red;
    }
  }
}

.opinion-cell {
  padding-right: 0;
}

mat-form-field {
  width: 100%;
}
