:host {
  flex: 1 0 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.cp-filters-form {
  align-items: center;
  gap: 6px;

  .filler {
    flex: 1;
  }

  dt-tag-input {
    flex: 0 1 400px;
    min-width: 200px;
  }
}
