<dt-collapsible-tiny>
  <ng-template #header>
    <span class="header" i18n>Legende:</span>
  </ng-template>
  <ng-template #content>
    <ul>
      @for (item of items; track item; let itemIndex = $index) {
        <li
          [class.selected]="selectedItem === itemIndex"
          [style.color]="highlightedItem === itemIndex || selectedItem === itemIndex ? getItemColor(itemIndex) : 'initial'"
          (click)="selectedItemChange.emit(itemIndex)"
          (mouseenter)="highlightItem(itemIndex)"
          (mouseleave)="highlightItem(-1)"
        >
          <div class="item-color-square" [style.background-color]="getItemColor(itemIndex)"> </div>
          <span class="item-name">
            {{ item }}
          </span>
        </li>
      }
    </ul>
  </ng-template>
</dt-collapsible-tiny>
