@use 'variables' as dt;

.weights-grid {
  display: grid;

  min-width: min-content;

  grid-column: 1 / 4;

  @include dt.typography-level(body-1);
  font-weight: 400;

  background-color: lightgray;

  gap: 1px;

  .seperator-border {
    border-left: 2px solid lightgray;
  }

  .box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: white;

    padding: 3px 20px;

    &.header {
      padding: 7px 20px;
      position: relative;
      grid-row: 1 / 3;

      font-weight: 500;

      &.weights {
        font-size: dt.font-size(subtitle-1);
        grid-row: 1;
      }

      &.objectives {
        grid-row: 2;
      }

      &.weight-column-header {
        flex-direction: column;

        .lambda-container {
          display: flex;
          align-items: baseline;
          gap: 5px;

          @include dt.typography-level(button);

          input {
            color: dt.$orange;
            height: 1.3rem;
            width: 5.5ch;
            text-align: center;

            &:not(:focus) {
              border-bottom: 2px solid transparent;
            }
          }
        }

        &:hover {
          z-index: 200;
        }

        &:not(:hover) > button {
          display: none;
        }

        > button {
          position: absolute;
          translate: 50% -50%;

          display: flex;
          align-items: center;

          z-index: 1;

          &.add-column-button {
            width: 25px;
            height: 25px;
            line-height: 21px;

            right: 0;
            top: 50%;
          }

          &.remove-column-button {
            width: 20px;
            height: 20px;
            line-height: 16px;

            right: 50%;
            top: 100%;

            mat-icon {
              width: 20px;
              height: 20px;
              font-size: 20px;
            }
          }
        }
      }
    }

    &.member-name {
      justify-content: flex-start;
      text-align: left;
    }

    &.weight-value {
      position: relative;

      span {
        z-index: 1;
      }

      .weight-bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: dt.$orange;
      }
    }

    &.aggregat {
      white-space: nowrap;
      text-align: left;

      background-color: rgb(245, 245, 245);
      font-weight: 500;

      padding: 7px 20px;
    }

    &:not(.header).member-weight {
      input {
        width: 5ch;
        text-align: center;
      }
    }
  }

  .name-column-header {
    justify-content: center;

    .new-task-button {
      position: absolute;
      bottom: 1rem;
      opacity: 1;
      align-items: center;
    }

    .name {
      padding: 3rem 0;
    }
  }
}

.column-name[contenteditable='true'] {
  min-width: 3ch;

  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: gray;
  }

  &:empty {
    background-color: lightgray;
  }
}
