@use '@angular/material' as mat;
@import '../../shared';

dt-team-task-list {
  display: block;
  margin-top: 15px;

  @include mat.elevation(3);
}

.option-header {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: max-content;
}
