@use 'variables' as dt;

.scale-type-selection {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;

  mat-radio-button {
    margin: 5px 16px;
    white-space: nowrap;
  }

  mat-divider:last-child {
    display: none;
  }

  // Add additional element at start and end of container to ensure centered alignment.
  // We cannot use space-evenly as that breaks on overflow.
  // https://stackoverflow.com/questions/34453864/why-does-space-around-allow-flex-items-to-overflow-on-the-left-side
  &::before,
  &::after {
    content: '';
  }
}

.main-container {
  overflow: auto;
}

.footer-warning {
  color: dt.$orange;
  max-width: 100%;
  text-align: left;
  padding: 0 18px;
}
.footer-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  flex: 0 1 auto;
}

.hidden {
  display: none;
}
