<dt-modal-content size="big" [showFooter]="true" [contentPadding]="false" [flexContent]="true" (closeClick)="closeClick()">
  <ng-template #title i18n>Auswahl einer Messskala für das Ziel „{{ objective.name }}“</ng-template>
  <ng-template #subheader>
    <mat-radio-group [(ngModel)]="objectiveType" class="scale-type-selection" [disabled]="readonly">
      <mat-radio-button [value]="ObjectiveType.Numerical" i18n>Numerisch</mat-radio-button>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-radio-button [value]="ObjectiveType.Verbal" i18n>Verbal</mat-radio-button>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-radio-button [value]="ObjectiveType.Indicator" i18n>Konstruierte Skala aus Indikatoren</mat-radio-button>
    </mat-radio-group>
    <dt-note-btn
      [twoComments]="true"
      [(secondComment)]="scaleComment"
      [firstOpen]="true"
      [secondOpen]="true"
      [(comment)]="comment"
      [caption]="objective.name | noteBtnPreset: 'objective'"
      ><dt-team-comments additional-modal-content [object]="objective"></dt-team-comments
    ></dt-note-btn>
  </ng-template>
  <ng-template #content>
    <div class="main-container">
      <dt-numerical-objective-scale
        [class.hidden]="objectiveType !== ObjectiveType.Numerical"
        [numericalData]="objective.numericalData"
        (isValid)="numericalIsValid = $event"
        (isDirty)="numericalIsDirty = $event"
      ></dt-numerical-objective-scale>
      <dt-verbal-objective-scale
        [class.hidden]="objectiveType !== ObjectiveType.Verbal"
        [verbalData]="objective.verbalData"
        [objectiveIndex]="data.objectiveIdx"
        (isValid)="verbalIsValid = $event"
        (isDirty)="verbalIsDirty = $event"
      ></dt-verbal-objective-scale>
      <dt-indicator-objective-scale
        [class.hidden]="objectiveType !== ObjectiveType.Indicator"
        [objectiveIdx]="data.objectiveIdx"
        [indicatorData]="objective.indicatorData"
        (isValid)="indicatorIsValid = $event"
        (isDirty)="indicatorIsDirty = $event"
      ></dt-indicator-objective-scale>
    </div>
  </ng-template>

  <ng-template #footer>
    @if (hasObjectiveTypeChanged && !allOutcomesEmpty) {
      <span class="footer-warning" i18n>Warnung: Das Ändern der Ausprägungsskala löscht alle bisher eingetragenen Ausprägungen.</span>
    }
    <div class="footer-buttons">
      <button mat-raised-button color="accent" [disabled]="!isValid || !isDirty || readonly" (click)="close(true)" data-cy="save-scale"
        ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
      >
      <button mat-raised-button color="accent-less" (click)="close(false)" i18n>Verwerfen</button>
    </div>
  </ng-template>
</dt-modal-content>
