<div class="dt-limit-width">
  @if (showTitle) {
    <dt-step-title [showStepNumber]="false" i18n>Identifizieren der wichtigen Stellhebel</dt-step-title>
  }

  <dt-step-description [class.dt-limit-width]="!decisionData.isProfessional()" [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      @if (!decisionData.isProfessional()) {
        <ng-container i18n
          >Versuche, alle Deine Alternativen durch verschieden stark ausgeprägte Eigenschaften zu beschreiben.</ng-container
        >
      }
      @if (decisionData.isProfessional()) {
        <ng-container i18n>Versuche, Deinen Alternativenraum durch verschiedene Stellhebel zu strukturieren.</ng-container>
      }
    </ng-template>
    <ng-template #subDescription i18n
      >Jeder Stellhebel sollte dabei unterschiedliche Zustände annehmen können, die insgesamt das mögliche Spektrum in diesem Stellhebel
      umfassen. Gibt es Stellhebelkombinationen, für die Du noch keine Alternative hast? Wenn ja, versuche diese zu finden.</ng-template
    >
  </dt-step-description>
</div>

<dt-screw-list
  [screws]="decisionData.hintAlternatives.screws"
  [screwConfigurationProviders]="decisionData.alternatives"
  (screwConfigurationChangeAtProvider)="decisionData.alternatives[$event[0]].screwConfiguration = $event[1]"
  [newScrewConfiguration]="screwConfigurationForNewAlternative"
  (newScrewConfigurationChange)="screwConfigurationForNewAlternative = $event"
  (appendScrew)="appendScrew()"
  (moveScrew)="moveScrew($event[0], $event[1])"
  (addNewAlternative)="addAlternative()"
  (editOrDeleteScrew)="editOrDeleteScrew($event)"
  [canBlur]="!screwEditModalOpened"
  [readonly]="decisionDataState.isProjectReadonly"
>
  <ng-template #noteBtnContent let-screw let-noteBtn="noteBtn">
    <dt-team-comments [object]="screw" [noteBtnRef]="noteBtn"></dt-team-comments>
  </ng-template>
</dt-screw-list>

<div class="dt-limit-width list-container">
  <dt-alternative-list
    [pageKey]="pageKey"
    [collapsedByDefault]="true"
    (dirty)="screwList.selectedProvider = -1; screwList.editedNameBoxIdx = -1"
  ></dt-alternative-list>
</div>
