<div class="graph-container" [style.grid-template-columns]="gridColumns">
  @if (showYAxisLabel) {
    <div class="utility-label" i18n>Nutzen</div>
  }
  <div class="y-scale">
    <span>1.0</span>
    @if (huge) {
      <span>0.8</span>
      <span>0.6</span>
      <span>0.4</span>
      <span>0.2</span>
    } @else {
      <span>0.5</span>
    }
    <span>0.0</span>
  </div>
  @for (option of objective?.verbalData?.options; track option; let i = $index; let first = $first; let last = $last) {
    <dt-bar-slider
      class="slider"
      [style.grid-column]="3 + i"
      [class.middle]="i === selectedMiddle"
      [class.greyed-out]="!hasChanges"
      [class.invalid]="objective.verbalData.utilities[i + 1] === objective.verbalData.utilities[i]"
      [(value)]="objective.verbalData.utilities[i]"
      [disabled]="first || last || readonly"
      [precision]="relativeDeviation(objective.verbalData.utilities[i], objective.verbalData.precision)"
      [interval]="true"
      [width]="objective.verbalData.options.length > 7 && !huge ? 20 : 30"
      [fillContainer]="true"
      (valueChange)="newBarValue(i, $event)"
    ></dt-bar-slider>
  }
  @if (huge) {
    <div
      class="graph-overlay selection-background"
      [style.grid-column-start]="2 + selectedLeft + 1"
      [style.grid-column-end]="2 + selectedRight + 2"
    >
    </div>
  }
  <svg class="graph-overlay line-overlay-container" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path [attr.d]="getPathLine(1)" vector-effect="non-scaling-stroke"></path>
  </svg>
  @if (hasPrecision) {
    <svg class="graph-overlay line-overlay-container" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path [attr.d]="getPathLine(2)" vector-effect="non-scaling-stroke"></path>
    </svg>
  }
  <div class="seperator"></div>
  @for (option of objective?.verbalData?.options; track option; let i = $index) {
    <div class="x-label" [style.grid-column]="3 + i" [matTooltip]="option" #tooltip="matTooltip" [dtOverflow] [dtOverflowTooltip]="tooltip">
      {{ option }}
    </div>
  }
  @if (huge) {
    <div class="x-axis-label"> {{ objective.name }} </div>
  }
  @if (huge) {
    @for (option of objective?.verbalData?.options; track option; let i = $index; let first = $first; let last = $last) {
      <input
        #input
        type="number"
        step="1"
        min="0"
        max="100"
        class="input-field"
        [class.notCustom]="!objective.verbalData.hasCustomUtilityValues"
        [style.grid-column]="3 + i"
        [disabled]="first || last || readonly"
        [ngModel]="displayUtility(i)"
        (ngModelChange)="inputChange(input, i, $event)"
      />
    }
  }
</div>
