<dt-scroll-shadow>
  <dt-scroll-shadow-inner class="weights-container">
    @for (objective of decisionData.objectives; track objective; let objectiveIndex = $index) {
      <div class="weight mat-elevation-z3">
        <div class="header">
          @if (showNoteButtons) {
            <dt-note-btn
              [twoComments]="true"
              [(comment)]="objective.comment"
              [(secondComment)]="decisionData.weights.explanations[objectiveIndex]"
              [firstOpen]="false"
              [secondOpen]="true"
              [caption]="objective.name | noteBtnPreset: 'objectiveWeight'"
              [darkBackground]="true"
              [readonly]="decisionDataState.isProjectReadonly"
            ></dt-note-btn>
          }
          <div
            class="objective-name"
            #nameOverflow="dtOverflow"
            [dtOverflow]
            [matTooltip]="objective.name"
            [matTooltipDisabled]="!nameOverflow.isOverflowing"
            >{{ objective.name }}</div
          >
        </div>
        <div class="scale-container">
          <span i18n>Von</span
          ><span
            class="extrema"
            #fromOverflow="dtOverflow"
            [dtOverflow]
            [matTooltip]="getMin(objective)"
            [matTooltipDisabled]="!fromOverflow.isOverflowing"
            >{{ getMin(objective) }}</span
          ><span i18n>bis</span
          ><span
            class="extrema"
            #toOverflow="dtOverflow"
            [dtOverflow]
            [matTooltip]="getMax(objective)"
            [matTooltipDisabled]="!toOverflow.isOverflowing"
            >{{ getMax(objective) }}</span
          >
          @if (objective.isIndicator) {
            <div class="indicator-info" [dtHoverPopover]="indicatorScaleInfoPopover">
              <mat-icon>info</mat-icon>
              <ng-template #indicatorScaleInfoPopover>
                <div class="indicator-scale-info-popover mat-elevation-z3">
                  <div class="table-wrapper">
                    <table>
                      <tr>
                        <td i18n>Indikator</td>
                        <td i18n>Bandbreite</td>
                        <td i18n>Einheit</td>
                      </tr>
                      @for (indicator of getIndicatorScaleInfo(objective); track indicator) {
                        <tr>
                          <td>{{ indicator[0] }}</td>
                          <td>{{ indicator[1] }} <span i18n>bis</span> {{ indicator[2] }}</td>
                          <td>
                            @if (indicator[3]) {
                              <span>{{ indicator[3] }}</span>
                            } @else {
                              <span class="no-unit" i18n>Keine</span>
                            }
                          </td>
                        </tr>
                      }
                    </table>
                  </div>
                </div>
              </ng-template>
            </div>
          }
        </div>
        <div class="controls-container">
          @if (isNormalized()) {
            <button
              mat-stroked-button
              class="modify-weight-button"
              color="accent"
              (dtDynamicChange)="adjustWeight(objectiveIndex, -1)"
              [disabled]="objectiveWeights[objectiveIndex].value === 0 || decisionDataState.areObjectiveWeightsReadonly"
              >&ndash;
            </button>
          }
          @if (!isFinished()) {
            <button
              [disabled]="decisionDataState.areObjectiveWeightsReadonly"
              mat-button
              color="accent"
              (click)="setWeightToMax(objectiveIndex)"
            >
              Max.</button
            >
          }
          @if (isFinished()) {
            <div class="weight-display">
              <div class="weight-value">
                @if (isFinished() && isNormalized()) {
                  <span>{{ this.percentages[objectiveIndex][0] / 100 | percent: '1.1-1' }}</span>
                } @else {
                  <span>-</span>
                }
              </div>
              <div *dtProjectMode="'educational'" class="accuracy">
                {{ weightPre(objectiveIndex) }}
              </div>
            </div>
          }
          @if (isNormalized()) {
            <button
              mat-stroked-button
              class="modify-weight-button"
              color="accent"
              (dtDynamicChange)="adjustWeight(objectiveIndex, 1)"
              [disabled]="objectiveWeights[objectiveIndex].value === 0 || decisionDataState.areObjectiveWeightsReadonly"
              >+
            </button>
          }
        </div>
        <div class="slider-container">
          <dt-bar-slider
            [value]="objectiveWeights[objectiveIndex].value || 0"
            [min]="0"
            [max]="maxInputValue"
            (valueChange)="changeWeight(objectiveIndex, $event, false)"
            [interval]="true"
            [precision]="objectiveWeights[objectiveIndex].precision"
            [width]="40"
            [length]="sliderLength"
            [readonly]="decisionDataState.areObjectiveWeightsReadonly"
          ></dt-bar-slider>
        </div>
        <div class="bottom-container">
          @if (isFinished() && isNormalized()) {
            @if (decisionData.weights.tradeoffObjectiveIdx === objectiveIndex) {
              <button
                i18n
                mat-stroked-button
                color="accent"
                (click)="openReferenceObjectiveSelection()"
                [disabled]="decisionDataState.areObjectiveWeightsReadonly"
                >Referenzziel</button
              >
            } @else {
              <button
                mat-stroked-button
                color="primary"
                [disabled]="objectiveWeights[objectiveIndex].value === 0 || decisionDataState.areObjectiveWeightsReadonly"
                routerLink="{{ tradeoffUrl }}/{{ objectiveIndex }}"
              >
                <ng-container i18n>Trade-off</ng-container>&nbsp;
                @if (isTradeoffVerified(objectiveIndex)) {
                  <mat-icon class="verified" matTooltip="Trade-off verifiziert" i18n-matTooltip>verified</mat-icon>
                } @else {
                  <mat-icon class="unverified" matTooltip="Trade-off nicht verifiziert" i18n-matTooltip>warning</mat-icon>
                }
              </button>
            }
          }
          @if (!isNormalized() && hasDefaultMaxWeight) {
            <div class="weight-input-container">
              <input
                tabindex="1"
                dtValidateNumberInput
                type="number"
                step="1"
                [min]="0"
                [max]="100"
                [disabled]="decisionDataState.areObjectiveWeightsReadonly"
                [ngModel]="objectiveWeights[objectiveIndex].value / 2.5 | round"
                (blur)="changeWeight(objectiveIndex, weightInput.valueAsNumber * 2.5, false)"
                i18n-placeholder
                placeholder="Gewicht (0-100)"
                #weightInput
              />
            </div>
          }
        </div>
      </div>
    }
  </dt-scroll-shadow-inner>
</dt-scroll-shadow>

@if (showResetButton && !decisionDataState.areObjectiveWeightsReadonly) {
  <div class="button-container">
    <button
      mat-raised-button
      color="accent-less"
      i18n
      dtConfirmPopover="Zielgewichte wirklich zurücksetzen?"
      i18n-dtConfirmPopover
      dtConfirmPopoverConfirmText="Zurücksetzen"
      i18n-dtConfirmPopoverConfirmText
      (dtConfirmPopoverConfirm)="resetWeights()"
      >Zurücksetzen</button
    >
    @if (isFinished() && !isNormalized()) {
      <button mat-raised-button color="accent" (click)="checkDefaultTradeoffObjective(); normalize()" i18n>in Prozent berechnen</button>
    }
  </div>
}

<ng-template #notification>
  <span i18n>Präzisionsintervall entfernt!</span>
</ng-template>
