<div class="list">
  <div
    class="delimiter"
    (mouseenter)="activeDelimiter = 0; dragEnterDelimiter($event, 0)"
    (mouseleave)="activeDelimiter = -1"
    (mouseup)="dropDelimiter($event, 0)"
    [class.active]="activeDelimiter === 0"
  >
    <div class="delimiter-line" [class.visible]="dragging && (draggingChild || currentlyDraggedIndex !== 0)"></div>
  </div>

  @for (element of listElements; track element.id; let i = $index) {
    @if (showPlacement) {
      <div class="placement-item"> {{ i + 1 }}. </div>
    }

    <div
      class="element-content"
      [class.dragging]="dragging && !draggingChild && currentlyDraggedIndex === i"
      (dragstart)="dragStart($event, i)"
      (mouseup)="dropElement($event, i)"
      (mouseenter)="dragEnterElement($event, i)"
      (mouseleave)="dragLeaveElement($event, i)"
      [attr.index]="i"
    >
      <ng-container [ngTemplateOutlet]="elementTemplate" [ngTemplateOutletContext]="{ $implicit: element, index: i }"></ng-container>
      @if (allowGrouping && dragging) {
        <div class="group-overlay" [class.current-recipient]="currentRecipientIndex === i">
          @if (dragging && currentlyDraggedIndex !== i) {
            <ng-container i18n>Alternative eingruppieren</ng-container>
          }
        </div>
      }
    </div>
    <div
      class="delimiter"
      (mouseenter)="activeDelimiter = i + 1; dragEnterDelimiter($event, i + 1)"
      (mouseleave)="activeDelimiter = -1"
      (mouseup)="dropDelimiter($event, i + 1)"
      [class.active]="activeDelimiter === i + 1"
      ><div
        class="delimiter-line"
        [class.visible]="dragging && (draggingChild || (currentlyDraggedIndex !== i && currentlyDraggedIndex !== i + 1))"
      ></div>
    </div>
  }
</div>

<ng-template #error>
  <div class="error-content">
    <mat-icon>error</mat-icon>
    <span style="margin-left: 10px" i18n>Gruppierte Alternativen können nicht in andere Alternativen eingruppiert werden!</span>
  </div>
</ng-template>
