<div class="table-container" #tablecontainer>
  <div
    class="header-container"
    matSort
    [matSortActive]="defaultSortColumn"
    [matSortDirection]="defaultSortDirection"
    [matSortDisabled]="!sortChangeable"
    matSortDisableClear
    (matSortChange)="sortEvent($event)"
  >
    @for (column of columns; track i; let i = $index) {
      <div class="header">
        @if (column.sortable) {
          <span [mat-sort-header]="column.id">{{ column.name }}</span>
        } @else {
          <span>{{ column.name }}</span>
        }
        <ng-template #sortable
          ><span [mat-sort-header]="column.id">{{ column.name }}</span></ng-template
        >
      </div>
    }
    <ng-content select="[header]"></ng-content>
  </div>

  <div class="scroll-container">
    <div class="body-container">
      @for (column of columns; track $index) {
        <div class="column" [style.flex]="column.flex">
          @for (element of data; track i; let i = $index) {
            <div
              class="cell"
              (click)="clickEvent($event, i)"
              (mouseenter)="hoverRow = i"
              (mouseleave)="hoverRow = -1"
              [class.highlighted]="(clickableRows && i === hoverRow) || selectedIndex === i"
              [style.cursor]="clickableRows ? 'pointer' : null"
              [style.height.px]="rowHeight"
            >
              <ng-container [ngTemplateOutlet]="column.cellTemplate" [ngTemplateOutletContext]="{ $implicit: element, index: i }">
              </ng-container>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
