@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  --dt-flex-table-default-background-color: none;
}

.table-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scroll-container {
  overflow-y: scroll;
  min-height: 100px;
}

.header-container {
  display: flex;
  border-bottom: 1px solid #d0d0d0;
  overflow-x: hidden;
  height: 55px;
  min-height: 55px;

  .header {
    display: flex;
    align-items: center;
    padding: 15px 5px;
    padding-left: dt.$modal-padding;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}

.body-container {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;
    min-width: 0;

    .cell {
      display: flex;
      align-items: center;
      text-align: left;
      padding: 0 5px;
      padding-left: dt.$modal-padding;
      height: 50px;

      position: relative;

      background-color: var(--dt-flex-table-default-background-color);

      &.highlighted {
        background-color: #efefef;
      }

      &:not(:first-child) {
        border-top: 1px solid rgba(211, 211, 211, 0.5);
      }
    }
  }
}

.cell ::ng-deep span {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
