@use 'variables' as dt;
@use '@angular/material' as mat;

.assessment-grid-container {
  background-color: #ddd;
  border-radius: 5px;

  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
}

.assessment-grid {
  display: grid;
  grid-template-columns: repeat(calc(var(--objective-count) + 1), 150px);
  grid-auto-rows: max-content;

  gap: 1px;
  max-height: 80vh;
  overflow: auto;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 4px;
    min-height: 50px;

    &.objective {
      position: sticky;
      top: 0;
      z-index: 2;

      background-color: dt.$objective;
      color: white;
    }

    &.alternative {
      position: sticky;
      left: 0;
      z-index: 1;

      background-color: dt.$alternative;
    }

    &.outcome {
      background-color: white;

      &.unset {
        background-color: #fddebb;
      }
    }

    &.header {
      position: sticky;
      top: 0;
      left: 0;

      z-index: 3;
      background-color: lightgrey;
    }
  }
}
