<dt-starter-heading heading="impactModel"></dt-starter-heading>

<div class="assessment-grid-container mat-elevation-z4">
  <div class="assessment-grid" [style.--objective-count]="decisionData.objectives.length">
    <div class="box header"></div>
    @for (objective of decisionData.objectives; track objective) {
      <div class="box objective">
        {{ objective.name }}
      </div>
    }
    @for (alternative of decisionData.alternatives; track alternative; let alternativeIndex = $index) {
      <div class="box alternative">
        {{ alternative.name }}
      </div>
      @for (objective of decisionData.objectives; track objective; let objectiveIndex = $index) {
        <button
          class="box outcome"
          matRipple
          [matMenuTriggerFor]="pointMenu"
          [class.unset]="!decisionData.outcomes[alternativeIndex][objectiveIndex].processed"
          data-cy="outcome-button"
        >
          {{ decisionData.outcomes[alternativeIndex][objectiveIndex].values[0][0][0] ?? '?' }}
          <mat-menu #pointMenu="matMenu">
            @for (outcome of possibleOutcomes; track outcome) {
              <button
                mat-menu-item
                (click)="
                  decisionData.outcomes[alternativeIndex][objectiveIndex].values = [[[outcome]]];
                  decisionData.outcomes[alternativeIndex][objectiveIndex].checkProcessed()
                "
              >
                <span>{{ outcome }}</span>
              </button>
            }
          </mat-menu>
        </button>
      }
    }
  </div>
</div>

<dt-starter-help-expansion-panel>
  <p i18n
    >Wie gut eine Alternative in einem Ziel einzuschätzen ist, kannst Du in jedem Feld der Tabelle mit einer Zahl zwischen 0 (schlecht) und
    10 (gut) angeben. Achte jedoch auf die typischen Fallen bei solchen Schätzungen (Biases), in die wir in einem solchen Zusammenhang
    häufig tappen. Wenn Du Ziele oder Alternativen ergänzen willst, kannst Du das an dieser Stelle auch noch machen.</p
  >
  <button mat-raised-button color="help" (click)="openTips()" i18n>Mehr Informationen über Biases bei Einschätzungen</button>
</dt-starter-help-expansion-panel>

<dt-starter-navigation-buttons
  step="impactModel"
  invalidTooltip="Du musst alle Einschätzungen definieren"
  i18n-invalidTooltip
></dt-starter-navigation-buttons>
