<div class="comparison-grid-container">
  <div class="comparison-grid" [style.grid-template-columns]="gridColumns">
    <div class="box header column row"></div>
    @for (objective of objectives; track objective) {
      <klug-matrix-cell [object]="objective" [orientation]="'vertical'"></klug-matrix-cell>
    }

    @for (rowObjective of objectives; track rowObjective; let objectiveIndexRow = $index) {
      <klug-matrix-cell [object]="rowObjective"></klug-matrix-cell>
      @for (columnObjective of objectives; track columnObjective; let objectiveIndexColumn = $index) {
        <div
          class="box"
          [class.comparison]="objectiveIndexColumn > objectiveIndexRow"
          [class.unset]="pairComparisons[objectiveIndexRow][objectiveIndexColumn] === 'missing'"
          [klugRequiredFieldRipple]="
            objectiveIndexColumn <= objectiveIndexRow || pairComparisons[objectiveIndexRow][objectiveIndexColumn] !== 'missing'
          "
          (click)="objectiveIndexColumn <= objectiveIndexRow || openComparisonModal(objectiveIndexRow, objectiveIndexColumn)"
        >
          @if (objectiveIndexColumn > objectiveIndexRow) {
            @switch (pairComparisons[objectiveIndexRow][objectiveIndexColumn]) {
              @case ('missing') {
                <span>?</span>
              }
              @case ('more') {
                <span>{{ rowObjective.name }}</span>
              }
              @case ('less') {
                <span>{{ columnObjective.name }}</span>
              }
              @case ('equal') {
                <span class="equal">Gleich wichtig</span>
              }
            }
          }
        </div>
      }
    }
  </div>
</div>

<ng-template #comparisonModal let-data let-dialogRef="dialogRef">
  <div class="klug-weight-comparison-modal">
    <div class="klug-weight-comparison-grid" [style.transform]="comparisonGridTransform">
      @for (comparison of pendingComparisons; track comparison) {
        <div class="weight-container">
          <div class="option objective" (click)="setComparisonResult('more') && dialogRef.close()">
            {{ objectives[comparison[0]].name }}<br />...ist mir wichtiger
          </div>
          <div class="option" (click)="setComparisonResult('equal') && dialogRef.close()"> Beides ist mir gleich wichtig </div>
          <div class="option objective" (click)="setComparisonResult('less') && dialogRef.close()">
            {{ objectives[comparison[1]].name }}<br />...ist mir wichtiger
          </div>
        </div>
      }
    </div>
    <div #dummy></div>
  </div>
</ng-template>
