<div class="dt-help-padding">
  <p i18n
    >Nimm Dir für diesen Teilschritt etwas Zeit und denke grundsätzlich darüber nach, was Dir in der Entscheidungssituation alles wichtig
    ist. Fühle Dich komplett frei und schreibe alles auf, was Dir einfällt. Du brauchst hier auf keinerlei Struktur oder Ordnung achten, da
    die Sortierung und Strukturierung der Werte jeweils in einem späteren Schritt stattfinden. Ziel ist es hier, erstmal möglichst viele
    Aspekte zu finden, die in der Entscheidungssituation für Dich von Bedeutung sind.</p
  >
  <p i18n>Die folgenden Fragen können dabei helfen, wichtige Aspekte zu identifizieren:</p>
  <ul>
    <li i18n>Was ist für mich in der Entscheidungssituation wichtig?</li>
    <li i18n>Was will ich erreichen?</li>
    <li i18n>Wann bin ich zufrieden?</li>
    <li i18n>In welchen Aspekten unterscheiden sich die Alternativen?</li>
    <li i18n>Was stört mich am Status Quo?</li>
    <li i18n>Welche allgemeinen Werte habe ich, die jetzt in dieser Situation von Bedeutung sein könnten?</li>
  </ul>
</div>
