<div class="objective-group-header">{{ noteGroup.name }}<ng-content select=".dt-group-headline"></ng-content> </div>
<ng-content select=".dt-group-body"></ng-content>
<div class="objective-group" (dragover)="dragOverGroup($event)" (drop)="drop($event)">
  @for (note of noteGroup.notes; track note; let i = $index) {
    <dt-aspect-box
      #aspectBox
      class="objective-group-item"
      [(name)]="note.name"
      (deleteClick)="removeNote(i)"
      [readonly]="readonly"
      [draggable]="!readonly && !aspectBox.isEditing"
      (dragstart)="dragStart($event, i)"
      (dragover)="dragOver($event, i)"
      (drop)="drop($event)"
    >
    </dt-aspect-box>
  }
</div>
@if (showAddButton) {
  <button mat-raised-button color="accent" [disabled]="readonly" class="add-button" (click)="!readonly && addItem()"
    ><mat-icon>add</mat-icon><ng-container i18n>Hinzufügen</ng-container></button
  >
}
