<div class="dt-limit-width">
  @if (showTitle) {
    <dt-step-title [showStepNumber]="false" i18n>Zielfokussierte Suche nach neuen Alternativen</dt-step-title>
  }

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      @if (!decisionData.isProfessional()) {
        <ng-container i18n>Entwickle neue Alternativen, indem Du Dich auf Deine Ziele fokussierst.</ng-container>
      }
      @if (decisionData.isProfessional()) {
        <ng-container i18n
          >Hier kannst Du Ideen eintragen, wie Du die Ziele gut erreichen könntest. Diese Ideen kannst Du einzeln und in Kombination nutzen,
          um neue Alternativen zu formulieren.</ng-container
        >
      }
    </ng-template>
    <ng-template #subDescription i18n
      >Überlege, wie Alternativen aussehen könnten, die jeweils eines Deiner Ziele optimal erfüllen.</ng-template
    >
  </dt-step-description>
</div>

<dt-alternative-search></dt-alternative-search>

<div class="dt-limit-width">
  <form (submit)="addAlternative()" class="alternative-add-form">
    <label for="alternative" i18n>Eine neue (kreative) Alternative wäre:</label>
    <div class="dt-inputbox">
      <input
        type="text"
        id="alternative"
        name="alternative"
        [(ngModel)]="newAlternative"
        placeholder="Alternative"
        title="Name der neuen Alternative"
        i18n-title
        data-cy="add-alternative-input"
        [disabled]="decisionDataState.isProjectReadonly"
      />
    </div>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!newAlternative || newAlternative.length === 0"
      i18n
      data-cy="add-alternative-button"
      >Alternative hinzufügen</button
    >
  </form>

  <dt-alternative-list [pageKey]="pageKey" [collapsedByDefault]="true"></dt-alternative-list>

  <ng-template #notify>
    <span class="notification-text" i18n>Neue Alternative hinzugefügt!</span>
  </ng-template>
</div>
