@use 'variables' as dt;

.alternative-add-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;

  > * {
    margin: 5px;
  }

  > .dt-inputbox {
    flex: 1 0 250px;

    > input {
      margin: 0;
    }
  }
}

.notification-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
