<div class="box-wrapper">
  <div class="box-header dt-dark-theme">
    <div class="name" (click)="edit()">{{ influenceFactor.name }}</div>
    <button mat-icon-button (click)="edit()" [disabled]="readonly"><mat-icon>edit</mat-icon></button>
    <div
      matTooltip="Der Einflussfaktor wird in einem kombinierten Einflussfaktor verwendet"
      i18n-matTooltip
      [matTooltipDisabled]="!usedInCombinedIF"
    >
      <button
        mat-icon-button
        [disabled]="usedInCombinedIF || readonly"
        dtConfirmPopover="Einflussfaktor wirklich löschen?"
        i18n-dtConfirmPopover
        (dtConfirmPopoverConfirm)="deleteClick.emit()"
        ><mat-icon>delete</mat-icon></button
      >
    </div>
  </div>

  <div class="box-content">
    @for (state of influenceFactor.states; track state; let stateIndex = $index) {
      <div
        class="name"
        [class.has-comment]="state.comment"
        [dtHoverPopover]="nameHover"
        [dtHoverPopoverDisabled]="!state.comment"
        dtHoverPopoverPosition="left"
        >{{ state.name }}</div
      >
      <dt-bar-slider
        [value]="shownProbabilities[stateIndex]"
        (valueChange)="changeProbability(stateIndex, $event)"
        [precision]="relativeDeviation(shownProbabilities[stateIndex])"
        [interval]="true"
        [vertical]="false"
        [width]="30"
        [readonly]="readonly"
      ></dt-bar-slider>
      <mat-form-field subscriptSizing="dynamic" class="dt-number-input dt-number-input-decimal dt-no-label">
        <dt-input-spinner
          (increase)="adjustProbability(stateIndex, 1)"
          (decrease)="adjustProbability(stateIndex, -1)"
          [plusDisabled]="shownProbabilities[stateIndex] === 100"
          [minusDisabled]="shownProbabilities[stateIndex] === 0"
          [disabled]="readonly"
        >
          <input
            matInput
            type="number"
            min="0"
            max="100"
            required
            [enableScroll]="true"
            [ngModel]="shownProbabilities[stateIndex]"
            (ngModelChange)="changeProbability(stateIndex, $event)"
            [readonly]="readonly"
          />
        </dt-input-spinner>
        <span matTextSuffix>%</span>
      </mat-form-field>
      <ng-template #nameHover>
        <div class="name-hover-container mat-elevation-z3">
          {{ state.comment }}
        </div>
      </ng-template>
    }
  </div>

  <mat-divider></mat-divider>

  <div class="box-footer">
    <button mat-raised-button color="accent-less" (click)="showConnections()" i18n>{usageCount, plural,
      =1 {1 Verknüpfung}
      other {{{usageCount}} Verknüpfungen}
    }</button>

    <button mat-raised-button color="accent" [disabled]="!isValid || readonly || isNormalized" (click)="normalize()">
      <mat-icon>{{ isNormalized ? 'done' : 'error' }}</mat-icon>
      @if (isNormalized) {
        <ng-container i18n>Normiert</ng-container>
      } @else {
        <ng-container i18n>Normieren</ng-container>
      }
    </button>

    <mat-form-field subscriptSizing="dynamic" class="dt-number-input dt-number-input-decimal">
      <mat-label i18n>Präzisionsintervall</mat-label>
      <span matTextPrefix>±</span>
      <dt-input-spinner
        [plusDisabled]="influenceFactor.precision === pMax"
        [minusDisabled]="influenceFactor.precision === 0"
        (increase)="adjustPrecision(1)"
        (decrease)="adjustPrecision(-1)"
        [disabled]="readonly"
      >
        <input
          matInput
          type="number"
          min="0"
          [max]="pMax"
          step="1"
          required
          [ngModel]="influenceFactor.precision"
          (ngModelChange)="changePrecision($event)"
          [enableScroll]="true"
          [readonly]="readonly"
        />
      </dt-input-spinner>
      <span matTextSuffix>%</span>
    </mat-form-field>
  </div>

  <dt-note-btn [(comment)]="influenceFactor.comment" [darkBackground]="true" [readonly]="readonly">
    <dt-team-comments additional-modal-content [object]="influenceFactor"></dt-team-comments>
  </dt-note-btn>
</div>
