@use 'variables' as dt;

.buttons-wrapper {
  margin-top: 16px;
}

mat-form-field,
button {
  margin-right: 8px;
}

.tag-id {
  @include dt.typography-level(caption);
  display: flex;
  align-items: center;
  color: black;
}

.grey {
  color: gray;
}
