@use 'variables' as dt;

:host {
  @include dt.typography-level(caption);

  display: block;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
  background-color: white;
}
