@use 'variables' as dt;

.header {
  @include dt.typography-level(subtitle-2);
  padding-left: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 12px;

  padding: 8px 40px 8px 16px;
  position: relative;

  min-height: fit-content;

  .line-break {
    flex-basis: 100%;
  }

  .growing-field {
    flex: 1 0 auto;
  }

  .delete-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    min-width: 32px;
    padding: 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.regex-explanation-popover {
  padding: 8px;
  background-color: #fafafa;
  border-radius: 5px;
  max-width: 300px;
  text-align: justify;
}
