<dt-modal-content
  [size]="'big'"
  [showFooter]="selectedTabIndex === 1"
  (closeClick)="dialogRef.close()"
  [contentPadding]="false"
  [flexContent]="true"
>
  <ng-template #title>{{ projectName }}</ng-template>
  <ng-template #content>
    <mat-tab-group
      [(selectedIndex)]="decisionData.savedValues.projectDescriptionSelectedIndex"
      mat-stretch-tabs
      color="accent"
      mat-align-tabs="center"
    >
      <mat-tab>
        <ng-template mat-tab-label i18n>Beschreibung</ng-template>
        <dt-rich-text-editor
          [(text)]="decisionData.projectNotes"
          [modalPadding]="true"
          placeholder="Beginne mit der Formulierung Deiner Projektbeschreibung"
          i18n-placeholder
        ></dt-rich-text-editor>
      </mat-tab>
      <mat-tab [labelClass]="'cy-utility-table'">
        <ng-template mat-tab-label i18n>Ergebnismatrix</ng-template>
        <dt-project-view [addShadow]="true"></dt-project-view>
      </mat-tab>
      <mat-tab *dtProjectMode="['educational', 'professional']">
        <ng-template mat-tab-label i18n>Entscheidungsqualität</ng-template>
        <dt-decision-quality-chart [allowRevise]="true" (closeParent)="dialogRef.close()"></dt-decision-quality-chart>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label i18n>Eigenschaften</ng-template>
        <div class="section">
          <h4 class="title" i18n>Titel</h4>
          <mat-form-field subscriptSizing="dynamic" [ngStyle]="{ 'width.ch': inputProjectName.value.length }" class="name-field">
            <mat-label i18n>Titel des Projektes</mat-label>
            <input [ngModel]="projectName" (ngModelChange)="newProjectName$.next($event)" #inputProjectName matInput type="text" />
            @switch (renameState) {
              @case ('saving') {
                <mat-spinner [diameter]="24" matTextSuffix></mat-spinner>
              }
              @case ('error') {
                <mat-icon
                  class="error-icon"
                  matTooltip="Umbenennen fehlgeschlagen. Versuche es später erneut."
                  i18n-matTooltip
                  matTextSuffix
                  >error</mat-icon
                >
              }
              @case ('conflict') {
                <mat-icon class="error-icon" matTooltip="Dieser Name ist bereits vergeben." i18n-matTooltip matTextSuffix>warning</mat-icon>
              }
              @case ('saved') {
                <mat-icon class="idle-icon" matTextSuffix>done</mat-icon>
              }
            }
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Daten zum Projekt</h4>
          <div>
            <pre i18n>Speicherort:</pre>
            @switch (projectLocation) {
              @case ('online') {
                <ng-container i18n>Entscheidungsnavi Cloud</ng-container>
              }
              @case ('local') {
                <ng-container i18n>Lokal</ng-container>
              }
            }
          </div>
          <div>
            <pre i18n>Erstellungsdatum:</pre>
            @if (dates) {
              {{ dates[0] | date: 'mediumDate' }}
            } @else {
              <ng-container i18n>Nur für Entscheidungsnavi Cloud Projekte verfügbar</ng-container>
            }
          </div>
          <div>
            <pre i18n>Änderungsdatum:</pre>
            @if (dates) {
              {{ dates[1] | date: 'mediumDate' }}
            } @else {
              <ng-container i18n>Nur für Entscheidungsnavi Cloud Projekte verfügbar</ng-container>
            }
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Erstellt von</h4>
          <div class="user-name">
            <mat-form-field subscriptSizing="dynamic" [ngStyle]="{ 'width.ch': inputAuthorName.value.length }">
              <mat-label i18n>Name des Autors</mat-label>
              <input [(ngModel)]="decisionData.authorName" #inputAuthorName matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Modus</h4>
          <span>Entscheidungsnavi {{ decisionData.projectMode | titlecase }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="section">
          <h4 class="title" i18n>Dateigröße</h4>
          <div [class.over-limit]="projectSize > 10"
            >{{ projectSize.toFixed(3) }}
            @if (projectLocation === 'online') {
              <span i18n>von 10</span>
            }
            MB
          </div>
        </div>
        <mat-divider></mat-divider>
        <div *dtProjectMode="['starter', 'educational']" class="section">
          <h4 class="title" i18n>Projektfortschritt</h4>
          <div class="project-progress-container">
            <ul i18n>
              <li>Schritt 1: {{ projectStatusText[0] }}</li>
              <li>Schritt 2: {{ projectStatusText[1] }}</li>
              <li>Schritt 3: {{ projectStatusText[2] }}</li>
              <li>Schritt 4: {{ projectStatusText[3] }}</li>
              <li *dtProjectMode="'educational'">Schritt 5: {{ projectStatusText[4] }}</li>
            </ul>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #footer>
    <button
      mat-raised-button
      color="accent"
      (click)="exportAsExcel(true)"
      i18n
      i18n-matTooltip
      matTooltip="Exportieren wie aktuell dargestellt"
      matTooltipPosition="above"
      >Aktuelle Übersicht als Excel exportieren</button
    >
    <button
      mat-raised-button
      color="accent"
      (click)="exportAsExcel(false)"
      i18n
      i18n-matTooltip
      matTooltip="Exportieren mit allen Zielen &amp; Alternativen aufgeklappt"
      matTooltipPosition="above"
      >Gesamtübersicht als Excel exportieren</button
    >
  </ng-template>
</dt-modal-content>
