@use 'variables' as dt;
@use '@angular/material' as mat;

@import '../shared';

:host {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;

  color: black;

  mat-tab-group {
    width: 100%;
  }

  & ::ng-deep {
    @include mat.tabs-density(-4);

    mat-tab-header {
      position: sticky;
      top: 38px;
      z-index: 100;
    }

    .mat-mdc-tab-body-wrapper {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .mat-mdc-tab-body-content {
      padding: 20px;
    }

    .mdc-tab-indicator {
      --mat-tab-header-with-background-foreground-color: #{dt.$orange};
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;

  background-color: #f6f7f9;
  height: 100%;

  > .header {
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;

    color: white;

    background-color: dt.$blue;

    border-bottom: 1px solid gray;

    .back {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-shrink: 0;

      cursor: pointer;

      border-right: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      padding: 0 15px;

      height: 37px;

      span {
        display: flex;
        font-weight: 500;
        font-size: dt.font-size(body-1);
      }
    }

    .team-name {
      display: flex;
      gap: 1ch;

      margin: 0 auto;
      @include dt.typography-level(subtitle-1);

      span:last-child {
        font-style: italic;
        color: lightgray;
      }
    }
  }
}

.tab-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;

  gap: 30px;
}
