@use 'variables' as dt;
@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
}

.values-wrapper {
  overflow-y: auto;
}

.empty-placeholder {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: dt.font-size(caption);
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  padding: 4px 10px;

  &:not(:first-child) {
    border-top: 1px solid #dedede;
  }

  .value-input {
    flex: 1 0 100px;
    min-width: 150px;
    overflow: hidden;
  }

  .name-input {
    flex: 1 1 300px;
    min-width: 100px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    input {
      margin: 0;
      outline: none;
      width: 100%;

      &:not(:disabled) {
        &:focus,
        &:hover {
          padding-top: 2px;
          border-bottom: 2px solid dt.$orange;
        }
      }
    }
  }

  .button-wrapper {
    flex: none;
    width: 28px;
    overflow: hidden;

    @include mat.icon-button-density(-5);
  }
}

.row.header {
  padding: 10px;

  .value-input {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 1;

      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

.row.grouped + .row:not(.grouped) {
  margin-top: 24px;
  border-top: 1px solid dt.$blue;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;

  padding: 4px;

  button + button {
    margin-left: 4px;
  }
}

.row.header,
.buttons {
  background-color: #ebedee;
}

dt-bar-slider {
  display: block;
}

mat-spinner {
  margin: 16px auto;
}
