@switch (state) {
  @case ('ready') {
    <div class="row header">
      <div class="name-input"></div>
      <div class="value-input">
        <div i18n>weniger wichtig</div>
        <div i18n>besonders wichtig</div>
      </div>
      @if (allowEditing) {
        <div class="button-wrapper"></div>
      }
    </div>

    <mat-divider></mat-divider>

    <div class="values-wrapper">
      @for (value of decisionData.decisionStatement.values; track value; let i = $index) {
        <div class="row" [class.grouped]="i < groupSize">
          <div class="name-input" [matTooltip]="value.name" #tooltip="matTooltip" [dtOverflow] [dtOverflowTooltip]="tooltip">
            @if (allowEditing) {
              <input
                placeholder="Bezeichnung eingeben"
                type="text"
                title="Bezeichnung"
                [(ngModel)]="value.name"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="decisionDataState.isProjectReadonly"
                minlength="1"
                required
                i18n-placeholder
                i18n-title
                class="browser-default"
              />
            } @else {
              {{ value.name }}
            }
          </div>
          <div class="value-input">
            <dt-bar-slider
              [(value)]="value.val"
              [interval]="false"
              [vertical]="false"
              [disabled]="decisionDataState.isProjectReadonly"
              [disabledLook]="!groupSize || i > groupSize - 1"
              [width]="21"
            ></dt-bar-slider>
          </div>
          @if (allowEditing) {
            <div class="button-wrapper">
              <button
                mat-icon-button
                (click)="removeValue(i)"
                [disabled]="decisionDataState.isProjectReadonly"
                title="Wert entfernen"
                i18n-title
                ><mat-icon>delete</mat-icon></button
              >
            </div>
          }
        </div>
      }
    </div>
  }
  @case ('empty') {
    <div class="empty-placeholder" i18n>Keine Werte angelegt</div>
  }
  @case ('loading') {
    <mat-spinner></mat-spinner>
  }
}

@if (allowEditing) {
  <mat-divider></mat-divider>
  <div class="buttons">
    <button mat-raised-button color="accent" (click)="addValue()" [disabled]="isLoading || decisionDataState.isProjectReadonly"
      ><mat-icon>add</mat-icon><ng-container i18n>Wert hinzufügen</ng-container></button
    >
    <div>
      <button mat-raised-button color="accent-less" (click)="resetValues()" [disabled]="isLoading || decisionDataState.isProjectReadonly"
        ><mat-icon>clear</mat-icon><ng-container i18n>Werte zurücksetzen</ng-container></button
      >
      <button mat-raised-button color="accent" (click)="sortValues()" [disabled]="isLoading || decisionDataState.isProjectReadonly"
        ><mat-icon>sort</mat-icon><ng-container i18n>Werte ordnen</ng-container></button
      >
    </div>
  </div>
}
