<div class="popover">
  <div class="button-container">
    @if (drawnWeights.size > 0 || drawnCs.size > 0) {
      <button
        color="accent"
        class="arrow arrow-left"
        (click)="selectedTab = 'influence-factors'"
        [disabled]="selectedTab === 'influence-factors'"
        mat-button
        ><mat-icon>arrow_left</mat-icon></button
      >
    }
  </div>
  <div class="popover-content" [class.has-multiple-tabs]="drawnWeights.size > 0 || drawnCs.size > 0">
    <div class="tab" [class.hidden]="selectedTab !== 'influence-factors'">
      @if (relevantInfluenceFactors.length === 0) {
        <div class="no-scenarios-caption" i18n>Keine Einschränkungen auf bestimmte Szenarien möglich.</div>
      } @else {
        <table>
          <tr>
            <th i18n>Einflussfaktor bzw. Ziel/Indikator</th>
            <th i18n>W.-keit</th>
          </tr>
          @for (entry of relevantInfluenceFactors; track $index) {
            <tr>
              <td>
                {{ getName(entry) }}
                @if (isPredefinedKey(entry.key)) {
                  <div class="predefined-description">
                    {{ getPredefinedDescription(entry.key) }}
                  </div>
                }

                <ul class="dt-plain-list">
                  @for (stateName of getStateNames(entry); track $index) {
                    <li>{{ stateName }}</li>
                  }
                </ul>
              </td>
              <td class="percentage-cell">
                <span class="percentage-number">{{ entry.expected | percent }}</span>
                <span class="vertical-line"></span>
              </td>
            </tr>
          }
        </table>
      }
    </div>
    <div class="tab" [class.hidden]="selectedTab !== 'other-uncertainties'">
      <table>
        @if (drawnWeights.size > 0) {
          <tr class="header-row">
            <td i18n>Zielgewicht</td>
            <td i18n>Min</td>
            <td i18n>Max</td>
          </tr>
        }
        @for (drawnWeight of drawnWeights | keyvalue; track drawnWeight) {
          <tr class="second-page-rows">
            <td class="objective-name-cell" [title]="decisionData.objectives[drawnWeight.key].name">
              {{ decisionData.objectives[drawnWeight.key].name }}
            </td>
            <td>
              {{ drawnWeight.value.min | number: '1.0-2' }}
            </td>
            <td>
              {{ drawnWeight.value.max | number: '1.0-2' }}
            </td>
          </tr>
        }
        @if (drawnCs.size > 0) {
          <tr class="header-row">
            <td i18n>Parameter c</td>
            <td i18n>Min</td>
            <td i18n>Max</td>
          </tr>
        }
        @for (drawnC of drawnCs | keyvalue; track drawnC) {
          <tr class="second-page-rows">
            <td class="objective-name-cell" [title]="decisionData.objectives[drawnC.key].name">
              {{ decisionData.objectives[drawnC.key].name }}
            </td>
            <td>
              {{ drawnC.value.min | number: '1.0-2' }}
            </td>
            <td>
              {{ drawnC.value.max | number: '1.0-2' }}
            </td>
          </tr>
        }
      </table>
    </div>
  </div>
  <div class="button-container">
    @if (drawnWeights.size > 0 || drawnCs.size > 0) {
      <button
        color="accent"
        class="arrow arrow-right"
        (click)="selectedTab = 'other-uncertainties'"
        [disabled]="selectedTab === 'other-uncertainties'"
        mat-button
        ><mat-icon>arrow_right</mat-icon></button
      >
    }
  </div>
</div>
