@use '@angular/material' as mat;
@use 'variables' as dt;

.popover {
  $margin: 8px;

  @include mat.elevation(8);

  display: flex;

  background-color: white;
  border-radius: 5px;
  margin: $margin;

  max-width: calc(100vw - 2 * $margin);
  max-height: calc(100vh - 2 * $margin);
}

.popover-content {
  display: grid;
  overflow: auto;

  &.has-multiple-tabs {
    scrollbar-gutter: stable;
  }
}

.tab {
  grid-row: 1;
  grid-column: 1;

  &.hidden {
    visibility: hidden;
    overflow: hidden;
  }
}

.no-scenarios-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px 10px;
}

.arrow {
  min-width: 15px;
  height: 100%;

  mat-icon {
    margin: 0;
    transform: scale(1.5);
  }
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0px 16px;
}

th,
.header-row td {
  font-weight: bold;
  white-space: nowrap;
}

th,
td {
  padding: 0 8px;
  vertical-align: top;
}

.predefined-description {
  font-size: dt.font-size(caption);
  color: dt.$grey-foreground;
}

ul.dt-plain-list {
  margin-bottom: 0;
}

.objective-name-cell {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.percentage-cell {
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.percentage-number {
  background-color: white;
  position: relative;
  z-index: 10;
}

.vertical-line {
  border-left: 1px solid dt.$grey-foreground;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0;
}
