@use '@angular/material' as mat;
@use 'variables' as dt;

dt-inputbox {
  display: block;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 25px;
  color: black;

  .container-left {
    flex: 1 0 200px;
    min-width: 200px;
    margin: 5px 3px;

    .small-container {
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 7px;

      border: #3b4c5b 2px solid;
      border-radius: 5px;

      color: black;
      font-size: mat.m2-font-size(dt.$typography, body-1);

      background-color: lightgray;
    }
  }

  .container-right {
    flex: 3 1 300px;
    min-width: 250px;
  }

  .container-right.short-quill {
    quill-editor {
      height: 100px;
    }
  }
}

input.name {
  margin: 0;
}

quill-editor {
  height: 150px;
  min-height: 100%;
}

input::placeholder {
  color: black;
  opacity: 0.4;
}

.caption-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.control-wrapper {
  @include mat.icon-button-density(minimum);
}
