<dt-modal-content (closeClick)="close()" [showFooter]="!isAutoSaveProject || (autoSaveService.saveState$ | async) === 'error'">
  <ng-template #title i18n>Ungespeicherte Änderungen</ng-template>
  <ng-template #content>
    @if (isAutoSaveProject) {
      @if (mode !== 'close-project') {
        <div class="info-box">
          <mat-icon>info</mat-icon>
          @switch (mode) {
            @case ('change-language') {
              <div i18n>Beim Wechseln der Sprache gehen ungespeicherte Änderungen verloren.</div>
            }
            @case ('activate-update') {
              <div i18n>Durch das Aktivieren des Updates gehen ungespeicherte Änderungen verloren.</div>
            }
          }
        </div>
      }

      @switch (autoSaveService.saveState$ | async) {
        @case ('saving') {
          <div class="message-container">
            <mat-spinner [diameter]="36"></mat-spinner>
            <div i18n>Dein Projekt wird gerade gespeichert. Bitte warte einen Moment…</div>
          </div>
        }
        @case ('error') {
          <div class="message-container">
            <mat-icon>error</mat-icon>
            <div i18n
              >Das Speichern des Projektes ist fehlgeschlagen. Möchtest Du es trotzdem schließen? Ungespeicherte Änderungen gehen dabei
              verloren.</div
            >
          </div>
        }
      }
    } @else {
      @if (isOldProjectVersion) {
        <div class="info-box">
          <mat-icon>info</mat-icon>
          <div i18n
            >Du hast eine Sicherung geladen und Änderungen daran vorgenommen. Diese werden nicht gespeichert. Um die Änderungen zu
            übernehmen, speichere die Sicherung entweder als separates Projekt oder stelle sie über den Versionsverlauf wieder her.</div
          >
        </div>
      }
      <div class="message-container">
        <mat-icon>warning</mat-icon>
        @switch (mode) {
          @case ('close-project') {
            <div i18n
              >Dein Projekt enthält ungespeicherte Änderungen. Wenn Du das Projekt schließt, gehen diese Änderungen verloren. Bist Du
              sicher, dass Du das aktuelle Projekt schließen möchtest?</div
            >
          }
          @case ('change-language') {
            <div i18n
              >Durch das Ändern der Sprache wird Dein Projekt geschlossen und ungespeicherte Änderungen gehen verloren. Wir empfehlen, Dein
              Projekt vorher online zu speichern. Möchtest Du Dein Projekt schließen und die Sprache wechseln?</div
            >
          }
          @case ('activate-update') {
            <div i18n
              >Durch das Aktivieren des Updates wird Dein Projekt geschlossen und ungespeicherte Änderungen gehen verloren. Wir empfehlen
              Dein Projekt vorher online zu speichern. Möchtest Du Dein Projekt schließen und das Update aktivieren?</div
            >
          }
        }
      </div>
    }
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button color="warn" (click)="close(true)">
      @if (isAutoSaveProject) {
        <ng-container i18n>Ja, trotzdem schließen</ng-container>
      } @else {
        <ng-container i18n>Ja, Projekt schließen</ng-container>
      }
    </button>
    <button mat-raised-button color="accent-less" (click)="close()" i18n>Nein, abbrechen</button>
  </ng-template>
</dt-modal-content>
