@use 'variables' as dt;

mat-table {
  display: flex;
  flex-direction: column;

  * {
    white-space: nowrap;
  }

  .task-row {
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .state {
    font-weight: 500;
    @include dt.typography-level(body-2);
  }
}

.task-title-container {
  max-width: 100%;

  .task-subtitle {
    font-size: dt.font-size(caption);
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.grayed-out {
  opacity: 0.7;
}

mat-form-field {
  width: 100%;
}

.state {
  display: flex;
  flex-direction: column;

  span:nth-child(2) {
    @include dt.typography-level(caption);
    color: gray;
    line-height: 1;
  }
}
