:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
  flex-basis: 0;
}

dt-objective-hierarchy {
  border: 1px solid lightgray;

  align-self: center;
  min-width: min(100%, 1300px);
  max-width: 100%;

  flex: 1 0 0;
  min-height: 200px;
}
