@use 'variables' as dt;
@use '@angular/material' as mat;

.weights-scroll-container {
  overflow-x: auto;
  padding: 8px dt.$starter-padding;
  margin: -8px -#{dt.$starter-padding};
}

.weights-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.weight {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 200px;
  flex: none;
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;

  .grid-line {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed #c5c5c5;
  }
}

.objective-name {
  flex: 1 0 auto;
  background-color: dt.$objective;
  color: white;

  padding: 8px 16px;
  margin: 0 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 5px;
  @include mat.elevation(1);
}

.legend {
  color: gray;
  font-size: dt.font-size(caption);

  height: 150px;
  flex: none;
  padding: 0 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.right {
    align-items: flex-start;
  }

  &.left {
    align-items: flex-end;
  }

  .legend-item {
    height: 0;
  }

  .legend-label {
    transform: translateY(-50%);
  }
}

dt-starter-help-expansion-panel p {
  margin-bottom: 0;
}
