<dt-starter-heading heading="results"></dt-starter-heading>

<div class="weights-scroll-container">
  <div class="weights-container">
    <div class="legend left">
      @for (label of gridLabels; track label) {
        <div class="legend-item">
          <div class="legend-label">{{ label }}</div>
        </div>
      }
    </div>

    @for (objective of decisionData.objectives; track objective; let objectiveIndex = $index) {
      <div class="weight">
        <div class="slider-container">
          @for (lineIndex of gridLines; track lineIndex) {
            <div class="grid-line" [style.top.%]="(100 / (gridLines.length - 1)) * lineIndex"></div>
          }
          <dt-bar-slider
            [length]="150"
            [max]="maxWeight"
            [(value)]="visibleWeights[objectiveIndex]"
            (valueChange)="updateWeights()"
            data-cy="objective-weight-slider"
          ></dt-bar-slider>
        </div>
        <div class="objective-name">{{ objective.name }}</div>
      </div>
    }

    <div class="legend right">
      <div class="legend-item">
        <div class="legend-label" i18n>sehr wichtig</div>
      </div>
      <div class="legend-item">
        <div class="legend-label" i18n>gar nicht wichtig</div>
      </div>
    </div>
  </div>
</div>

<dt-starter-help-expansion-panel>
  <p i18n
    >Meistens kann man nicht in allen Zielen ein gutes Ergebnis erreichen. Dann ist es wichtig, sich über die unterschiedliche Wichtigkeit
    der einzelnen Ziele Gedanken zu machen. Versuche über die Balkenhöhe zum Ausdruck zu bringen, für wie wichtig Du die einzelnen Ziele
    ansiehst. Berücksichtige hierbei, dass sich die Wichtigkeit stets auf eine Bewertung des Unterschiedes zwischen der schlechtesten
    Ausprägung (Wert 0) und der besten Ausprägung (Wert 10) in dem jeweiligen Ziel beziehen muss.</p
  >
</dt-starter-help-expansion-panel>

<dt-starter-navigation-buttons step="results"></dt-starter-navigation-buttons>
