<img class="klug-logo" src="assets/klug-logo.jpg" />
<h1>Die Schulversion des <img class="dt-logo" src="assets/dt-logo.svg" /></h1>
<form [formGroup]="formGroup" (ngSubmit)="useToken()">
  <mat-form-field [appearance]="'fill'">
    <mat-label>Zugangstoken</mat-label>
    <input matInput formControlName="code" />
    @if (formGroup.controls.code.hasError('notFound')) {
      <mat-error> Unter diesem Token konnte kein Projekt gefunden werden </mat-error>
    }
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled">Weiter</button>
    <button mat-raised-button color="accent" (click)="useTestToken()" type="button">Ausprobieren</button>
  </div>
</form>
