<dt-modal-content (closeClick)="close()" [contentPadding]="false">
  <ng-template #title i18n>Konflikt bei Projektversionen erkannt</ng-template>
  <ng-template #content>
    <div class="content">
      <p i18n
        >Das Projekt in Deinem Entscheidungsnavi-Account wurde in der Zwischenzeit <b>verändert</b>. Möglicherweise wurde es an einem
        anderen Gerät bearbeitet.</p
      >
      <p i18n>Wie möchtest Du den Konflikt lösen?</p>
    </div>
    <mat-divider></mat-divider>
    <div class="options">
      <div class="option-entry" (click)="resolutionMode = 'take-local'" [class.active]="resolutionMode === 'take-local'" matRipple>
        <mat-radio-button [checked]="resolutionMode === 'take-local'"></mat-radio-button>
        <div>
          <div i18n><b>Lokal geladene Version behalten</b> (vom {{ data.localLoadTime | date: 'medium' }})</div>
          <div i18n
            >Du arbeitest mit der Projektversion in Deinem Browser weiter. Die Server-Version ist weiterhin über die Versionshistorie
            abrufbar.</div
          >
        </div>
      </div>
      <div class="option-entry" (click)="resolutionMode = 'take-online'" [class.active]="resolutionMode === 'take-online'" matRipple>
        <mat-radio-button [checked]="resolutionMode === 'take-online'"></mat-radio-button>
        <div>
          <div i18n><b>Server-Version behalten</b> (vom {{ data.onlineUpdateTime | date: 'medium' }})</div>
          <div i18n
            >Arbeite mit der Version aus Deinem Entscheidungsnavi-Account weiter. Die lokale Version wird als Datei exportiert und
            heruntergeladen, damit Du sie später gegebenenfalls wiederherstellen kannst.</div
          >
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button color="accent" [disabled]="resolutionMode == null" (click)="close(resolutionMode)" i18n>Fortfahren</button>
  </ng-template>
</dt-modal-content>
