.content {
  padding: 12px 24px 0;
}

.options {
  margin: 8px 0;
}

.option-entry {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: #e5e5e5;
  }
}
