@use 'variables' as dt;
@use '@angular/material' as mat;

:host .modal-content-structure {
  flex: 0 1 100vh;
}

:host ::ng-deep .mat-tab-header {
  background-color: #ffff;
  flex-shrink: 1;
  width: 100%;
}

.modal-content-structure {
  display: grid;
  grid-template-rows: 1fr 70px;
  grid-template-columns: 1fr;
  height: 100%;
}
.modal-content-structure-notAssigned {
  grid-template-rows: 1fr;
  height: 100%;
}
.header {
  flex: 1;
  background: #fff;
}

.list {
  position: relative;
  width: 100%;
  bottom: 160px;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 10px 5px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 235px);
  gap: 0;
  justify-content: center;
  align-content: start;

  .wrapper-orange {
    width: 225px;
    height: 50px;
    display: flex;
    align-items: center;

    color: dt.$blue;
    background-color: #ebedee;

    border: 2px solid dt.$orange;
    border-radius: 4px;

    input {
      margin: 4px;
    }
  }
}

.center-icon {
  justify-content: center;
  display: flex;
  gap: 5px;
}

.header-element {
  max-width: 20%;
  min-width: 20%;
  margin: 0;
  padding: 0;
  color: dt.$grey-foreground;
  &.dragging {
    border: 2px dashed dt.$orange;
    border-right: none;
    opacity: 0.7;
  }
  &.accept {
    background-color: rgba(248, 147, 31, 0.7);
  }
  &.add-right-border {
    border-right: 2px dashed dt.$orange;
  }
}

.header-element-wrapper {
  @extend .center;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}

.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
}

.add-button {
  height: 44px;
  width: 44px;
  margin: 3px;
  background-color: dt.$orange;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  @extend .center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect-box-frame {
  padding: 5px;
  width: 235px;
  height: 60px;
}

.new-box-frame {
  margin: 5px;
  display: flex;
}

.footer {
  position: sticky;
  height: 70px;
  bottom: 0;
  padding: 5px;
  background-color: white;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-element {
  @extend .center;
  height: 50px;
  width: min(225px, 18vw);
  margin: 2px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  .text {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-size: dt.font-size(button);
    font-weight: 500;
    -webkit-box-orient: vertical;
    text-align: center;
  }
  &.accept {
    background-color: rgba(248, 147, 31, 0.7);
  }
  &.dragging {
    opacity: 0.7;
    border: 2px dashed dt.$orange;
  }
}

.delete-element {
  @extend .center;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  margin: 2px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  &.accept {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px dashed red;
  }

  &.dragging {
    border: 2px dashed red;
  }
}

.mat-divider-style {
  position: sticky;
  top: 0;
}
