<div class="list-container" cdkDropList (cdkDropListDropped)="moveNotes($event)">
  @for (_ of noteArray; track i; let i = $index) {
    <div class="list-item" cdkDrag>
      <mat-icon class="drag-handle" cdkDragHandle [cdkDragHandleDisabled]="readonly">drag_handle</mat-icon>
      <input #noteInput (keydown.enter)="newRow(i + 1)" type="text" [readonly]="readonly" [(ngModel)]="noteArray[i]" />
      <button [disabled]="noteArray.length === 1 || readonly" (click)="removeNote(i)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
  <button mat-icon-button color="accent" (click)="newRow()" class="add-button" [disabled]="readonly">
    <mat-icon>add_box</mat-icon>
  </button>
</div>
