<dt-modal-content (closeClick)="close()" data-cy="delete-objective-modal">
  <ng-template #title i18n>Ziel löschen</ng-template>
  <ng-template #content>
    <p i18n
      >Diese Aktion löscht „{{ name }}“ als Fundamentalziel. Folgende mit dem Ziel verknüpfte Daten werden ebenfalls gelöscht und können
      <strong>nicht</strong> wiederhergestellt werden:</p
    >
    <dt-attached-objective-data [objectiveIndex]="data.objectiveIndex"></dt-attached-objective-data>
    @if (data.isHierarchy) {
      <p i18n>Manche dieser Daten werden auch beim Rückgängig machen der Aktion nicht wiederhergestellt.</p>
    }
    <p i18n>Bist Du sicher, diese Aktion ausführen zu wollen?</p>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button (click)="close(true)" data-cy="confirm-delete-button" color="warn" i18n>Ja, löschen</button>
    <button mat-raised-button color="accent-less" (click)="close()" i18n>Nein, abbrechen</button>
  </ng-template>
</dt-modal-content>
