@use 'variables' as dt;

:host {
  display: inline-block;
  --option-color: #{dt.$orange};
}

// Styles for the menu
.option-group {
  overflow: hidden;
  padding: 0;

  &.opened .option-group-header:not(.pseudo) {
    border-bottom: 1px solid #bebebe;
  }

  .option-group-header {
    display: flex;
    flex: 1;
    align-items: center;
    height: 41px;
    line-height: 1;
    font-size: dt.font-size(button);

    padding: 0 16px 0 4px;
    margin: 0;

    color: rgba(0, 0, 0, 0.6);
    background: #ebedee;
    user-select: none;
    cursor: pointer;

    mat-checkbox {
      margin-right: 16px;
    }

    .option-group-header-collapse-icon {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: auto;
      margin-right: -16px;
      padding: 0 16px 0 5px;
    }
  }

  .option {
    display: flex;
    align-items: center;

    mat-list-option {
      height: 48px;
    }

    .option-text {
      overflow: hidden;
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: dt.font-size(button);
    }
  }
}

::ng-deep div.dt-select-menu.mat-mdc-menu-panel {
  max-width: 350px;
  min-width: 250px;
  min-height: 0;

  .mat-mdc-menu-content {
    padding: 0;
  }
}

mat-selection-list.seperated:first-child {
  border-bottom: 2px solid dt.$blue-lighten-3;

  * {
    font-weight: 500;
  }
}

:host ::ng-deep mat-selection-list:not(:first-child) {
  .mat-mdc-subheader {
    border-top: 1px solid #bebebe;
  }
}

// Styles for the button itself
button.mat-mdc-raised-button {
  color: gray;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;

  .label {
    margin-right: 8px;
  }

  .selected {
    color: var(--option-color);
  }

  &:disabled {
    pointer-events: none;

    .selected {
      color: gray;
    }
  }

  & ::ng-deep .mdc-button__label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
  }
}

.grayed-out {
  opacity: 0.5;
}
