<mat-menu #optionsMenu [xPosition]="'before'" class="dt-select-menu">
  <div (click)="multiple && $event.stopPropagation()">
    @for (selectItem of groupsAndOptions; track selectItem) {
      @if (isOption(selectItem)) {
        <ng-template
          *ngTemplateOutlet="
            optionTemplate;
            context: {
              groupText: null,
              groupName: rootGroupName,
              options: [selectItem]
            }
          "
        >
        </ng-template>
      }
      @if (isGroup(selectItem)) {
        <ng-template
          *ngTemplateOutlet="
            optionTemplate;
            context: {
              groupText: selectItem.label.text,
              groupName: selectItem.value,
              options: selectItem.groupedOptions
            }
          "
        >
        </ng-template>
      }
    }

    <ng-template #optionTemplate let-options="options" let-groupName="groupName" let-groupText="groupText">
      <mat-selection-list
        class="option-group"
        hideSingleSelectionIndicator="true"
        [class.opened]="openedGroups.has(groupName)"
        [multiple]="multiple"
        [attr.data-cy]="'dt-select-' + textForSelected"
        [class.seperated]="seperateFirst"
      >
        @if (groupText) {
          <div mat-subheader class="option-group-header" (click)="toggleGroup(groupName)">
            <mat-checkbox
              [checked]="isGroupSelected(groupName)"
              [indeterminate]="isGroupIndeterminate(groupName)"
              [disableRipple]="true"
              (click)="$event.stopPropagation(); toggleGroup(groupName)"
            ></mat-checkbox>
            {{ groupText | uppercase }}
            <div class="option-group-header-collapse-icon" (click)="$event.stopPropagation(); toggleFoldingOfGroup(groupName)">
              <mat-icon>{{ openedGroups.has(groupName) ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
            </div>
          </div>
        }
        @if (openedGroups.has(groupName)) {
          @for (option of options; track option) {
            <div
              class="option"
              [matTooltip]="option.tooltipWhenDisabled"
              matTooltipPosition="left"
              [matTooltipDisabled]="option.tooltipWhenDisabled == null || !option.disabled"
            >
              @if (!option.showAsGroupLabel) {
                <mat-list-option
                  (click)="toggleOption($event, groupName, option)"
                  [disabled]="option.disabled"
                  [class.grayed-out]="option.grayedOutButNotDisabled"
                  [selected]="isOptionSelected(groupName, option.value)"
                  [checkboxPosition]="multiple ? 'before' : 'after'"
                >
                  @if (oneOptionHasIcon) {
                    <mat-icon matListIcon>{{ option.icon }}</mat-icon>
                  }
                  <span class="option-text">{{ option.text }}</span>
                </mat-list-option>
              }
              @if (option.showAsGroupLabel && groupName === rootGroupName) {
                <div class="option-group-header pseudo" mat-subheader (click)="toggleOption($event, groupName, option)">
                  <mat-checkbox
                    [disabled]="option.disabled"
                    [checked]="isOptionSelected(groupName, option.value)"
                    class="option-group-checkbox"
                  ></mat-checkbox>
                  {{ option.text | uppercase }}
                </div>
              }
            </div>
          }
        }
      </mat-selection-list>
    </ng-template>
  </div>
</mat-menu>

<button
  mat-raised-button
  [disabled]="disabled"
  [matMenuTriggerFor]="optionsMenu"
  (menuOpened)="selectionListOpened = true"
  (menuClosed)="selectionListOpened = false"
>
  @if (label) {
    <span class="label">{{ label.text }}:</span>
  }
  <span class="selected">{{ textForSelected }}</span>
  <mat-icon iconPositionEnd>{{ selectionListOpened ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
</button>
