<div class="content">
  @if (decisionData.objectives.length > 0 && decisionData.alternatives.length > 0) {
    <div class="table-wrapper" [class.mat-elevation-z8]="addShadow">
      <table>
        <!-- The table header (has two rows due to indicators) -->
        <thead>
          <tr>
            <th></th>
            <th></th>
            @for (objective of decisionData.objectives; track objective; let i = $index) {
              <th
                [attr.colspan]="
                  (data.isObjectiveExpanded[i] ? (objective.isIndicator ? objective.indicatorData.indicators.length + 2 : 2) : 1) +
                  (data.isAnyIfExpanded(i) ? 1 : 0)
                "
                class="objective-cell"
                (click)="data.isObjectiveExpanded[i] = !data.isObjectiveExpanded[i]"
              >
                <div class="cell-container">
                  @if (!data.isObjectiveExpanded[i]) {
                    <mat-icon>arrow_right</mat-icon>
                  }
                  @if (data.isObjectiveExpanded[i]) {
                    <mat-icon>arrow_drop_down</mat-icon>
                  }
                  <div class="alternative-objective-cell">
                    <span class="bold" i18n>Ziel {{ i + 1 }}</span>
                    <div>
                      <ng-container>
                        <span class="mat-caption">{{ objective.name }}</span>
                        <div class="single-line mat-caption" i18n
                          >(Gewicht {{ data.normalizedWeights[i] * 100 | safeNumber: '?' : '1.0-1' }}%)</div
                        >
                      </ng-container>
                    </div>
                  </div>
                </div>
              </th>
            }
          </tr>
          <tr>
            <th></th>
            <th class="bold" i18n>Gesamtnutzen</th>
            @for (objective of decisionData.objectives; track objective; let objIdx = $index) {
              @if (data.isAnyIfExpanded(objIdx)) {
                <th i18n>Einflussfaktor</th>
              }
              <!-- Show results only if expanded -->
              @if (data.isObjectiveExpanded[objIdx]) {
                @if (objective.isIndicator) {
                  <!-- One column per indicator for indicator objectives -->
                  @for (indicator of objective.indicatorData.indicators; track indicator; let i = $index) {
                    <th>
                      <span class="bold" i18n>Indikator {{ i + 1 }}</span>
                      <br />
                      <ng-container i18n
                        >{{ indicator.name }}<div class="single-line">(Gewicht {{ indicator.coefficient }})</div></ng-container
                      >
                    </th>
                  }
                  <!-- One column for the result -->
                  <th class="bold" i18n>Ergebnis</th>
                } @else {
                  @if (objective.isVerbal) {
                    <th class="bold" i18n>Verbaler Wert</th>
                  }
                  @if (objective.isNumerical) {
                    <th class="bold" i18n>Numerischer Wert</th>
                  }
                }
                <!-- Only one single value row for non-indicator objectives -->
              }
              <!-- One row for the utility -->
              <th class="bold" i18n>Nutzen</th>
            }
          </tr>
        </thead>
        <!-- The table body -->
        @for (altIdx of data.sortedAlternaticeIndices; track altIdx; let altNumber = $index) {
          <tr>
            <!-- Left-most column denotes the alternative -->
            <th
              class="alternative-name-container"
              [class.alternative-expandable]="data.isAlternativeExpandable[altNumber]"
              (click)="data.isAlternativeExpanded[altIdx] = !data.isAlternativeExpanded[altIdx]"
            >
              <div class="cell-container">
                @if (!data.isAlternativeExpanded[altIdx]) {
                  <mat-icon>arrow_right</mat-icon>
                }
                @if (data.isAlternativeExpanded[altIdx]) {
                  <mat-icon>arrow_drop_down</mat-icon>
                }
                <div class="alternative-objective-cell">
                  <span class="bold" i18n>Alternative {{ altNumber + 1 }}</span>
                  <div class="alternative-name">
                    <span class="mat-caption">{{ decisionData.alternatives[altIdx].name }}</span>
                  </div>
                </div>
              </div>
            </th>
            <!-- Total utility -->
            <td>{{ data.totalAlternativeUtilities[altIdx] | safeNumber: '?' : '1.4-4' }}</td>
            @for (objective of decisionData.objectives; track objective; let objIdx = $index) {
              @if (data.isAnyIfExpanded(objIdx)) {
                <td class="uf-cell">
                  @if (data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null) {
                    <div class="uf-name italic single-line"
                      >{{ decisionData.outcomes[altIdx][objIdx].influenceFactor | influenceFactorName }}:</div
                    >
                    @for (
                      state of data.influenceFactorStates.get(decisionData.outcomes[altIdx][objIdx].influenceFactor.id);
                      track state;
                      let stateIdx = $index
                    ) {
                      <div class="uf-state single-line"
                        >{{ decisionData.outcomes[altIdx][objIdx].influenceFactor | stateName: stateIdx }} ({{
                          state.probability | safeNumber: '?' : '1.0-1'
                        }}%)</div
                      >
                    }
                  }
                </td>
              }
              @if (data.isObjectiveExpanded[objIdx]) {
                <!-- Show the outcome value -->
                @if (objective.isNumerical) {
                  <td>
                    @if (data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null) {
                      <div class="uf-name single-line"></div>
                      @for (value of decisionData.outcomes[altIdx][objIdx].values; track value) {
                        <div class="single-line">{{ value[0][0] | safeNumber: '?' }} {{ objective.numericalData.unit }}</div>
                      }
                    } @else {
                      {{ data.minimalOutcomes[altIdx][objIdx][0] | safeNumber: '?' }}
                      @if (
                        decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                        data.minimalOutcomes[altIdx][objIdx][0] !== data.maximalOutcomes[altIdx][objIdx][0]
                      ) {
                        <ng-container i18n>bis</ng-container>
                        {{ data.maximalOutcomes[altIdx][objIdx][0] | safeNumber: '?' }}
                      }
                      {{ objective.numericalData.unit }}
                    }
                  </td>
                }
                @if (objective.isVerbal) {
                  <td>
                    @if (data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null) {
                      <div class="uf-name single-line"></div>
                      @for (state of decisionData.outcomes[altIdx][objIdx].values; track state) {
                        <div class="single-line">{{
                          decisionData.outcomes[altIdx][objIdx].values
                            | numberCast
                            | safeArrayIndex: objective.verbalData.options : '?' : -1
                        }}</div>
                      }
                    } @else {
                      {{ data.minimalOutcomes[altIdx][objIdx][0] | numberCast | safeArrayIndex: objective.verbalData.options : '?' : -1 }}
                      @if (
                        decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                        data.minimalOutcomes[altIdx][objIdx][0] !== data.maximalOutcomes[altIdx][objIdx][0]
                      ) {
                        <ng-container i18n>bis</ng-container>
                        {{ data.maximalOutcomes[altIdx][objIdx][0] | numberCast | safeArrayIndex: objective.verbalData.options : '?' : -1 }}
                      }
                    }
                  </td>
                }
                @if (objective.isIndicator) {
                  <!-- Get the values for each indicator -->
                  @for (indicator of objective.indicatorData.indicators; track indicator; let indIdx = $index) {
                    <td>
                      @if (data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null) {
                        <div class="uf-name single-line"></div>
                        @for (state of decisionData.outcomes[altIdx][objIdx].values; track state; let stateIdx = $index) {
                          <div class="single-line"
                            >{{ decisionData.outcomes[altIdx][objIdx].values[stateIdx][indIdx][0] | safeNumber: '?' }}
                            {{ indicator.unit }}</div
                          >
                        }
                      } @else {
                        {{ data.minimalOutcomes[altIdx][objIdx][indIdx] | safeNumber: '?' }}
                        @if (
                          decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                          data.minimalOutcomes[altIdx][objIdx][indIdx] !== data.maximalOutcomes[altIdx][objIdx][indIdx]
                        ) {
                          <ng-container i18n>bis</ng-container>
                          {{ data.maximalOutcomes[altIdx][objIdx][indIdx] | safeNumber: '?' }}
                        }
                        {{ indicator.unit }}
                      }
                    </td>
                  }
                  <!-- Get the result value -->
                  <td>
                    @if (data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null) {
                      <div class="uf-name single-line"></div>
                      @for (state of decisionData.outcomes[altIdx][objIdx].values; track state; let stateIdx = $index) {
                        <div class="single-line"
                          >{{ data.indicatorOutcomeResults[altIdx][objIdx][stateIdx] | safeNumber: '?' : '1.0-1'
                          }}{{ decisionData.objectives[objIdx].indicatorData.aggregatedUnit }}</div
                        >
                      }
                    } @else {
                      {{ data.indicatorMinimalResults[altIdx][objIdx] | safeNumber: '?' : '1.0-1' }}
                      @if (
                        decisionData.outcomes[altIdx][objIdx].influenceFactor != null &&
                        data.indicatorMinimalResults[altIdx][objIdx] !== data.indicatorMaximalResults[altIdx][objIdx]
                      ) {
                        <ng-container i18n>bis</ng-container>
                        {{ data.indicatorMaximalResults[altIdx][objIdx] | safeNumber: '?' : '1.0-1' }}
                      }
                      {{ decisionData.objectives[objIdx].indicatorData.aggregatedUnit }}
                    }
                  </td>
                }
              }
              <!-- Utility of that value -->
              <td>
                @if (data.isAlternativeExpanded[altIdx] && decisionData.outcomes[altIdx][objIdx].influenceFactor != null) {
                  <div class="uf-name single-line"><ng-container *ngTemplateOutlet="totalUtility"></ng-container></div>
                  @for (state of decisionData.outcomes[altIdx][objIdx].values; track state; let stateIdx = $index) {
                    <div class="single-line">{{ data.ifOutcomeUtilities[altIdx][objIdx][stateIdx] | safeNumber: '?' : '1.4-4' }}</div>
                  }
                } @else {
                  {{ data.totalOutcomeUtilities[altIdx][objIdx] | safeNumber: '?' : '1.4-4' }}
                }
                <ng-template #totalUtility>
                  {{ data.totalOutcomeUtilities[altIdx][objIdx] | safeNumber: '?' : '1.4-4' }}
                </ng-template>
              </td>
            }
          </tr>
        }
      </table>
    </div>
  } @else {
    <span i18n>Keine Daten vorhanden: Bitte schließe zuerst die Schritte eins bis drei des Entscheidungsnavi ab.</span>
  }
</div>
