<dt-modal-content [showFooter]="true" [contentPadding]="false" (closeClick)="tryClose()" [flexContent]="true">
  <ng-template #title>
    @if (isNew) {
      <ng-container i18n>Einflussfaktor hinzufügen</ng-container>
    } @else {
      <ng-container i18n>Einflussfaktor bearbeiten</ng-container>
    }
  </ng-template>
  <ng-template #subheader>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Name</mat-label>
      <input matInput type="text" [(ngModel)]="copy.name" i18n-placeholder placeholder="Einflussfaktor benennen" required />
    </mat-form-field>
  </ng-template>
  <ng-template #content>
    <div class="modal-content-wrapper" [class.max-height]="commentExpanded">
      <div class="state-list-wrapper" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="stateDrop($event)">
        @if (copy.states.elements.length === 0) {
          <div i18n>Keine Zustände definiert</div>
        }
        @for (zustand of copy.states.elements; track zustand; let i = $index) {
          <div cdkDrag cdkDragBoundary=".state-list-wrapper" class="state-row">
            <mat-icon class="state-drag-handle" cdkDragHandle>drag_handle</mat-icon>
            <mat-form-field subscriptSizing="dynamic" class="dt-slim name-input">
              <mat-label i18n>Zustand</mat-label>
              <input #stateInput matInput type="text" [(ngModel)]="zustand.name" minlength="1" required (keyup.enter)="enter(i)" />
            </mat-form-field>
            <dt-bar-slider
              [value]="premadePopoverProbabilities?.[i] ?? zustand.probability ?? 0"
              (valueChange)="zustand.probability = $event"
              [precision]="relativeAbweichung(zustand.probability, copy.precision)"
              [interval]="true"
              [vertical]="false"
              [width]="30"
            ></dt-bar-slider>
            <mat-form-field subscriptSizing="dynamic" class="dt-number-input dt-number-input-decimal probability-input">
              <dt-input-spinner
                (increase)="updateProbability(zustand, 1)"
                (decrease)="updateProbability(zustand, -1)"
                [plusDisabled]="zustand.probability === 100"
                [minusDisabled]="zustand.probability === 0"
              >
                <input
                  matInput
                  type="number"
                  [enableScroll]="true"
                  [ngModel]="premadePopoverProbabilities?.[i] ?? zustand.probability"
                  (ngModelChange)="zustand.probability = $event"
                  min="0"
                  max="100"
                  step="1"
                  required
                />
              </dt-input-spinner>
              <span matTextSuffix>%</span>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic" class="dt-slim description-input">
              <mat-label i18n>Kurze Beschreibung</mat-label>
              <input matInput type="text" [(ngModel)]="zustand.comment" />
            </mat-form-field>
            <div
              i18n-matTooltip
              matTooltip="Einflussfaktoren müssen mindestens 2 Zustände haben"
              [matTooltipDisabled]="copy.states.length > 2"
            >
              <button class="delete-button" mat-icon-button [disabled]="copy.states.length < 3" (click)="removeState(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        }

        <div class="state-edit-row">
          <button mat-button color="accent" (click)="addState()" i18n><mat-icon>add_box</mat-icon> Zustand hinzufügen</button>
          <button #premadeOpener mat-button color="accent" [disabled]="copy.states.length === 0" (click)="openPremadeOptions()" i18n>
            <mat-icon>bar_chart</mat-icon> Automatische Vorgabe</button
          >

          @if (!areProbabilitiesValid && copy.states.elements.length > 0) {
            <button [disabled]="!isValid" mat-raised-button color="accent" (click)="normalizeProbabilities()"
              ><mat-icon>error</mat-icon><ng-container i18n>Normieren</ng-container></button
            >
          } @else {
            <button mat-raised-button color="accent" [disabled]="true"
              ><mat-icon>done</mat-icon><ng-container i18n>Normiert</ng-container></button
            >
          }

          <mat-form-field subscriptSizing="dynamic" class="dt-number-input dt-number-input-decimal">
            <mat-label i18n>Präzisionsintervall</mat-label>
            <span matTextPrefix>±</span>
            <dt-input-spinner
              (increase)="adjustPrecision(1)"
              (decrease)="adjustPrecision(-1)"
              [plusDisabled]="copy.precision === pMax"
              [minusDisabled]="copy.precision === 0"
            >
              <input
                matInput
                type="number"
                step="1"
                min="0"
                [max]="pMax"
                [ngModel]="copy.precision"
                (ngModelChange)="changePrecision($event)"
                [enableScroll]="true"
                required
              />
            </dt-input-spinner>
            <span matTextSuffix>%</span>
          </mat-form-field>
        </div>
      </div>

      <div class="comment-title" (click)="commentExpanded = !commentExpanded" matRipple>
        <mat-icon [@expandCollapseIndicator]="commentExpanded">expand_more</mat-icon>
        <span i18n>Erläuterung</span>
        <dt-note-btn [(comment)]="copy.comment" [caption]="copy.name | noteBtnPreset: 'influenceFactor'"></dt-note-btn>
      </div>

      <div class="comment-editor-wrapper" [class.expanded]="commentExpanded">
        <div class="comment-editor">
          <quill-editor
            [(ngModel)]="copy.comment"
            format="json"
            bounds="self"
            theme="bubble"
            [modules]="{ toolbar: { container: [['bold', 'italic', 'underline', 'strike']] } }"
            placeholder="Beschreibung des Einflussfaktors"
            i18n-placeholder
          ></quill-editor>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <div class="footer-side">
      <button
        mat-raised-button
        color="accent-less"
        (click)="showConnections()"
        [disabled]="isNew || !isValid"
        i18n
        >{data?.usageCount ?? 0, plural, =1 {1 Verknüpfung} other {{{data?.usageCount}} Verknüpfungen}
      }</button>
    </div>

    <div class="footer-center">
      <button mat-raised-button color="accent" [disabled]="!isValid || !hasChanges" (click)="onSubmitClick()"
        ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
      >
      <button mat-raised-button color="accent-less" (click)="discard()" i18n>Verwerfen</button>
    </div>

    <div class="footer-side"></div>
  </ng-template>
</dt-modal-content>

<ng-template #premadePopoverTemplate>
  <div class="premade">
    <div i18n>Erwartungswert</div>
    <dt-range-input
      [(value)]="premadeMean"
      (valueChange)="calculatePopoverProbabilities()"
      [min]="-1"
      [max]="1"
      [step]="0.025"
      valuePosition="hide"
    ></dt-range-input>
    <div i18n>Streuung</div>
    <dt-range-input
      [(value)]="premadeStandardDeviation"
      (valueChange)="calculatePopoverProbabilities()"
      [min]="0"
      [max]="2"
      [step]="0.025"
      valuePosition="hide"
    ></dt-range-input>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="savePopoverProbabilities()"
        ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
      >
      <button mat-raised-button color="accent-less" (click)="premadePopover.close()" i18n>Verwerfen</button>
    </div>
  </div>
</ng-template>

<ng-template #confirmShowConnections let-dialogRef="dialogRef">
  <dt-modal-content [dialogRef]="dialogRef">
    <ng-template #title i18n>Speichern und Verknüpfungen anzeigen</ng-template>
    <ng-template #content>
      <p i18n>Möchtest Du Deine Änderungen speichern oder verwerfen, bevor Du zu den Verknüpfungen navigierst?</p>
      @if (!areProbabilitiesValid) {
        <p i18n>Dabei werden die Wahrscheinlichkeiten automatisch normiert.</p>
      }
    </ng-template>
    <ng-template #footer>
      <button mat-raised-button color="accent" (click)="dialogRef.close('save')">
        @if (areProbabilitiesValid) {
          <ng-container i18n>Speichern</ng-container>
        } @else {
          <ng-container i18n>Normieren und Speichern</ng-container>
        }
      </button>
      <button mat-raised-button color="accent-less" (click)="dialogRef.close('dismiss')" i18n>Verwerfen</button>
      <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Abbrechen</button>
    </ng-template>
  </dt-modal-content>
</ng-template>

<!-- TODO: Uncomment or delete in the future -->
<!--<ng-template #confirmModal let-dialogRef="dialogRef">-->
<!--  <dt-modal-content [showFooter]="true" (closeClick)="dialogRef.close(false)" [dialogRef]="dialogRef">-->
<!--    <ng-template #title i18n>Änderungen bestätigen</ng-template>-->
<!--    <ng-template #content>-->
<!--      <p i18n>Du hast die Struktur des Einflussfaktors geändert. Die „Cross Impacts“ der folgenden Szenarien werden zurückgesetzt:</p>-->
<!--      <ul class="scenarios-to-be-reset-list">-->
<!--        <li *ngFor="let scenario of scenariosToBeReset">{{ scenario.name }}</li>-->
<!--      </ul>-->
<!--      <p i18n>Willst Du die Änderungen wirklich übernehmen?</p>-->
<!--    </ng-template>-->
<!--    <ng-template #footer>-->
<!--      <button mat-raised-button color="accent" (click)="dialogRef.close(true)" i18n>Ja</button>-->
<!--      <button mat-raised-button color="accent-less" (click)="dialogRef.close(false)" i18n>Nein</button>-->
<!--    </ng-template>-->
<!--  </dt-modal-content>-->
<!--</ng-template>-->
