@use '@angular/material' as mat;
@use 'variables' as dt;

.content-container {
  display: flex;
  overflow: auto;

  position: relative;

  .drag-area {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    inset: 5px;

    border: 3px dashed dt.$orange;

    color: dt.$grey-foreground;
    background-color: rgba(255, 255, 255, 0.7);

    font-weight: bold;
    font-size: dt.font-size(headline-6);

    z-index: 100;
  }

  > div {
    flex: 1 0 0;
    min-width: 0;
  }

  .recently-edited {
    border-left: 1px solid dt.$blue-lighten-8;
    border-top: 1px solid dt.$blue-lighten-8;

    margin-left: -1px;
    margin-top: -1px;

    display: flex;
    flex-direction: column;

    .header {
      padding: 0.5rem 1.3rem;
      font-weight: 500;
      color: dt.$blue;

      background-color: rgba(0, 0, 0, 0.025);

      border-bottom: 1px solid dt.$blue-lighten-8;
    }

    dt-recently-edited-projects {
      flex: 1 1 0;
      min-height: 6rem;
      overflow-y: auto;
    }

    mat-spinner {
      margin: 8px auto;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;

    overflow: auto;

    .action {
      font-size: 16px;

      display: flex;
      align-items: center;

      flex-shrink: 0;

      padding: 13px 0 13px 10px;

      border-radius: 5px;

      cursor: pointer;

      &:not(.disabled) {
        @include mat.elevation(2);
      }

      mat-icon {
        margin-right: 10px;
        color: dt.$orange;
      }

      &.disabled {
        cursor: default;

        background-color: rgba(0, 0, 0, 0.1);

        mat-icon {
          color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  &.vertical {
    flex-direction: column;

    & > div {
      flex: 0 1 auto;
    }
  }
}

.project-file-input {
  display: none;
}

.description-popover {
  background-color: white;
  padding: 8px;
  margin: 0 8px;
  max-width: 300px;
}
