/*------------------------------*\
  #INPUTBOX
\*------------------------------*/
@use 'variables' as dt;
@use '@angular/material' as mat;

// experimental

/**
 * .inputbox-Containers contain form elements like text inputs or value controls
 */
.inputbox {
  display: flex;
  flex-flow: column;
  // color: rgba(0, 0, 0, 0.5);
  background-color: #ebedee; // rgba(dt.$blue, 0.1)
  border: 1px solid dt.$blue; // rgba(dt.$blue, 0.2)
  border-radius: 2px;
  overflow: visible;
  width: 100%;
  padding: 0;
  margin: 0;

  &.plain {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
  }

  /**
   * makes the .inputbox-Container invisible
   */
  &.invisible {
    background-color: rgba(dt.$blue, 0);
    border: 1px solid rgba(dt.$blue, 0);
  }

  &.margin {
    margin: 10px 0;
  }

  .line {
    .caption {
      margin-right: 10px;
      text-align: right;
    }

    .text {
      color: initial;
    }
  }

  .input-field {
    margin: 0;
    position: initial;
  }

  &.note-wrapper {
    .note-btn-wrapper .poly:not(.not-empty) {
      fill: #ffffff;
    }

    .header .control {
      margin-right: 20px;
    }
  }

  .header {
    display: flex;
    align-items: center; // or baseline
    justify-content: space-between;

    padding-left: 5px;

    border-bottom: 1px solid dt.$blue;
    background-color: dt.$blue;

    &.draggable {
      cursor: move;
    }

    &.locked-header {
      border-bottom: 1px solid #d3d3d3;
      background-color: #bebebe;
    }

    &.locked-inputbox {
      border: 1px solid #d3d3d3;
    }

    .caption {
      font-weight: bold;
      flex-grow: 1;
      display: flex;
      align-items: center;
      min-width: 0;
    }

    .control {
      display: flex;
      cursor: default;

      ::ng-deep {
        @include mat.icon-button-density(minimum);
      }
    }
  }

  .content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    overflow: hidden;

    &.collapsed {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
