<div
  [@deleteAnimation]="deleted"
  (@deleteAnimation.done)="finishDelete($event)"
  class="inputbox"
  [class.margin]="margin"
  [class.plain]="style === 'plain'"
  [class.locked-inputbox]="isLocked"
>
  <div
    [draggable]="draggable ? true : undefined"
    dragHandle
    class="header dt-dark-theme"
    [class.draggable]="draggable"
    [class.locked-header]="isLocked"
  >
    <div class="caption">
      <ng-content select=".caption-wrapper"></ng-content>
    </div>
    <div class="control">
      <ng-content select=".control-wrapper"></ng-content>
      @if (deleteButton) {
        <button mat-icon-button (click)="delete()" [disabled]="deleteDisabled || isLocked" data-cy="delete-button"
          ><mat-icon>delete</mat-icon></button
        >
      }
      @if (collapsibleButton && collapsed) {
        <button mat-icon-button (click)="onExpand()" data-cy="expand-button"><mat-icon>expand_more</mat-icon></button>
      }
      @if (collapsibleButton && !collapsed) {
        <button mat-icon-button (click)="onCollapse()"><mat-icon>expand_less</mat-icon></button>
      }
    </div>
  </div>

  <div #content [@collapseAnimation]="collapsed ? 'collapsed' : 'expanded'" class="content" [class.collapsed]="collapsed">
    <ng-content #contentWrapper select=".content-wrapper"></ng-content>
  </div>
</div>
<dt-modal #modalConfirmDelete [showFooter]="true">
  <ng-template i18n #title>Löschen bestätigen</ng-template>
  <ng-template #content>
    @if (confirmDeleteTemplate) {
      <ng-container *ngTemplateOutlet="confirmDeleteTemplate"></ng-container>
    } @else {
      <p i18n>Bist Du sicher, dass Du dieses Element löschen möchtest?</p>
    }
  </ng-template>
  <ng-template #footer>
    <ng-container>
      <button mat-raised-button (click)="confirmDelete()" color="warn" i18n data-cy="confirm-button">Ja, löschen</button>
      <button mat-raised-button color="accent-less" (click)="confirmDeleteModal.close()" i18n>Nein, abbrechen</button>
    </ng-container>
  </ng-template>
</dt-modal>
