<dt-utilityfunction-graph-verbal
  #graph
  [objective]="objective"
  [hasChanges]="hasChanges"
  [readonly]="readonly"
></dt-utilityfunction-graph-verbal>

<div class="bottom-container">
  @if (!objective.verbalData.hasCustomUtilityValues) {
    <mat-form-field subscriptSizing="dynamic" class="dt-number-input" floatLabel="always">
      <mat-label i18n>Krümmung</mat-label>
      <dt-input-spinner
        (increase)="adjustC(0.1)"
        (decrease)="adjustC(-0.1)"
        [plusDisabled]="objective.verbalData.c === cMax"
        [minusDisabled]="objective.verbalData.c === -cMax"
        [disabled]="readonly"
      >
        <input
          matInput
          type="number"
          step="0.1"
          [min]="-cMax"
          [max]="cMax"
          [ngModel]="objective.verbalData.c"
          (ngModelChange)="updateC($event)"
          [enableScroll]="true"
          [disabled]="readonly"
          required
        />
      </dt-input-spinner>
    </mat-form-field>
  } @else {
    <div
      class="unlock-button"
      matTooltip="Das Entsperren der Krümmung setzt ihre manuellen Nutzenwerte zurück"
      i18n-matTooltip
      (click)="!readonly && unlockC()"
    >
      <mat-icon>lock</mat-icon><ng-container i18n>Krümmung</ng-container>
    </div>
  }
  <mat-divider [vertical]="true"></mat-divider>
  <mat-form-field subscriptSizing="dynamic" class="dt-number-input">
    <mat-label i18n>Präzisionsintervall</mat-label>
    <span matTextPrefix>±</span>
    <dt-input-spinner
      (increase)="adjustPrecision(0.1)"
      (decrease)="adjustPrecision(-0.1)"
      [plusDisabled]="objective.verbalData.precision === pMax"
      [minusDisabled]="objective.verbalData.precision === 0"
      [disabled]="readonly"
    >
      <input
        matInput
        type="number"
        step="0.1"
        min="0"
        [max]="pMax"
        [ngModel]="objective.verbalData.precision"
        (ngModelChange)="updatePrecision($event)"
        [enableScroll]="true"
        [disabled]="readonly"
        required
      />
    </dt-input-spinner>
  </mat-form-field>
</div>
