<dt-extendable-header i18n-headerName headerName="Ergebnisseite" variation="large" [initialOpening]="context === undefined">
  <p i18n
    >Auf dieser Seite siehst Du im Balkendiagramm die vom Entscheidungsnavi ermittelte Rangfolge Deiner Alternativen. Die Zahlen in den
    Balken sind die Nutzenerwartungswerte Deiner Alternativen, die auf Basis Deiner Eingaben im Wirkungsmodell, Deiner Nutzenfunktionen und
    Deiner Zielgewichte berechnet wurden. Der dunkelblau eingefärbte Balken gehört immer zu der Alternative, die den höchsten
    Nutzenerwartungswert erhält.</p
  >
  <p i18n
    >Wenn Du Einflussfaktoren oder unpräzise Angaben in Deinem Modell hast, werden diese zur Ermittlung dieses Ergebnisses „gemittelt“. Im
    Falle von Einflussfaktoren bedeutet dies beispielsweise, dass für jede unsichere Wirkungsprognose mit einem Nutzenerwartungswert über
    alle Zustände des definierten Einflussfaktors gerechnet wird.</p
  >
  <p i18n
    >Die Alternativen sind standardmäßig nach der Reihenfolge der Nutzenerwartungswerte sortiert. Rechts über den Balken kannst Du diese
    Sortierung ändern und Dir die Reihenfolge nach Bauchgefühl anzeigen lassen, die Du am Ende des Schrittes „Alternativen“ angegeben hast.
    Rechts daneben kannst Du die Darstellungsart von „Einfach“ auf „Detailliert“ umstellen. In dieser Ansicht siehst Du, wie hoch die
    Nutzenwerte Deiner Alternativen in den einzelnen Zielen sind. Jedes Ziel erhält dabei eine eigene Farbe. Wenn Du auf die einzelnen
    farbigen Boxen klickst, kannst Du diese ein- und ausklappen, sodass Du Dir anschauen kannst, wie hoch die Nutzenerwartungswerte wären,
    wenn einzelne Ziele nicht berücksichtigt werden. Eine eventuell daraus entstehende Änderung in der Rangfolge der Alternativen wird Dir
    links neben dem Namen der Alternativen angezeigt.</p
  >
  <p i18n
    >Dir stehen nun mit der Sensitivitätsanalyse, der Pro und Contra Übersicht, dem Tornadodiagramm und dem Robustheitstest verschiedene
    Tools zur Verfügung, um das Ergebnis weiter zu analysieren und besser zu verstehen. Mithilfe des Buttons „Projekt abschließen“ gelangst
    Du in die Abschlussbetrachtung. Du kannst jedoch jederzeit zu Deinem Projekt zurückkehren, auch wenn Du den Button betätigt hast.</p
  >
</dt-extendable-header>

<dt-extendable-header
  i18n-headerName
  headerName="Sensitivitätsanalyse"
  variation="large"
  [initialOpening]="context === 'sensitivity-analysis'"
>
  <p i18n
    >Wie auf der Ergebnisseite siehst Du im Balkendiagramm oben die Rangfolge Deiner Alternativen nach Nutzenerwartungswerten. Darunter
    findest Du verschiedene im Laufe Deiner Arbeit eingestellte Parameter:</p
  >
  <ul>
    <li i18n>Deine Zielgewichte</li>
    <li i18n>Die Parameter c Deiner Nutzenfunktionen (numerische und Indikatorskalen)</li>
    <li i18n>Die Nutzenbewertungen aller Stufen Deiner verbalen Skalen (aus den Nutzenfunktionen)</li>
    <li i18n>Die eingestellten Wahrscheinlichkeiten der Zustände in Deinen Einflussfaktoren</li>
    <li i18n>Deine Parameter aus dem Wirkungsmodell</li>
  </ul>
  <br />
  <p i18n
    >Mithilfe der Schieberegler kannst Du alle Parameter verstellen und schauen, wie sich das Ergebnis mit den neu eingestellten Parametern
    ändern würde. Die Balken im Diagramm ändern sich bei Veränderungen der Parameter automatisch mit und Änderungen in der Rangfolge der
    Alternativen werden Dir links neben den Namen der Alternativen angezeigt. Die etwas dunkleren Bereiche auf den Schiebereglern stellen
    die von Dir angegebenen Präzisionsintervalle dar. Deine Umstellungen werden nicht gespeichert, sodass Du ohne Bedenken alle Parameter
    verändern kannst. Um Deine Änderungen rückgängig zu machen, findest Du oben rechts in jeder Box einen Button, um die Parameter
    zurückzusetzen (<mat-icon>refresh</mat-icon>). Mit dem Pfeil rechts daneben kannst Du die Boxen einzeln einklappen
    (<mat-icon>expand_less</mat-icon>). Unten in der Navigationsleiste findest Du den Button „Parameter zurücksetzen“, um alle Einstellungen
    gleichzeitig wieder zurückzusetzen.</p
  >
  <p i18n
    >Über dem Balkendiagramm kannst Du in den Auswahlmenüs „Parameter“ und „Alternativen“ einstellen, welche Parameter bzw. Alternativen Dir
    angezeigt werden sollen. Standardmäßig sind alle variierbaren Parameter eingestellt. Beachte, dass Du mindestens eine Alternative
    ausgewählt lassen musst.</p
  >
  <p i18n
    >In dem Auswahlmenü ganz rechts kannst Du die Darstellungsart von „Einfach“ auf „Detailliert“ umstellen. In dieser Ansicht siehst Du,
    wie hoch die Nutzenwerte Deiner Alternativen in den einzelnen Zielen sind. Jedes Ziel erhält dabei eine eigene Farbe.</p
  >
  <p i18n>Mithilfe des „Zurück“ Buttons unten in der Navigationsleiste gelangst Du zurück zur Übersichtsseite.</p>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Pros und Contras" variation="large" [initialOpening]="context === 'pro-contra'">
  <p i18n
    >Dir stehen zwei Ansichtsoptionen zur Auswahl: Ein Netzdiagramm mit einer absoluten und ein Balkendiagramm mit einer relativen
    Darstellung.</p
  >
  <p i18n
    >Die absolute Darstellung kann nur aufgerufen werden, wenn mindestens drei Ziele definiert sind. Hier wird für jede Alternative
    dargestellt, welche Nutzenwerte in den einzelnen Zielen erreicht werden. Die Angaben aus dem Wirkungsmodell sind also in Nutzenwerte
    überführt dargestellt (ohne die Zielgewichte zu berücksichtigen). Markierungen am äußeren Rand stehen für den besten erreichbaren Wert
    in der Zielskala, d.&nbsp;h. einen Nutzenwert von 1. Entsprechend gilt ein Nutzenwert von 0 für den schlechtesten Wert der Zielskala am
    Rande des inneren Vielecks. Oben rechts kannst Du auswählen, welche Alternativen Dir angezeigt werden sollen.</p
  >
  <p i18n
    >Die relative Darstellung ist ein Balkendiagramm. Dieses veranschaulicht für jedes Ziel die Vor- und Nachteile relativ zum Durchschnitt
    der jeweils ausgewählten Alternativen. Die grünen (roten) Balken stellen relative Vorteile (Nachteile) gegenüber den anderen
    Alternativen in dem jeweiligen Ziel dar. Die Balkenhöhen stellen berechnete Nutzenunterschiede dar. Da in der Berechnung dieser
    Nutzenunterschiede auch die Zielgewichte berücksichtigt werden, fallen die Balken bei wichtigeren Zielen tendenziell größer aus.</p
  >
  <p i18n
    >Über dem Diagramm kannst Du die standardmäßige Beschriftung in Form von Zielausprägungen hin zu Nutzenunterschieden zum Durchschnitt
    der ausgewählten Alternativen umstellen. Zudem kannst Du auswählen, welche Alternativen Dir angezeigt werden sollen. Beachte, dass Du
    mindestens eine Alternative ausgewählt lassen musst.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Robustheitstest" variation="large" [initialOpening]="context === 'robustness-check'">
  <p i18n
    >Den Robustheitstest kannst Du nur dann durchführen, wenn Du Einflussfaktoren verwendet oder mindestens eine Angabe mit einem
    Präzisionsintervall versehen hast.</p
  >
  <p i18n
    >Der Robustheitstest startet automatisch, sobald er aufgerufen wird. Standardmäßig werden zunächst neben den drei bestplatzierten
    Alternativen alle im Projekt vorhandenen Einflussfaktoren (systemseitige und benutzerdefinierte) sowie nicht präzise angegebenen
    Parameter automatisch in die Berechnung mit einbezogen. Der Robustheitstest stoppt automatisch, wenn ein „stabiles Ergebnis“ erreicht
    wurde. Damit ist gemeint, dass nicht mehr zu erwarten ist, dass sich das ermittelte Ergebnis bei weiteren Simulationsläufen noch ändern
    wird. Wenn Du die Berechnung mit anderen Parametern neu starten möchtest, kannst Du die gewünschten Parameter einfach anklicken bzw. die
    nicht gewünschten abwählen und eine neue Berechnung über den entsprechenden Button starten. Beachte, dass Du benutzerdefinierte
    Einflussfaktoren einzeln in die Simulation einbeziehen kannst, aber bei systemseitigen Einflussfaktoren nur alle oder gar keine. Neu
    hinzugefügte bzw. entfernte Parameter werden kursiv hervorgehoben.</p
  >
  <p i18n
    >Im Balkendiagramm siehst Du anhand der Prozentangaben, wie häufig eine Alternative auf den jeweiligen Rangpositionen gelandet ist. Der
    Ø-Rang berechnet auf dieser Basis die durchschnittliche Rangposition jeder Alternative nach allen Simulationen. Rechts neben dem
    Balkendiagramm siehst Du, welche minimalen und maximalen Nutzenwerte die Alternativen in der Simulation erreicht haben.</p
  >
  <p i18n
    >Wurden in der Simulation benutzerdefinierte Einflussfaktoren berücksichtigt, so wird durch das Bewegen des Mauszeigers auf eine
    Rangposition jeweils dargestellt, welche Zustände der Einflussfaktoren zu dieser Rangposition geführt haben. Hierbei werden
    grundsätzlich aber nur die Zustände bzw. Zustandskombinationen benannt, die bei jedem Simulationsschritt hinter dieser Rangpositionen
    vorgelegen haben. Wahrscheinlichere Szenarien werden grundsätzlich häufiger gezogen als weniger wahrscheinliche.</p
  >
  <p i18n
    >Die Berechnung der Nutzenwerte beim Robustheitstest unterscheidet sich von der Berechnung der Nutzenerwartungswerte im Ergebnisschritt
    der Evaluation. Nähere Informationen dazu findest Du in den weiteren Hinweisen.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Risikovergleich" variation="large" [initialOpening]="context === 'risk-comparison'">
  <p i18n
    >Im Diagramm kannst Du Dir anschauen, mit welchen Wahrscheinlichkeiten die Nutzenwerte der einzelnen Alternativen bestimmte Werte
    überschreiten. Standardmäßig werden alle Alternativen im Diagramm dargestellt, Du kannst über eine Option rechts über dem Diagramm
    einzelne Alternativen abwählen. Wenn Du in der Legende mit der Maus über die Namen der einzelnen Alternativen fährst, wird der
    dazugehörige Graph im Diagramm hervorgehoben.</p
  >
  <p i18n
    >Beim Aufruf des Risikovergleichs startet die Berechnung automatisch. Diese stoppt im Normalfall nach wenigen Sekunden, wenn ein
    stabiles Ergebnis erreicht wurde (frühestens nach der Mindestberechnungszeit von zwei Sekunden). Dabei handelt es sich um ein Ergebnis,
    bei dem bei weiteren Simulationsläufen nicht mehr zu erwarten ist, dass sich das Ergebnis noch stark verändern wird. Bei Bedarf kann die
    Berechnung jedoch über den entsprechenden Button fortgesetzt werden.</p
  >
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  headerName="Zielgewichtsanalyse"
  variation="large"
  [initialOpening]="context === 'objective-weights-analysis'"
>
  <p i18n
    >Die Zielgewichtsanalyse startet automatisch beim Aufruf. In der Simulation werden algorithmisch in jedem Berechnungsschritt andere
    Zielgewichtskombinationen gewählt und die daraus resultierende Rangfolge der Alternativen ermittelt. Die Berechnung stoppt automatisch,
    wenn ein „stabiles Ergebnis“ erreicht wurde.</p
  >
  <p i18n
    >Am linken Rand siehst Du, wie oft eine Alternative über alle Simulationsläufe hinweg auf dem ersten Platz gelandet ist. Standardmäßig
    stehen die Alternativen oben, die am häufigsten den ersten Platz erreicht haben. Im Balkendiagramm in der Mitte siehst Du die
    durchschnittlichen Zielgewichte aus der gesamten Simulation, bei welchen die Alternativen auf dem ersten Platz gelandet sind. Diese
    Durchschnittswerte summieren sich zu 100&nbsp;%. Es gibt auch eine detailliertere Darstellung („Verteilung“), welche Du über das
    Drop-Down rechts oberhalb des Diagramms aufrufen kannst. In den abgebildeten Boxplots siehst Du zusätzlich auch die Mediane, die
    maximalen bzw. minimalen Werte sowie die p.10- und p.90-Quantile der gezogenen Zielgewichte, bei denen die entsprechende Alternative auf
    dem ersten Platz gelandet ist
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover1"
      >(Beispiel)</span
    >. Die Quantile kannst Du in dieser Ansicht auch auf die p.25- und p-75-Quantile ändern.</p
  >
  <p i18n
    >Weiterhin kannst Du oberhalb des Balkendiagramms auswählen, welche Alternativen angezeigt werden sollen. Zudem kannst Du die Sortierung
    auf Dein Bauchgefühl aus dem dritten Schritt ändern. Mit dem Button ganz rechts kannst Du eine größere Darstellung des gesamten
    Diagramms wählen. Standardmäßig ist eine kompakte Darstellung eingestellt.</p
  >
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  headerName="Kosten-Nutzen-Analyse"
  variation="large"
  [initialOpening]="context === 'cost-utility-analysis'"
>
  <p i18n
    >Im Diagramm siehst Du auf der x-Achse Dein „Kostenziel“, auf der y-Achse werden die Nutzenwerte aus allen anderen Zielen in
    aggregierter Form in Prozent dargestellt. Weiterhin werden fünf Indifferenzkurven angezeigt, die jeweils Nutzenerwartungswerte von 10,
    30, 50, 70 und 90 anzeigen. Deine Handlungsalternativen werden als rote Punkte dargestellt. Wenn Du mit der Maus über die Punkte fährst,
    wird Dir die Indifferenzkurve angezeigt, die durch diese Alternative geht. Alle Punkte auf der Indifferenzkurve haben denselben
    Nutzenerwartungswert.</p
  >
  <p i18n
    >Über dem Diagramm kannst Du ein anderes Kostenziel auswählen, das entweder numerisch ist oder mit einer Indikatorskalen gemessen wird.
    Über den Button rechts daneben kannst Du die Alternativen auswählen, die im Diagramm dargestellt werden. Mit dem
    <mat-icon>abc</mat-icon>-Button kannst Du die Beschriftung der Alternativen im Diagramm anzeigen oder ausblenden.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Tornadodiagramm" variation="large" [initialOpening]="context === 'tornado-diagram'">
  <p i18n
    >In dem Tornadodiagramm ist ersichtlich, wie sich die Unsicherheiten aus den definierten Einflussfaktoren auf die Bewertung der
    Alternativen auswirken.</p
  >
  <p i18n
    >Wenn Du keine Alternative zum Vergleich ausgewählt hast, siehst Du für jede relevante Unsicherheit, welche Nutzenbewertungen sich in
    Abhängigkeit der möglichen Zustände dieser Unsicherheit ergeben. Es handelt sich somit um bedingte Nutzenerwartungswerte. Für den Fall,
    dass in einem Ziel ein Einflussfaktor zusammen mit einer Indikatorskala verwendet wurde, kannst Du links das Ziel aufklappen und Dir die
    isolierten Auswirkungen in jedem einzelnen Indikator anzeigen lassen. Wenn Du oben rechts eine Vergleichsalternative auswählst, ist in
    dem dann aufgezeigten Vergleich der beiden Alternativen ersichtlich, welche Unsicherheiten sich am stärksten auf die relative
    Vorteilhaftigkeit im Vergleich auswirken. Werden farbige Rechtecke links angezeigt, so kennzeichnen diese, auf welche Alternative sich
    die jeweils benannte Unsicherheit bezieht.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Bestimmung der Entscheidungsqualität" variation="large">
  <p i18n
    >Wenn Du mit der Analyse Deines Ergebnisses zufrieden bist, solltest Du eine Selbsteinschätzung vornehmen, wie logisch Du das
    Zustandekommen Deines Ergebnisses begründen kannst. Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das
    sich öffnet, wird Dir ein Balken mit einer Skala von null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von
    diesem an, wie gut Du das Zustandekommen Deines Ergebnisses begründen kannst. Weitere Hintergrundinformationen zur Entscheidungsqualität
    findest Du zum Schluss in der Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den
    anderen Schritten eingeschätzt hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben
    in der Kopfleiste dieser Seite öffnet.</p
  >
</dt-extendable-header>

<ng-template #noteHover1>
  <dt-note-hover>
    <p i18n
      >Angenommen für eine Alternative ist bei einem Ziel A im Boxplot ein maximales Zielgewicht von 80&nbsp;% angegeben. Dies bedeutet,
      dass es keine Konstellationen gab, in denen die Alternative auf dem ersten Platz lag und das Zielgewicht für Ziel A größer als
      80&nbsp;% war. Die Argumentation bei den minimalen Werten ist analog.</p
    >
  </dt-note-hover>
</ng-template>
