<svg:g>
  <defs>
    <radialGradient [id]="gradientId">
      <stop stop-color="black" stop-opacity="1" offset="0%" />
      <stop stop-color="black" stop-opacity="0.3" offset="66%" />
      <stop stop-color="black" stop-opacity="0" offset="100%" />
    </radialGradient>
  </defs>

  <xhtml:ng-template #defaultTooltipTemplate let-model="model">
    <xhtml:div class="area-tooltip-container">
      <xhtml:div class="tooltip-item">
        {{ model.value }}
      </xhtml:div>
    </xhtml:div>
  </xhtml:ng-template>

  @for (circle of circles; track circleTrackBy($index, circle)) {
    <svg:g (mouseover)="mouseOver(circle)" (mouseleave)="mouseLeave()">
      <!-- Shadow of the circle -->
      <svg:g
        dt-charts-circle
        class="no-pointer"
        [visible]="highlightedXValues.includes(circle.name) || circle === hoveredCircle"
        [cx]="circle.cx"
        [cy]="circle.cy"
        [r]="1.5 * radius"
        [fill]="gradientUrl"
        [animations]="animations"
      />
      <!-- The actual circle -->
      <svg:g
        dt-charts-circle
        [visible]="visibleXValues == null || visibleXValues.includes(circle.name) || circle === hoveredCircle"
        [cx]="circle.cx"
        [cy]="circle.cy"
        [r]="radius"
        [fill]="circle.color"
        [animations]="animations"
        ngx-tooltip
        [tooltipDisabled]="tooltipDisabled"
        [tooltipPlacement]="$any('right')"
        [tooltipType]="StyleTypes.tooltip"
        [tooltipSpacing]="15"
        [tooltipTemplate]="tooltipTemplate != null ? tooltipTemplate : defaultTooltipTemplate"
        [tooltipContext]="circle"
        [tooltipImmediateExit]="true"
      />
      <!-- The text next to the circle -->
      <svg:g
        dt-charts-text
        class="no-pointer"
        baseline="middle"
        [visible]="circle.showText"
        [color]="circle.textColor"
        [anchor]="circle.textPosition === 'left' ? 'end' : 'start'"
        [x]="circle.cx + (circle.textPosition === 'left' ? -radius - 5 : radius + 5)"
        [y]="circle.cy"
        [text]="circle.text"
        [animations]="animations"
      />
    </svg:g>
  }
</svg:g>
