:host {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.cp-filters-form {
  align-items: center;
  gap: 10px;

  .search-query {
    flex: 1 0 auto;
    max-width: 500px;
  }

  .filler {
    flex: 1;
  }

  dt-tag-input {
    flex: 0 1 400px;
    min-width: 200px;
  }
}
