<div class="value-container">
  <div class="value-box" [class.wrong-value]="valueModel.touched && !isValueValid">
    <input
      #valueModel="ngModel"
      type="number"
      inputmode="numeric"
      [class.grayed-out]="grayedOutText"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit(value)"
    />
    @if (unit != null) {
      <span
        class="info-box"
        [matTooltip]="unit + ' von ' + from + ' bis ' + to"
        #tooltip="matTooltip"
        [dtOverflow]
        [dtOverflowTooltip]="tooltip"
      >
        {{ unit }} <span i18n>von</span> {{ from }} <span i18n>bis</span> {{ to }}
      </span>
    }
  </div>
  @if (valueModel.touched && !isValueValid) {
    <div class="error-text" i18n>Wert muss zwischen {{ from }} und {{ to }} sein.</div>
  }
</div>
