@use '@angular/material' as mat;

:host {
  @include mat.elevation(8);

  display: block;
  background-color: white;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  text-align: center;
}

dt-select {
  display: block;
  margin-bottom: 16px;
}

.title-text {
  text-align: left;
  margin-bottom: 16px;
}

.error-message {
  text-align: left;
  font-size: 13px;
  margin-bottom: 16px;
  color: red;
}

.warning-message {
  text-align: left;
  font-size: 13px;

  ul {
    list-style-type: disc;
    margin-left: 50px;
  }
}
