<div class="title-text" i18n
  >Erstelle einen neuen kombinierten Einflussfaktor auf Basis von zwei benutzerdefinierten (kombinierten) Einflussfaktoren.</div
>
<div>
  <dt-select [(selectedOptions)]="firstBaseFactor">
    <dt-select-label i18n>Erster Einflussfaktor (Zeile)</dt-select-label>
    @for (iF of availableInfluenceFactor; track iF) {
      <dt-select-option [grayedOutButNotDisabled]="!canCombineInScenario(iF, secondBaseFactor)" [value]="iF">{{
        iF.name
      }}</dt-select-option>
    }
  </dt-select>
</div>
<div>
  <dt-select [(selectedOptions)]="secondBaseFactor">
    <dt-select-label i18n>Zweiter Einflussfaktor (Spalte)</dt-select-label>
    @for (iF of availableInfluenceFactor; track iF) {
      <dt-select-option [grayedOutButNotDisabled]="!canCombineInScenario(iF, firstBaseFactor)" [value]="iF">{{ iF.name }}</dt-select-option>
    }
  </dt-select>
</div>
@if (!isValid) {
  <div class="error-message" i18n
    >Es können nur Einflussfaktoren zu kombinierten Einflussfaktoren kombiniert werden, wenn diese nicht bereits direkt oder indirekt durch
    andere kombinierte Einflussfaktoren in Relation gesetzt wurden.</div
  >
}

<button
  mat-raised-button
  color="accent"
  (click)="save()"
  [disabled]="!isValid"
  matTooltip="Es müssen unterschiedliche Einflussfaktoren für Zeilen und Spalten ausgewählt werden"
  i18n-matTooltip
  [matTooltipDisabled]="isValid"
  ><mat-icon>save</mat-icon><ng-container i18n>Erstellen</ng-container></button
>
