<dt-step-title [showStepNumber]="false" i18n>Sinnvolles Zusammenfassen</dt-step-title>

<dt-step-description>
  <ng-template #description i18n
    >Fasse Deine Alternativen sinnvoll zusammen, damit alle betrachteten Alternativen auf demselben Level sind.</ng-template
  >
  <ng-template #subDescription i18n
    >Du kannst sehr ähnliche Alternativen zusammenfassen, um später Aufwand und Zeit zu sparen. Weiterhin solltest Du schauen, dass die
    Alternativen sich gegenseitig ausschließen.</ng-template
  >
</dt-step-description>

<dt-alternative-list [pageKey]="pageKey" [collapsedByDefault]="true"></dt-alternative-list>
