<dt-modal-content (closeClick)="dialogRef.close()">
  <ng-template i18n #title>Shortcuts für die Zielhierarchie</ng-template>
  <ng-template #content>
    <div class="tables-container">
      <div class="shortcuts-table">
        <p i18n class="row-line">Funktion</p>
        <p i18n class="column-line row-line">Icon</p>
        <p i18n class="row-line">Shortcut</p>

        <p i18n>Ansicht zurücksetzen</p>
        <div class="column-line">
          <mat-icon>center_focus_weak</mat-icon>
        </div>
        <div></div>
        <p i18n>Vollbildmodus</p>
        <div class="column-line">
          <mat-icon>fullscreen</mat-icon>
        </div>
        <div></div>
        <p i18n>Rückgängig machen/Wiederherstellen</p>
        <div class="column-line">
          <mat-icon>undo</mat-icon>
          <mat-icon>redo</mat-icon>
        </div>
        <p><kbd i18n>Strg</kbd> + <kbd>Z</kbd> / <kbd>Y</kbd></p>
        <p i18n>Vergrößern/Verkleinern</p>
        <div class="column-line">
          <mat-icon>zoom_in</mat-icon>
          <mat-icon>zoom_out</mat-icon>
        </div>
        <p><kbd i18n>Strg</kbd> + <span i18n>Mausrad</span></p>
        <p i18n>Bildexport</p>
        <div class="column-line">
          <mat-icon>photo</mat-icon>
        </div>
      </div>
      <p i18n>Die folgenden Aktionen funktionieren nur, wenn Du einen Aspekt in der Zielhierarchie ausgewählt bzw. markiert hast:</p>
      <div class="shortcuts-table">
        <p i18n class="row-line">Funktion</p>
        <p i18n class="column-line row-line">Icon</p>
        <p i18n class="row-line">Shortcut</p>

        <p i18n>Einfärben</p>
        <div class="column-line">
          <mat-icon>brush</mat-icon>
          <mat-icon>format_color_text</mat-icon>
        </div>
        <div></div>

        <p i18n>Formatierung löschen</p>
        <div class="column-line">
          <mat-icon>format_clear</mat-icon>
        </div>
        <div></div>

        <p i18n>Ziel rechts einfügen</p>
        <div class="column-line"></div>
        @if (!isMacOS) {
          <p><kbd i18n>Einf</kbd></p>
        }
        @if (isMacOS) {
          <p><kbd i18n>Strg</kbd> + <kbd>V</kbd></p>
        }

        <p i18n>Ziel darüber/darunter einfügen</p>
        <div class="column-line"></div>
        <p><kbd i18n>Shift</kbd> + <kbd i18n>Enter</kbd> / <kbd i18n>Enter</kbd></p>

        <p i18n>Baum aus-/einklappen</p>
        <div class="column-line">
          <mat-icon>expand_content</mat-icon>
          <mat-icon>collapse_content</mat-icon>
        </div>
        @if (!isMacOS) {
          <p><kbd i18n>Strg</kbd> + <kbd>→</kbd> / <kbd>←</kbd></p>
        }
        @if (isMacOS) {
          <p><kbd i18n>Strg</kbd> + <kbd i18n>Shift</kbd> + <kbd>→</kbd> / <kbd>←</kbd></p>
        }

        <p i18n>Ziele gruppieren</p>
        <div class="column-line">
          <mat-icon>group_work</mat-icon>
        </div>
        <p><kbd i18n>Pos1</kbd>/<kbd i18n>Home</kbd></p>

        <p i18n>Ziele löschen</p>
        <div class="column-line">
          <mat-icon>delete</mat-icon>
        </div>
        <p><kbd i18n>Entf</kbd></p>

        <p i18n>Markiertes Ziel bearbeiten</p>
        <div class="column-line"></div>
        <p><kbd i18n>Leertaste</kbd> / <kbd>F2</kbd></p>

        <p i18n>Bearbeitungsmodus verlassen</p>
        <div class="column-line"></div>
        <p><kbd i18n>Esc</kbd>/<kbd i18n>Enter</kbd></p>

        <p i18n>Ziele kopieren</p>
        <div class="column-line">
          <mat-icon>content_copy</mat-icon>
        </div>
        <p><kbd i18n>Strg</kbd> + <kbd>C</kbd></p>

        <p i18n>Ziele einfügen</p>
        <div class="column-line"></div>
        @if (!isMacOS) {
          <p><kbd i18n>Strg</kbd> + <kbd>V</kbd></p>
        }
        @if (isMacOS) {
          <p><kbd i18n>Cmd</kbd> + <kbd>V</kbd></p>
        }
      </div>
    </div>
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Schließen</button>
  </ng-template>
</dt-modal-content>
