@if (userIsOnStep) {
  <div class="navline klug-limit-width">
    <button mat-raised-button color="primary" [routerLink]="backLink" [disabled]="!backLink">Zurück</button>
    @if (userIsOnLastStep) {
      <button [dtOverlayProgress]="showPdfExport" mat-raised-button color="accent" (click)="downloadPDFReport()" [disabled]="showPdfExport"
        >PDF Zusammenfassung
      </button>
      <button mat-raised-button color="primary" (click)="openFinishDialog()">Weiter</button>
    } @else if (forwardLink) {
      <button mat-raised-button color="primary" [routerLink]="forwardLink">Weiter </button>
    } @else {
      <button #cantContinueButton mat-raised-button color="primary" (click)="showRequired()">Weiter </button>
    }
  </div>
}

@if (showPdfExport) {
  <klug-pdf-export></klug-pdf-export>
}

<ng-template #finishTemplate let-dialogRef="dialogRef">
  <form [formGroup]="finishForm" (ngSubmit)="continueToQuestionnaire(dialogRef)" #actualForm="ngForm" class="klug-finish-form">
    <h2 mat-dialog-title>Das Entscheidungsnavi</h2>
    <div mat-dialog-content>
      <p class="finish-text">
        Das KLUGentscheiden-Tool ist eine Schulversion des umfangreicheren Tools mit dem Namen Entscheidungsnavi (<a
          href="https://enavi.app"
          target="_blank"
          rel="noopener"
          >www.enavi.app</a
        >). Du kannst all Deine Eingaben auch dort importieren und anschließend weiter daran arbeiten. Wenn Du möchtest, informieren wir
        Dich per E-Mail, wie das geht und schicken Dir auch eine PDF-Zusammenfassung Deines Projekts zu. Trage dazu einfach Deine
        E-Mail-Adresse in das Feld ein.
      </p>

      <mat-form-field appearance="fill">
        <mat-label>E-Mail-Adresse</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-checkbox
        formControlName="privacyPolicy"
        [disabled]="!finishForm.controls.email.value"
        [class.invalid]="finishForm.errors?.privacyPolicyRequired"
      >
        Ich akzeptiere die <a href="https://entscheidungsnavi.de/privacy/" target="_blank" rel="noopener">Datenschutzerklärung</a>.
      </mat-checkbox>
      @if (finishErrored) {
        <div class="error"
          >Bei der Anfrage an den Server ist ein unbekannter Server aufgetreten. Möglicherweise ist Ihre Internetverbindung instabil.</div
        >
      }
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="exportingProject">
        @if (isOfficialKlugProject) {
          Zurück zur KLUG-Plattform
        } @else {
          Weiter zum Entscheidungsnavi
        }
      </button>
      @if (exportingProject) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>
  </form>
</ng-template>

<ng-template #tokenInfoTemplate let-dialogRef="dialogRef" let-data>
  <h2 mat-dialog-title>Hinweis</h2>
  <div mat-dialog-content class="token-info-container">
    <p>
      Notiere dir bitte das untenstehende Token, falls Du später nochmals auf das Projekt zugreifen möchtest. Ohne das Token ist ein
      erneuter Zugriff nicht möglich.
    </p>

    <h1 class="token">{{ data.token }}</h1>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="dialogRef.close('confirm')"> Weiter</button>
  </div>
</ng-template>
