@use 'variables' as dt;

:host {
  display: block;

  min-height: dt.$bottom-bar-height;

  background-color: dt.$blue-lighten-9;
  border-top: 1px solid lightgray;
}

.navline-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: inherit;

  .middle-navline-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: inherit;

    .wrap-helper {
      height: 100%;
    }

    .navline-elements {
      display: flex;
      background: inherit;
      z-index: 2;
      overflow: hidden;
    }
  }
}

.nav-menu-button {
  position: absolute;
  margin: 5px;

  .nav-menu-trigger {
    position: absolute;
    left: 50%;
    top: 0;
  }
}

dt-navline-element {
  display: block;
  margin: 5px;

  & + dt-navline-element {
    margin-left: 0;
  }
}

::ng-deep .dt-nav-menu {
  // We cannot force the menu to appear before or after, only give a preference by specifying [xPosition].
  // Thus, we account for both cases.
  &.mat-menu-after {
    translate: -50%;
  }
  &.mat-menu-before {
    translate: 50%;
  }

  transform-origin: bottom center !important;
}
