@use 'variables' as dt;
@use '@angular/material' as mat;

.notification-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opacity {
  opacity: 0.6;
}

.wrapper {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  max-width: 850px;
  margin: 20px auto;
  position: relative;
}

.stepper-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #0000001f;
  z-index: -1;
}

.stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 30px;

    background-color: dt.$blue;
    color: white;
  }

  .light-non-transparent {
    background-color: #9199a1;
  }

  &:nth-last-child(2)::after {
    content: '';
    background-color: white;
    flex: 1;
    z-index: 1;
    align-self: stretch;
  }
}

.step-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .description {
    min-width: 38ch;
  }

  .description,
  > button,
  .last-step {
    width: 50%;
    flex: 1;
    flex-basis: 50%;
  }

  .last-step {
    display: flex;
    width: 50%;
    gap: 10px;

    ::ng-deep mat-form-field {
      @include mat.form-field-density(-4);
    }

    .alternative-input {
      flex: 1;
    }
  }

  .select-button {
    display: flex;
    width: 50%;

    .mat-menu-item {
      padding: 8px 16px;
    }

    .select {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
  }
}
