<dt-step-title *ngIf="showTitle" [showStepNumber]="false" i18n
  >Hinzufügung neuer Alternativen durch Verbesserung in Schwachpunkten</dt-step-title
>

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
  <ng-template #description>
    @if (decisionData.isProfessional()) {
      <ng-container i18n
        >Hier kannst Du versuchen, Deine bestehenden Alternativen zu verbessern. Dazu musst Du Schwachpunkte der definierten Alternativen
        identifizieren und nach Verbesserungen suchen, um diese Schwächen zu verringern.</ng-container
      >
    } @else {
      <ng-container i18n>Entwickle neue Alternativen durch Verbesserung der bereits bekannten Alternativen.</ng-container>
    }
  </ng-template>
  <ng-template #subDescription i18n
    >Untersuche, ob Du Schwachpunkte in Deinen Alternativen eliminieren kannst. Du kannst jede Alternative auch mehrmals
    verbessern.</ng-template
  >
</dt-step-description>

@if (decisionData.alternatives.length && decisionData.objectives.length) {
  <div class="wrapper" data-cy="dt-alternative-hint2-steps">
    <div class="stepper">
      <div class="icon"> 1 </div>
      <div class="stepper-line"></div>
    </div>

    <div class="step-wrapper">
      <span i18n class="description">Eine Alternative mit einer Schwäche ist: </span>
      <button
        class="select-button"
        mat-raised-button
        [color]="!selectedAlternative ? 'accent' : 'accent-less'"
        [matMenuTriggerFor]="alternativeMenu"
        [disabled]="decisionDataState.isProjectReadonly"
        data-cy="alternative-selection-button"
      >
        <mat-menu #alternativeMenu="matMenu">
          @for (alternative of decisionData.alternatives; track alternative) {
            <button mat-menu-item class="mat-menu-item" (click)="selectAlternative(alternative)">{{ alternative.name }} </button>
          }
        </mat-menu>
        @if (selectedAlternative) {
          <span
            class="select"
            #overflow="dtOverflow"
            [dtOverflow]
            [matTooltip]="selectedAlternative.name"
            [matTooltipDisabled]="!overflow.isOverflowing"
            >{{ selectedAlternative.name }}</span
          >
        } @else {
          <span i18n class="select">Bitte auswählen&hellip;</span>
        }
      </button>
    </div>
    <div class="stepper">
      <div class="icon" [class.light-non-transparent]="!selectedAlternative"> 2 </div>
    </div>
    <div class="step-wrapper" [class.opacity]="!selectedAlternative">
      <span i18n class="description">Ein großer Schwachpunkt in dieser Alternative liegt im Ziel:</span>
      <button
        class="select-button"
        mat-raised-button
        [color]="!selectedObjective ? 'accent' : 'accent-less'"
        [matMenuTriggerFor]="objectiveMenu"
        [disabled]="decisionDataState.isProjectReadonly || !selectedAlternative"
        data-cy="objective-selection-button"
      >
        <mat-menu #objectiveMenu="matMenu" data-cy="objective-selection-menu">
          @for (objective of decisionData.objectives; track objective) {
            <button mat-menu-item class="mat-menu-item" (click)="selectObjective(objective)">{{ objective.name }}</button>
          }
        </mat-menu>
        @if (selectedObjective) {
          <span
            class="select"
            #overflow="dtOverflow"
            [dtOverflow]
            [matTooltip]="selectedObjective.name"
            [matTooltipDisabled]="!overflow.isOverflowing"
            >{{ selectedObjective.name }}</span
          >
        } @else {
          <span i18n class="select">Bitte auswählen&hellip;</span>
        }
      </button>
    </div>
    <div class="stepper">
      <div class="icon" [class.light-non-transparent]="!selectedAlternative || !selectedObjective"> 3 </div>
    </div>
    <div class="step-wrapper" [class.opacity]="!selectedAlternative || !selectedObjective">
      <span i18n class="description">Eine Alternative ohne diese Schwäche ist:</span>
      <div class="last-step">
        <mat-form-field subscriptSizing="dynamic" class="alternative-input">
          <input
            #alternativeNameInput
            matInput
            type="text"
            [(ngModel)]="name"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Alternative benennen"
            [disabled]="selectedObjective == null"
            i18n-placeholder
            [readonly]="decisionDataState.isProjectReadonly"
            data-cy="alternative-name-input"
          />
          @if (selectedObjective) {
            <dt-note-btn [(comment)]="comment" [caption]="name | noteBtnPreset: 'alternative'"></dt-note-btn>
          }
        </mat-form-field>
        <button
          mat-mini-fab
          color="accent"
          (click)="addAlternativeInHeader()"
          [disabled]="!selectedObjective || !name || !selectedAlternative"
          data-cy="alternative-add-button"
        >
          <mat-icon> add </mat-icon>
        </button>
      </div>
    </div>
  </div>
} @else {
  <h4 i18n>Benenne im vorherigen Schritt Alternativen, damit Dir diese hier angezeigt werden!</h4>
}

<dt-alternative-list [pageKey]="pageKey" [collapsedByDefault]="true"></dt-alternative-list>

<ng-template #notify>
  <span class="notification-text" i18n>Neue Alternative hinzugefügt!</span>
</ng-template>
