.title {
  font-weight: 500;
}

.section {
  padding: 8px 20px 12px 20px;
}

.title,
mat-slide-toggle:not(:last-child),
mat-form-field:not(:last-child) {
  margin-bottom: 8px;
}

mat-slide-toggle {
  display: flex;

  ::ng-deep .mdc-form-field {
    flex: 1;

    label {
      width: 100%;
      white-space: normal;
    }
  }
}

mat-form-field {
  width: 100%;
}
