@use 'sass:map';
@use '@angular/material' as mat;
@use '../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-help {
    .container {
      color: mat.m2-get-contrast-color-from-palette($primary-palette, 300);
      background-color: klug-colors.$klug-help;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-help {
    .container {
      * {
        @include mat.m2-typography-level($typography-config, 'subtitle-1');
        font-weight: 400;
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
