<div class="padding-wrapper">
  <div class="grid" [class.transposed]="transposed">
    <div class="header" [class.agenda]="influenceFactor">
      <dt-toggle-button class="top-left" [(value)]="transposed" icon="pivot_table_chart"> </dt-toggle-button>
      <span
        class="agenda-label"
        [class.top-right]="!transposed && influenceFactor"
        [class.bottom-left]="transposed && influenceFactor"
        [class.padding-left]="!influenceFactor"
        i18n
        >Indikatoren</span
      >
      @if (influenceFactor != null) {
        <span class="agenda-label" [class.top-right]="transposed" [class.bottom-left]="!transposed" i18n>Zustände</span>
      }
    </div>
    @for (state of influenceFactorStates; track state; let stateIdx = $index) {
      <div class="influence-factor-box">
        <span
          class="state-heading"
          [dtHoverPopover]="tooltip"
          [dtHoverPopoverPosition]="'right'"
          [dtHoverPopoverDisabled]="!isInfluenceFactorCombined(influenceFactor)"
          >{{ influenceFactor | stateName: stateIdx }}
          @if (!isInfluenceFactorPredefined(influenceFactor)) {
            <span> ({{ state.probability / 100 | percent: '1.0-2' }})</span>
          }
          <ng-template #tooltip>
            <dt-composite-user-defined-influence-factor-tooltip
              [influenceFactor]="influenceFactor"
              [stateIdx]="stateIdx"
            ></dt-composite-user-defined-influence-factor-tooltip>
          </ng-template>
        </span>
      </div>
    }
    @if (influenceFactor == null) {
      <div class="header">
        <span class="agenda-label" i18n>Wirkungsprognosen</span>
      </div>
    }
    @for (indicator of objective.indicatorData.indicators; track indicator; let indicatorIdx = $index) {
      <dt-indicator-matrix
        [alternative]="alternative"
        [objective]="objective"
        [indicator]="indicator"
        [influenceFactor]="influenceFactor"
        [outcomeValues]="outcomeValues"
        [indicatorIdx]="indicatorIdx"
        [transposed]="transposed"
      ></dt-indicator-matrix>
    }
  </div>
</div>
