@use 'variables' as dt;

:host {
  display: flex;
  justify-content: space-evenly;

  overflow: auto;
}

.header {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;

  &.agenda {
    display: grid;
    align-items: unset;

    min-height: 105px;

    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;

    .agenda-label {
      font-weight: 500;
    }
  }
}

.grid.transposed .agenda {
  grid-auto-flow: column;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 8px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

.padding-left {
  padding: 8px 8px 8px 78px;
}

.padding-wrapper {
  display: flex;

  padding: 20px;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-rows: auto repeat(var(--state-count), auto);
  grid-template-columns: auto repeat(var(--indicator-count), auto);

  border: 1px solid #d2d2d2;
  grid-auto-flow: column;

  overflow: auto;

  .influence-factor-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;

    z-index: 10;

    padding: 5px;

    border: 1px solid #d2d2d2;
    background-color: #f5f5f5;

    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
  }
}

.transposed {
  grid-auto-flow: row;
  grid-template-rows: auto repeat(var(--indicator-count), auto);
  grid-template-columns: auto repeat(var(--state-count), auto);
}

.state-heading {
  color: #000000b3;
  font-weight: 500;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}
