@use '@angular/material' as mat;
@import '../../shared';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: flex-start;
  gap: 30px;

  mat-list {
    padding: 0;
  }

  mat-list-item {
    padding: 0;
  }
}

.dt-form {
  gap: 10px;
}
