@use '@angular/material' as mat;
@use 'variables' as dt;
@import '_inputbox';

.utilityfunction-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.graph-container {
  height: 70vh;
  min-height: 300px;
  max-height: 600px;
  flex-basis: 600px;
  flex-grow: 1;
  margin-bottom: 20px;
  min-width: 0;
}

.right-container {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 350px;

  .tabs-footer {
    display: flex;

    border-left: 1px solid rgba(59, 76, 91, 0.2);
    border-right: 1px solid rgba(59, 76, 91, 0.2);

    mat-form-field,
    .unlock-button {
      flex: 1 0 0;
      min-width: 0;
    }

    .unlock-button {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      background-color: #f5f5f5;

      &:hover {
        color: dt.$orange;
      }
    }
  }
}

.tab-container {
  margin-bottom: 20px;
  @include mat.elevation(4);
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-radius: 5px;

  .options-wrapper {
    @extend %inputbox-appearance;
    @include mat.elevation(4);
    flex: 1 1 300px;
    margin: 5px 0px;
    min-width: 0;
    text-align: center;
    white-space: nowrap;
    padding: 5px 15px;
  }

  .options-caption {
    display: flex;
    justify-content: space-between;
  }
}

.value-with-unit {
  white-space: nowrap;
}

/* small graph tab II */

.graph-box-container {
  display: flex;
  align-items: center;
}

.graph-box .line {
  display: inline-block;
  height: 1px;
  background-color: #000;
  border: 1px solid #1e2dff;
  width: 70px;
}

.graph-box .line.top {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.graph-box .line.bottom {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.graph-box {
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.graph-box .graph-wrapper {
  display: flex;
  align-items: center;
  height: 20px;
  position: relative;
  margin: 0 5px;
  width: 70px;
}

.graph-box .caption-wrapper {
  display: flex;
  flex-flow: column;
}

.graph-box .caption-wrapper.top {
  top: 10px;
}

.graph-box .caption-wrapper.bottom {
  bottom: -30px;
}

.graph-box .graph-caption.bottom {
  margin-top: 5px;
}

.graph-box .graph-caption.top {
  margin-bottom: 5px;
}

//Adjustments for screens with less width
.reversed-stacking {
  .options-container .options-wrapper {
    margin: 5px;
  }

  .graph-container {
    height: 40vh;
  }

  .right-container {
    flex-direction: column-reverse;
  }
}
