mat-toolbar {
  display: flex;

  .spacer {
    flex: 1;
  }
}

.logo-button {
  padding: 0 4px;
  height: 56px;

  img {
    position: relative;
    height: 56px;
    max-width: 100%;
    object-fit: contain;
  }
}

.account-email {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-weight: 500;
  min-height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
