<button
  mat-raised-button
  [color]="value ? 'accent' : 'accent-less'"
  [matTooltip]="value ? tooltipTrue : tooltipFalse"
  [disabled]="disabled"
  (click)="valueChange.emit(!value)"
>
  <div class="icon-wrapper"
    ><mat-icon>{{ icon }}</mat-icon></div
  >
</button>
