@use '@angular/material' as mat;
@use 'variables' as dt;

.parent-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.column-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;

  .main-content {
    display: flex;
    flex: 1;
    min-width: 0;
  }

  .side-by-side {
    position: relative;
    overflow: hidden;

    .side-by-side-divider {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 2;

      cursor: col-resize;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      transition: background-color 250ms;

      &:hover,
      &.dragging {
        background-color: rgba(0, 0, 0, 0.12);
      }

      mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }

    .side-by-side-content {
      min-width: 200px;
      max-width: 50vw;
      height: 100%;
    }
  }
}

.sidenav-over .column-wrapper {
  .side-by-side {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .side-by-side-divider {
    display: none;
  }

  .side-by-side-content {
    max-width: unset;
    width: 100% !important;
  }
}

mat-sidenav-container {
  width: 100%;
}

mat-sidenav {
  border: none;
  width: 260px;

  &.folded {
    width: 50px;
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: white;

  .content-container {
    display: flex;
    height: 100%;
    overflow: auto;

    .page-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      &.educational {
        scrollbar-gutter: stable;
        padding: 15px 20px;
      }

      &.starter {
        padding: dt.$starter-padding;
      }

      > div {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      overflow: auto;
    }
  }
}

@media (max-width: 500px) {
  .column-wrapper {
    .side-by-side {
      width: 100%;

      .side-by-side-content {
        max-width: 100%;
      }
    }
  }
}
