@use 'variables' as dt;
@use 'sass:color';

:host {
  display: block;
}

dt-hierarchy {
  height: 100%;
  width: 100%;

  border: 1px solid black;
  background-color: white;
}

.node {
  display: flex;
  align-items: center;

  border: 1px solid gray;

  &:not(.invalid) {
    &.root,
    &.fundamental {
      border: 1px solid black;
    }

    &.root {
      background-color: lightgray;
    }

    &.fundamental {
      background-color: dt.$objective;

      input,
      .counter {
        color: white;
      }

      input {
        font-weight: 500;
      }
    }
  }

  &.invalid {
    border: 2px solid dt.$crimson-red;
    background-color: color.adjust(dt.$crimson-red, $alpha: -0.9);
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .counter {
    padding: 0 4px;
  }

  .note-wrapper {
    position: relative;
    padding: 4px;

    input {
      width: 100%;
      outline: none;
    }

    span.invisible-auto-width-helper {
      display: block;
      height: 0;

      white-space: pre;
      overflow: hidden;
    }
  }
}
