:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.overflow-container {
  display: flex;
  overflow-x: auto;
  flex: 1;

  position: relative;

  margin-top: 10px;

  .weights-button {
    position: absolute;
    top: 10px;
    right: 10px;

    z-index: 1;
  }

  klug-evaluation-graph {
    width: 100%;
  }
}
