@if (shownAlternativeIndices().length > 1) {
  <div class="grid-container" [style.grid-template-columns]="gridColumnTemplate" data-cy="pro-contra-grid-container">
    <div class="corner stick-left stick-top"></div>
    @for (objective of decisionData.objectives; let objectiveIndex = $index; track objectiveIndex) {
      <div
        class="header objective stick-top"
        [class.hovered]="hoveredObjectiveIndex() === objectiveIndex"
        [style.grid-column]="objectiveOrderMapping()[objectiveIndex] + 2"
        (mouseenter)="hoveredObjectiveIndex.set(objectiveIndex)"
        (mouseleave)="hoveredObjectiveIndex.set(-1)"
      >
        {{ objective.name }}
      </div>
    }

    @for (alternativeRow of filteredRowsWithDifference(); let localAlternativeIndex = $index; track localAlternativeIndex) {
      <div class="header alternative stick-left" [class.reference]="referenceAlternativeIndex() === alternativeRow.alternativeIndex">
        <div class="rank dt-reserve-bold-width" [attr.data-text]="localAlternativeIndex + 1 + '.'">{{ localAlternativeIndex + 1 }}.</div>
        <div class="dt-reserve-bold-width" [attr.data-text]="alternativeRow.alternative.name">
          {{ alternativeRow.alternative.name }}
        </div>
      </div>

      @for (objective of decisionData.objectives; let objectiveIndex = $index; track objectiveIndex) {
        <div
          class="cell"
          [class.negative]="alternativeRow.difference[objectiveIndex] < 0"
          [class.hovered]="hoveredObjectiveIndex() === objectiveIndex"
          [class.reference]="referenceAlternativeIndex() === alternativeRow.alternativeIndex"
          [style.grid-column]="objectiveOrderMapping()[objectiveIndex] + 2"
          (mouseenter)="hoveredObjectiveIndex.set(objectiveIndex)"
          (mouseleave)="hoveredObjectiveIndex.set(-1)"
        >
          <div class="box-container">
            <div class="box" [style.height.%]="abs(alternativeRow.difference[objectiveIndex] / maxDifference()) * 100"></div>
          </div>
          <div class="outcome-description">
            <span>
              @if (hoveredObjectiveIndex() === objectiveIndex) {
                @if (alternativeRow.difference[objectiveIndex] > 0) {
                  <span>+</span>
                }

                <span>{{ alternativeRow.difference[objectiveIndex] * 100 | number: '1.0-2' }}</span>
              } @else {
                {{ outcomeDescriptions()[alternativeRow.alternativeIndex][objectiveIndex] }}
              }
            </span>
          </div>
        </div>
      }

      <div class="dash" [style.--grid-row]="localAlternativeIndex + 2"></div>
    }
  </div>
} @else {
  <div class="too-few-alternatives" i18n>Für eine Auswertung müssen mindestens zwei Alternativen ausgewählt werden.</div>
}
