@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
}

.stick-left,
.stick-top {
  position: sticky;
  background-color: white;
  z-index: 10;
}

.stick-top {
  top: 0;
}

.stick-left {
  left: 0;
}

.grid-container {
  display: grid;
  overflow: auto;

  position: relative;

  grid-auto-flow: row dense;

  grid-auto-rows: 75px;

  > :not(.dash) {
    &.hovered {
      background-color: dt.$blue-lighten-9;
    }

    &.reference {
      .box-container {
        display: none;
      }

      .outcome-description span {
        background-color: white;
        padding: 0 5px;
        z-index: 10;
      }

      &.cell {
        justify-content: center;
      }

      * {
        font-weight: 600;
      }
    }
  }
}

.outcome-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
  line-height: 1.1;

  padding: 2px;

  z-index: 10;
}

.corner {
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  z-index: 20;
}

.header {
  @include dt.typography-level(body-1);

  text-align: center;
  font-weight: 500;

  line-height: 1.2;

  padding: 5px;

  &.alternative {
    display: flex;
    align-items: center;

    gap: 15px;

    border-right: 1px solid #c0c0c0;

    .rank {
      font-weight: initial;
    }
  }

  &.objective {
    border-bottom: 1px solid #c0c0c0;
  }
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;

  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 50%;

    .box {
      border-top: 2px solid desaturate(darken(#bfd5b2, 10%), 30%);
      background-color: #bfd5b2;

      width: 160px;
    }
  }

  &.negative {
    flex-direction: column-reverse;

    .box-container {
      justify-content: flex-start;

      .box {
        border-top: unset;

        border-bottom: 2px solid desaturate(darken(#ecbb9c, 10%), 30%);
        background-color: #ecbb9c;
      }
    }
  }
}

.dash {
  position: absolute;

  grid-column: 2 / -1;
  grid-row: var(--grid-row) / var(--grid-row);

  width: 100%;
  align-self: center;

  pointer-events: none;

  height: 1px;
  background-image: linear-gradient(to right, #0000004d 59%, #fff0 0%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.too-few-alternatives {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  color: gray;
}
