@use 'sass:map';
@use 'sass:list';
@use 'sass:color';
@use '@angular/material' as mat;
@use '../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-matrix-cell {
    .cell {
      color: white;

      background-color: klug-colors.$klug-orange;

      &.has-comment:hover,
      &.dt-hover-popover-open {
        background-color: color.adjust(klug-colors.$klug-orange, $lightness: -10%);
      }

      &.objective {
        background-color: klug-colors.$klug-red;

        &.has-comment:hover,
        &.dt-hover-popover-open {
          background-color: color.adjust(klug-colors.$klug-red, $lightness: -10%);
        }
      }
    }
  }

  .note-hover-container {
    background-color: white;
    border-color: klug-colors.$klug-orange;

    &.objective {
      border-color: klug-colors.$klug-red;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-matrix-cell {
    .cell {
      @include mat.m2-typography-level($typography-config, 'subtitle-1');

      font-weight: 500;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
