<div
  class="cell"
  [class.objective]="isObjective"
  [class.has-comment]="!(object().comment | richTextEmpty)"
  [dtHoverPopover]="noteHover"
  [dtHoverPopoverDisableClick]="true"
  [dtHoverPopoverDisabled]="object().comment | richTextEmpty"
  [dtHoverPopoverPosition]="orientation() === 'horizontal' ? 'left' : 'top'"
  [dtHoverPopoverDelay]="250"
>
  {{ object().name }}
</div>

<ng-template #noteHover>
  <div class="note-hover-container mat-elevation-z3" [class.objective]="isObjective">
    <quill-editor
      [ngModel]="object().comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: null }"
      [readOnly]="true"
    ></quill-editor>
  </div>
</ng-template>
