:host {
  position: sticky;
  left: 0;
  top: 0;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100%;

  padding: 5px;
  min-height: 50px;

  &.has-comment {
    cursor: pointer;
  }
}

.note-hover-container {
  display: flex;
  flex-direction: column;

  margin: 10px;

  max-width: 500px;
  max-height: 200px;

  border-width: 2px;
  border-style: solid;

  quill-editor {
    overflow: auto;
  }

  ::ng-deep {
    p:only-child {
      margin: 0;
    }
  }
}
