@if (brainstormingShown) {
  <dt-collapsible-tiny
    [open]="brainstormingOpen"
    (openChange)="setListOpen('brainstorming', $event)"
    (dragover)="dragOverList($event, 'brainstorming')"
    (dragleave)="clearListDragIndicator('brainstorming')"
    (drop)="dropOnList($event, 'brainstorming')"
    data-cy="brainstorming-box"
    #brainstormingBox
  >
    <ng-template #header>
      <span class="header" i18n>Brainstorming</span>
    </ng-template>
    <ng-template #content>
      <ul class="browser-default" data-cy="brainstorming-list">
        @for (aspect of context.brainstormingAspects(); track aspect; let i = $index) {
          <li
            #li
            (dragover.outside-zone)="dragOverElement($event, li)"
            (dragleave.outside-zone)="clearElementDragIndicator(li)"
            (drop)="dropOnElement($event, li, i, 'brainstorming')"
          >
            <span class="aspect-element" draggable="true" (dragstart.outside-zone)="dragStartElement($event, i, 'brainstorming')">{{
              aspect.name
            }}</span>
          </li>
        }
      </ul>
    </ng-template>
  </dt-collapsible-tiny>
}
<dt-collapsible-tiny
  [open]="trashBinOpen"
  (openChange)="setListOpen('trash', $event)"
  (dragover)="dragOverList($event, 'trash')"
  (dragleave)="clearListDragIndicator('trash')"
  (drop)="dropOnList($event, 'trash')"
  data-cy="trash-bin-box"
  #trashBinBox
>
  <ng-template #header let-open>
    <span class="header" i18n>Papierkorb</span>
    @if (open) {
      <button mat-button color="accent" [disabled]="context.readonly" (click)="$event.stopPropagation(); clearTrashBin()" i18n
        >Alle löschen</button
      >
    }
  </ng-template>
  <ng-template #content>
    <ul class="browser-default" data-cy="trash-bin-list">
      @for (aspect of context.deletedAspects(); track aspect; let i = $index) {
        <li
          #li
          (dragover.outside-zone)="dragOverElement($event, li)"
          (dragleave.outside-zone)="clearElementDragIndicator(li)"
          (drop)="dropOnElement($event, li, i, 'trash')"
        >
          <div class="aspect-element" draggable="true" (dragstart.outside-zone)="dragStartElement($event, i, 'trash')">
            <span class="list-element-name">{{ aspect.name }}</span>
            <button mat-icon-button [disabled]="context.readonly" class="delete-icon" (click)="deleteFromTrashBin(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      }
    </ul>
  </ng-template>
</dt-collapsible-tiny>
