@use '@angular/material' as mat;

:host {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-rows: auto auto;

  justify-content: end;
  align-content: space-between;

  justify-items: end;
  align-items: end;

  padding: 8px;
  gap: 8px;

  pointer-events: none;

  &:has(> :only-child) {
    align-content: end;
  }

  &.small-screen {
    top: 50px;
    justify-content: space-between;
    grid-template-rows: auto;
    align-content: end;

    dt-collapsible-tiny {
      grid-row: 1;
    }
  }
}

dt-collapsible-tiny {
  @include mat.button-density(-2);
  @include mat.icon-button-density(minimum);

  max-height: 100%;
  pointer-events: auto;

  .header {
    margin-left: 5px;
    font-weight: 500;
  }

  &[drag] {
    outline: 2px solid orange;
  }

  ul {
    overflow-y: auto;

    padding: 5px;
    padding-left: 20px;

    .aspect-element {
      width: 100%;
      display: flex;

      &[draggable] {
        cursor: grab;
      }
    }

    li {
      &[drag='down'] {
        box-shadow: inset 0 -4px 0 -2px orange;
      }

      &[drag='up'] {
        box-shadow: inset 0 4px 0 -2px orange;
      }
    }

    .list-element-name {
      flex: 1 0 0;
      display: block;
    }
  }
}
