@use 'sass:color';

@mixin thin-scrollbar {
  scrollbar-color: #839192;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border: none;
  }
  &::-webkit-scrollbar-track {
    background: color.scale(#cdcdcd, $lightness: 75%);
    border: none;
  }
  &::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  &::-webkit-scrollbar-track:active {
    background: transparent;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
