<dt-starter-heading heading="alternatives"></dt-starter-heading>

<div class="dt-starter-limit-width alternative-list" cdkDropList (cdkDropListDropped)="drop($event)">
  @for (alternative of decisionData.alternatives; track alternative; let index = $index) {
    <div class="alternative mat-elevation-z4" cdkDrag>
      <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>
      <input
        type="text"
        [(ngModel)]="alternative.name"
        placeholder="Alternative benennen"
        i18n-placeholder
        class="browser-default"
        required
        (keydown.enter)="addAlternative()"
        [dtAutoFocus]="enableAutoFocus"
        data-cy="alternative-name-input"
      />
      <button mat-icon-button data-cy="delete-alternative-button" (click)="decisionData.removeAlternative(index)"
        ><mat-icon>delete</mat-icon></button
      >
    </div>
  }
  <button mat-raised-button class="add-alternative-button" data-cy="add-alternative-button" (click)="addAlternative()"
    ><mat-icon>add</mat-icon>&nbsp;<ng-container i18n>Alternative hinzufügen</ng-container></button
  >
</div>

<dt-starter-help-expansion-panel>
  <p i18n
    >Eine Entscheidung kann nur so gut sein, wie die beste Handlungsalternative, die man in Erwägung zieht. Insofern beschränke Dich bitte
    nicht nur auf die offensichtlichen Alternativen, die Du jetzt vielleicht schon im Kopf hast. Sei vielmehr kreativ, frage Freunde und
    Familie und überlege, welche weiteren Möglichkeiten Du Dir grundsätzlich noch vorstellen kannst. Eine Methode, die Dir bei der kreativen
    Ausgestaltung von weiteren attraktiven Alternativen helfen kann, ist die zielfokussierte Alternativensuche. Probiere Sie einfach mal
    aus!</p
  >
  <button mat-raised-button color="help" (click)="openAlternativeSearch()" i18n>Zielfokussierte Alternativensuche</button>
</dt-starter-help-expansion-panel>

<dt-starter-navigation-buttons step="alternatives" [invalidTooltip]="errorMessage"></dt-starter-navigation-buttons>
