$shadow-padding: 8px;
$item-gap: 4px;

:host {
  display: block;
  min-width: 0;

  margin: -$shadow-padding;
  margin-bottom: 0;
}

.scroll-container {
  padding: $shadow-padding 0;

  overflow-x: auto;
  overflow-y: hidden;
}

.selection-line {
  display: flex;
  align-items: center;
  gap: $item-gap;

  &.align-start {
    justify-content: flex-start;
  }

  &.align-end {
    justify-content: flex-end;
  }

  width: 100%;
  min-width: min-content;

  &:after,
  &:before {
    content: '';
    display: block;
    width: calc($shadow-padding - $item-gap);
    height: 100%;
  }
}
