@if (showTitle) {
  <div class="dt-limit-width">
    <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Tornadodiagramm</dt-step-title>
  </div>
}

<dt-step-description
  class="dt-limit-width"
  [mainDescriptionOnly]="decisionData.isProfessional()"
  [withBiggerMargin]="!decisionData.isProfessional()"
>
  <ng-template #description>
    @if (decisionData.isProfessional()) {
      <ng-container i18n
        >Hier kannst Du sehen, welche Unsicherheiten den größten Einfluss auf die Bewertung einer Alternative bzw. auf den
        Bewertungsunterschied zwischen zwei Alternativen haben.</ng-container
      >
    } @else {
      <ng-container i18n>Analysiere den Einfluss von Unsicherheiten auf die Vorteilhaftigkeit der Alternativen.</ng-container>
    }
  </ng-template>
  <ng-template #subDescription i18n
    >Du kannst entweder eine Alternative isoliert betrachten oder eine Alternative mit einer anderen vergleichen.</ng-template
  >
</dt-step-description>

<dt-select-line>
  <dt-select [(selectedOptions)]="selectedAlternativeIdx" (selectedOptionsChange)="createTornadoDiagram()">
    <dt-select-label i18n>Alternative</dt-select-label>
    @for (alternative of decisionData.alternatives; track alternative; let alternativeIdx = $index) {
      @if (alternativeIdx !== referenceAlternativeIdx) {
        <dt-select-option
          [disabled]="!alternativeContainsUncertainty(alternativeIdx)"
          [tooltipWhenDisabled]="alternativeDisabledTooltip"
          [value]="alternativeIdx"
          >{{ alternative.name }}</dt-select-option
        >
      }
    }
  </dt-select>
  <dt-select [(selectedOptions)]="referenceAlternativeIdx" (selectedOptionsChange)="createTornadoDiagram()">
    <dt-select-label i18n>Vergleichen mit</dt-select-label>
    <dt-select-option [value]="-1">—</dt-select-option>
    @for (alternative of decisionData.alternatives; track alternative; let alternativeIdx = $index) {
      @if (alternativeIdx !== selectedAlternativeIdx) {
        <dt-select-option [value]="alternativeIdx">{{ alternative.name }}</dt-select-option>
      }
    }
  </dt-select>
</dt-select-line>
<dt-tornado-diagram [tornadoData]="tornadoData" [scaleAxis]="scaleAxis" [areas]="areas" [significantDigits]="1"></dt-tornado-diagram>
