@use 'variables' as dt;

mat-spinner {
  text-align: center;
}

mat-form-field {
  display: block;
}

.highlight {
  font-weight: bold;
}

ul.team-list {
  list-style-position: inside;
  max-height: 7em;
  overflow-y: auto;
}

.team-warning {
  color: dt.$crimson-red;
  margin-top: 5px;
}
