@if (isSingle) {
  <div class="single-tool-wrapper" [class.active]="activeTool === tool" (click)="activeToolChange.emit(tool)">
    <span [attr.data-cy]="tool"> {{ verbalizeTool(tool) }} </span>
  </div>
}

@if (!isSingle) {
  <div class="category-wrapper" [class.active]="toolInCategorySelected" [matMenuTriggerFor]="toolSelectionMenu">
    <span [attr.data-cy]="'category-' + toolsInCategory.join('-')">{{ categoryName }}</span>
    @if (toolInCategorySelected) {
      @if (toolInCategorySelected) {
        <span class="category-name-tool-separator">:</span>
      }
      <span class="category-tool" data-cy="dt-pf-tool-active-tool"> {{ verbalizeTool(activeTool) }}</span>
    }
    <mat-menu #toolSelectionMenu="matMenu" class="dt-pf-tool-category-menu" [xPosition]="'before'">
      <mat-selection-list class="category-tool-selection-list" multiple="false" hideSingleSelectionIndicator="true">
        @for (tool of toolsInCategory; track tool) {
          <mat-list-option
            [attr.data-cy]="tool"
            class="category-tool"
            (click)="!isOptionDisabled(tool) && activeToolChange.emit(tool)"
            [selected]="activeTool === tool"
            [disabled]="isOptionDisabled(tool)"
            [matTooltip]="getDisabledTooltip(tool)"
          >
            {{ verbalizeTool(tool) }}
          </mat-list-option>
        }
      </mat-selection-list>
    </mat-menu>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>
}
