@if (!decisionData.isProfessional()) {
  <div class="dt-limit-width">
    <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Zielgewichtsanalyse</dt-step-title>
  </div>
}

<dt-step-description
  class="dt-limit-width"
  [mainDescriptionOnly]="decisionData.isProfessional()"
  [withBiggerMargin]="!decisionData.isProfessional()"
>
  <ng-template #description>
    @if (decisionData.isProfessional()) {
      <ng-container i18n
        >Hier siehst Du das Ergebnis einer Simulation, in der untersucht wird, bei welchen Zielgewichten die betrachteten Alternativen die
        besten sind.</ng-container
      >
    } @else {
      <ng-container i18n
        >Betrachte hier die Zielgewichte und Häufigkeiten, bei denen die betrachtete Alternative jeweils die beste ist.</ng-container
      >
    }
  </ng-template>
  <ng-template #subDescription i18n
    >Zusätzlich zum Durchschnitt kannst Du Dir auch die Verteilung der Zielgewichte aus der Simulation anzeigen lassen.</ng-template
  >
</dt-step-description>

<dt-select-line>
  <dt-select [(selectedOptions)]="selectedAlternativeIndices" (selectedOptionsChange)="updateResults()" [multiple]="true">
    <dt-select-label i18n>Alternativen</dt-select-label>
    @for (alternative of decisionData.alternatives; track alternative; let i = $index) {
      <dt-select-option [value]="i">{{ alternative.name }}</dt-select-option>
    }
  </dt-select>
  @if (displayMode === 'detailed') {
    <dt-select [(selectedOptions)]="quantilesOption">
      <dt-select-label i18n>Quantile</dt-select-label>
      <dt-select-option value="p.10" i18n>p.10 und p.90</dt-select-option>
      <dt-select-option value="p.25" i18n>p.25 und p.75</dt-select-option>
    </dt-select>
  }
  <dt-select [(selectedOptions)]="sortingOption">
    <dt-select-label i18n>Sortierung</dt-select-label>
    <dt-select-option value="utilityValues" i18n>Häufigkeit</dt-select-option>
    <dt-select-option value="gutFeeling" i18n>Bauchgefühl</dt-select-option>
  </dt-select>
  <dt-select [(selectedOptions)]="displayMode">
    <dt-select-label i18n>Darstellung</dt-select-label>
    <dt-select-option value="simple" i18n>Durchschnitt</dt-select-option>
    <dt-select-option value="detailed" i18n>Verteilung</dt-select-option>
  </dt-select>
  <dt-toggle-button [(value)]="smallRowHeight" icon="expand" [tooltipTrue]="compactScalingTooltip" [tooltipFalse]="normalScalingTooltip">
  </dt-toggle-button>
</dt-select-line>

<div #diagramContainer class="diagram-container">
  <div class="diagram-scroll-container">
    @if (currentResult?.diagramData != null) {
      <div #diagramGrid class="diagram-grid">
        <div class="sticky-cell diagram-root-cell"></div>
        @for (objective of objectives; track objective; let objectiveIdx = $index) {
          <div class="sticky-cell objective-name">{{ objective.name }}</div>
        }
        <!-- ROWS -->
        @for (alternativeIdx of alternativeIndices; track alternativeIdx) {
          @if (selectedAlternativeIndices.includes(alternativeIdx)) {
            <div class="sticky-cell alternative-name">
              <span class="alternative-text">{{ alternatives[alternativeIdx].name }}</span>
              <span
                class="percentage"
                matTooltip="in {{
                  this.currentResult.bestAlternativeCounters[alternativeIdx] / this.alternativesCounterSum | percent: '1.0-2'
                }} der Fälle die beste Alternative"
                i18n-matTooltip
                >{{ this.currentResult.bestAlternativeCounters[alternativeIdx] / this.alternativesCounterSum | percent: '1.0-2' }}</span
              >
            </div>
            @if (isAlternativeEverBest(alternativeIdx)) {
              <!-- CELLS -->
              @for (dataPoint of currentResult.diagramData[alternativeIdx]; track dataPoint; let objectiveIdx = $index) {
                <div class="cell-container">
                  @switch (displayMode) {
                    @case ('simple') {
                      <div class="cell-box half-box">
                        <div class="cell-bar" [style.height.%]="dataPoint.avg * 100"></div>
                      </div>
                      <div class="cell-description">{{ dataPoint.avg | percent: '1.0-2' }}</div>
                    }
                    @case ('detailed') {
                      @if (objectiveIdx === 0) {
                        <div
                          (mouseenter)="hoveredAlternativeIdx = alternativeIdx"
                          (mouseleave)="hoveredAlternativeIdx = -1"
                          class="plot-box-connection"
                        >
                          <!-- MEAN LINE -->
                          @if (hoveredAlternativeIdx === alternativeIdx) {
                            <svg xmlns:svg="http://www.w3.org/1999/xhtml" viewBox="0 0 100 100" preserveAspectRatio="none">
                              <path [attr.d]="meanPath" fill="none" vector-effect="non-scaling-stroke"></path>
                            </svg>
                          }
                        </div>
                      }
                      <div class="cell-box wide-box">
                        <div
                          class="quantiles"
                          [style.height.%]="(getQuantile(dataPoint, 'high') - getQuantile(dataPoint, 'low')) * 100"
                          [style.top.%]="(1 - getQuantile(dataPoint, 'high')) * 100"
                        ></div>
                        <div class="mean" [style.top.%]="(1 - dataPoint.avg) * 100"></div>
                        <div
                          class="whisker-vertical"
                          [style.height.%]="(dataPoint.max - dataPoint.min) * 100"
                          [style.top.%]="(1 - dataPoint.max) * 100"
                        ></div>
                        <div
                          class="whisker-horizontal"
                          [style.top.%]="(1 - dataPoint.max) * 100"
                          [style.transform]="'translate(-50%, ' + (dataPoint.max - 1) * 100 + '%)'"
                        ></div>
                        <div
                          class="whisker-horizontal"
                          [style.top.%]="(1 - dataPoint.min) * 100"
                          [style.transform]="'translate(-50%, ' + (dataPoint.min - 1) * 100 + '%)'"
                        ></div>
                        <!-- POPOVER -->
                        @if (hoveredAlternativeIdx === alternativeIdx) {
                          <div
                            class="center-value-popover mat-elevation-z4"
                            [class.top-tooltip]="isTopTooltip(alternativeIdx, diagramContainer, diagramGrid)"
                          >
                            <table>
                              <tr
                                ><td i18n>Max:</td><td>{{ dataPoint.max | percent: '1.0-2' }}</td></tr
                              >
                              @if (quantilesOption === 'p.10') {
                                <tr
                                  ><td i18n>p.90:</td><td>{{ dataPoint.p90 | percent: '1.0-2' }}</td></tr
                                >
                              }
                              @if (quantilesOption === 'p.25') {
                                <tr
                                  ><td i18n>p.75:</td><td>{{ dataPoint.p75 | percent: '1.0-2' }}</td></tr
                                >
                              }
                              <tr
                                ><td class="bold" i18n>Durchschn.:</td><td>{{ dataPoint.avg | percent: '1.0-2' }}</td></tr
                              >
                              <tr
                                ><td class="bold" i18n>Median:</td><td>{{ dataPoint.p50 | percent: '1.0-2' }}</td></tr
                              >
                              @if (quantilesOption === 'p.25') {
                                <tr
                                  ><td i18n>p.25:</td><td>{{ dataPoint.p25 | percent: '1.0-2' }}</td></tr
                                >
                              }
                              @if (quantilesOption === 'p.10') {
                                <tr
                                  ><td i18n>p.10:</td><td>{{ dataPoint.p10 | percent: '1.0-2' }}</td></tr
                                >
                              }
                              <tr
                                ><td i18n>Min:</td><td>{{ dataPoint.min | percent: '1.0-2' }}</td></tr
                              >
                            </table>
                          </div>
                        }
                      </div>
                      <div class="cell-description">
                        {{ dataPoint.avg | percent: '1.0-1' }} ({{ dataPoint.min | percent: '1.0-1' }} -
                        {{ dataPoint.max | percent: '1.0-1' }})
                      </div>
                    }
                  }
                </div>
              }
            } @else {
              <span class="wide-row" i18n>Diese Alternative ist nie die beste.</span>
            }
          }
        }
      </div>
    }
  </div>
</div>

<div class="box-container">
  <div class="box">
    <div class="header" [class.done]="state === 'done'" [dtOverlayProgress]="state === 'calculating'">
      @switch (state) {
        @case ('calculating') {
          <ng-container i18n>Berechnung läuft…</ng-container>
        }
        @case ('paused') {
          <ng-container i18n>Berechnung pausiert</ng-container>
        }
        @case ('done') {
          <ng-container i18n>Stabiles Ergebnis erreicht</ng-container>
        }
      }
    </div>
    <div class="steps-box-content">
      <table>
        <tr>
          <td i18n>Simulationsschritte</td>
          <td>{{ currentResult?.combinationsComputed ?? 0 | number }}</td>
        </tr>
        <tr>
          <td i18n>Verstrichene Zeit</td>
          <td>{{ elapsedTime / 1000 | number: '1.0-0' }}s</td>
        </tr>
      </table>
      @if (state === 'calculating') {
        <button
          (click)="pause()"
          [disabled]="!objectiveWeightService.isFixedComputationDone()"
          mat-raised-button
          color="accent"
          type="button"
          ><mat-icon>pause</mat-icon><ng-container i18n>Berechnung pausieren</ng-container></button
        >
      }
      @if (state === 'paused' || state === 'done') {
        <button mat-raised-button (click)="endlessMode = true; start()" color="accent" type="button"
          ><mat-icon>resume</mat-icon><ng-container i18n>Berechnung fortsetzen</ng-container></button
        >
      }
    </div>
  </div>
</div>
