@use 'variables' as dt;
@use 'sass:math';

$lightgrey: #d0cece;
$darkgrey: #bfbfbf;
$compact-height: 90px;
$normal-height: 160px;
$cell-width: 180px;

dt-step-description {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

:host {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  --row-count: var(--selected-alternatives-count);
  --col-count: var(--objective-count);

  &.compact {
    .diagram-grid {
      grid-template-rows: 55px repeat(var(--row-count), $compact-height);
    }
    .cell-box {
      height: calc($compact-height - 35px);
    }
    .plot-box-connection {
      height: calc($compact-height - 35px);
    }
  }

  &:not(.compact) {
    .diagram-grid {
      grid-template-rows: 55px repeat(var(--row-count), $normal-height);
    }
    .cell-box {
      height: calc($normal-height - 35px);
    }
    .plot-box-connection {
      height: calc($normal-height - 35px);
    }
  }
}

dt-select-line {
  width: calc(200px + var(--col-count) * 180px);
  max-width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  // don't cut out on PC when table is narrow
  @media screen and (min-width: 800px) {
    min-width: 700px;
  }
}

// loading box
.box-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .box {
    width: 600px;
    border: 2px solid $lightgrey;
    border-radius: 5px;
    padding: 0 12px;

    .header {
      font-weight: bold;
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 4px;

      &.done {
        color: green;
      }
    }

    .steps-box-content {
      display: flex;
      gap: 8px;

      table {
        flex: 1;
        margin-bottom: 8px;
      }

      th {
        font-weight: bold;
        text-align: left;
      }

      td:nth-child(2) {
        min-width: 70px;
      }

      td:not(:last-child) {
        padding-right: 8px;
      }
    }

    .header {
      margin: 8px 0;
    }
  }
}

.diagram-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .diagram-scroll-container {
    min-height: 450px;
    overflow: auto;
    width: calc(200px + var(--col-count) * $cell-width);
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .diagram-grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 200px repeat(var(--col-count), $cell-width);

    .wide-row {
      grid-column: span var(--col-count);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $darkgrey;
    }

    .diagram-root-cell {
      border-bottom: 1px solid $darkgrey;
    }

    .sticky-cell {
      background-color: white;
      position: sticky;

      &.diagram-root-cell {
        left: 0;
        top: 0;
        z-index: 50;
      }

      &.objective-name {
        top: 0;
        z-index: 45;
      }

      &.alternative-name {
        left: 0;
        z-index: 40;
      }
    }

    .alternative-name {
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $darkgrey;

      .alternative-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }

      .percentage {
        font-style: italic;
      }
    }

    .objective-name {
      padding: 5px;
      text-align: center;
      flex: 1 1 0;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      border-bottom: 1px solid $darkgrey;
    }

    .cell-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: $cell-width;
      border-bottom: 1px solid $darkgrey;
      position: relative;

      .plot-box-connection {
        z-index: 10;
        width: calc(var(--col-count) * 100%);
        position: absolute;
        top: 10px;
        left: 0;

        svg {
          width: 100%;
          height: 100%;

          path {
            stroke: dt.$blue;
            stroke-width: 4;
          }
        }
      }

      .half-box {
        width: 50%;
      }

      .wide-box {
        width: 90%;
      }

      .cell-box {
        //margin-top: 10px;
        outline: 1px #d9d9d9 solid;
        position: relative;
        border-radius: 2px;

        .center-value-popover {
          position: absolute;
          background-color: white;
          z-index: 30;
          padding: 5px;
          width: 95%;
          left: 50%;
          top: 100%;
          margin-top: 3px;
          transform: translateX(-50%);

          &.top-tooltip {
            top: -5px;
            transform: translate(-50%, -100%);
          }

          table {
            width: 100%;

            td:first-child {
              text-align: right;
              padding-right: 5px;
            }

            .bold {
              font-weight: 500;
            }
          }
        }

        .mean {
          position: absolute;
          width: 70%;
          height: 2px;
          left: 50%;
          transform: translateX(-50%);
          background-color: dt.$blue;
          z-index: 10;
        }

        .quantiles {
          position: absolute;
          width: 70%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #ccc;
          border-radius: 2px;
          z-index: 5;
        }

        .whisker-vertical {
          position: absolute;
          left: 50%;
          border-left: 1px solid dt.$blue;
          z-index: 5;
        }

        .whisker-horizontal {
          position: absolute;
          width: 50%;
          left: 50%;
          border-bottom: 1px solid dt.$blue;
          z-index: 5;
        }
      }

      .cell-bar {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: dt.$orange;
        border-radius: 2px;
      }

      .cell-description {
        font-size: dt.font-size(caption);
        height: 15px;
        color: #8c8989;
      }
    }
  }
}
