@use '@angular/material' as mat;
@use 'variables' as dt;

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.help-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .spacer {
    min-height: dt.$bottom-bar-height;
    background-color: dt.$help-blue-lighten-9;
    border-top: 1px solid lightgray;
  }

  background-color: dt.$help-blue-lighten-8;
}

.help-page-title {
  padding: 0 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  background-color: dt.$help-blue-lighten-7;
  cursor: pointer;
  height: 35px;
  @include dt.typography-level(headline-4);

  span {
    line-height: 35px;
  }
}

.help-page-wrapper {
  flex: 1 0 0;
  overflow-y: auto;
  background-color: dt.$help-blue-lighten-9;
  display: flex;
  flex-direction: column;

  .help-page {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.empty-placeholder {
  flex: 1;
  padding: 20px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-tabs-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.help-tab.opened + .help-tab .help-page-title {
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.help-tab:not(:last-child) .help-page-title {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.help-tab {
  display: flex;
  flex-direction: column;

  &.opened {
    flex: 1;

    .help-page-wrapper {
      flex: 1;
    }
  }
}
