@use 'variables' as dt;

.indicator-list .indicator-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  padding: 7px 20px;

  .input-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .grayed-out {
      color: gray;
    }

    .name-row-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      .name-col-container {
        display: flex;
        align-items: baseline;

        mat-form-field {
          margin-right: 20px;
        }
      }

      .verbal-indicator-list {
        border-radius: 5px;
        background-color: #e2e4e5;

        span {
          margin-left: 10px;
          font-style: italic;
        }

        ul {
          margin-left: 30px;
        }
      }
    }

    .expand-button {
      background-color: #e2e4e5;
      width: 80px;
      height: 45px;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      mat-icon {
        color: black;
      }
    }
  }
  mat-form-field ::ng-deep .mat-form-field-flex {
    padding-top: 0;
  }
}

.collapsed-interval-error {
  margin-top: -10px;
  padding-bottom: 10px;
}

.drag-element {
  width: 100%;
}

.indicator-row {
  gap: 10px;

  .indicator-drag-handle {
    cursor: move;
  }

  mat-form-field {
    min-width: 120px;
    max-width: 120px;

    &.description-field {
      flex: 1 0 auto;
      max-width: unset;
    }
  }

  .deletion-button:not(.disabled):hover {
    color: dt.$orange;
  }
}

.indicator-scale-row {
  padding: 0;

  .section-title {
    padding: 8px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  mat-divider {
    align-self: stretch;
  }

  .content-column {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin: 10px 20px;
    }

    flex: 1;

    .row {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .hierarchy-container {
    position: relative;

    align-self: stretch;

    min-width: 0;

    flex: 1.1;

    dt-simple-hierarchy {
      height: 100%;
    }
  }

  .description-button {
    align-self: center;
    max-width: 50ch;
  }

  .scale-type-selection {
    flex: 1 0 auto;
    max-width: 600px;
  }

  .custom-formula-field {
    flex: 1;
    max-width: 600px;
    width: 180px;
  }
}

.default-aggregation-settings mat-form-field {
  max-width: 120px;
  min-width: 100px;
}

.column-layout .indicator-scale-row {
  flex-direction: column;
  align-items: stretch;
}

// Default formula popover
.formula-container {
  background-color: white;
  padding: 10px;
}

.custom-formula-katex-container {
  background-color: white;

  max-width: 80vw;
  overflow: auto;

  padding: 10px;
  margin-bottom: 5px;

  border-bottom: 2px solid transparent;

  transition: border-color 0.3s;

  dt-katex {
    font-size: 20px;
    line-height: 2;
  }

  &.empty {
    display: none;
  }

  &.invalid {
    border-bottom-color: var(--mdc-filled-text-field-error-active-indicator-color);
  }
}

// Drag and Drop Indicator Table
.cdk-drag-preview {
  @extend .row;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
