<form [dtWidthTrigger]="{ 'column-layout': 800 }" [formGroup]="form">
  <div cdkDropList (cdkDropListDropped)="indicatorDrop($event)" formArrayName="indicators" #indicatorList class="indicator-list">
    @for (indicatorControl of indicatorsForm.controls; track indicatorControl; let i = $index) {
      <div class="indicator-row row" cdkDrag cdkDragLockAxis="y" [cdkDragBoundary]="indicatorList" [formGroupName]="i">
        <mat-icon class="indicator-drag-handle" (mousedown)="verbalIndicatorListCollapsed[i] = false" cdkDragHandle>drag_handle</mat-icon>
        <div class="input-wrapper">
          <div class="name-row-container">
            <div class="name-col-container">
              <mat-form-field class="description-field">
                <mat-label i18n>Name</mat-label>
                <input #nameInput matInput formControlName="name" (keyup.enter)="enter(i)" />
                @if (indicatorControl.get('name').errors?.required) {
                  <mat-error i18n>Name darf nicht leer sein</mat-error>
                }
                <mat-hint i18n>Formelsymbol {{ i | indicatorVariable: 'indicator' }}</mat-hint>
                <dt-note-btn
                  formControlName="comment"
                  [caption]="indicatorControl.get('name').value | noteBtnPreset: 'indicator'"
                ></dt-note-btn>
              </mat-form-field>
              <button class="expand-button" type="button" (click)="openVerbalIndicatorModal(i)">
                <mat-icon>view_list</mat-icon>
                @if (indicatorControl.get('verbalIndicatorCategories').value.length > 0) {
                  <mat-icon (click)="toggleVerbalIndicatorList($event, i)">{{
                    verbalIndicatorListCollapsed[i] ? 'expand_less' : 'expand_more'
                  }}</mat-icon>
                }
              </button>
            </div>
            @if (verbalIndicatorListCollapsed[i] && indicatorControl.get('verbalIndicatorCategories').value.length > 0) {
              <div class="verbal-indicator-list">
                @if (indicatorControl.get('verbalIndicatorCategories').value.length === 1) {
                  <span i18n>Qualitative Beschreibung</span>
                } @else {
                  <ul>
                    @for (category of indicatorControl.get('verbalIndicatorCategories').value; track category) {
                      <li>{{ category.name }}</li>
                    }
                  </ul>
                }
              </div>
            }
          </div>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label i18n>Schlechtester Wert</mat-label>
            <input matInput type="number" formControlName="min" />
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label i18n>Bester Wert</mat-label>
            <input matInput type="number" formControlName="max" />
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Einheit</mat-label>
            <input matInput formControlName="unit" maxlength="10" />
            <mat-hint align="end">{{ indicatorControl.get('unit').value?.length || 0 }}/10</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n>Gewicht</mat-label>
            <input matInput type="number" formControlName="weight" />
            @if (indicatorControl.get('weight').hasError('min')) {
              <mat-error i18n>Gewicht muss positiv sein</mat-error>
            }
            <mat-hint i18n>Formelsymbol {{ i | indicatorVariable: 'coefficient' }}</mat-hint>
          </mat-form-field>
        </div>
        <button class="deletion-button" mat-icon-button type="button" [disabled]="indicators.length < 2" (click)="deleteIndicator(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }

    <div class="row">
      <button mat-button color="accent" (click)="addIndicator()" type="button"
        ><mat-icon>add_box</mat-icon><ng-container i18n>Indikator hinzufügen</ng-container></button
      >
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row indicator-scale-row">
    <div class="content-column">
      <div class="section-title" i18n>Aggregierte Skala</div>
      <div class="row">
        <mat-form-field class="scale-type-selection" subscriptSizing="dynamic" data-cy="aggregation-type-selection">
          <mat-label i18n>Aggregationsart</mat-label>
          <mat-select formControlName="useCustomAggregation">
            <mat-option [value]="false" i18n>Additiv gewichtete Zusammensetzung bei Definition einer gewünschten Zielskala</mat-option>
            <mat-option [value]="true" i18n data-cy="custom-aggreation-formula">Benutzerdefinierte Formel</mat-option>
          </mat-select>
          @if (!form.get('useCustomAggregation').value) {
            <mat-icon matSuffix [dtHoverPopover]="formula">info</mat-icon>
          }
          <ng-template #formula>
            <div class="formula-container mat-elevation-z3"><dt-katex [latex]="defaultAggregationTex"></dt-katex></div>
          </ng-template>
        </mat-form-field>
      </div>
      @if (form.get('useCustomAggregation').value) {
        <div class="row">
          <mat-form-field
            class="description-field custom-formula-field"
            [dtFocusPopover]="customFormula"
            [dtFocusPopoverPosition]="'top'"
            [dtFocusPopoverDisableAnimation]="true"
          >
            <mat-label i18n>Aggregationsformel</mat-label>
            <input matInput formControlName="customAggregationFormula" data-cy="custom-aggregation-formula-input" />
            @if (form.get('customAggregationFormula').errors?.invalidFormula) {
              <mat-error i18n>Die Formel ist ungültig</mat-error>
            }
            @if (form.get('customAggregationFormula').errors?.collapsedInterval) {
              <mat-error i18n>Die angegebene Formel muss ein Intervall aufspannen</mat-error>
            }
            <button mat-icon-button matSuffix type="button" (click)="openAggregationExplanation(); $event.stopPropagation()"
              ><mat-icon>info</mat-icon></button
            >
          </mat-form-field>
          <ng-template #customFormula>
            <div
              class="mat-elevation-z3 custom-formula-katex-container"
              [class.empty]="!form.get('customAggregationFormula').value"
              [class.invalid]="!form.get('customAggregationFormula').valid"
            >
              <dt-katex [latex]="customAggregationFormulaLatex"></dt-katex>
            </div>
          </ng-template>
        </div>
      }
      @if (form.get('useCustomAggregation').value) {
        <mat-slide-toggle formControlName="automaticCustomAggregationLimits" i18n data-cy="calculate-limits-automatically"
          >Bandbreite automatisch berechnen</mat-slide-toggle
        >
      }
      <div class="row default-aggregation-settings">
        <div class="input-wrapper">
          <div formGroupName="range">
            <div class="input-wrapper">
              <mat-form-field subscriptSizing="dynamic" floatLabel="always">
                <mat-label i18n>Schlechtester Wert</mat-label>
                @if (form.get('useCustomAggregation').value && form.get('automaticCustomAggregationLimits').value) {
                  <input
                    readonly
                    class="grayed-out"
                    matInput
                    type="number"
                    [value]="aggregationFormulaMin"
                    data-cy="custom-aggregation-auto-min"
                  />
                } @else {
                  <input matInput type="number" formControlName="worst" />
                }
              </mat-form-field>
              <mat-form-field subscriptSizing="dynamic" floatLabel="always">
                <mat-label i18n>Bester Wert</mat-label>
                @if (form.get('useCustomAggregation').value && form.get('automaticCustomAggregationLimits').value) {
                  <input
                    readonly
                    class="grayed-out"
                    matInput
                    type="number"
                    [value]="aggregationFormulaMax"
                    data-cy="custom-aggregation-auto-max"
                  />
                } @else {
                  <input matInput type="number" formControlName="best" />
                }
              </mat-form-field>
            </div>
          </div>
          <mat-form-field>
            <mat-label i18n>Einheit</mat-label>
            <input matInput formControlName="aggregatedUnit" maxlength="10" />
            <mat-hint align="end">{{ form.get('aggregatedUnit').value?.length || 0 }}/10</mat-hint>
          </mat-form-field>
        </div>
      </div>
      @if (form.get('range').errors?.collapsedInterval) {
        <mat-error class="collapsed-interval-error" i18n>Bester und schlechtester Wert dürfen nicht identisch sein</mat-error>
      }
      <button mat-raised-button color="accent" type="button" class="description-button" [disabled]="!form.valid" (click)="openDescription()"
        ><mat-icon>edit_note</mat-icon><ng-container i18n>Ausprägungen der Zielskala beschreiben</ng-container></button
      >
      @if (!isFormulaComplete) {
        <mat-error class="dt-error" i18n>Du hast nicht alle Indikatoren in der Formel verwendet.</mat-error>
      }
      @if (isScaleChanged) {
        <mat-error class="dt-error" i18n
          >Die konstruierte Skala wurde geändert. Die beschriebenen Stufen werden entsprechend angepasst.</mat-error
        >
      }
      @if (isFormulaChanged) {
        <mat-error class="dt-error" i18n
          >Wenn Du zwischen additiven und benutzerdefinierten Formeln wechselst, verlierst Du alle bereits beschriebenen Stufen.</mat-error
        >
      }
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-divider></mat-divider>
    <div #hierarchyContainer class="content-column hierarchy-container">
      <dt-simple-hierarchy
        [tree]="objectiveTree"
        (doubleClickNode)="addIndicatorFromHierarchy($event.element, $event.location, $event.htmlElement)"
      >
        <button
          beforeToolbar
          type="button"
          mat-icon-button
          #tooltip="matTooltip"
          i18n-matTooltip
          matTooltip="Durch Doppelklick kannst Du direkt Aspekte aus diesem Ziel als Indikator hinzufügen."
          (click)="tooltip.show()"
          ><mat-icon>info</mat-icon></button
        >
        <mat-divider vertical beforeToolbar></mat-divider>
      </dt-simple-hierarchy>
    </div>
  </div>
</form>
