<div class="dt-limit-width header-wrapper">
  <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Zielgewichte</dt-step-title>

  <dt-step-description>
    <ng-template #description>
      @if (selectedObjective !== -1) {
        <ng-container i18n
          >Gib an, wie viel Verschlechterung Du in einem Ziel hinnehmen würdest, um eine Verbesserung in einem anderen Ziel zu
          erreichen.</ng-container
        >
      } @else {
        <ng-container i18n>Gib an, wie wichtig Dir die einzelnen Ziele sind.</ng-container>
      }
    </ng-template>
    <ng-template #subDescription>
      @if (selectedObjective !== -1) {
        <ng-container i18n
          >Passe die Werte für Zielgewichtung und Präzisionsintervall durch die Buttons unten an oder gib direkt einen Trade-off an. Rechts
          siehst Du die Bedeutung der Abbildung auf zwei Arten erklärt.</ng-container
        >
      } @else {
        <ng-container i18n
          >Um Deine Zielgewichte zu validieren, kannst Du die Trade-offs nutzen. In diesen musst Du angeben, wie viel Du für eine
          Verbesserung in einem Ziel bereit bist, von einem anderen Ziel abzugeben.</ng-container
        >
      }
    </ng-template>
  </dt-step-description>

  @if (selectedObjective !== -1) {
    <dt-note-btn
      [caption]="objective.name | noteBtnPreset: 'objectiveWeight'"
      [(comment)]="decisionData.weights.explanations[selectedObjective]"
    ></dt-note-btn>
  }

  @if (!decisionDataState.areObjectiveWeightsReadonly) {
    <dt-objective-weighting-navigation (selectedObjectiveChange)="selectedObjective = $event"></dt-objective-weighting-navigation>
  }
</div>

<div [class.dt-limit-width]="selectedObjective !== -1">
  <router-outlet></router-outlet>
</div>
