@use 'variables' as dt;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
  font-size: dt.font-size(caption);

  column-gap: 10px;

  &.horizontal {
    flex-direction: row;
  }

  .build-info {
    color: rgb(255, 200, 61);
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    user-select: none;

    .seperator {
      display: none;
    }

    span {
      margin: 0 -5px;
    }

    &.horizontal .seperator {
      display: initial;
    }
  }

  a {
    color: currentColor;

    opacity: 0.9;
  }
}
