<button mat-flat-button [disabled]="allCollapsed" (click)="collapseAllClick()" i18n>Alle einklappen</button>
<button mat-flat-button [disabled]="allExpanded" (click)="expandAllClick()" i18n>Alle ausklappen</button>
