@use 'variables' as dt;

:host {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  overflow: hidden;
  height: 36px;

  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow:
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  button.mat-mdc-button-base {
    border-radius: 0;
    height: 100%;

    &:not(:disabled) {
      color: dt.$orange;
    }

    &:first-child {
      border-right: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}
