<dt-modal-content [showFooter]="true" (closeClick)="dialogRef.close(false)" [contentPadding]="false" [flexContent]="true">
  <ng-template i18n #title>Skala zu anderen Zielen kopieren</ng-template>
  <ng-template #subtitle>
    <span i18n>Ziel</span> <strong> "{{ decisionData.objectives[objectiveIdx].name }}"</strong>
  </ng-template>
  <ng-template #content>
    <div class="main-container">
      <p
        ><span i18n>Wähle, welche Ziele die Skala von</span> "{{ decisionData.objectives[objectiveIdx].name }}"
        <span i18n>übernehmen sollen:</span></p
      >
      <ul class="checkbox-container">
        @for (ziel of decisionData.objectives; track ziel; let idx = $index) {
          @if (objectiveIdx !== idx) {
            <li class="checkbox">
              <mat-checkbox [(ngModel)]="checkBoxes[idx]">{{ ziel.name }}</mat-checkbox>
            </li>
          }
        }
      </ul>
      @if (!allObjectivesChecked) {
        <button i18n mat-button color="accent" (click)="checkAll()">Alle auswählen</button>
      }
      @if (allObjectivesChecked) {
        <button i18n mat-button color="accent" (click)="checkAll()">Alle abwählen</button>
      }
    </div>
  </ng-template>

  <ng-template #footer>
    <button mat-raised-button color="accent" [disabled]="noObjectivesChecked" (click)="confirmChanges()"
      ><mat-icon>content_copy</mat-icon><ng-container i18n>Skala kopieren</ng-container></button
    >
    <button mat-raised-button color="accent-less" (click)="dialogRef.close(false)" i18n>Verwerfen</button>
  </ng-template>
</dt-modal-content>

<ng-template #confirmModal let-dialogRef="dialogRef">
  <dt-modal-content [showFooter]="true" (closeClick)="dialogRef.close(false)" [dialogRef]="dialogRef">
    <ng-template #title i18n>Änderungen bestätigen</ng-template>
    <ng-template #content>
      <p i18n>Bist Du sicher, dass Du die Skala kopieren willst? Die entsprechenden Daten in der Matrix werden zurückgesetzt.</p>
    </ng-template>
    <ng-template #footer>
      <button mat-raised-button color="accent" (click)="dialogRef.close(true)" i18n>Kopieren</button>
      <button mat-raised-button color="accent-less" (click)="dialogRef.close(false)" i18n>Abbrechen</button>
    </ng-template>
  </dt-modal-content>
</ng-template>
