<h1>Welche Entscheidung möchte ich treffen?</h1>
<klug-step-description
  >Mithilfe der Entscheidungsfrage kannst Du klar formulieren, was genau Du entscheiden möchtest. Beginne die Frage am besten mit einem
  „W-Wort“ (Was, Wie, Wo, Welche, etc.).</klug-step-description
>
<klug-decision-statement-box></klug-decision-statement-box>

<ng-template #help>
  <p> Je konkreter Du Deine Frage stellst, desto mehr wird die Komplexität der Entscheidung reduziert. </p>
  <h2>Beispiele</h2>
  <ul>
    <li>
      Kannst Du Deine Stärken und Interessensbereiche benennen und möchtest Du wissen, welcher konkrete Ausbildungsweg (Studium, Ausbildung,
      Duales Studium, etc.) am besten zu Dir passt? Dann lautet Deine Entscheidungsfrage: Welcher Ausbildungsweg passt am besten zu mir?
    </li>
    <li
      >Kennst Du bereits Deine Stärken und weißt Du, dass Du ein Studium machen möchtest? Dann lautet Deine Entscheidungsfrage: Was und wo
      soll ich studieren?
    </li>
  </ul>
</ng-template>
