@use 'variables' as dt;

dt-table-layout {
  max-height: 100%;
}

.filters-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px 36px;

  .search-query {
    flex: 1 0 auto;
    max-width: 500px;
  }

  mat-radio-group,
  .checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

:host {
  flex: 1 0 0;
  min-height: 0;
}

mat-tab-group {
  max-height: 100%;
}

dt-rich-text-editor {
  max-height: 100%;
}

.tab-content {
  padding: 16px;

  margin: 0 auto;
  max-width: 800px;
}

.event-configuration-form {
  dt-event-configuration {
    display: block;
    margin-bottom: 16px;
  }

  button {
    margin-right: 8px;
  }
}

.editable-tab-label {
  flex-direction: column;

  .dirty-text {
    @include dt.typography-level(caption);
    font-style: italic;
  }
}

.error-container {
  padding: 16px;
  margin: 0 auto;
  max-width: max-content;
}
