@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;

  max-width: 100px;

  position: relative;

  height: 100%;

  .descriptor {
    position: absolute;
    transform: translateY(-50%);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 100%;

    color: gray;
    font-size: dt.font-size(caption);
    font-weight: 500;
  }
}
