@if (showTitle) {
  <div class="dt-limit-width">
    <dt-step-title step="results"
      ><span>{{ 'results' | naviStep }}:&nbsp;</span><span i18n>Pros und Kontras</span>
    </dt-step-title>
  </div>
}

<dt-step-description
  class="dt-limit-width"
  [mainDescriptionOnly]="decisionData.isProfessional()"
  [withBiggerMargin]="!decisionData.isProfessional()"
>
  <ng-template #description>
    @if (!decisionData.isProfessional()) {
      <ng-container i18n>Verschaffe Dir einen Überblick über die einzelnen Vor- und Nachteile.</ng-container>
    }
    @if (decisionData.isProfessional()) {
      <ng-container i18n
        >Hier kannst Du sehen, welche Alternativen in den einzelnen Zielen über- bzw. unterdurchschnittlich abschneiden und somit wo die
        Stärken und Schwächen der einzelnen Alternativen liegen.</ng-container
      >
    }
  </ng-template>
  <ng-template #subDescription i18n
    >Hier kannst Du sehen, welche Alternativen in den einzelnen Zielen über- bzw. unterdurchschnittlich abschneiden und wo die Stärken und
    Schwächen der einzelnen Alternativen liegen.</ng-template
  >
</dt-step-description>

<dt-select-line class="dt-limit-width">
  <dt-select [(selectedOptions)]="display">
    <dt-select-label i18n>Ansicht</dt-select-label>
    <dt-select-option
      [value]="'polar'"
      [disabled]="decisionData.objectives.length < 3"
      [tooltipWhenDisabled]="'Für das Netzdiagramm sind mindestens drei Ziele erforderlich.'"
      i18n-tooltipWhenDisabled
      i18n
      >Netzdiagramm (absolut)</dt-select-option
    >
    <dt-select-option [value]="'bar'" i18n>Balkendiagramm (relativ)</dt-select-option>
  </dt-select>

  <dt-select
    [multiple]="true"
    [(selectedOptions)]="indicesOfCheckedAlternatives"
    (selectedOptionsChange)="handleAlternativeToggledUpdate()"
  >
    <dt-select-label i18n>Alternativen</dt-select-label>
    @for (alternative of decisionData.alternatives; track alternative; let index = $index) {
      <dt-select-option [value]="index">{{ alternative.name }}</dt-select-option>
    }
  </dt-select>

  <dt-select
    [disabled]="display === 'polar'"
    [(selectedOptions)]="referenceAlternativeIndex"
    [seperateFirst]="true"
    class="reference-select"
  >
    <dt-select-label i18n>Referenzwert</dt-select-label>
    <dt-select-option [value]="-1" i18n>Vergleichsgruppe</dt-select-option>
    @for (alternative of decisionData.alternatives; track alternative; let index = $index) {
      <dt-select-option [value]="index" [disabled]="!indicesOfCheckedAlternatives.includes(index)">{{ alternative.name }}</dt-select-option>
    }
  </dt-select>

  <dt-select
    [disabled]="display === 'polar'"
    [(selectedOptions)]="objectiveOrder"
    (selectedOptionsChange)="handleObjectiveOrderUpdate(); handleAlternativeToggledUpdate()"
  >
    <dt-select-label i18n>Zielsortierung</dt-select-label>
    <dt-select-option [value]="'default'" i18n>Standard</dt-select-option>
    <dt-select-option [value]="'weights'" i18n>Zielgewichte</dt-select-option>
  </dt-select>
</dt-select-line>

@if (display === 'polar') {
  <dt-polar-chart class="dt-limit-width" [items]="checkedAlternatives" [dimensionLabels]="objectiveNames" [maxValue]="1"></dt-polar-chart>
}

@if (display === 'bar') {
  <dt-pro-contra-bar-chart
    [shownAlternativeIndices]="indicesOfCheckedAlternatives"
    [referenceAlternativeIndex]="referenceAlternativeIndex"
    [sortedObjectiveIndices]="sortedObjectiveIndices"
  ></dt-pro-contra-bar-chart>
}

<ng-template #helpContent>
  <p i18n
    >Das Diagramm veranschaulicht für jedes Ziel die Vor- und Nachteile relativ zum Durchschnitt der jeweils ausgewählten Alternativen. Die
    grünen (roten) Balken stellen relative Vorteile (Nachteile) gegenüber den anderen Alternativen in dem jeweiligen Ziel dar.</p
  >
  <p i18n
    >Die Balkenhöhen stellen berechnete Nutzenunterschiede dar. Da in der Berechnung dieser Nutzenunterschiede auch die Zielgewichte
    berücksichtigt werden, fallen die Balken bei wichtigeren Zielen tendenziell größer aus.</p
  >
</ng-template>
