@use 'variables' as dt;

.main-container {
  padding: 15px;
  overflow: auto;
}

/* nur für chrome */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* für firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hidden-element {
  display: none;
}

.stage-value {
  margin-bottom: 10px;
}

input.stage-value-input {
  max-width: 80px;
  text-align: center;
}

.custom-left {
  flex: 1 0 200px;
  min-width: 200px;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

.stage-container {
  margin-bottom: 15px;
}

.add-stage-container {
  text-align: center;
  margin-bottom: 15px;
}

.add-stage-button {
  min-width: 300px;
}

.title-row {
  padding: 10px 0;
}

.stage-divider {
  margin-bottom: 10px;
}

.settings-center-container {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: right;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.formula-caption {
  text-align: center;
  font-weight: 500;
}

.button-container {
  min-width: 200px;
}

.error-container {
  text-align: center;
}

.custom-number-container {
  display: flex;
  justify-content: space-around;

  .option-card {
    border: 2px solid dt.$blue;
    flex: 1;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;

    &.selected {
      border: 2px solid dt.$orange;

      .card-title {
        background-color: dt.$orange;
      }
    }

    .card-title {
      text-align: center;
      background-color: dt.$blue;
      color: white;
      padding: 5px 0;
    }

    .card-content {
      padding: 5px;

      .category-name {
        font-weight: 500;
      }

      .stage-list {
        margin-left: 25px;
      }
    }
  }
}
