<dt-modal-content size="big" (closeClick)="dialogRef.close(false)" [showFooter]="true" [contentPadding]="false" [flexContent]="true">
  <ng-template #title i18n>Stufen für Indikatorskala beschreiben</ng-template>
  <ng-template #content>
    <div class="main-container" #mainContainer>
      <div [class.hidden-element]="!showStages">
        <div class="title-row">
          <button
            mat-button
            (click)="toggleAddingStageMode()"
            [disabled]="numberOfStages >= indicatorData.maxStages && !addingStageMode"
            color="accent"
            type="button"
          >
            <mat-icon>{{ addingStageMode ? 'disabled_by_default' : 'add_box' }}</mat-icon>
            @if (addingStageMode) {
              <ng-container i18n>Abbrechen</ng-container>
            } @else {
              <ng-container i18n>Stufe hinzufügen</ng-container>
            }
          </button>
        </div>
        <mat-divider class="stage-divider"></mat-divider>
        @for (stage of copyStages; track stage; let stageIdx = $index) {
          <div class="stage-container">
            <dt-inputbox-simple
              (deleteEvent)="deleteStage(stageIdx)"
              [(notes)]="copyStages[stageIdx].description"
              [showSmallContainer]="false"
              [collapsibleButton]="false"
              [draggable]="false"
              [deleteDisabled]="stageIdx === 0 || stageIdx === copyStages.length - 1"
              [shortQuill]="true"
              [nameInput]="false"
            >
              <div class="caption-wrapper">
                <ng-container i18n>Stufe</ng-container>
                {{ stageIdx + 1 }}:
                @if (stageIdx === 0) {
                  <span i18n>(Schlechteste Ausprägung)</span>
                }
                @if (stageIdx === copyStages.length - 1) {
                  <span i18n>(Beste Ausprägung)</span>
                }
              </div>
              <div class="container-left custom-left">
                @if (stageIdx === 0 || stageIdx === copyStages.length - 1) {
                  <div class="stage-value" title="Die Randpunkte der Skala können nicht verändert werden" i18n-title>
                    {{ stage.value | safeNumber: '?' : '1.0-' + maxDecimalPoints }}
                  </div>
                }
                @if (stageIdx !== 0 && stageIdx !== copyStages.length - 1) {
                  <input
                    type="number"
                    class="stage-value-input"
                    title="Ausprägung {{ stageIdx + 1 }}"
                    [ngModel]="stage.value"
                    (ngModelChange)="stage.value = $event"
                    (keyup.enter)="addStage(stageIdx + 1)"
                    required
                    i18n-title
                  />
                  <br />
                }
                <button
                  mat-raised-button
                  color="accent"
                  (click)="openStage(stageIdx)"
                  i18n-title
                  title="Mögliche Kombinationen berechnen"
                  [disabled]="!validStages || hasDuplicates"
                  ><mat-icon>calculate</mat-icon><ng-container i18n>Beispiele</ng-container></button
                >
              </div>
            </dt-inputbox-simple>
          </div>
          @if (stageIdx < numberOfStages - 1 && addingStageMode) {
            <div class="add-stage-container">
              <button
                mat-raised-button
                color="accent"
                class="add-stage-button"
                (click)="addStage(stageIdx + 1)"
                [disabled]="numberOfStages >= indicatorData.maxStages"
                ><mat-icon>add</mat-icon><ng-container i18n>Stufe hinzufügen</ng-container></button
              >
            </div>
          }
        }
        <div class="error-container">
          @if (!validStages) {
            <mat-error class="dt-error" i18n
              >Die Stufen liegen außerhalb der konstruierten Skala oder sind nicht in der richtigen Reihenfolge</mat-error
            >
          }
          @if (hasDuplicates) {
            <mat-error class="dt-error" i18n>Die gleiche Stufe wird zweimal beschrieben</mat-error>
          }
        </div>
      </div>
      @if (!showStages) {
        <div>
          <div class="header-container">
            <div class="button-container">
              <button mat-raised-button color="accent" (click)="closeStage()"
                ><mat-icon>arrow_back</mat-icon><ng-container i18n>Zurück</ng-container></button
              >
            </div>
            <div class="formula-caption">
              <div i18n>Wunschwert: {{ copyStages[openedStage]?.value }}</div>
              @if (!indicatorData.useCustomAggregation) {
                <ng-container i18n>Vorgegebene Formel</ng-container>
              } @else {
                <ng-container i18n>Benutzerdefinierte Formel</ng-container>
              }
            </div>
            <div class="settings-center-container">
              <dt-select [(selectedOptions)]="displayVariant">
                <dt-select-label i18n>Ansicht</dt-select-label>
                <dt-select-option [value]="'simple'" i18n>Einfach</dt-select-option>
                <dt-select-option [value]="'extended'" i18n>Erweitert</dt-select-option>
              </dt-select>
            </div>
          </div>
          <dt-combination-component
            [aggregatedUnit]="indicatorData.aggregatedUnit"
            [customAggregationFormula]="indicatorData.customAggregationFormula"
            [globalVariables]="indicatorData.globalVariables"
            [expandOptions]="displayVariant === 'extended'"
            [indicators]="indicatorData.indicators"
            [isAdditive]="!indicatorData.useCustomAggregation"
            [openedStage]="openedStage"
            [scaleMin]="scaleMin"
            [scaleMax]="scaleMax"
            [stages]="copyStages"
          >
          </dt-combination-component>
        </div>
      }
    </div>
  </ng-template>

  <ng-template #footer>
    @if (openedStage < 0) {
      <button mat-raised-button color="accent" [disabled]="!validStages || hasDuplicates || !hasChanges" (click)="saveData()"
        ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
      >
    }
    @if (openedStage < 0 && hasVerbalIndicators && !indicatorData.useCustomAggregation) {
      <button mat-raised-button color="accent" (click)="checkVerbalStages()"
        ><mat-icon>edit_note</mat-icon><ng-container i18n>Qualitative Stufen importieren</ng-container></button
      >
    }
    @if (openedStage < 0) {
      <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Verwerfen</button>
    }
    @if (openedStage >= 0) {
      <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Schließen</button>
    }
  </ng-template>
</dt-modal-content>

<ng-template #stageNumberInputModal>
  <dt-modal-content
    (closeClick)="closeCustomNumberOfStagesModal()"
    [showFooter]="true"
    [contentPadding]="true"
    [flexContent]="true"
    size="normal"
  >
    <ng-template #title i18n>Stufen für Indikatorskala beschreiben</ng-template>
    <ng-template #content>
      <p i18n
        >Die existierenden qualitativen Skalen können nicht eindeutig zusammengefasst werden. Bitte wähle eine der folgenden Optionen:</p
      >
      <div class="custom-number-container">
        @for (customNumberOfStages of possibleCustomNumberOfStages; track customNumberOfStages; let possibleStageIdx = $index) {
          <div
            class="option-card"
            [class.selected]="possibleStageIdx === selectedCustomNumberIdx"
            (click)="selectedCustomNumberIdx = possibleStageIdx"
          >
            <div class="card-title" i18n>{{ customNumberOfStages }} Stufen</div>
            <div class="card-content">
              @for (category of listOfVerbalCategories; track category) {
                @if (category.stages.length === customNumberOfStages) {
                  <div>
                    @if (category.isSolo) {
                      <span class="category-name">{{ category.indicatorName }}:</span>
                    }
                    @if (!category.isSolo) {
                      <span class="category-name">{{ category.indicatorName }} — {{ category.name }}:</span>
                    }
                    <ul class="stage-list">
                      @for (stage of category.stages; track stage) {
                        <li>{{ stage.name }}</li>
                      }
                    </ul>
                  </div>
                }
              }
            </div>
          </div>
        }
      </div>
    </ng-template>

    <ng-template #footer>
      <button mat-raised-button color="accent" (click)="generateSuggestedVerbalStages()" [disabled]="selectedCustomNumberIdx == null"
        ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
      >
      <button mat-raised-button color="accent-less" (click)="closeCustomNumberOfStagesModal()" i18n>Verwerfen</button>
    </ng-template>
  </dt-modal-content>
</ng-template>
