<div class="scroll-container" #scrollContainer (scroll.outside-zone)="updateScrollProperties()">
  <ng-content select="dt-scroll-shadow-inner"></ng-content>
</div>

@if (showShadow.top) {
  <div class="shadow top"></div>
}
@if (showShadow.bottom) {
  <div class="shadow bottom"></div>
}
@if (showShadow.left) {
  <div class="shadow left"></div>
}
@if (showShadow.right) {
  <div class="shadow right"></div>
}
