:host {
  display: block;
  position: relative;
}

.scroll-container {
  height: inherit;
  width: inherit;
  overflow: auto;
}

.shadow {
  position: absolute;
  z-index: 101;
  pointer-events: none;

  &.left,
  &.right {
    top: 0;
    bottom: 0;
    width: 10px;
  }

  &.top,
  &.bottom {
    left: 0;
    right: 0;
    height: 10px;
  }

  &.left {
    left: 0;
    background: linear-gradient(90deg, rgb(0, 0, 0, 0.12) 0%, transparent 100%);
  }
  &.right {
    background: linear-gradient(270deg, rgb(0, 0, 0, 0.12) 0%, transparent 100%);
    right: 0;
  }
  &.bottom {
    bottom: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.12) 0%, transparent 100%);
  }
  &.top {
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.12) 0%, transparent 100%);
    top: 0;
  }
}
