mat-form-field {
  display: block;
  margin: 5px 0;
}

mat-radio-button {
  margin: 5px 0;
}

.radio-content {
  white-space: normal;
}

.rc-progress {
  margin: 10px 0;
}

.pdf-button-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

h4 {
  color: inherit;
}
