<dt-modal-content size="giant" (closeClick)="dialogRef.close()" [flexContent]="true">
  <ng-template i18n #title>Eingabe einer qualitativen Wirkungsprognose</ng-template>
  <ng-template i18n #subtitle
    >Alternative <strong>„{{ verbalIndicatorForecastModalData.alternative.name }}“</strong>, Ziel
    <strong>„{{ verbalIndicatorForecastModalData.objective.name }}“</strong>, Indikator
    <strong
      >„{{
        verbalIndicatorForecastModalData.objective.indicatorData.indicators[verbalIndicatorForecastModalData.indicatorIdx].name
      }}“</strong
    >
    @if (verbalIndicatorForecastModalData.influenceFactor != null) {
      <span
        >, Zustand
        <strong
          >„{{
            verbalIndicatorForecastModalData.influenceFactor
              | stateName: (diagram != null ? diagram.stateIdx : verbalIndicatorForecastModalData.stateIdx)
          }}“</strong
        ></span
      >
    }
  </ng-template>
  <ng-template #content>
    <dt-verbal-indicator-diagram
      #diagram
      diagramMode="forecast"
      [indicatorIdx]="verbalIndicatorForecastModalData.indicatorIdx"
      [indicator]="verbalIndicatorForecastModalData.objective.indicatorData.indicators[verbalIndicatorForecastModalData.indicatorIdx]"
      [stateIdx]="verbalIndicatorForecastModalData.stateIdx"
      [influenceFactor]="verbalIndicatorForecastModalData.influenceFactor"
      [outcomeValues]="verbalIndicatorForecastModalData.outcomeValues"
    ></dt-verbal-indicator-diagram>
  </ng-template>

  <ng-template #footer>
    <button mat-raised-button color="accent" (click)="apply()" i18n>Übernehmen</button>
    <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Verwerfen</button>
  </ng-template>
</dt-modal-content>
