@use 'variables' as dt;
@use '@angular/material' as mat;

.invite {
  background-color: rgba(240, 240, 240);

  mat-cell {
    font-style: italic;
    color: gray;
  }

  .mat-column-email {
    width: 100%;
    position: relative;

    .edit-email-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        width: 100%;
        background-color: white;
        padding: 3px;

        @include mat.elevation(3);
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }
  }

  .edit-email-button {
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    position: absolute;
    right: 16px;
  }

  &:hover {
    .edit-email-button {
      opacity: 1;
    }
  }
}

.mat-column-actions {
  display: flex;
  justify-content: flex-end;
  max-width: 200px;
}

mat-form-field {
  width: 100%;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.mat-column-role {
  max-width: 12rem;
}

span {
  width: 100%;
}
