<svg:g #ticksel>
  @for (tick of xAxis.ticks; track tick; let i = $index) {
    <svg:g class="tick" [attr.transform]="tickTransform(tick)">
      <title>{{ tickFormat(tick) }}</title>
      <svg:text
        #textel
        stroke-width="0.01"
        [attr.text-anchor]="textAnchor"
        [attr.transform]="textTransform(tick, $any(textel))"
        [style.font-size]="'12px'"
      >
        {{ tickTrim(tickFormat(tick)) }}
      </svg:text>
    </svg:g>
  }
</svg:g>
@for (tick of xAxis.ticks; track tick) {
  <svg:g [attr.transform]="tickTransform(tick)">
    @if (xAxis.gridLines) {
      <svg:g [attr.transform]="gridLineTransform()">
        <svg:line class="gridline-path gridline-path-vertical" [attr.y1]="-dims.height" y2="0" />
      </svg:g>
    }
  </svg:g>
}
