<dt-object-box [darkHeader]="true">
  <ng-template #header>
    <input
      class="name-field browser-default"
      type="text"
      [(ngModel)]="influenceFactor.customName"
      placeholder="Kombinierter Einflussfaktor: {{ influenceFactor.defaultName }}"
      i18n-placeholder
      [readonly]="readonly"
    />
    <div
      matTooltip="Der Einflussfaktor wird in einem kombinierten Einflussfaktor verwendet"
      i18n-matTooltip
      [matTooltipDisabled]="!usedInCombinedIF"
    >
      <button
        mat-icon-button
        [disabled]="usedInCombinedIF || readonly"
        dtConfirmPopover="Einflussfaktor wirklich löschen?"
        i18n-dtConfirmPopover
        (dtConfirmPopoverConfirm)="deleteClick.emit()"
        ><mat-icon>delete</mat-icon></button
      >
    </div>
    <dt-note-btn
      [darkBackground]="true"
      [(comment)]="influenceFactor.comment"
      [caption]="influenceFactor.name | noteBtnPreset: 'influenceFactor'"
      [readonly]="readonly"
    >
      <dt-team-comments additional-modal-content [object]="influenceFactor"></dt-team-comments>
    </dt-note-btn>
  </ng-template>
  <ng-template #body>
    <div class="table-wrapper">
      <table>
        <tr>
          <th>
            <div class="right">{{ influenceFactor.baseFactors[1].name }}</div>
            <div>{{ influenceFactor.baseFactors[0].name }}</div>
          </th>
          @for (state of secondBaseFactorStates; track state; let stateIndex = $index) {
            <th> {{ influenceFactor.baseFactors[1] | stateName: stateIndex }} ({{ state.probability / 100 | percent }}) </th>
          }
        </tr>
        @for (firstState of firstBaseFactorStates; track firstState; let firstIndex = $index) {
          <tr>
            <th>{{ influenceFactor.baseFactors[0] | stateName: firstIndex }} ({{ firstState.probability / 100 | percent }})</th>
            @for (_ of secondBaseFactorStates; track _; let secondIndex = $index) {
              <td>
                <!-- TODO: Uncomment or delete in the future -->
                <!--            <dt-select-->
                <!--              [(selectedOptions)]="influenceFactor.crossImpacts[firstIndex][secondIndex]"-->
                <!--              (selectedOptionsChange)="recomputeProbabilities()"-->
                <!--              [disabled]="readonly"-->
                <!--            >-->
                <!--              <dt-select-option *ngFor="let crossImpact of crossImpacts" [value]="crossImpact">{{-->
                <!--                crossImpact | crossImpactName-->
                <!--              }}</dt-select-option>-->
                <!--            </dt-select>-->
                <div class="probability-text">({{ probabilities[firstIndex][secondIndex] | percent }})</div>
              </td>
            }
          </tr>
        }
      </table>
    </div>
    <div class="footer">
      <button mat-raised-button color="accent-less" (click)="showConnections()" i18n>{usageCount, plural,
        =1 {1 Verknüpfung}
        other {{{usageCount}} Verknüpfungen}
      }</button>
    </div>
  </ng-template>
</dt-object-box>
