@use 'variables' as dt;

dt-object-box {
  background-color: dt.$blue;
}

.name-field {
  flex: 1;
  outline: none;
  margin-left: 8px;

  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s;

  &,
  &::placeholder {
    font-weight: bold;
    color: white;
  }

  &:not(:focus)::placeholder {
    opacity: 1;
  }

  &:focus,
  &:hover {
    border-bottom-color: dt.$orange;
  }
}

.table-wrapper {
  background-color: white;
  overflow-x: auto;

  .right {
    text-align: right;
  }

  table {
    min-width: 100%;

    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;

    text-align: center;

    th,
    td {
      padding: 8px 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      white-space: nowrap;

      &:first-child {
        text-align: left;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

    th {
      font-weight: 500;
    }

    tr:first-child {
      vertical-align: top;

      td,
      th {
        padding-top: 16px;
      }
    }

    tr:last-child {
      td,
      th {
        padding-bottom: 16px;
      }
    }
  }

  dt-select {
    width: 200px;
  }

  .probability-text {
    display: inline-block;
    width: 3.5em;
    text-align: center; // TODO: change to right when reverting changes
    vertical-align: middle;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  padding: 4px 16px;

  background-color: #f5f5f5;

  .precision {
    width: 150px;
  }
}
