<div class="utilityfunction-wrapper" [dtWidthTrigger]="{ 'reversed-stacking': 949 }">
  <div class="graph-container">
    <dt-utilityfunction-graph-verbal
      [objective]="objective"
      [huge]="true"
      [selectedLeft]="firstIndex()"
      [selectedMiddle]="middleIndex()"
      [selectedRight]="lastIndex()"
      [showYAxisLabel]="true"
      [readonly]="readonly"
    ></dt-utilityfunction-graph-verbal>
  </div>

  <div class="right-container">
    <div class="tab-container">
      <dt-tabs>
        <dt-tab [title]="'I'">
          <div class="content">
            <p i18n
              >Wenn die gesamte Nutzenverbesserung von „{{ intervalFirstName() }}“ auf „{{ intervalLastName() }}“ betrachtet wird, dann hat
              die Verbesserung von „{{ intervalFirstName() }}“ auf „{{ intervalMiddleName() }}“ davon einen Anteil von
              {{ intervalFirstPercent() | toFixed: sigDigits }}% und von „{{ intervalMiddleName() }}“ auf „{{ intervalLastName() }}“
              dementsprechend von {{ intervalSecondPercent() | toFixed: sigDigits }}%</p
            >
          </div>
        </dt-tab>
        <dt-tab [title]="'II'">
          <div class="content">
            <div class="graph-box-container">
              <span i18n>Ich finde „{{ intervalMiddleName() }}“ genauso gut wie</span>

              <div class="graph-box">
                <div class="caption-wrapper left">
                  <div class="graph-caption left top">{{ intervalFirstPercent() | toFixed: sigDigits }}%</div>
                  <div class="graph-caption left bottom">{{ intervalSecondPercent() | toFixed: sigDigits }}%</div>
                </div>

                <div class="graph-outer-wrapper">
                  <div class="graph-wrapper">
                    <div class="line top"></div>
                  </div>
                  <div class="graph-wrapper">
                    <div class="line bottom"></div>
                  </div>
                </div>

                <div class="caption-wrapper">
                  <div class="graph-caption top">„{{ intervalLastName() }}“</div>
                  <div class="graph-caption bottom">„{{ intervalFirstName() }}“</div>
                </div>
              </div>
            </div>
          </div>
        </dt-tab>
        <dt-tab [title]="'III'">
          <div class="content">
            @if (objective.verbalData.hasCustomUtilityValues) {
              <p i18n>Die dargestellte Nutzenbewertung entspricht nicht länger einer normierten exponentiellen Nutzenfunktion.</p>
            } @else {
              <p i18n
                >Die dargestellte Nutzenbewertung entspricht durchschnittlich einer normierten exponentiellen Nutzenfunktion mit dem
                Parameter c={{ objective.verbalData.c | number }}.</p
              >
            }
          </div>
        </dt-tab>

        <div class="tabs-footer">
          @if (!objective.verbalData.hasCustomUtilityValues) {
            <mat-form-field subscriptSizing="dynamic" class="dt-number-input">
              <mat-label i18n>Krümmung</mat-label>
              <dt-input-spinner
                (increase)="adjustC(0.1)"
                (decrease)="adjustC(-0.1)"
                [plusDisabled]="objective.verbalData.c === cMax"
                [minusDisabled]="objective.verbalData.c === -cMax"
                [disabled]="readonly"
              >
                <input
                  matInput
                  type="number"
                  step="0.1"
                  [min]="-cMax"
                  [max]="cMax"
                  [ngModel]="objective.verbalData.c"
                  (ngModelChange)="updateC($event)"
                  [enableScroll]="true"
                  [disabled]="readonly"
                  required
                />
              </dt-input-spinner>
            </mat-form-field>
          } @else {
            <div
              class="unlock-button"
              matTooltip="Das Entsperren der Krümmung setzt ihre manuellen Nutzenwerte zurück"
              i18n-matTooltip
              (click)="!readonly && unlockC()"
            >
              <mat-icon>lock</mat-icon><ng-container i18n>Krümmung</ng-container>
            </div>
          }
          <mat-divider [vertical]="true"></mat-divider>
          <mat-form-field subscriptSizing="dynamic" class="dt-number-input">
            <mat-label i18n>Präzisionsintervall</mat-label>
            <span matTextPrefix>±</span>
            <dt-input-spinner
              (increase)="adjustPrecision(0.1)"
              (decrease)="adjustPrecision(-0.1)"
              [plusDisabled]="objective.verbalData.precision === pMax"
              [minusDisabled]="objective.verbalData.precision === 0"
              [disabled]="readonly"
            >
              <input
                matInput
                type="number"
                step="0.1"
                min="0"
                [max]="pMax"
                [ngModel]="objective.verbalData.precision"
                (ngModelChange)="updatePrecision($event)"
                [enableScroll]="true"
                [disabled]="readonly"
                required
              />
            </dt-input-spinner>
          </mat-form-field>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-form-field subscriptSizing="dynamic" class="dt-number-input">
            <mat-label i18n>Zahlenrundung</mat-label>
            <dt-input-spinner
              (increase)="updateSigDigits(sigDigits + 1)"
              (decrease)="updateSigDigits(sigDigits - 1)"
              [plusDisabled]="sigDigits === 10"
              [minusDisabled]="sigDigits === 0"
              [disabled]="readonly"
            >
              <input
                matInput
                type="number"
                step="1"
                min="0"
                max="10"
                [ngModel]="sigDigits"
                (ngModelChange)="updateSigDigits($event)"
                [enableScroll]="true"
                [disabled]="readonly"
                required
              />
            </dt-input-spinner>
          </mat-form-field>
        </div>
      </dt-tabs>
    </div>

    <div class="options-container">
      <div class="options-wrapper">
        <div i18n>Niveau</div>
        <input
          type="range"
          [disabled]="readonly"
          [min]="levelMin()"
          [max]="levelMax()"
          step="1"
          title="Niveau"
          [(ngModel)]="selectedLevel"
          i18n-title
        />
        <div class="options-caption">
          <div i18n>niedrig</div>
          <div i18n>hoch</div>
        </div>
      </div>

      <div class="options-wrapper">
        <div i18n>Breite</div>
        <input
          type="range"
          [min]="widthMin()"
          [max]="widthMax()"
          [disabled]="readonly"
          step="1"
          title="Breite"
          [(ngModel)]="selectedWidth"
          (ngModelChange)="widthChange($event)"
          i18n-title
        />
        <div class="options-caption">
          <div i18n>niedrig</div>
          <div i18n>hoch</div>
        </div>
      </div>

      <div class="options-wrapper">
        <div i18n>Gewählter innerer Punkt</div>
        <input
          type="range"
          [min]="0"
          [max]="selectedWidth - 2"
          [disabled]="readonly"
          step="1"
          title="Gewählter innerer Punkt"
          [(ngModel)]="selectedMiddle"
          i18n-title
        />
        <div class="options-caption">
          <div i18n>niedrig</div>
          <div i18n>hoch</div>
        </div>
      </div>
    </div>
  </div>
</div>
