@use 'variables' as dt;

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

p {
  text-align: justify;
}

.cp-filters-form {
  display: flex;
  flex-wrap: wrap;

  dt-tag-input mat-form-field,
  mat-form-field {
    line-height: 2.4;
  }
}
