@use 'variables' as dt;

.metadata-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px 16px;

  td:first-child {
    white-space: nowrap;
  }

  td:last-child {
    width: 100%;
  }

  table td {
    min-width: 100px;
    padding: 4px 32px 4px 8px;
  }

  .title {
    font-size: dt.font-size(body-2);
    font-weight: 700;
    margin: 4px 0;
    color: dt.$blue;
  }

  .project-progress-container {
    display: flex;

    ul {
      list-style: inside;
      padding-left: 8px;
    }
  }
}

.empty-message {
  padding: 16px;
  font-style: italic;
}
