@use 'sass:map';
@use 'sass:list';
@use '@angular/material' as mat;
@use '../../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-weights-graph {
    .objectives {
      border: 2px solid lightgray;

      @for $i from 1 through 10 {
        .objective:nth-child(#{$i}) .objective-color {
          background-color: list.nth(klug-colors.$klug-diagram-colors, $i);
        }
      }
    }

    .value-container {
      color: white;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-weights-graph {
    .objective {
      @include mat.m2-typography-level($typography-config, 'subtitle-1');
    }

    .pie .value {
      @include mat.m2-typography-level($typography-config, 'body-1');
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
