h1 {
  padding: 20px;
}

.container {
  display: flex;
  gap: 50px;
  align-items: center;
  flex: 1;
  overflow: auto;
  padding: 30px 10px;

  .objectives {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;
    align-items: center;

    margin-left: auto;

    padding: 0px 10px;

    .objective {
      display: contents;

      > * {
        padding: 5px 0;
        cursor: pointer;
      }

      .objective-name {
        padding-right: 10px;
        white-space: nowrap;

        &::after {
          display: block;

          content: attr(data-text);
          font-weight: bold;

          height: 0;

          visibility: hidden;
          overflow: hidden;
          user-select: none;
          pointer-events: none;

          @media speech {
            display: none;
          }
        }
      }

      .objective-color {
        width: 21px;
        height: 21px;
        border-radius: 50%;
      }

      &.hovered > * {
        font-weight: bold;
      }
    }
  }

  .pie {
    display: flex;
    align-items: center;

    height: 100%;
    position: relative;

    max-height: 100%;

    margin-right: auto;

    border-radius: 50%;
    aspect-ratio: 1;

    .value-container {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      width: 50%;
      transform-origin: right center;

      pointer-events: none;
    }
  }
}
