<h1>Wie ist die Gewichtung meiner Ziele verteilt?</h1>
<div class="container">
  <div class="objectives">
    @for (objective of decisionData.objectives; track $index) {
      <div
        class="objective"
        (mouseenter)="hoveredObjectiveIndex = $index"
        (mouseleave)="hoveredObjectiveIndex = -1"
        [class.hovered]="hoveredObjectiveIndex === $index"
      >
        <div class="objective-name" [attr.data-text]="objective.name">
          {{ objective.name }}
        </div>
        <div class="objective-color"> </div>
      </div>
    }
  </div>

  <div
    class="pie mat-elevation-z4"
    [style.background]="pieGradient"
    (mousemove.outside-zone)="onPieMouseMove($event)"
    (mouseleave)="onPieMouseLeave()"
  >
    @for (objective of decisionData.objectives; track $index) {
      <div class="value-container" [style.rotate.deg]="(weightAngles[$index] + (weightAngles[$index + 1] ?? 450)) / 2">
        <span class="value" [style.rotate.deg]="-(weightAngles[$index] + (weightAngles[$index + 1] ?? 450)) / 2">
          {{ weightPercentages[$index] / 100 | percent }}
        </span>
      </div>
    }
  </div>
</div>
