@use 'variables' as dt;

@import '../../shared';

dt-team-task-list,
dt-team-access-log {
  max-height: 300px;
}

div.overview-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: flex-start;

  gap: 20px;

  .whiteboard-card,
  .forum-card {
    grid-column: 1 / -1;
  }
}

mat-card.whiteboard-card {
  max-height: 700px;

  dt-button-tiny {
    color: dt.$orange;
  }

  & ::ng-deep {
    .ql-container {
      border: none;
    }

    .ql-toolbar {
      border-top: none;
    }
  }
}

.edit-right-status {
  display: flex;
  align-items: center;

  font-size: dt.font-size(body-1);

  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);

  padding: 0px 5px;

  color: white;

  border-radius: 5px;

  height: 26px;

  border: 1px solid darkgray;

  width: fit-content;

  &.free {
    background-color: #8cba04;
  }

  &.locked {
    background-color: #cd5740;
  }

  &.edit {
    background-color: #0173b4;
  }

  dt-team-member-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .expiration-timer {
    position: relative;
    width: 21px;
    height: 21px;
    border: 3px solid lightgray;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      inset: 0;

      outline: 3px solid dt.$orange;
      border-radius: 50%;
    }
  }
}

.token-expiry-text {
  margin-top: 10px;
}

mat-card.hidden-card {
  display: none;
}
