@use 'variables' as dt;
@use '@angular/material' as mat;

.decision-statement {
  @include mat.elevation(4);

  border-radius: 4px;
  overflow: hidden;
  background-color: white;

  border-bottom: 1px solid transparent;

  &:hover,
  &:focus-within {
    border-bottom-color: dt.$blue-lighten-4;
  }

  height: calc(3rem + 8px - 1px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  .statement-input {
    flex: 0 1 auto;
    min-height: 0;

    overflow-y: auto;

    outline: none;
    cursor: text;
    padding: 4px 16px;

    &:empty:before {
      content: attr(data-placeholder);
      color: gray;
    }
  }
}
