<dt-starter-heading heading="decisionStatement"></dt-starter-heading>

<div class="decision-statement dt-starter-limit-width">
  <div
    contenteditable
    class="statement-input"
    [textContent]="initialDecisionStatement"
    (input)="updateDecisionStatement($event)"
    (keydown.enter)="$event.preventDefault()"
    data-placeholder="Formuliere eine Entscheidungsfrage…"
    i18n-data-placeholder
    data-cy="statement-input"
  ></div>
</div>

<dt-starter-help-expansion-panel>
  <p i18n
    >Mit dem Formulieren einer Entscheidungsfrage verschaffst Du Dir Klarheit, um was es genau geht bzw. um was es (noch) nicht geht.
    Wertvoll kann es sein, wenn Du eine bewusst breite Ausformulierung wählst, um Deine Handlungsmöglichkeiten nicht von vornherein unnötig
    einzuschränken. Dies erreichst Du am besten, wenn Du die Frage mit „Wie“ anfängst. Aber schaue Dir am besten doch erstmal ein paar
    <b>Beispiele</b> von Entscheidungsfragen an. Darüber hinaus hilft Dir möglicherweise auch eine Reflexion Deiner <b>Werte</b>, ganz
    bewusst Dein Entscheidungsproblem sehr breit anzugehen.</p
  >
  <button mat-raised-button color="help" (click)="openExamples()" i18n>Beispiele anschauen</button>
  <button mat-raised-button color="help" (click)="openFundamentalValues()" i18n>Deine Werte reflektieren</button>
</dt-starter-help-expansion-panel>

<dt-starter-navigation-buttons
  step="decisionStatement"
  invalidTooltip="Du musst eine Entscheidungsfrage formulieren"
  i18n-invalidTooltip
></dt-starter-navigation-buttons>
