@use 'variables' as dt;
@use '@angular/material' as mat;

:host {
  display: flex;

  gap: 10px;

  @include mat.button-density(-2);
  @include mat.icon-button-density(-5);
}

.container {
  display: flex;
  align-items: center;
  border-radius: 3px;

  background-color: white;

  overflow: hidden;
}

:host,
button,
.section-button {
  color: dt.$blue;
}

mat-divider {
  border-right-width: 2px;
  border-right-color: dt.$blue;
}

button {
  padding: 0 4px;
  line-height: 1;

  &:not(.section-button) {
    flex-shrink: 0;
  }

  &.section-button {
    display: flex;
    align-items: center;

    overflow: hidden;
    gap: 4px;

    &:only-child {
      padding-right: 15px;
    }

    .project-label-and-statement {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .label,
    .decision-statement {
      flex: 1;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: dt.font-size(caption);
      font-weight: 500;
    }

    .decision-statement {
      font-size: 11px;
    }

    ::ng-deep .mdc-button__label {
      flex: 1 0 0;
      min-width: 0;
    }
  }
}

:host > mat-icon {
  margin: 2px;
}

.error-icon {
  color: dt.$crimson-red;
}

.team-edit-icon:not(.can-edit) {
  color: red;
}
