<div class="box" [klugRequiredFieldRipple]="!!objective.name">
  <div class="header">
    <input type="text" [(ngModel)]="objective.name" placeholder="Name des Ziels" maxlength="60" />
    <button
      class="delete-button"
      (click)="deleteObjective()"
      matRipple
      matTooltip="Ziel löschen"
      [disabled]="decisionData.objectives.length === constants.minObjectiveCount"
      ><mat-icon>delete</mat-icon></button
    >
  </div>
  <div class="comment">
    <quill-editor
      [(ngModel)]="objective.comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: null }"
      placeholder="Beschreibe bitte so konkret wie möglich, was Du unter diesem Ziel verstehst."
    ></quill-editor>
  </div>
</div>
