@use 'variables';

:host {
  display: block;

  margin-bottom: 5px;

  &.with-margin {
    margin-bottom: 36px;

    @media (max-height: 750px) {
      margin-bottom: 16px;
    }
  }
}

.container {
  display: flex;
  gap: 5px;

  mat-icon {
    font-size: 3rem;
    line-height: 2.5rem;
    color: variables.$orange;
  }

  &:host-context(.dt-professional) {
    mat-icon {
      font-size: 2.5rem;
      color: variables.$blue;
      transform: rotate(-90deg);
    }

    .text-container {
      display: flex;
      align-self: center;
      padding-left: 5px;
    }
  }

  .icon {
    display: flex;
    align-items: flex-start;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.main-only {
      line-height: 1.2;
    }

    .description {
      font-size: variables.font-size(body-1);

      .more {
        margin-left: 5px;
      }
    }

    .sub-description {
      font-size: variables.font-size(caption);
    }
  }
}
