<!-- TODO: DISABLED by #446
Drag disabled
-->
<div
  cdkDrag
  class="stage-container"
  [cdkDragDisabled]="!editable || true"
  [class.cursor-pointer]="!editable"
  [class.selected]="!editable && outcomeValues[stateIdx][indicatorIdx][categoryIdx] === stageIdx"
  (click)="setVerbalIndicatorValue.emit({ categoryIdx, newValue: stageIdx })"
>
  <!-- TRIANGLE -->
  <svg class="expand-stage-triangle" width="14" height="14" (click)="openExpandStageModal(stageIdx)">
    <polygon class="poly" points="0,0 14,0 14,14"></polygon>
  </svg>

  <!-- STAGE HEADER -->
  @if (editable) {
    <div class="stage-name-container">
      <!-- TODO: DISABLED by #446
      <mat-icon class="stage-drag-handle" cdkDragHandle>drag_handle</mat-icon>
      -->
      <input
        spellcheck="false"
        class="stage-name"
        [class.empty-input]="showEmptyField && verbalIndicatorCategory.stages[stageIdx].name === ''"
        placeholder="Überschrift"
        i18n-placeholder
        type="text"
        [(ngModel)]="verbalIndicatorCategory.stages[stageIdx].name"
      />
      <button
        class="deletion-button"
        (click)="$event.stopPropagation(); removeStage.emit({ categoryIdx, stageIdx })"
        [class.disabled]="verbalIndicatorCategory.stages.length <= 2"
        [disabled]="verbalIndicatorCategory.stages.length <= 2"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  } @else {
    <div class="stage-name-container cursor-pointer" [class.big-title]="verbalIndicatorCategory.stages[stageIdx].description === ''">
      <span class="stage-name" [matTooltip]="verbalIndicatorCategory.stages[stageIdx].name">
        {{ verbalIndicatorCategory.stages[stageIdx].name }}
      </span>
    </div>
  }

  <!-- STAGE DESCRIPTION -->
  @if (editable || verbalIndicatorCategory.stages[stageIdx].description !== '') {
    <textarea
      spellcheck="false"
      class="stage-textarea"
      placeholder="Beschreibung…"
      i18n-placeholder
      [style.cursor]="!editable ? 'pointer' : 'unset'"
      [(ngModel)]="verbalIndicatorCategory.stages[stageIdx].description"
      [readonly]="!editable"
    ></textarea>
  }
</div>

<ng-template #expandStageModal let-dialogRef="dialogRef">
  <dt-modal-content
    class="expand-stage-modal"
    [flexContent]="true"
    [contentPadding]="false"
    [dialogRef]="dialogRef"
    (closeClick)="dialogRef.close()"
  >
    <ng-template #title i18n>Erläuterung zur Stufe „{{ verbalIndicatorCategory.stages[selectedStageIdx].name }}“</ng-template>
    <ng-template #content>
      <textarea class="stage-textarea" [(ngModel)]="verbalIndicatorCategory.stages[selectedStageIdx].description"></textarea>
    </ng-template>
  </dt-modal-content>
</ng-template>
