<div class="chart-dummy"></div>

<div class="chart-box" title="{{ value * 100 | number: '1.0-2' }}%" [dtHoverPopover]="ifPopover">
  @if (value < 0.56) {
    <div class="dark-text-wrapper">
      <div class="dark-text"> {{ value * 100 | limitAwareNumber: 0 : 100 : '1.0-0' : '1.2-2' }}% </div>
      <div class="dark-line"></div>
    </div>
  }

  <div class="chart-bar" [style.height.%]="value * 100">
    @if (value >= 0.56) {
      <div class="light-text"> {{ value * 100 | limitAwareNumber: 0 : 100 : '1.0-0' : '1.2-2' }}% </div>
    }
  </div>
</div>

<div class="chart-dummy"></div>

<ng-template #ifPopover>
  <dt-robustness-influence-factor-deviation [tooltipInfo]="tooltipInfo"></dt-robustness-influence-factor-deviation>
</ng-template>
