@use 'variables' as dt;
$foreground: dt.$blue;

:host {
  overflow: hidden;
  min-width: 150px;
}

.chart-container {
  position: relative;
  padding: 0 20px;
  width: 100%;
  color: $foreground;
  $background: dt.$polar-chart-background;

  .chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .chart-row {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 0;
  }

  .chart-bar {
    position: relative;
    height: 100%;
    background-color: $background;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  .vertical-line-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .vertical-line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      margin-left: -0.5px;
      background-color: #cccccc;
    }

    .vertical-line:first-child,
    .vertical-line:last-child {
      background-color: black;
      z-index: 2; // Position above everything else
    }
  }

  &:hover .boxplot {
    .value-text {
      display: initial;
    }

    .whisker {
      display: none;
    }
  }
}

.boxplot {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;

  > * {
    position: absolute;
  }

  .line {
    border-top: 1px solid dt.$blue;
  }

  .whisker {
    display: flex;
    align-items: center;

    height: 40%;
    width: 2px;
    background-color: dt.$blue;
  }

  .box {
    height: 80%;
    border: 2px solid dt.$blue;
    background-color: dt.$blue-lighten-6;
  }

  .average {
    height: 80%;
    width: 2px;
    background-color: dt.$blue;
  }

  .value-text {
    display: none;
    position: absolute;

    &.low {
      translate: -100%;
    }

    padding: 0 4px;

    white-space: nowrap;
    font-size: dt.font-size(caption);
    font-weight: 500;

    background-color: white;
    border: 1px solid dt.$blue;

    z-index: 10;
  }
}
