<div class="chart-container">
  <!-- This additional wrapper is needed to ensure the absolute positioned bars are within the containers margin -->
  <div class="chart-wrapper">
    <div class="vertical-line-container">
      @for (line of verticalLines; track line) {
        <div class="vertical-line" [style.left.%]="line"></div>
      }
    </div>

    @for (value of values; track $index) {
      <div class="chart-row">
        <div class="chart-bar">
          @if (showBoxPlots) {
            <div class="boxplot">
              <div class="line" [style.left.%]="value[1]" [style.right.%]="100 - value[2]"> </div>

              <span class="value-text low" [style.left.%]="value[1]">{{ value[1] | number: '1.0-2' }}</span>
              <div class="whisker" [style.left.%]="value[1]"> </div>

              <div class="box" [style.left.%]="value[3]" [style.width.%]="value[4] - value[3]"> </div>
              <div class="average" [style.left.%]="value[0] * 100"></div>

              <span class="value-text" [style.left.%]="value[2]">{{ value[2] | number: '1.0-2' }}</span>
              <div class="whisker" [style.left.%]="value[2]"> </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
