<div class="res-chart-container chart-container">
  <!-- label column -->
  <div class="label-col">
    <div>
      <!-- labels of the chart -->
      <div class="labels" [style.padding-bottom.px]="resBotPadding">
        <!-- labels -->
        @for (calculationIdx of rankedResultIDs; track i; let i = $index) {
          <div class="label-item" [style.height.px]="totalBarHeight">
            <!-- ranking -->
            <div class="ranking">{{ i + 1 }}.</div>
            <!-- caption -->
            <div class="caption alternative-name">
              {{ decisionData.alternatives[selectedAlternatives[calculationIdx]].name }}
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- score column -->
  <div class="score-col">
    <div class="scores" [style.padding-bottom.px]="resBotPadding">
      <div class="numbers">
        <div class="caption" i18n>ø Rang</div>
      </div>
      @for (calculationIdx of rankedResultIDs; track $index) {
        <div class="score-wrapper">
          <div class="score">{{ scores[calculationIdx] | limitAwareNumber: 1 : rankedResultIDs.length : '1.2-2' }}</div>
        </div>
      }
    </div>
  </div>

  <!-- ranking column with chart -->
  <div class="rank-col">
    <div class="header" i18n>Häufigkeit auf Rangposition</div>
    <div class="chart-wrapper">
      <div class="chart" [style.padding-bottom.px]="resBotPadding">
        <div class="numbers">
          @for (valRow of positions; track i; let i = $index) {
            <div class="number">{{ i + 1 }}</div>
          }
        </div>
        @for (valRow of positions; track alternativeIndex; let alternativeIndex = $index) {
          <div>
            <div class="chart-row-wrapper">
              <div class="chart-row">
                @for (value of valRow; track position; let position = $index) {
                  <dt-chart-rangposition-part
                    [value]="value"
                    [tooltipInfo]="result.alternativeAtPositionInfos[rankedResultIDs[alternativeIndex]][position]"
                  ></dt-chart-rangposition-part>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- bandwidth column with chart -->
  <div class="chart-col">
    <div class="header" i18n>Bandbreite der berechneten Nutzenerwartungswerte</div>
    <div class="scale">
      @for (scaleValue of scale; track $index) {
        <span class="scale-value">
          {{ scaleValue }}
        </span>
      }
    </div>
    <div class="chart">
      <dt-chart-nutzenerwartungswert
        [showBoxPlots]="result.iterationCount > 0"
        [values]="alternativeBoxPlotData"
      ></dt-chart-nutzenerwartungswert>
    </div>
  </div>
</div>
