@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  flex: 1;
}

.menu-trigger {
  position: absolute;
  top: 100%;
}

::ng-deep .dt-professional-mode-menu {
  margin-top: 1px;
}

.mode-selection {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;

  .mat-radio-button {
    padding: 8px;
  }
}

.outer-professional-tab-container {
  z-index: 100;
  flex: 1;
  flex-basis: 0;

  min-height: 0;
  height: 100%;

  .inner-professional-tab-container {
    padding: 20px 40px;
    height: 100%;
  }
}

.professional-nav {
  display: flex;
  flex-direction: column;
  max-height: 36px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;

  &.evaluate-and-decide .phase-and-categories {
    transform: translateY(-100%);
  }

  .phase-and-categories {
    display: flex;
    transition: transform 500ms;

    .phase {
      width: 270px;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;

      .phase-icon {
        margin: 0 4px;
      }

      .phase-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        transition: opacity 500ms;
        font-weight: 500;

        &.name {
          font-size: dt.font-size(body-2);
        }

        &.change {
          font-size: dt.font-size(caption);
          opacity: 0;
        }
      }

      &:hover {
        .name {
          opacity: 0;
        }

        .change {
          opacity: 1;
        }
      }
    }

    .mat-tab-header {
      width: fit-content;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: none;
    }

    [mat-tab-link] ::ng-deep .mdc-tab__text-label {
      align-self: stretch;
      align-items: stretch;
    }
  }

  dt-pf-tool,
  .single-tool-button {
    color: gray;
    font-weight: 500;
    font-size: dt.font-size(button);
  }

  .single-tool-button {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.mat-mdc-tab-link.mdc-tab {
  height: 36px;
  padding: 0;
}

dt-legal {
  color: gray;
  padding: 2px 0;
}

dt-scroll-shadow {
  flex: 1 0 0;
  min-height: 0;
}
