<div class="wrapper-transparent-cover-and-box">
  <div #innerWrapper class="wrapper" [class.readonly]="readonly" [class.grayed-out]="grayedOut" (click)="!readonly && (isEditing = true)">
    @if (!isEditing || readonly) {
      <div class="text" [matTooltip]="name" [matTooltipDisabled]="currentlyDragging" matTooltipShowDelay="500"
        ><span class="ellipsis">{{ name }}</span></div
      >
      @if (showDeleteButton) {
        <button
          mat-icon-button
          [class.disabled]="readonly"
          [disabled]="readonly"
          (click)="!readonly && deleteClick.emit()"
          data-cy="delete-button"
          ><mat-icon>delete</mat-icon></button
        >
      }
    } @else {
      <input
        type="text"
        [ngModel]="name"
        (ngModelChange)="onNameChange($event)"
        (keydown.enter)="isEditing = false"
        (keydown.escape)="isEditing = false"
        (blur)="isEditing = false"
        dtAutoFocus
      />
    }
  </div>
  @if (currentlyDraggingBox) {
    <div class="tranparent-cover"> </div>
  }
</div>
