<div
  #nodeWrapper
  class="node-wrapper with-add-buttons"
  [class.focused]="focused()"
  [class.root]="locationSequence.isRoot()"
  [class.first-level]="locationSequence.getLevel() === 1"
  [class.add-buttons-open]="addButtonsOpen()"
  (click)="nodeState.nodeClick($event, locationSequence)"
  data-cy="hierarchy-node-wrapper"
  dtHierarchyNodeDrag
  dtHierarchyNodeDrop
>
  <ng-container
    *ngTemplateOutlet="
      interface.nodeTemplate;
      context: {
        $implicit: tree.value,
        locationSequence,
        focused: singleFocused()
      }
    "
  ></ng-container>

  @if (!singleFocused()) {
    <div class="click-capturing-overlay"></div>
  }

  @if (!interface.readonly) {
    <div class="suggest-add-buttons-catching-area" data-cy="add-button-opener" (click)="addButtonsOpen.set(true)">
      <div class="suggest-add-buttons">
        <mat-icon class="plus-icon">add</mat-icon>
      </div>
    </div>
    <div (click)="add($event, 'above')" class="add top">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div (click)="add($event, 'below')" class="add bottom">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div (click)="add($event, 'right')" class="add right">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div (click)="add($event, 'left')" class="add left">
      <span class="plus"><mat-icon class="plus-icon">add</mat-icon></span>
    </div>
    <div class="delete-button-wrapper" data-cy="delete-button" (click)="delete()">
      <div class="delete-button"><mat-icon>delete</mat-icon></div>
    </div>
  }
</div>
