@use 'variables' as dt;
@use 'sass:color';

:host {
  display: contents;
}

.node-wrapper {
  display: block;
  position: relative;
  cursor: grab;
  // This should prevent Safari to select the text inside nodes while multi-selecting nodes.
  user-select: none;

  &:not(.focused) {
    cursor: pointer;
  }

  &.focused {
    outline: 1px solid rgb(248, 147, 30);
    box-shadow: 0 0 5px hsl(32, 94%, 55%);
  }

  &.first-level {
    margin: 4px 0;
  }

  .click-capturing-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // Display above the note btn
    z-index: 11;
  }
}

.with-add-buttons {
  $add-size: 40px;

  .plus-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: dt.$orange;
  }

  .suggest-add-buttons-catching-area {
    position: absolute;
    // Prevent popping up at load times (it has no state at this moment).
    transform: scale(0);

    padding: 5px;

    bottom: -(6px + 5px);
    right: -(6px + 5px);

    .suggest-add-buttons {
      display: flex;

      width: 16px;
      height: 16px;

      justify-content: center;
      align-items: center;

      box-shadow: 0 0 2px 2px #fff;
      background-color: #fff;
      transition: 100ms all ease;

      border-radius: 50%;

      .plus-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }

    &:hover .suggest-add-buttons {
      transform: scale(1.2);
    }
  }

  .add {
    position: absolute;
    background-color: transparent;
    transition: 100ms all ease-in;

    // First translate all add buttons to their respective sides...
    &.top {
      top: -$add-size;
    }

    &.bottom {
      bottom: -$add-size;
    }

    &.right {
      right: -$add-size;
    }

    &.left {
      left: -$add-size;
    }

    // ...and then center them there.
    &.top,
    &.bottom {
      left: calc(50% - #{0.5 * $add-size});
    }

    &.left,
    &.right {
      top: calc(50% - #{0.5 * $add-size});
    }

    .plus {
      display: flex;

      justify-content: center;
      align-items: center;

      width: $add-size;
      height: $add-size;

      // Inject a portion of pure white since we need a more or less opaque background when overlapping.
      // Repeat the color at the last stop (which ideally should be `transparent`) so that Safari can handle it.
      background: radial-gradient(color.mix(dt.$orange, #fff, 15%) 10%, rgba(color.mix(dt.$orange, #fff, 15%), 0) 70%);
      transition: 100ms all ease;

      .plus-icon {
        color: rgba(dt.$orange, 0.9);
      }
    }
  }

  .suggest-add-buttons-catching-area,
  .add {
    // Higher than all invisible containers around a node.
    z-index: 12;
    cursor: pointer;

    & > * {
      -webkit-tap-highlight-color: transparent;
    }
  }

  &.add-buttons-open {
    .suggest-add-buttons-catching-area {
      transform: scale(0);
    }

    .add {
      opacity: 1;
      transform: translate(0, 0) scale(1);

      &:hover .plus {
        transform: scale(1.2);
      }
    }
  }

  &.focused:not(.add-buttons-open) .suggest-add-buttons-catching-area {
    transform: scale(1);
  }

  &:not(.add-buttons-open) .add {
    // Hide the buttons and translate them such that we have an animation when opening.
    opacity: 0;

    &.top {
      transform: translate(0, 100%) scale(0);
    }

    &.right {
      transform: translate(-100%, 0) scale(0);
    }

    &.bottom {
      transform: translate(0, -100%) scale(0);
    }

    &.left {
      transform: translate(100%, 0) scale(0);
    }
  }

  &.root .add {
    &.top,
    &.left,
    &.bottom {
      display: none;
    }
  }
}

.delete-button-wrapper {
  position: absolute;
  // Prevent popping up at load times (it has no state at this moment).
  transform: scale(0);

  padding: 5px;

  bottom: -(6px + 5px);
  left: -(6px + 5px);

  .delete-button {
    width: 16px;
    height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 2px 2px #fff;
    background-color: #fff;
    transition: 100ms all ease;

    border-radius: 50%;

    mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: dt.$orange;
    }
  }
}

.node-wrapper.root .delete-button-wrapper {
  display: none;
}

.node-wrapper.focused:not(.add-buttons-open) .delete-button-wrapper {
  transform: scale(1);

  &:hover .delete-button {
    transform: scale(1.2);
  }
}
