@use 'variables' as dt;
@use 'sass:color';

mat-error {
  margin-bottom: 8px;
}

.status-block {
  @include dt.info-box;

  &.submissions-open {
    background-color: rgb(30, 127, 30);
    color: white;
  }
}

section {
  margin-top: 16px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

h4 {
  margin-bottom: 12px;

  + p {
    margin-top: -12px;
  }
}

table {
  td {
    padding-bottom: 4px;
  }

  td + td {
    padding-left: 16px;
  }

  &.permissions-table {
    width: 100%;

    td:first-child {
      white-space: nowrap;
    }

    td:last-child {
      width: 99%;
    }
  }

  .owner-cell {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.form .save-button {
  position: relative;
}

mat-form-field {
  display: block;
  max-width: 100%;
}

mat-chip-option {
  white-space: nowrap;

  &.invalid {
    background-color: color.change(dt.$crimson-red, $alpha: 0.3);
  }
}
