<h1>Was sind meine Ziele?</h1>
<klug-step-description
  >Trage in die roten Zeilen bis zu zehn Deiner Ziele für Deine Entscheidung ein. Beschreibe darunter so konkret wie möglich, was Du genau
  unter den Zielen verstehst.
</klug-step-description>

<klug-objective-list></klug-objective-list>

<ng-template #help>
  <p>Mit den Zielen formulierst Du die Motive, die hinter einer Entscheidung stehen. Frage Dich, warum Du etwas tun willst!</p>
  <h2>Beispiel</h2>
  <p>
    Es ist mein Ziel, eine Ausbildung zu machen. Warum möchte ich eine Ausbildung machen? Ich möchte eine Ausbildung machen, weil ich
    möglichst schnell praktisch arbeiten will.
  </p>
  <p> Beachte dabei, dass Du auch auf Deine Stärken und Interessen eingehst. </p>
  <h2>Beispiel</h2>
  <p>
    Ich bin gut darin, mit Menschen zu kommunizieren und komme auf gute Ideen, wenn ich mit Menschen spreche. Ich möchte möglichst viel mit
    Menschen zu tun haben, im Team arbeiten und/oder mit Kund:innen sprechen.
  </p>
</ng-template>
