@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
}

.impact-model-overlay {
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.impact-model {
  display: flex;
  width: 100%;
  max-height: 100%;
  min-height: 100px;
  justify-content: center;
  padding-top: 5px;
  z-index: 20;
  background-color: white;

  &.highlighted {
    padding-bottom: 15px;
    outline: 2px solid dt.$orange;
  }
}

.hidden-decision-statement {
  position: absolute;
  top: 24px;
  left: 8px;
  z-index: 200;
}

.decision-statement {
  border-radius: 4px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.decision-statement-header {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  margin: 0 16px;
  border-bottom: 1px solid lightgray;

  color: dt.$blue;
  font-size: dt.font-size(headline-6);

  .collapse-button {
    display: none;

    cursor: pointer;
    color: dt.$orange;
  }

  &:hover {
    .collapse-button {
      display: initial;
    }

    .decision-statement-icon {
      display: none;
    }
  }
}

.statement-wrapper {
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus-within {
    border-bottom-color: dt.$blue-lighten-4;
  }

  height: calc(3rem + 8px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  .statement-input {
    flex: 0 1 auto;
    min-height: 0;

    overflow-y: auto;

    outline: none;
    cursor: text;
    padding: 4px 16px;
  }
}

::ng-deep .dt-pf-sae-main-decision-statement-tooltip {
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
}
