@if (isDecisionStatementHidden) {
  <button
    mat-mini-fab
    color="accent"
    class="hidden-decision-statement"
    i18n-matTooltip
    matTooltip="Entscheidungsfrage einblenden"
    matTooltipPosition="right"
    matTooltipShowDelay="300"
    (click)="isDecisionStatementHidden = false"
  >
    <mat-icon>contact_support</mat-icon>
  </button>
} @else {
  <div dtExplainable [explanationTrigger]="explainDecisionStatementTrigger" class="dt-limit-width">
    <div class="decision-statement">
      <div class="decision-statement-header">
        <mat-icon class="decision-statement-icon">contact_support</mat-icon>
        <mat-icon
          i18n-matTooltip
          matTooltip="Entscheidungsfrage ausblenden"
          matTooltipClass="dt-pf-sae-main-decision-statement-tooltip"
          (click)="isDecisionStatementHidden = true"
          class="collapse-button"
          >left_panel_close</mat-icon
        >
        <span i18n>Meine Entscheidungsfrage</span>
      </div>
      <div data-cy="structure-and-estimate-decision-statement" class="statement-wrapper">
        <div
          [attr.contenteditable]="!decisionDataState.isProjectReadonly"
          class="statement-input"
          [textContent]="decisionData.decisionStatement.statement"
          (blur)="updateDecisionStatement($event)"
          (keydown.enter)="$event.preventDefault()"
          data-cy="statement-input"
        ></div>
      </div>

      <dt-explanation-criteria-open-button
        #explainDecisionStatementTrigger="explanationTrigger"
        dtExplanationTrigger
        criteriaToExplain="APPROPRIATE_FRAME"
        [class.hidden]="impactMatrix.isInSortingMode"
      ></dt-explanation-criteria-open-button>
    </div>
  </div>
}

@if (impactMatrix.isInSortingMode) {
  <div (click)="impactMatrix.isInSortingMode = false; impactMatrix.cdRef.markForCheck()" class="impact-model-overlay"></div>
}

<div class="impact-model" [class.highlighted]="impactMatrix.isInSortingMode && impactMatrix.fullscreenRef == null">
  <dt-impact-matrix
    #impactMatrix
    [settingsContainerPadding]="'0 0 0 20px'"
    [extendable]="!decisionDataState.isProjectReadonly"
    data-cy="structure-and-estimate-impact-model"
  ></dt-impact-matrix>
</div>
