<div #scrollContainer class="polar-chart-scroll-container">
  <div
    class="polar-chart-label-container"
    [style.width.px]="2 * outerRadius + 2 * plotLabelGap + 2 * maxWidthLabel"
    [style.height.px]="2 * outerRadius + 2 * plotLabelGap + 2 * maxHeightLabel"
  >
    <svg class="polar-chart" [attr.width]="2 * outerRadius" [attr.height]="2 * outerRadius" xmlns:svg="http://www.w3.org/2000/svg">
      <svg:g [attr.transform]="translatePlotToCenter">
        <svg:path class="polar-chart-background" [attr.d]="polarChartBackgroundPath"></svg:path>

        @for (_ of radiusScale; track gridRingIndex; let gridRingIndex = $index; let isOuterMostGridLine = $last) {
          <svg:path [attr.d]="gridPaths[gridRingIndex]" class="grid-line ring" [class.outer-most]="isOuterMostGridLine"></svg:path>
        }

        @for (phiTick of phiTicks; track phiTick) {
          <svg:path class="grid-line" [attr.d]="getPath(phiTick)"></svg:path>
        }

        <svg:path class="donut-hole" [attr.d]="donutHolePath"></svg:path>

        @for (itemWithRingPoints of getItemsWithRingPoints(); track itemIndex; let itemIndex = $index) {
          <svg:g class="ring" [class.selected]="itemWithRingPoints.item.id === selectedItemId">
            <svg:path
              [attr.d]="getPath(itemWithRingPoints.ringPoints)"
              [attr.fill]="itemColors[getColorIndexFor(itemWithRingPoints.item)]"
            ></svg:path>
            @for (ringPoint of itemWithRingPoints.ringPoints; track $index) {
              <svg:circle [attr.cx]="ringPoint.x" [attr.cy]="ringPoint.y" [attr.r]="ringPointRadius" />
            }
          </svg:g>
        }

        <svg:path class="donut-hole" [attr.d]="donutHolePath"></svg:path>
      </svg:g>
    </svg>
    @for (dimensionLabel of dimensionLabels; track dimensionIndex; let dimensionIndex = $index) {
      <div
        class="dimension-label"
        #label
        data-cy="polar-chart-dimension-label"
        [style.transform]="transformForLabel(dimensionIndex)"
        [class.single-line]="numberOfDimensions > 12"
      >
        {{ dimensionLabel }}
      </div>
    }
  </div>
</div>

<dt-diagram-legend
  [items]="itemLabels"
  [itemColors]="itemColorsForSelectedItems"
  [selectedItem]="selectedItemIndex"
  (selectedItemChange)="toggleSelectedItem(items[$event].id)"
  [class.with-gap-to-scrollbar]="hasScrollbar"
></dt-diagram-legend>
