<dt-hierarchy [tree]="tree" [readonly]="true" (nodeDragStart)="nodeDragStart($event.locations, $event.event)">
  <ng-template #node let-element let-loc="locationSequence">
    <div
      #nodeElement
      class="node"
      [ngStyle]="element.style"
      (dblclick)="doubleClickNode.emit({ element, location: loc, htmlElement: nodeElement })"
    >
      {{ element.name }}
      @if (!(element.comment | richTextEmpty) || !(element.scaleComment | richTextEmpty)) {
        @if (loc.isRoot()) {
          <dt-note-btn [comment]="element.comment" [readonly]="true"></dt-note-btn>
        } @else {
          <dt-note-btn
            [comment]="element.comment"
            [twoComments]="true"
            [secondComment]="element.scaleComment"
            [firstOpen]="true"
            [secondOpen]="false"
            [readonly]="true"
            [caption]="element.name | noteBtnPreset: 'objective'"
          ></dt-note-btn>
        }
      }
    </div>
  </ng-template>

  <dt-hierarchy-toolbar>
    <ng-content select="[beforeToolbar]" prepend></ng-content>
    <ng-content select="[toolbar]"></ng-content>

    <ng-template #nodeToolbar>
      <button mat-icon-button (click)="copyToClipboard()" matTooltip="Auswahl als Text kopieren" i18n-matTooltip
        ><mat-icon>content_copy</mat-icon></button
      >
    </ng-template>
  </dt-hierarchy-toolbar>

  <ng-content select="[overlay]" overlay></ng-content>
</dt-hierarchy>
