:host {
  display: block;
}

dt-hierarchy {
  width: 100%;
  height: 100%;
}

.node {
  position: relative;
  padding: 4px 8px;

  min-height: 30px;

  white-space: nowrap;

  display: flex;
  align-items: center;
}
