@use 'variables' as dt;

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 8px;
  margin: 8px 16px;

  mat-card-content {
    @include dt.typography-level(subtitle-2);
  }
}
