@use '@angular/material' as mat;
@use 'variables' as dt;

.note-container {
  .label {
    font-weight: bold;
    color: #3b4c5b;
  }

  .editor-container {
    display: flex;
    max-height: 10rem;
    padding-bottom: 10px;
    flex-direction: column;
    margin-top: 5px;
  }
}

mat-tab-group {
  @include mat.elevation(3);
  width: 100%;
  border: 1px solid #d8dbde;

  ::ng-deep .question-label {
    flex: 1;
    background-color: #ebedee;

    * {
      color: dt.$grey-foreground !important;
    }
  }

  ::ng-deep .question-body {
    padding: 10px;
  }
}

textarea {
  border: 1px solid rgba(59, 76, 91, 0.2);

  &:focus-within {
    border-color: orange;
    outline: none;
  }

  height: 10rem;
  padding: 5px;
  resize: none;
}
