@if (showHeader) {
  <button mat-button class="header" [class.force]="forceOpen" (click)="toggle()" data-cy="header">
    <mat-icon>{{ trueActive ? 'expand_less' : 'expand_more' }}</mat-icon>
    {{ caption }}{{ open ? captionOpened : captionClosed }}
  </button>
}

<div [@collapseAnimation]="trueActive" class="body">
  <div class="content-wrapper">
    <ng-content select=".dt-collapsible-body"></ng-content>
  </div>
</div>
