@use 'variables' as dt;

:host {
  display: block;
}

.header {
  margin-bottom: 8px;
  max-width: 100%;
  white-space: normal;
  hyphens: manual;

  &.force mat-icon {
    opacity: 0.3;
  }

  mat-icon {
    color: dt.$orange;
  }
}

.body {
  overflow: hidden;
}
