<dt-starter-heading heading="finishProject"></dt-starter-heading>

<div class="dt-starter-limit-width">
  <p i18n
    >Mit Deinen Eingaben erweist sich die Alternative „{{ bestAlternative.name }}“ als die beste für Dich. Wie groß der Abstand zu den
    nächsten Alternativen ist, siehst Du hier.</p
  >
  <dt-chart-ranking [utilityValues]="alternativeUtilities" [showHeader]="false" numberDigitsInfo="1.0-0"></dt-chart-ranking>
</div>

<div class="button-row">
  <button mat-raised-button color="accent-less" routerLink="..">
    <mat-icon>arrow_back</mat-icon>
    <ng-container i18n>Zurück zur Übersicht</ng-container>
  </button>
  <button mat-raised-button color="accent" (click)="openPolarChart()" i18n>Pros und Kontras der Alternativen vergleichen</button>
  <button mat-raised-button color="accent" (click)="openFinishProject()">
    <mat-icon>done</mat-icon>
    <ng-container i18n>Projekt abschließen</ng-container>
  </button>
</div>
