.loading-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.event-dropdown-container {
  padding: 10px 24px;

  mat-form-field {
    display: block;
    max-width: 800px;
  }
}
