form {
  margin: 0 24px;

  section {
    margin: 16px 0;
  }

  h4 {
    margin-bottom: 12px;
  }

  ul {
    list-style: none;
    margin-left: 20px;

    &.attribute-list {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .step-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  mat-checkbox ::ng-deep label {
    display: flex;
    gap: 1ch;
  }
}
