@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  background-color: dt.$blue-lighten-9;
  pointer-events: auto;
  min-height: 150px;
  width: 250px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  @include mat.elevation(4);

  &:not(.open) {
    min-height: initial;
    width: initial;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  user-select: none;

  @include mat.icon-button-density(minimum);
}

mat-divider {
  margin-top: 5px;
}
