<div class="header" (click)="open = !open; openChange.emit(open)">
  <ng-container *ngTemplateOutlet="headerTemplateRef; context: { $implicit: open }"></ng-container>
  <button mat-icon-button
    ><mat-icon>{{ open ? 'expand_less' : 'expand_more' }}</mat-icon></button
  >
</div>
@if (open) {
  <mat-divider></mat-divider>
  <ng-container *ngTemplateOutlet="contentTemplateRef"></ng-container>
}
