@if (showTitle) {
  <dt-step-title step="results" i18n>{{ 'results' | naviStep }}: Robustheitstest</dt-step-title>
}

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()" [withBiggerMargin]="!decisionData.isProfessional()">
  <ng-template #description i18n
    >Analysiere hier, wie sich verschiedene Szenarien der Einflussfaktoren oder unpräzise angegebene Parameter auf das Ergebnis
    auswirken.</ng-template
  >
  <ng-template #subDescription i18n
    >Mit der Anzahl der Simulationsschritte kannst Du die Genauigkeit der Analyseergebnisse beeinflussen.</ng-template
  >
</dt-step-description>

@if (robustnessCheckService.noWorker) {
  <div class="worker-error">
    <p i18n
      >Leider kann Dein Browser nicht für diesen Schritt verwendet werden. Bitte nutze einen
      <a href="https://caniuse.com/#feat=webworkers" rel="noopener noreferrer" target="_blank">aktuelleren Browser</a>.</p
    >
  </div>
} @else {
  <dt-robustness-check-chart
    [result]="currentResult"
    [selectedAlternatives]="activeAlternativeIndices"
    [expectedUtilityValues]="expectedUtilityValues"
  ></dt-robustness-check-chart>
  <form [formGroup]="paramForm" (ngSubmit)="start()">
    <section>
      <div class="box">
        <div class="header" [class.done]="state === 'done'" [dtOverlayProgress]="state === 'calculating'">
          @switch (state) {
            @case ('calculating') {
              <ng-container i18n>Berechnung läuft…</ng-container>
            }
            @case ('paused') {
              <ng-container i18n>Berechnung pausiert</ng-container>
            }
            @case ('done') {
              <ng-container i18n>Stabiles Ergebnis erreicht</ng-container>
            }
          }
        </div>
        <div class="steps-box-content">
          <table>
            <tr>
              <td i18n>Simulationsschritte</td>
              <td>{{ currentResult?.iterationCount ?? 0 | number }}</td>
            </tr>
            <tr>
              <td i18n>Verstrichene Zeit</td>
              <td>{{ elapsedTime / 1000 | number: '1.0-0' }}s</td>
            </tr>
          </table>
          @switch (buttonState) {
            @case ('has-changes') {
              <button mat-raised-button color="accent" [disabled]="this.paramForm.invalid" data-cy="robustness-recompute-button"
                ><mat-icon>refresh</mat-icon><ng-container i18n>Neue Berechnung starten</ng-container></button
              >
            }
            @case ('calculating') {
              <button mat-raised-button color="accent" (click)="pauseCalculation()" type="button"
                ><mat-icon>pause</mat-icon><ng-container i18n>Berechnung pausieren</ng-container></button
              >
            }
            @case ('paused') {
              <button mat-raised-button color="accent" (click)="resumeCalculation()" type="button" data-cy="robustness-resume-button"
                ><mat-icon>resume</mat-icon><ng-container i18n>Berechnung fortsetzen</ng-container></button
              >
            }
          }
        </div>
      </div>
    </section>
    <section class="options-row">
      <div class="box" formArrayName="alternatives">
        <div class="header" i18n>Alternativen</div>
        @for (alternativeIndex of sortedAlternativeIndices; track alternativeIndex) {
          <mat-slide-toggle
            [formControlName]="alternativeIndex"
            [class.has-changes]="paramForm.value.alternatives[alternativeIndex] !== activeParams.alternatives[alternativeIndex]"
          >
            <span class="change-indicator">*</span>
            <span>{{ decisionData.alternatives[alternativeIndex].name }}</span>
          </mat-slide-toggle>
        }
      </div>
      <div class="box" data-cy="influence-factor-box">
        <div class="header" i18n>Einflussfaktoren</div>
        <mat-slide-toggle
          formControlName="predefinedScenarios"
          [class.has-changes]="paramForm.value.predefinedScenarios !== activeParams.predefinedScenarios"
        >
          <span class="change-indicator">*</span>
          <span i18n>Systemseitige Einflussfaktoren</span>
        </mat-slide-toggle>
        <mat-divider></mat-divider>
        <ng-container formArrayName="userDefinedScenarioIDs">
          <!-- SimpleUserDefinedInfluenceFactors -->
          @for (influenceFactor of decisionData.influenceFactors; track influenceFactor; let influenceFactorIdx = $index) {
            @if (!isInfluenceFactorComposite(influenceFactor)) {
              <mat-slide-toggle
                [formControlName]="influenceFactor.id"
                [class.has-changes]="activeInfluenceFactorToggles[influenceFactorIdx] !== currentInfluenceFactorToggles[influenceFactorIdx]"
                (change)="checkForChangesInCompositeInfluenceFactors()"
              >
                <span class="change-indicator">*</span>
                <span>{{ influenceFactor | influenceFactorName }}</span>
              </mat-slide-toggle>
            }
          }
          @if (includesCompositeInfluenceFactors) {
            <mat-divider></mat-divider>
          }
          <!-- CompositeUserDefinedInfluenceFactors -->
          @for (influenceFactor of decisionData.influenceFactors; track influenceFactor; let influenceFactorIdx = $index) {
            @if (isInfluenceFactorComposite(influenceFactor)) {
              @if (paramForm.controls.userDefinedScenarioIDs.controls[influenceFactor.id].value) {
                <div class="combined-factor selected">
                  <mat-icon>check_circle</mat-icon><span>{{ influenceFactor | influenceFactorName }}</span>
                </div>
              } @else {
                <div class="combined-factor">
                  <mat-icon>cancel</mat-icon><span>{{ influenceFactor | influenceFactorName }}</span>
                </div>
              }
            }
          }
        </ng-container>
      </div>
      <div class="box" data-cy="imprecision-box">
        <div class="header" i18n>Unpräzise Angaben</div>
        <mat-slide-toggle
          formControlName="probabilities"
          [class.has-changes]="paramForm.value.probabilities !== activeParams.probabilities"
        >
          <span class="change-indicator">*</span>
          <span i18n>Wahrscheinlichkeitsschätzungen</span>
        </mat-slide-toggle>
        <mat-slide-toggle formControlName="utilities" [class.has-changes]="paramForm.value.utilities !== activeParams.utilities">
          <span class="change-indicator">*</span>
          <span i18n>Nutzenbewertungen</span>
        </mat-slide-toggle>
        <mat-slide-toggle
          formControlName="objectiveWeights"
          [class.has-changes]="paramForm.value.objectiveWeights !== activeParams.objectiveWeights"
        >
          <span class="change-indicator">*</span>
          <span i18n>Zielgewichte</span>
        </mat-slide-toggle>
      </div>
    </section>
  </form>
}

<ng-template #debug>
  <h3>Robustness check</h3>
  <div>Worker count: {{ robustnessCheckService.workerCount }}</div>
  <div>Performance: {{ iterationsPerSecond | number: '1.2-2' }} iterations per second</div>
  <div>Änderung: {{ changePerIteration }}</div>
</ng-template>
