<dt-extendable-header i18n-headerName headerName="Berechnung der Nutzenwerte im Robustheitstest" variation="large">
  <p i18n
    >Die Nutzenwerte werden im Robustheitstest in den Simulationen auf Basis verschiedener „Szenarien“ berechnet. In jeder Iteration der
    Monte-Carlo-Simulation wird in jedem Einflussfaktor zufällig und unter Berücksichtigung der jeweiligen Wahrscheinlichkeit ein Zustand
    ausgewählt und auf Basis dieses Zustands für jede Alternative der entsprechende Nutzenwert ermittelt. Die Gesamtheit der gezogenen
    Zustände bildet ein bedingtes (sicheres) Szenario. Diese Berechnung der Nutzen(erwartungs)werte unterscheidet sich demnach von der
    Berechnung der Nutzenerwartungswerte im Balkendiagramm im Ergebnisschritt der Evaluation.</p
  >
  <p i18n
    >Ähnliches gilt für unpräzise angegebene Parameter bei Wahrscheinlichkeiten, Nutzenfunktionen und Trade-offs. In jeder Iteration der
    Monte-Carlo-Simulation wird gleichverteilt zufällig ein Wert aus dem zulässigen Intervall des Parameters gezogen und für die Berechnung
    der Nutzenerwartungswerte und der Rangfolge unterstellt. Sowohl bei den Wahrscheinlichkeiten als auch bei den Zielgewichten wird diese
    Ziehung noch mit einer notwendigen Normierung verknüpft, bei den Nutzenfunktionen erfolgt die Ziehung aus einem Intervall für den
    Parameter c der Nutzenfunktion bzw. bei einer verbalen Skala unmittelbar über die Intervalle der Nutzenwerte einzelner
    Ausprägungsstufen.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Robustheitstest mit Präzisionsintervallen" variation="large">
  <p i18n
    >Außerhalb des Robustheitstest werden Präzisionsintervalle bei der Berechnung der Nutzenwerte nicht berücksichtigt. Das Gesamtergebnis
    zeigt immer die Bewertung, die sich ergibt, wenn Du diese Präzisionsintervalle gar nicht gesetzt und mit dem exakten Wert gerechnet
    hättest. Im Robustheitstest hast Du aber die Möglichkeit zu überprüfen, ob diese Präzisionsintervalle einen Einfluss auf das Ergebnis
    haben können.</p
  >
  <p i18n
    >Im Robustheitstest werden dafür rein zufällig Werte aus den von Dir angegebenen Präzisionsintervallen ermittelt und auf dieser
    Grundlage ein Ergebnis berechnet. Eine solche zufällige Auswahl wird in jedem Simulationsschritt unternommen, so dass Du bei z.&nbsp;B.
    10.000 Simulationsschritten 10.000 unterschiedliche Ergebnisse erhältst. Hierbei können sich nicht nur die berechneten Nutzenwerte der
    Alternativen ändern, sondern auch deren Rangfolgen untereinander.</p
  >
  <p i18n
    >In der Auswertung des Robustheitstests siehst Du insbesondere, wie stabil Deine beste Alternative auf der ersten Rangposition ist. Wenn
    in allen Simulationsschritten Deine beste Alternative immer auf die erste Rangposition gelangt, dann hat die fehlende Präzision
    keinerlei Auswirkungen auf Deine Entscheidung für diese Alternative. Du kannst Dir also sicher sein, dass diese Alternative die beste
    ist. Dies erkennst Du daran, dass oben in der Matrix 100 % bei Rangplatz 1 vermerkt ist.</p
  >
  <p i18n
    >Wenn oben links jedoch eine kleinere Prozentzahl als 100&nbsp;% steht, so gibt es Konstellationen mit den von Dir gemachten Angaben, in
    denen eine andere Alternative besser wäre. In diesem Fall ist es nicht sicher, dass Deine eigentlich beste Alternative auch wirklich
    immer die beste ist. Dann bietet es sich an, sich die unpräzisen Angaben noch einmal anzuschauen und zu reflektieren, ob diese richtig
    angegeben sind oder ggf. die Präzisionsintervalle kleiner gewählt werden können. Zugleich kann es sinnvoll sein, sich die Auswirkungen
    dieser kritischen Angaben in der Sensitivitätsanalyse anzuschauen, um ein besseres Gefühl für die Auswirkungen von Ungenauigkeiten bei
    den Angaben zu erhalten.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Robustheitstest mit Einflussfaktoren" variation="large">
  <p i18n
    >Mit dem Robustheitstest kannst Du analysieren, wie sich die in den Einflussfaktoren abgebildeten Unsicherheiten auf Deine Entscheidung
    auswirken können. Außerhalb des Robustheitstests wird für jede unsichere Wirkungsprognose nämlich nur mit einem Nutzenerwartungswert
    über alle Zustände des definierten Einflussfaktors gerechnet. Du erhältst also immer nur ein „gemitteltes“ Ergebnis. Es ist im Ergebnis
    nicht erkennbar, wie unterschiedlich die Bewertungen in Abhängigkeit der unsicheren
    <span class="hover-text" [dtHoverPopover]="scenariosPopover" dtHoverPopoverPosition="left">Szenarien</span>
    ausfallen.</p
  >
  <p i18n
    >Im Robustheitstest wird hingegen in jedem Simulationsschritt ein solches Szenario, also eine Kombination von Zuständen aller
    Einflussfaktoren, unterstellt. Hierzu wird in jedem Einflussfaktor zunächst genau ein Zustand ausgewählt und ein Szenario gebildet. Im
    Anschluss wird der Nutzenwert der Alternativen und deren Rangfolgen unter der Annahme berechnet, dass diese ausgewählten Zustände des
    Szenarios mit Sicherheit eintreten. Bei 10.000 Simulationsschritten gibt es z.&nbsp;B. 10.000 verschiedene Ergebnisse, die zugleich zu
    unterschiedlichen Rangfolgen führen können. Wie häufig ein Szenario in der Simulation vorkommt, ergibt sich aus den angegebenen
    Wahrscheinlichkeiten der einzelnen Zustände, die dieses Szenario bilden. Zustände mit höheren Wahrscheinlichkeiten kommen
    dementsprechend häufiger in den Szenarien bzw. den Simulationsschritten vor.</p
  >
  <p i18n
    >Im Ergebnis über alle Simulationsschritte lässt sich ablesen, wie häufig die Alternativen die verschiedenen Rangpositionen belegen.
    Besonders interessant ist hier, wie häufig Deine beste Alternative auf Rang 1 gelangt. Ist dies in 100 % der Simulationsschritte der
    Fall, ist die Alternative in allen betrachteten Szenarien immer die beste. Egal, was passiert, machst Du mit dieser Alternative keinen
    Fehler. Sollte dies in weniger als 100 % der Simulationsschritte der Fall sein, gibt es Szenarien, in denen eine andere Alternative
    besser gewesen wäre. Hier wäre es beim Eintreffen dieser Szenarien besser gewesen, diese andere Alternative zu wählen. Zwar ist man
    nachher immer schlauer, aber trotzdem kann es nützlich sein, diese Zusammenhänge vorher schon reflektiert zu haben.
  </p>
  <p i18n
    >Wenn Du mit der Maus über die Balken fährst, kannst Du zusätzlich etwas über die Szenarien erfahren, in denen die jeweils gezeigte
    Rangposition abgeleitet wurde. Da dies durchaus sehr verschiedene Szenarien sein können und eine Darstellung aller Szenarien zu
    unübersichtlich wäre, werden lediglich die Zustände angezeigt, die ausnahmslos in allen Szenarien auftreten, die zu der Rangposition
    geführt haben.</p
  >
  <p i18n
    >Besonders charakterisierend für das Auftreten einer Rangposition sind diejenigen Zustände, die von Dir mit einer geringen
    Wahrscheinlichkeit angegeben wurden, aber trotzdem in vielen Szenarien vorkommen. Wenn die Eintrittswahrscheinlichkeit eines Zustands
    ohnehin sehr hoch ist, dann ist das Auftreten dieses Zustands in einem Szenario weniger charakterisierend für das Erreichen der
    Rangposition. Deshalb wird in der Darstellung nach aufsteigender Wahrscheinlichkeit sortiert, und die besonders charakterisierenden
    Zustände finden sich deshalb in den ersten Zeilen.</p
  >
  <p i18n
    >Wenn über alle Simulationsschritte hinweg bei einer Rangposition mehrere, aber nicht alle, Zustände eines Einflussfaktors auftreten,
    werden diese auch mit in die Analyse aufgenommen und zusammengefasst dargestellt (<span
      [dtHoverPopover]="examplePopover"
      dtHoverPopoverPosition="left"
      class="hover-text"
      >Beispiel</span
    >). Dies bedeutet in anderen Worten, dass in allen Szenarien stets genau einer dieser Zustände auftritt. Die angegebene
    Wahrscheinlichkeit entspricht in diesem Fall der Summe der entsprechenden Zustandswahrscheinlichkeiten.</p
  >
</dt-extendable-header>

<ng-template #scenariosPopover>
  <dt-note-hover>
    <p i18n>Angenommen Du hast die folgenden zwei Einflussfaktoren definiert:</p>
    <img src="assets/assistant/robustness-check_{{ languageService.isEnglish ? 'en' : 'de' }}.webp" />
    <p i18n
      >Ein mögliches Szenario wäre in diesem Fall, dass die Zustände „Erfolg des Start-ups: erfolgreich“ und „Betriebsklima: schlecht“
      zusammen eintreten. Insgesamt gibt es in diesem Beispiel durch die Kombination aller Zustände insgesamt neun Szenarien.</p
    >
  </dt-note-hover>
</ng-template>

<ng-template #examplePopover>
  <dt-note-hover>
    <p i18n
      >Angenommen Du hast den Einflussfaktor „Erfolg des Start-ups“ mit den möglichen Zuständen „Scheitert“, „Mittel“, „Erfolgreich“ und
      „Sehr erfolgreich“ und eine Alternative „Start-up gründen“ angelegt. Wenn es nun der Fall ist, dass die Alternative auf dem ersten
      Platz landet, wenn die Zustände „Erfolgreich“ und „Sehr erfolgreich“ eintreten, dann werden diese Zustände aggregiert angezeigt.</p
    >
  </dt-note-hover>
</ng-template>

<dt-extendable-header i18n-headerName headerName="Zum Verständnis des Risikovergleichs" variation="large">
  <p i18n
    >Das Risikoprofil ist als Analysehilfe zu verstehen. Mit dessen Hilfe kann eingeschätzt werden, wie wahrscheinlich es ist, dass eine
    Alternative einen bestimmten Nutzenwert überschreitet. Dies wird auf Basis einer Monte-Carlo-Simulation ermittelt.</p
  >
  <p i18n
    >Die Nutzenwerte werden basierend auf Szenarien berechnet. Ein Szenario stellt eine Kombination von Zuständen aller definierten
    Einflussfaktoren dar. In jedem Simulationsschritt werden aus allen Einflussfaktoren in Abhängigkeit der Wahrscheinlichkeiten mögliche
    Zustände gezogen und basierend auf diesen gezogenen Zuständen werden die Nutzenwerte für die einzelnen Alternativen ermittelt. Je nach
    Szenario können die Alternativen dabei unterschiedliche Nutzenwerte erzielen
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover1"
      >(Beispiel)</span
    >. Im Risikoprofil kannst Du Dir anschauen, zu welchen Wahrscheinlichkeiten die Alternativen in der Simulation bestimmte Nutzenwerte
    überschritten haben.</p
  >

  <ng-template #noteHover1>
    <dt-note-hover>
      <p i18n
        >Du hast beispielsweise die beiden Einflussfaktoren „Arbeitsklima“ mit den Zuständen „gut“ und „schlecht“ und Erfolg meines
        Start-ups mit den Zuständen „scheitert“, „etwas erfolgreich“ und „erfolgreich“ definiert. In jedem Simulationsschritt im
        Risikovergleich wird nun ein einzelnes Szenario gebildet und basierend auf diesem ein Endergebnis ermittelt. So werden in einem
        Simulationsschritt beispielsweise die Nutzenwerte aller Alternativen gebildet, wenn das Szenario „gutes Arbeitsklima“ und „Start-up
        scheitert“ eintritt.</p
      >
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Wie das Diagramm beim Risikovergleich zu lesen ist" variation="large">
  <p i18n
    >Das Diagramm ist so aufgebaut, dass alle Graphen bei einer Überschreitungswahrscheinlichkeit von 100 % starten und dann an bestimmten
    Punkten im Form von Treppenstufen abfallen. Wird ein bestimmter Punkt in einem der Graphen betrachtet, so ist dieser wie folgt zu
    lesen:</p
  >
  <p class="italic-font"
    >Die Alternative wird den Nutzenwert x in meinem Entscheidungsmodell zu einer Wahrscheinlichkeit von y % überschreiten</p
  >
  <p i18n
    >Eine Alternative kann, sofern sie im Wirkungsmodell an bestimmten Stellen mit Einflussfaktoren verknüpft wurde, je nach eingetretenem
    Szenario verschiedene Nutzenwerte erreichen. Wie oft ein Szenario eintritt, hängt mit den einzelnen Zustandswahrscheinlichkeiten
    zusammen. Die Eintrittswahrscheinlichkeit der einzelnen Szenarien beeinflusst wiederum die Gestalt des Risikoprofils
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover2"
      >(Beispiel)</span
    >.</p
  >
  <ng-template #noteHover2>
    <dt-note-hover>
      <p i18n
        >Angenommen, Du hast eine Alternative, die beim Eintreten des Szenarios A einen sehr schlechten und bei Szenario B einen sehr guten
        Nutzenwert erhält. Wenn Szenario B nun eine sehr geringe Eintrittswahrscheinlichkeit aufweist, ist zu erwarten, dass die
        Überschreitungswahrscheinlichkeit eines höheren Nutzenwerts dennoch niedrig ist. Das Diagramm wird stark abfallen.</p
      >
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Zum Verständnis der Kosten-Nutzen-Analyse" variation="large">
  <p i18n
    >Die Kosten-Nutzen-Analyse ist dann sinnvoll anwendbar, wenn in Deinem Entscheidungsmodell ein Ziel einen Kostencharakter hat und alle
    anderen Ziele so zu verstehen sind, dass durch mehr Kosten ein zusätzlicher Nutzen geschaffen wird. In diesem Fall können die Kosten dem
    aggregierten Nutzen aus den übrigen Zielen gegenübergestellt werden, und das Kosten-Nutzen-Verhältnis aller Alternativen kann grafisch
    gut veranschaulicht und verglichen werden. Das Kosten-Nutzen-Verhältnis ist links oben im Diagramm am besten, rechts unten am
    schlechtesten. Die eingezeichneten Indifferenzkurven zeigen an, dass Du das Kosten-Nutzen-Verhältnis aller Alternativen auf dieser Kurve
    als gleichwertig ansiehst. Höhere Kosten werden entsprechend durch einen höheren Nutzen in den anderen Zielen ausgeglichen. Der Verlauf
    der Indifferenzkurven ergibt sich hierbei aus den von Dir angegebenen Zielgewichten und Nutzenfunktionen. Bei veränderten Zielgewichten
    oder anderen Nutzenfunktionen verlaufen die Indifferenzkurven demnach anders
    <span
      class="hover-text"
      [dtHoverPopoverDisableClick]="true"
      [dtHoverPopoverPosition]="'bottom'"
      [dtHoverPopoverDelay]="200"
      [dtHoverPopover]="noteHover3"
      >(Beispiel)</span
    >.</p
  >
  <ng-template #noteHover3>
    <dt-note-hover>
      <p i18n
        >Nehmen wir vereinfacht an, dass Du in einer Kaufentscheidung für ein Auto die Ziele „Kaufpreis“, „Ausstattung“ und „Fahrsicherheit“
        definiert hast. Das Ziel „Preis“ lässt Du Dir als Kostenziel in der Kosten-Nutzen-Analyse anzeigen. Du schaust Dir nun die
        Indifferenzkurve einer Alternative an, die einen Gesamtnutzen (=Nutzenerwartungswert) von 60 hat. Die Indifferenzkurve ist wie folgt
        zu lesen: Wenn der Preis steigt (ich also auf der Kurve nach rechts gehe), dann steigt der Nutzen in meinen übrigen Zielen auf den
        Wert, der auf der y-Achse angezeigt wird. Ich bekomme also mehr Ausstattung und mehr Fahrsicherheit dazu. Gleichzeitig bleibt der
        Gesamtnutzen der Alternative bei 60 bestehen. Die gestiegenen Kosten werden also durch eine Zugewinn in den anderen Zielen wieder
        ausgeglichen. Rein von meinen Präferenzen aus gesehen ist die neue Kombination aus höherem Preis und mehr Nutzen in den anderen
        beiden Zielen für mich genauso gut wie die alte Kombination mit dem geringeren Preis und weniger hohem Nutzen in den anderen Zielen
        (Indifferenzkurve wird nicht verlassen).</p
      >
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Zum Verständnis und Lesen eines Tornadodiagramms" variation="large">
  <p i18n
    >Mit einem Tornadodiagramm kannst Du veranschaulichen, welchen Einfluss unsichere Faktoren auf das Gesamtergebnis haben. Der Faktor mit
    dem größten Einfluss zeigt sich als größter Balken ganz oben im Diagramm, derjenige mit dem zweitgrößten Einfluss darunter usw. Im
    Entscheidungsnavi können Tornadodiagramme in der Evaluation erzeugt werden. Das Tornadodiagramm in der Gesamtevaluation der Alternativen
    über alle Ziele zeigt an, wie sich relevante Unsicherheiten auf die jeweiligen Nutzenerwartungswerte der Alternativen, entweder isoliert
    oder im Vergleich zweier Alternativen, auswirken.</p
  >
  <p i18n
    >Für den Fall, dass es sich um einen benutzerdefinierten Einflussfaktor handelt und sich die definierten Zustände im Modell auf alle
    Indikatoren gleichzeitig beziehen, ergeben sich die dargestellten Werte unter der hypothetischen Annahme, dass diese Verknüpfung nicht
    gilt. Mit dieser Berechnung wird somit der isolierte Einfluss abgeschätzt, den dieser Indikator auf die Bewertung hat.</p
  >
</dt-extendable-header>
