<div class="list">
  @for (alternative of decisionData.alternatives; track alternative; let alternativeIndex = $index) {
    <klug-alternative-box [alternativeIndex]="alternativeIndex" (delete)="deleteAlternative(alternativeIndex)"></klug-alternative-box>
  }
</div>

<button
  mat-raised-button
  (click)="addAlternative()"
  [disabled]="decisionData.alternatives.length >= constants.maxAlternativeCount"
  color="klug-orange"
>
  <mat-icon>add</mat-icon>
  <span>weitere Option hinzufügen </span>
</button>
