@use 'sass:map';
@use 'sass:list';
@use '@angular/material' as mat;
@use '../../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-evaluation-graph {
    .background-main {
      background-color: #e7e7e7;
    }

    .alternative .objective {
      color: white;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          background-color: list.nth(klug-colors.$klug-diagram-colors, $i);
        }
      }
    }

    .legend-container .objective-legend {
      background-color: #808080;
      color: white;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) .square {
          background-color: list.nth(klug-colors.$klug-diagram-colors, $i);
        }
      }
    }

    .key {
      background-color: #d9d9d9;
      border-bottom: 1px solid lightgray;

      .objective {
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            .square {
              background-color: list.nth(klug-colors.$klug-diagram-colors, $i);
            }
          }
        }
      }
    }

    .objective-utility {
      background-color: var(--mdc-plain-tooltip-container-color);
      color: var(--mdc-plain-tooltip-supporting-text-color);

      @include mat.elevation(2);
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-evaluation-graph {
    @include mat.m2-typography-level($typography-config, 'subtitle-1');

    .objective-utility {
      font-family: var(--mdc-plain-tooltip-supporting-text-font);
      line-height: var(--mdc-plain-tooltip-supporting-text-line-height);
      font-size: var(--mdc-plain-tooltip-supporting-text-size);
      font-weight: var(--mdc-plain-tooltip-supporting-text-weight);
      letter-spacing: var(--mdc-plain-tooltip-supporting-text-tracking);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
