<div
  #graph
  class="container"
  [style.grid-template-columns]="gridColumns"
  [style.grid-template-rows]="gridRows"
  [style.--scale-width]="widthOfScaleCh + 'ch'"
>
  <div class="legend-container">
    @for (objective of objectives; track objective; let objectiveIndex = $index) {
      <div class="objective-legend" [class.hidden]="hoveredObjectiveIndex !== objectiveIndex">
        <div class="square"></div>
        <div>{{ objective.name }}</div>
      </div>
    }
  </div>
  @if (showKey) {
    <div class="key">
      @for (objective of objectives; track objective) {
        <div class="objective">
          <div class="square"></div>
          <div class="name">{{ objective.name }}</div>
        </div>
      }
    </div>
  }
  <div class="scale stick-left">
    <span>{{ 1 | percent }}</span>
    <span>{{ 0.5 | percent }}</span>
    <span>{{ 0 | percent }}</span>
  </div>
  <div class="sticky-dummy stick-left"></div>
  @for (alternative of sortedAlternatives; track alternative; let alternativeIndex = $index) {
    <div class="alternative background-main" [style.grid-column]="2 + alternativeIndex">
      @for (objective of objectives; track objective; let objectiveIndex = $index) {
        <div
          class="objective"
          [style.height.%]="sortedUtilityValues[alternativeIndex][objectiveIndex] * 100"
          (mouseenter)="hoveredObjectiveIndex = objectiveIndex"
          (mouseleave)="hoveredObjectiveIndex = -1"
          [class.not-hovered]="hoveredObjectiveIndex !== -1 && hoveredObjectiveIndex !== objectiveIndex"
        >
          @if (hoveredObjectiveIndex === objectiveIndex && sortedDisplayValues[alternativeIndex][objectiveIndex] > 0) {
            <div class="objective-utility">
              {{ sortedDisplayValues[alternativeIndex][objectiveIndex] / 100 | percent }}
            </div>
          }
        </div>
      }
      <div class="utility-sum-container">
        <div class="utility-sum">{{ sortedSumValues[alternativeIndex] | percent }}</div>
      </div>
    </div>
  }
  @for (alternative of sortedAlternatives; track alternative; let alternativeIndex = $index) {
    <div class="alternative-name background-main" [style.grid-column]="2 + alternativeIndex">
      {{ alternative.name }}
    </div>
  }
</div>
