@use '@angular/material' as mat;

$bar-top-padding: 30px;

:host {
  display: flex;

  overflow: auto;
  position: relative;
}

.container {
  display: grid;

  flex: 1;
  overflow: auto;

  .legend-container {
    position: absolute;

    grid-column: 2 / -1;
    grid-row: 1;

    left: calc(50% + var(--scale-width) / 2);
    translate: -50% 0;

    margin-top: 10px;

    z-index: 100;

    .objective-legend {
      display: flex;
      align-items: center;
      gap: 10px;

      padding: 2px 10px;

      font-weight: 500;

      .square {
        width: 15px;
        height: 15px;
      }

      &.hidden {
        display: none;
      }
    }

    @include mat.elevation(3);
  }

  .key {
    display: flex;
    flex-wrap: wrap;

    grid-column: 2 / -1;
    width: 100%;

    column-gap: 20px;
    row-gap: 5px;

    margin-left: auto;
    align-self: flex-start;

    padding: 10px 20px;

    .objective {
      display: flex;
      align-items: baseline;
      gap: 8px;

      .square {
        width: 10px;
        height: 10px;
      }
    }
  }

  .stick-left {
    position: sticky;
    background-color: white;
    left: 0;
    padding-right: 10px;
  }

  .scale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 2;

    text-align: right;

    grid-column: 1;
    grid-row: -3 / -2;

    padding-top: $bar-top-padding;

    :first-child {
      translate: 0 -50%;
    }

    :last-child {
      translate: 0 50%;
    }
  }

  .sticky-dummy {
    z-index: 1;

    grid-row: 2;
    grid-column: 1;
  }

  .alternative {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    position: relative;

    padding: 0 20px;
    padding-top: $bar-top-padding;

    .utility-sum-container {
      height: 0;

      .utility-sum {
        translate: 0 -100%;
        line-height: 1;
        text-align: center;
        padding-bottom: 5px;
      }
    }

    .objective {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      min-width: 100px;

      transition: opacity 200ms ease-in-out;

      .objective-utility {
        border-radius: var(--mdc-plain-tooltip-container-shape);

        z-index: 1;

        padding: 4px 8px;
      }

      &.not-hovered {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }

  .alternative-name {
    text-align: center;
    line-height: 1.2;
    padding: 5px 20px;
  }
}
