@use 'variables' as dt;

// Change global styles for the mat dialog
::ng-deep {
  .dt-modal-content-mat-dialog-panel {
    .mat-mdc-dialog-container {
      padding: 0;
      background: transparent;
    }

    --mat-dialog-container-max-width: 100%;
    --mat-dialog-container-small-max-width: 100%;

    @media screen and (max-width: 599px) {
      margin: auto 0 !important;

      &.dt-modal-content-mat-dialog-panel-giant {
        margin-top: 0 !important;
      }
    }
  }

  .dt-modal-content-mat-dialog-panel-giant {
    margin-top: 5vh !important;
  }
}

.modal-window {
  display: flex;
  flex-direction: column;

  position: relative;

  max-height: 100vh;
  width: 100vw;

  &.small-modal {
    max-width: 500px;
  }

  &.flex-modal {
    max-width: 100vw;
    width: min-content;

    .modal-footer-content {
      flex-wrap: wrap;
      width: 0;
    }
  }

  .modal-title {
    display: flex;
    padding: 4px;
    padding-left: dt.$modal-padding;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    align-items: center;
    justify-content: space-between;

    margin: 0;

    background-color: dt.$blue;

    h4 {
      color: white;
      margin: 0;
    }

    .mat-caption {
      color: #bcc0c2;

      strong {
        font-weight: 500;
      }
    }

    .modal-title-text {
      min-width: 0;
    }
  }

  .modal-subheader {
    position: relative; // Support note-btn in subheader
    display: flex;
    align-items: center;

    background-color: #e2e4e5;

    & > ::ng-deep mat-form-field {
      flex: 1;
    }
  }

  .modal-content {
    flex: 0 1 auto;
    overflow: auto;
    background-color: white;
  }
  .modal-content.flex-content {
    display: flex;
    flex-direction: column;
  }

  mat-divider {
    border-top-color: #e0e0e0;
  }

  .modal-footer {
    background-color: dt.$modal-background;
    width: 100%;
    padding: 6px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .modal-footer-content {
    flex: 1 1 auto;
    gap: 4px;
  }

  .modal-footer,
  .modal-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.modal-content.content-padding {
  padding: 1rem dt.$modal-padding;
}

@media screen and (min-width: 600px) {
  .modal-window {
    width: 90vw;
    max-height: 80vh;
  }
  .modal-window.giant-modal {
    max-height: 90vh;
  }
  .modal-window.big-modal {
    width: 95vw;
  }
  .modal-window.flex-modal {
    max-width: 95vw;
  }
}

@media screen and (min-width: 992px) {
  .modal-window {
    width: 70vw;
  }
  .modal-window.big-modal {
    width: 90vw;
  }
  .modal-window.giant-modal {
    width: 95vw;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 55vw;
  }
  .modal-window.big-modal {
    width: 70vw;
  }
  .modal-window.giant-modal {
    width: 90vw;
  }
}
