form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  margin-right: 8px;

  &[type='submit'] {
    position: relative;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 20px;
}
