<div class="map-popover mat-elevation-z4">
  <table>
    <tr>
      <th></th>
      <th class="label-objectives" [attr.colspan]="objectives.length" i18n>Fundamentalziele</th>
    </tr>
    @for (alternative of alternatives; track alternative; let i = $index) {
      <tr>
        @if (i === 0) {
          <td [attr.rowspan]="alternatives.length" class="label-alternatives">
            <div i18n>Alternativen</div>
          </td>
        }
        @for (objective of objectives; track objective; let j = $index) {
          <td>
            <div class="cell" [class.highlighted]="highlightOutcomes.includes(outcomes[i][j])"></div>
          </td>
        }
      </tr>
    }
  </table>
</div>
