@use 'variables' as dt;

.map-popover {
  background-color: #fff;
  padding: 20px;
  max-width: 800px;
  overflow: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    .label-objectives {
      color: #fff;
    }
    .label-alternatives {
      background-color: dt.$alternative;
      color: dt.$objective;
      max-width: 40px;
      overflow: hidden;
      border-left: 1px solid dt.$objective;
      border-bottom: 1px solid dt.$objective;

      div {
        min-width: 400%;
        margin-left: -150%;
        transform: rotate(-90deg);
        filter: none;
      }
    }
    tr th:first-child {
      background-color: #fff;
      border-left: none;
      border-bottom: 1px solid dt.$objective;
    }
    th {
      background-color: dt.$objective;
      color: #fff;
      border-left: 1px solid dt.$objective;
      height: 30px;
    }
    tr td:first-child {
      background-color: dt.$alternative;
      color: dt.$objective;
    }
    td {
      border-right: 1px solid dt.$objective;
      width: 50px;
      height: 30px;
      text-align: center;
    }
    .cell {
      border-bottom: 1px solid dt.$objective;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;

      &.highlighted {
        background-color: #9ea4ad;
      }
    }
  }
}
