<div class="root-element">
  <ng-template #sourcesTemplate>
    <div class="hierarchy-screw-header" (mousedown)="popOverDrag($event)" (touchstart)="popOverDragTouch($event)">
      <span (mousedown)="popOverDrag($event, true)" (touchstart)="popOverDragTouch($event)" i18n>Vorschläge</span>
      <button
        class="close-button"
        (touchstart)="$event.stopImmediatePropagation()"
        (mousedown)="$event.stopImmediatePropagation()"
        (click)="popOverRef.close(); popOverRef = null"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="hierarchy-screw-content mat-elevation-z4" [class.screw]="suggestionsMode === 'screw'" #sourcesContent>
      @if (suggestionsMode === 'screw') {
        <div class="overlay">
          <button mat-button (click)="suggestionsMode = 'hierarchy'" toolbar i18n>Zielhierarchie anzeigen</button>
        </div>
        <dt-screw-list
          [screws]="screws"
          [screwConfigurationProviders]="alternatives"
          [newScrewConfiguration]="screwConfigurationForNewAlternative"
          [showScrewsOnly]="true"
          [readonly]="true"
          (dblClickedElement)="addCategoryFromScrews($event)"
        >
        </dt-screw-list>
      }
      @if (suggestionsMode === 'hierarchy') {
        <dt-simple-hierarchy
          [tree]="objectiveTree"
          (doubleClickNode)="addCategoryFromHierarchy($event.element, $event.location, $event.htmlElement)"
        >
          <button mat-button (click)="suggestionsMode = 'screw'" beforeToolbar class="toolbar-button" i18n>Stellhebel anzeigen</button>
          <mat-divider beforeToolbar vertical></mat-divider>
          <button
            mat-icon-button
            #tooltip="matTooltip"
            beforeToolbar
            i18n-matTooltip
            matTooltip="Durch Doppelklick kannst Du direkt Aspekte als Kategorien hinzufügen."
            (click)="tooltip.show()"
            ><mat-icon>info</mat-icon></button
          >
          <mat-divider beforeToolbar vertical></mat-divider>
        </dt-simple-hierarchy>
      }
    </div>
  </ng-template>
  <div #verticalScrollContainer class="content-wrapper">
    <div class="diagram-container">
      <!-- CATEGORY -->
      <div
        class="category-list"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="indicator.verbalIndicatorCategories"
        (cdkDropListDropped)="swapCategories($event)"
      >
        @for (verbalIndicatorCategory of indicator.verbalIndicatorCategories; track categoryIdx; let categoryIdx = $index) {
          <dt-verbal-category
            [categoryIdx]="categoryIdx"
            [editable]="editable"
            [hasMultipleCategories]="hasMultipleCategories"
            [indicatorIdx]="indicatorIdx"
            [outcomeValues]="outcomeValues"
            [showEmptyField]="showEmptyField"
            [stateIdx]="stateIdx"
            [verbalIndicatorCategory]="verbalIndicatorCategory"
            (changeWeight)="changeWeight($event.categoryIdx, $event.newWeight)"
            (removeCategory)="removeCategory($event)"
            (createStage)="createStage($event.categoryIdx, $event.stageIdx)"
            (removeStage)="removeStage($event.categoryIdx, $event.stageIdx)"
            (setVerbalIndicatorValue)="setVerbalIndicatorValue($event.categoryIdx, $event.newValue)"
            (swapStages)="swapStages($event, categoryIdx)"
          ></dt-verbal-category>
        }
        <!-- Add category button (+) -->
        @if (editable) {
          <button class="add-category-button" (click)="createCategory()" mat-icon-button color="accent" type="button">
            <mat-icon>add_box</mat-icon>
          </button>
        }
      </div>
      <!-- SCALE PANEL (left) -->
      <div class="scale-container">
        @for (scaleValue of scaleValues; track scaleValue) {
          <div class="scale-entry">
            <span>{{ scaleValue }}</span>
          </div>
        }
      </div>
      <!-- FORECAST VALUE (orange value on top of the scale) -->
      <!-- style.top = forecastPercentage% + 20px (top padding) + forecastPercentage * (20 (top padding) + 20 (bottom padding) + 24 (forecast height)) -->
      @if (!editable && forecastResult != null && !isNaN(forecastResult)) {
        <div
          class="scale-entry forecast-result"
          [style.top]="'calc(' + forecastPercentage() * 100 + '% + 20px - ' + forecastPercentage() + '* 64px)'"
        >
          <span>{{ forecastResult | safeNumber: '?' : '1.0-2' }}</span>
        </div>
      }
      <!-- SCALE UNIT (bottom left) -->
      @if (indicator.unit !== '') {
        <span class="unit text-italic">in {{ indicator.unit }}</span>
      }
      <!-- DOTTED LINES -->
      <div class="dotted-line-container">
        @for (_ of scaleValues; track _) {
          <div class="dotted-line" [style.width.px]="dottedLinesWidth"></div>
        }
      </div>
    </div>
    <!-- Hierarchy/Screws button -->
    @if (editable) {
      <button mat-raised-button color="accent" #sourcesButton (click)="openHierarchyScrew()" class="top-left-controls" i18n
        >Vorschläge</button
      >
    }
    @if (!editable && influenceFactor != null) {
      <mat-form-field class="top-left-controls">
        <mat-label i18n>Zustand</mat-label>
        <mat-select [(value)]="stateIdx">
          @for (_ of [].constructor(influenceFactor.stateCount); track _; let currentStateIdx = $index) {
            <mat-option [value]="currentStateIdx">
              {{ influenceFactor | stateName: currentStateIdx }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
</div>
