@use 'variables' as dt;
@use '@angular/material' as mat;

.table-container {
  display: grid;

  min-width: min-content;

  background-color: lightgray;

  gap: 1px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    text-align: center;

    padding: 3px 20px;

    &.header {
      padding: 7px 20px;
      font-weight: 500;
    }

    &.left-align {
      justify-content: flex-start;
      text-align: left;
    }

    &.rank-cell {
      flex-direction: column;
    }

    &.for {
      background-color: hsl(96, 58%, 71%);
    }

    &.against {
      background-color: hsl(6, 78%, 77%);
    }

    &.for,
    &.against {
      cursor: pointer;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .super.header {
    font-size: dt.font-size(subtitle-1);
    text-align: center;

    grid-column: 3 / -1;
    &:first-child {
      grid-column: span 2;
    }
  }
}

.opinion {
  padding: 2px 4px;

  margin-top: 5px;

  @include mat.elevation(3);

  &.for {
    background-color: hsl(96, 58%, 81%);
  }

  &.against {
    background-color: hsl(6, 78%, 87%);
  }
}

.alternative-rank {
  margin-right: 1ch;
  color: gray;
}

.seperator-border {
  border-left: 2px solid lightgray;
}
