<dt-modal-content size="giant" (closeClick)="dialogRef.close()" [showFooter]="true" [contentPadding]="false" [flexContent]="true">
  <ng-template i18n #title>Auswahl von Ausprägungen</ng-template>
  <ng-template #content>
    <div class="content-container">
      <div class="matrix-container">
        <div class="left-column-with-blank-box">
          <div class="box blank"></div>
          <div class="left-column">
            @for (alternative of decisionData.alternatives; track alternative; let i = $index) {
              <div class="box box-alternative header">
                <div class="caption">
                  <div class="alternative-name">
                    <span class="ellipsis">{{ alternative.name }}</span>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>

        <div class="right-column">
          <div class="header-row">
            @for (objective of decisionData.objectives; track objective; let i = $index) {
              <div class="box box-objective header">
                <div class="objective-name">{{ objective.name }}</div>
              </div>
            }
          </div>
          <div class="table-content">
            @for (alternative of decisionData.alternatives; track alternative; let i = $index) {
              <div class="content-row">
                @for (objective of decisionData.objectives; track objective; let j = $index) {
                  <div class="content-cell">
                    <div class="field-container">
                      <div class="slide-toggle-hitbox" (click)="toggle.toggle()">
                        <mat-slide-toggle #toggle [(ngModel)]="selectionArray[i][j]" (click)="$event.stopPropagation()"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Schließen</button>
  </ng-template>
</dt-modal-content>
