@use '@angular/material' as mat;
@use 'sass:list';
@use 'sass:color';

@use 'variables' as dt;

@function strength-color($strength) {
  @return list.nth(lightgray red hsl(30, 100%, 50%) hsl(60, 100%, 50%) hsl(88, 100%, 43%) hsl(116, 100%, 26%), $strength + 1);
}

.strength-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  .strength-bars {
    display: flex;

    > div {
      flex: 1;
      background-color: lightgray;
      border-radius: 1px;

      height: 5px;

      &:not(:last-child) {
        margin-right: 3px;
      }
    }

    @for $i from 0 through 4 {
      &.strength-#{$i} {
        @for $e from 1 through $i + 1 {
          > div:nth-child(#{$e}) {
            background-color: strength-color($i + 1);
          }
        }
      }
    }
  }

  .strength-text {
    display: flex;
    align-items: center;

    align-self: flex-end;

    @for $i from -1 through 4 {
      &.strength-#{$i} {
        color: color.adjust(strength-color($i + 1), $lightness: -10%);
      }
    }
  }
}

.password-hint {
  text-align: left;
  padding: 10px;
  padding-top: 1px;

  background-color: #3b4c5b;
  box-shadow:
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  color: lightgray;

  h6 {
    color: white;
  }

  ul {
    margin: 0;

    padding-left: 1rem;

    li {
      font-size: mat.m2-font-size(dt.$typography, caption);
      line-height: 1rem;
    }
  }
}
