:host {
  flex: 1 0 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.filters-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;

  .search-query {
    flex: 1 0 auto;
    max-width: 500px;
  }
}
