@use 'variables' as dt;
@use '@angular/material' as mat;

form {
  padding: 8px 0;
}

form .row {
  padding: 12px 16px;

  display: flex;
  align-items: center;
  gap: 16px;

  mat-form-field {
    flex: 0 1 auto;

    &:first-child {
      flex-grow: 1;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}

.info-icon {
  cursor: pointer;
}

.empty-indicator {
  font-style: italic;
  margin: 16px 24px;
}

.used-in-trigger {
  color: dt.$orange;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.used-in-popover {
  background-color: white;
  border: 1px solid lightgray;

  padding: 5px 10px;

  @include mat.elevation(4);

  ul {
    list-style-position: inside;
  }
}
