@if (objective.isVerbal) {
  <div class="single-value-container">
    <dt-select [class.grayed-out]="grayedOutText" [selectedOptions]="outcomeValue" (selectedOptionsChange)="onValueChange($event)">
      @for (option of objective.verbalData.options; track option; let j = $index) {
        <dt-select-option [value]="j + 1">{{ option }}</dt-select-option>
      }
    </dt-select>
  </div>
}

@if (objective.isNumerical) {
  <div class="single-value-container">
    <dt-numerical-input
      [from]="objective.numericalData.from"
      [to]="objective.numericalData.to"
      [unit]="objective.numericalData.unit"
      [value]="outcomeValue"
      [grayedOutText]="grayedOutText"
      (valueChange)="onValueChange($event)"
    ></dt-numerical-input>
  </div>
}
