<form [formGroup]="form" [dtWidthTrigger]="{ 'column-layout': 600 }">
  <div class="row" formGroupName="from">
    <div class="title" i18n>Schlechteste Ausprägung</div>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Wert</mat-label>
      <input matInput type="number" formControlName="value" />
    </mat-form-field>
    <quill-editor
      formControlName="comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: null }"
      placeholder="Erläuterung der schlechtesten Ausprägung."
      i18n-placeholder
    ></quill-editor>
    <dt-note-btn
      [comment]="form.value.from.comment"
      (commentChange)="form.controls.from.patchValue({ comment: $event })"
      caption="Erläuterung der schlechtesten Ausprägung"
      i18n-caption
    ></dt-note-btn>
  </div>

  <mat-divider></mat-divider>

  <div class="row" formGroupName="to">
    <div class="title" i18n>Beste Ausprägung</div>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Wert</mat-label>
      <input matInput type="number" formControlName="value" />
    </mat-form-field>
    <quill-editor
      formControlName="comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: null }"
      placeholder="Erläuterung der besten Ausprägung."
      i18n-placeholder
    ></quill-editor>
    <dt-note-btn
      [comment]="form.value.to.comment"
      (commentChange)="form.controls.to.patchValue({ comment: $event })"
      caption="Erläuterung der besten Ausprägung"
      i18n-caption
    ></dt-note-btn>
  </div>

  @if (form.errors?.collapsedInterval) {
    <div class="row error-row">
      <div class="title"></div>
      <mat-error i18n>Beste und schlechteste Ausprägung dürfen nicht identisch sein</mat-error>
    </div>
  }

  <mat-divider></mat-divider>

  <div class="row">
    <div class="title"></div>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Einheit</mat-label>
      <input matInput formControlName="unit" maxlength="10" />
      <mat-hint align="end">{{ form.get('unit').value?.length || 0 }}/10</mat-hint>
    </mat-form-field>
  </div>
</form>
