mat-form-field {
  width: 100%;
}

mat-selection-list:empty::before {
  content: attr(empty-text);
  color: gray;
  font-style: italic;
}

:host ::ng-deep .task-type-locked .mat-step-header[tabindex='-1'] {
  pointer-events: none;
  cursor: unset;
}
