:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.matrix-container {
  display: flex;
  flex-direction: column;

  max-width: 100%;

  flex: 1;
  flex-basis: 0;

  align-self: center;

  min-height: 350px;
}
