@use 'variables' as dt;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dt-group-headline {
  // Do not overflow parent
  max-width: 100%;
}

.dt-group-body {
  background-color: #eee;
  color: #555;
  padding: 5px;

  & > ul {
    margin: 0;
  }
}

.aspects dt-collapsible {
  font-size: dt.font-size(caption);
}

.aspects dt-collapsible ul {
  margin: 0;
  padding-left: 1.5em;
}
