@for (objective of decisionData.objectives; track objective; let i = $index) {
  <dt-objective-group [notePage]="ideas" [noteGroupIdx]="i" [readonly]="decisionDataState.isProjectReadonly">
    <span class="dt-group-headline" i18n
      >Ideen, wie Du im Ziel<br /><b>„{{ objective.name }}“</b><br />
      ein sehr gutes Ergebnis erreichen könntest:</span
    >
    @if (aspects[i].length > 0) {
      <div class="dt-group-body aspects">
        <dt-collapsible class="mat-caption" [open]="true" caption="Im letzten Schritt hast Du folgende Aspekte genannt:" i18n-caption>
          <ul class="dt-collapsible-body browser-default">
            @for (aspect of aspects[i]; track aspect) {
              <li>{{ aspect }}</li>
            }
          </ul>
        </dt-collapsible>
      </div>
    }
  </dt-objective-group>
}
