<dt-modal-content [showFooter]="true" (closeClick)="tryCloseScrewModal()" [contentPadding]="false" [flexContent]="true" size="small">
  <ng-template #title i18n>Stellhebel bearbeiten</ng-template>
  <ng-template #subheader>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label i18n>Bezeichnung</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="editedScrew.name"
        required
        placeholder="Unbenannter Stellhebel"
        i18n-placeholder
        dtAutoFocus
      />
    </mat-form-field>
  </ng-template>
  <ng-template #content>
    <div cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="stateDrop($event)" #stateList>
      @for (state of editedScrew.states; track stateIndex; let stateIndex = $index) {
        <div cdkDrag [cdkDragBoundary]="stateList" class="row">
          <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
          <input
            type="text"
            class="screw-state"
            placeholder="Position {{ stateIndex + 1 }}"
            i18n-placeholder
            required
            [(ngModel)]="editedScrew.states[stateIndex]"
            (keyup.enter)="editedScrew.states.length < maxNumberOfStates && addState(stateIndex + 1)"
          />
          <button mat-icon-button [disabled]="this.editedScrew.states.length <= minNumberOfStates" (click)="deleteState(stateIndex)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>

    <mat-divider></mat-divider>

    <div class="button-wrapper">
      <button
        mat-button
        color="accent"
        (click)="addState(editedScrew.states.length)"
        [disabled]="editedScrew.states.length >= maxNumberOfStates"
      >
        <mat-icon>add_box</mat-icon>
        <ng-container i18n>Position</ng-container>
      </button>
    </div>
  </ng-template>

  <ng-template #footer>
    <button
      mat-raised-button
      dtConfirmPopover="Stellhebel wirklich löschen?"
      i18n-dtConfirmPopover
      (dtConfirmPopoverConfirm)="deleteScrew()"
      [disabled]="!screwDeletionAllowed"
      color="warn"
      ><mat-icon>delete</mat-icon><ng-container i18n>Löschen</ng-container></button
    >
    <button mat-raised-button color="accent" (click)="saveScrew()" [disabled]="!isEditedScrewValid || !hasChanges"
      ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
    >
    <button mat-raised-button color="accent-less" (click)="tryCloseScrewModal()" i18n>Verwerfen</button>
  </ng-template>
</dt-modal-content>
