@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  &:not(.single-row) {
    display: block;

    .first-dummy,
    .overflow-option,
    .distance-option {
      display: none;
    }
  }

  &.single-row {
    display: flex;
    overflow: hidden;
    background-color: white;
  }
}

mat-chip-listbox,
mat-chip-listbox ::ng-deep .mdc-evolution-chip-set__chips,
.chip-wrapper {
  background-color: inherit;
}

.main-chip-list {
  height: 100%;
  max-width: 100%;
  min-width: 0;
}

mat-chip-option {
  cursor: pointer;
  font-size: dt.font-size(caption);
}

.first-dummy {
  position: relative;
  width: 0;
  height: 100%;

  .overflow-option {
    position: absolute;
    left: 0;
    min-width: max-content;
  }
}

.chip-wrapper {
  display: flex;
  position: relative;

  .overflow-option {
    position: absolute;
    right: 0;
    translate: calc(100% + 8px);
  }
}

.distance-option {
  visibility: hidden;
  margin-left: 8px;
}

.empty-placeholder {
  margin-left: 8px;
  align-self: center;
}

.popover-chip-list {
  @include mat.elevation(8);

  border-radius: 5px;
  background-color: white;

  padding: 4px 8px;
  margin: 4px;

  max-height: 500px;
  overflow-y: auto;
}
