<div class="dt-help-padding">
  <p i18n>Mit dem Entscheidungsnavi können verschiedene Entscheidungskontexte bearbeitet werden.</p>

  <p i18n
    >Du findest links einige vorgegebene Werte. Deine persönlichen Wichtigkeiten kannst Du durch Klicken in die Balken oder Ziehen der
    Balken rechts daneben einstellen. Einzelne Werte kannst Du rechts am Rand löschen. Mit dem Button „Wert hinzufügen“ unten links kannst
    Du eigene Werte ergänzen.</p
  >

  <p i18n
    >Wenn Du alle Wichtigkeiten eingestellt hast, kannst Du zur besseren Übersicht die Werte mithilfe des entsprechenden Buttons unten
    rechts ordnen. Um Deine Angaben zu löschen, kannst Du den Button „Werte zurücksetzen“ links daneben nutzen.</p
  >
</div>
