@use '@angular/material' as mat;
@use 'variables' as dt;
@import '../../shared/decision-statement-note-container';

ul {
  margin-bottom: 40px;
}

dt-collapsible {
  display: block;
}

.additional-information-container {
  padding-bottom: 10px;
  > div {
    color: rgba(0, 0, 0, 0.6);

    @include mat.elevation(1);

    background-color: dt.$inputbox-background;
    border: 1px solid dt.$inputbox-border;

    > span {
      display: flex;

      padding: 5px 15px;
      padding-left: calc(15px + 0.2em);
      background-color: #e2e2e2;
      border-bottom: 1px solid lightgray;
    }

    li {
      &.empty {
        visibility: hidden;
        height: 0;
      }
    }

    ol {
      padding: 5px 15px;
      padding-left: calc(15px + 1.2em);
      margin-bottom: 0;
    }

    .suggestion-note-list {
      list-style-type: upper-alpha;

      li:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    > span {
      font-weight: 500;
      color: dt.$blue;
    }

    &:last-child {
      margin-top: 20px;
    }
  }
}

.other-notes li {
  white-space: pre-line;
}
