@if (!fullscreenRef) {
  <dt-select-line>
    @if (!isInSortingMode) {
      <dt-toggle-button
        [value]="false"
        (click)="toggleFullScreen()"
        icon="fullscreen"
        matTooltip="Vollbildmodus"
        matTooltipPosition="above"
        i18n-matTooltip
      ></dt-toggle-button>
      <dt-select [selectedOptions]="highlightInfluenceFactorId" (selectedOptionsChange)="changeHighlightedInfluenceFactor($event)">
        <dt-select-label i18n>Einflussfaktor</dt-select-label>
        <dt-select-option [value]="-1">—</dt-select-option>
        @for (influenceFactor of influenceFactorOptions; track influenceFactor; let i = $index) {
          <dt-select-option [value]="i">{{ influenceFactor | influenceFactorName }}</dt-select-option>
        }
      </dt-select>
      <dt-select [(selectedOptions)]="dominanceMode" (selectedOptionsChange)="onChange()">
        <dt-select-label i18n>Dominierte Alternativen</dt-select-label>
        <dt-select-option value="off" i18n>nicht hervorheben</dt-select-option>
        <dt-select-option value="highlight" i18n>hervorheben</dt-select-option>
        <dt-select-option value="filter" i18n>ausblenden</dt-select-option>
      </dt-select>
      <dt-select [(selectedOptions)]="colorMode" (selectedOptionsChange)="resetColorization()">
        <dt-select-label i18n>Einfärbung</dt-select-label>
        <dt-select-option value="off" i18n>keine</dt-select-option>
        <dt-select-option value="absolute" i18n>absolut</dt-select-option>
        <dt-select-option value="relative" i18n>relativ</dt-select-option>
        <dt-select-option value="pro-contra" i18n>pro / kontra</dt-select-option>
      </dt-select>
      <dt-toggle-button
        [(value)]="transposed"
        icon="pivot_table_chart"
        [tooltipTrue]="transposedTooltip"
        [tooltipFalse]="notTransposedTooltip"
      >
      </dt-toggle-button>
      <dt-toggle-button
        [(value)]="smallBoxHeight"
        icon="expand"
        [tooltipTrue]="compactScalingTooltip"
        [tooltipFalse]="normalScalingTooltip"
      >
      </dt-toggle-button>
    }
    @if (decisionData.isProfessional()) {
      <dt-toggle-button
        [(value)]="isInSortingMode"
        [icon]="!isInSortingMode ? 'low_priority' : 'close'"
        [tooltipTrue]="sortingOnTooltip"
        [tooltipFalse]="sortingOffTooltip"
      >
      </dt-toggle-button>
    }
  </dt-select-line>
}

<div
  class="matrix-explainable-container"
  dtExplainable
  [triggerAnchor]="'middle'"
  [explainable]="decisionData.isProfessional() && !fullscreenRef"
  [explanationTrigger]="explanationTrigger"
  [class.fullscreen]="fullscreenRef"
  [dtWidthTrigger]="{ 'narrow-cells': 399 }"
>
  <div
    #matrixContainer
    [dtWidthTrigger]="{ 'scroll-snap': 500 }"
    class="matrix-layout-container mat-elevation-z5"
    [class.is-dragging]="dragData != null"
    (pointerleave)="clearHoveredAlternative()"
    cdk-scrollable
    cdkDropList
    (cdkDropListSorted)="reorderElementsOnDrag($event)"
    (cdkDropListDropped)="reorderElementsOnDrop($event)"
    [cdkDropListOrientation]="dragAndDropOrientation"
  >
    <!-- ROOT ELEMENT -->
    <div class="root-box">
      @if (!fullscreenRef && !isInSortingMode) {
        <button mat-raised-button color="accent-less" (click)="excelExport()" data-cy="excel-button">
          <mat-icon>cloud_sync</mat-icon><ng-container i18n>Excel</ng-container>
        </button>
      }
      @if (!transposed) {
        <div class="alternative-text" i18n>Alternativen</div>
      }
      <div class="objective-text" i18n>Ziele</div>
      @if (fullscreenRef) {
        <button mat-mini-fab class="close-fullscreen-button" (click)="toggleFullScreen()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
    <!-- HEADER ELEMENTS -->
    @for (objective of decisionData.objectives; track objective; let objectiveIdx = $index; let lastObjective = $last) {
      <div
        #objectiveBox
        class="objective-box-container"
        [class.draggable]="isInSortingMode"
        [dtHoverPopover]="objectiveActions"
        [dtHoverPopoverPosition]="'top'"
        [dtHoverPopoverDelay]="300"
        [dtHoverPopoverScrollStrategy]="'reposition'"
        [dtHoverPopoverDisableClick]="true"
        [dtHoverPopoverDisableAnimation]="true"
        [dtHoverPopoverDisabled]="isInSortingMode"
        (mouseenter)="changeCdkOrientation(this.objectiveOrientation)"
        data-cy="objective-actions"
      >
        @if (isInSortingMode && !dragging) {
          <mat-icon class="drag-handle">drag_pan</mat-icon>
        }
        @if (dragAndDropOrientation === this.objectiveOrientation && isInSortingMode) {
          <!-- Draggable Objective -->
          <div
            class="objective-box"
            [class.last-column-box]="!transposed && lastObjective"
            cdkDrag
            (cdkDragStarted)="dragging = true"
            (cdkDragEnded)="dragging = false"
            [cdkDragBoundary]="matrixContainer"
            [cdkDragLockAxis]="transposed ? 'y' : 'x'"
          >
            <ng-template [ngTemplateOutlet]="objectiveContent"></ng-template>
          </div>
        } @else {
          <!-- Static Objective -->
          <div class="objective-box">
            <ng-template [ngTemplateOutlet]="objectiveContent"></ng-template>
          </div>
        }
        <ng-template #objectiveContent>
          <dt-impact-matrix-name-field
            #objectiveNameField
            [class.non-interactive]="isInSortingMode"
            [editable]="extendable"
            [light]="false"
            [(name)]="objective.name"
            [isTwoLiner]="transposed"
            defaultName="Ziel {{ objectiveIdx + 1 }}"
            i18n-defaultName
            data-cy="objective-name-field"
          >
          </dt-impact-matrix-name-field>
          <!-- info about scale -->
          <div class="objective-scale-info" [class.non-interactive]="isInSortingMode" data-cy="objective-scale-info">
            <span class="ellipsis" (click)="openScaleEditor(objectiveIdx)">
              @if (objective.isNumerical) {
                <ng-container i18n
                  >Numerische Skala
                  @if (!transposed || !smallBoxHeight) {
                    von {{ objective.numericalData.from | number: '1.0-2' }} bis {{ objective.numericalData.to | number: '1.0-2' }}
                    {{ objective.numericalData.unit }}
                  }
                </ng-container>
              }
              @if (objective.isVerbal) {
                <ng-container i18n
                  >Verbale Skala
                  @if (!transposed || !smallBoxHeight) {
                    von „{{ objective.verbalData.options[0] }}“ bis „{{
                      objective.verbalData.options[objective.verbalData.options.length - 1]
                    }}“
                  }
                </ng-container>
              }
              @if (objective.isIndicator) {
                <ng-container i18n
                  >Indikatorskala
                  @if (!transposed || !smallBoxHeight) {
                    von {{ objective.indicatorData.worstValue | safeNumber: '?' : '1.0-2' }} bis
                    {{ objective.indicatorData.bestValue | safeNumber: '?' : '1.0-2' }}
                    {{ objective.indicatorData.aggregatedUnit }}
                  }
                </ng-container>
              }
            </span>
          </div>
        </ng-template>
        <ng-template #objectiveActions>
          <div class="matrix-actions-wrapper mat-elevation-z1">
            @if (extendable) {
              <button
                class="matrix-popover-button matrix-objective-actions"
                (click)="deleteObjective(objectiveBox, objectiveIdx)"
                [matTooltip]="decisionData.objectives.length <= 1 ? 'Es muss mindestens ein Ziel definiert sein' : null"
                [disabled]="decisionData.objectives.length <= 1"
                data-cy="delete-objective-button"
                mat-raised-button
                color="accent"
                i18n-matTooltip
                matTooltip="Ziel löschen"
              >
                <div><mat-icon>delete</mat-icon></div>
              </button>
            }
            <button
              class="matrix-popover-button matrix-objective-actions"
              mat-raised-button
              color="accent"
              (click)="openScaleEditor(objectiveIdx)"
              i18n-matTooltip
              matTooltip="Messskala auswählen"
            >
              <div><mat-icon>straighten</mat-icon></div>
            </button>
            <button
              class="matrix-popover-button matrix-objective-actions"
              mat-raised-button
              color="accent"
              (click)="openCopyScale(objectiveIdx)"
              i18n-matTooltip
              matTooltip="Skala zu anderen Zielen kopieren"
              [disabled]="readonly"
            >
              <div><mat-icon>content_copy</mat-icon></div>
            </button>
            <button
              class="matrix-popover-button matrix-objective-actions"
              (click)="openNote(objectiveNoteBtn)"
              matTooltip="Notizfeld öffnen"
              mat-raised-button
              color="accent"
              i18n-matTooltip
            >
              <div><mat-icon>note</mat-icon></div>
            </button>
          </div>
        </ng-template>
        <!-- Notizen -->
        <dt-note-btn
          #objectiveNoteBtn
          [darkBackground]="true"
          [twoComments]="true"
          [(comment)]="objective.comment"
          [(secondComment)]="objective.scaleComment"
          [firstOpen]="true"
          [secondOpen]="true"
          [caption]="objective.name | noteBtnPreset: 'objective'"
          [readonly]="readonly"
        >
          <dt-team-comments additional-modal-content [object]="objective"></dt-team-comments>
        </dt-note-btn>
      </div>
    }
    <!-- CONTENT ELEMENTS (left panel + matrix fields) -->
    @for (alternative of decisionData.alternatives; track alternative; let alternativeIdx = $index; let lastAlternative = $last) {
      <ng-container data-cy="outcomes">
        @if (dominanceMode !== 'filter' || !isEverythingValid || !dominatedAlternatives.has(alternative)) {
          <!-- Add a column for every objective -->
          <div
            #alternativeBox
            class="alternative-box-container"
            (click)="isDominated(alternative) && dominatedAlternativeClicked(alternativeIdx)"
            [class.dominated]="isDominated(alternative) && !isInSortingMode"
            [class.draggable]="isInSortingMode"
            [dtHoverPopover]="alternativeActions"
            [dtHoverPopoverPosition]="'top'"
            [dtHoverPopoverDelay]="300"
            [dtHoverPopoverScrollStrategy]="'reposition'"
            [dtHoverPopoverDisableClick]="true"
            [dtHoverPopoverDisableAnimation]="true"
            [dtHoverPopoverDisabled]="isInSortingMode"
            (pointerenter)="setHoveredAlternative(alternativeIdx)"
            (mouseenter)="changeCdkOrientation(this.alternativeOrientation)"
            data-cy="alternative-box"
          >
            @if (isInSortingMode && !dragging) {
              <mat-icon class="drag-handle">drag_pan</mat-icon>
            }
            @if (dragAndDropOrientation === this.alternativeOrientation && isInSortingMode) {
              <!-- Draggable Alternative -->
              <div
                matRipple
                [matRippleDisabled]="!isDominated(alternative)"
                class="alternative-box"
                cdkDrag
                (cdkDragStarted)="dragging = true"
                (cdkDragEnded)="dragging = false"
                [cdkDragBoundary]="matrixContainer"
                [cdkDragLockAxis]="transposed ? 'x' : 'y'"
              >
                <ng-template [ngTemplateOutlet]="alternativeContent"></ng-template>
              </div>
            } @else {
              <!-- Static Alternative -->
              <div class="alternative-box" matRipple [matRippleDisabled]="!isDominated(alternative)">
                <ng-template [ngTemplateOutlet]="alternativeContent"></ng-template>
              </div>
            }
            <ng-template #alternativeContent>
              <!-- caption -->
              <div class="alternative-name-wrapper">
                <div class="alternative-name" [class.faded-out]="isAlternativeFadedOut(alternativeIdx)">
                  <dt-impact-matrix-name-field
                    #alternativeNameField
                    [class.non-interactive]="isInSortingMode"
                    [editable]="extendable"
                    [disabled]="isAlternativeFadedOut(alternativeIdx)"
                    [(name)]="alternative.name"
                    defaultName="Alternative {{ alternativeIdx + 1 }}"
                    i18n-defaultName
                    data-cy="alternative-name-field"
                  >
                  </dt-impact-matrix-name-field>
                </div>
              </div>
              @if (isDominated(alternative) && !isInSortingMode) {
                <mat-icon class="domination-icon small-icon">{{
                  highlightedDominatedAlternative === alternative ? 'highlight_off' : 'info'
                }}</mat-icon>
              }
              @if (colorizationReferenceAlternativeIdx === alternativeIdx) {
                <div class="colorization-reference-indicator"></div>
              }
            </ng-template>
            <ng-template #alternativeActions>
              <div class="matrix-actions-wrapper mat-elevation-z1">
                @if (extendable || highlightedDominatedAlternative === alternative) {
                  <button
                    class="matrix-popover-button matrix-alternative-actions"
                    matTooltip="Es müssen mindestens zwei Alternativen definiert sein"
                    [matTooltipDisabled]="decisionData.alternatives.length > 2"
                    [matTooltipPosition]="'above'"
                    i18n-matTooltip
                    [disabled]="decisionData.alternatives.length <= 2"
                    data-cy="delete-alternative-button"
                    mat-raised-button
                    color="accent"
                    (click)="deleteAlternative(alternativeBox, alternativeIdx)"
                  >
                    <div><mat-icon>delete</mat-icon></div>
                  </button>
                }
                @if (extendable) {
                  <button
                    class="matrix-popover-button matrix-alternative-actions mat-elevation-z1"
                    matTooltip="Alternative duplizieren"
                    i18n-matTooltip
                    (click)="$event.stopPropagation(); copyAlternativeWithOutcomes(alternative, alternativeIdx)"
                    mat-raised-button
                    color="accent"
                  >
                    <div><mat-icon>file_copy</mat-icon></div>
                  </button>
                }
                <button
                  class="matrix-popover-button matrix-alternative-actions mat-elevation-z1"
                  matTooltip="Notizfeld öffnen"
                  i18n-matTooltip
                  (click)="openNote(alternativeNoteBtn)"
                  mat-raised-button
                  color="accent"
                >
                  <div><mat-icon>note</mat-icon></div>
                </button>
              </div>
            </ng-template>
            <dt-note-btn
              [(comment)]="alternative.comment"
              [caption]="alternative.name | noteBtnPreset: 'alternative'"
              [readonly]="readonly"
              #alternativeNoteBtn
            >
              <dt-team-comments additional-modal-content [object]="alternative"></dt-team-comments>
            </dt-note-btn>
          </div>
          @for (objective of decisionData.objectives; track objective; let objectiveIdx = $index; let lastObjective = $last) {
            <div
              #box
              class="box"
              [class.last-row-box]="(transposed && lastObjective) || (!transposed && lastAlternative)"
              [class.last-column-box]="(!transposed && lastObjective) || (transposed && lastAlternative)"
              [style.grid-area]="getGridAreaForCell(alternativeIdx, objectiveIdx)"
              [class.dominated]="isDominated(alternative) && !isInSortingMode"
              [class.dominating]="isDominating(alternative)"
              (pointerenter)="setHoveredAlternative(alternativeIdx)"
              data-cy="outcome"
            >
              @defer (on viewport(box); on idle; when (objectiveIdx < 12 && alternativeIdx < 12)) {
                <dt-impact-matrix-field
                  #matrixField
                  [objective]="decisionData.objectives[objectiveIdx]"
                  [alternative]="alternative"
                  [outcome]="decisionData.outcomes[alternativeIdx][objectiveIdx]"
                  [colorization]="colorizationPerObjective[objectiveIdx]"
                  [readonly]="readonly"
                  (matrixFieldChange)="onChange()"
                  (influenceFactorModified)="onInfluenceFactorModified($event)"
                  [class.faded-out]="isOutcomeFadedOut(alternativeIdx, objectiveIdx) || isInSortingMode"
                  [class.highlighted]="isOutcomeHighlighted(alternativeIdx, objectiveIdx)"
                  [draggable]="!readonly && !platformDetectService.isMobile"
                  (dragstart)="dragField($event, objectiveIdx, alternativeIdx)"
                  (drop)="dropOnField(matrixField, $event, objectiveIdx, alternativeIdx)"
                  (dragend)="clearDragData()"
                  (dragenter.outside-zone)="dragEnterField($event, matrixField, objectiveIdx, alternativeIdx)"
                  (dragover.outside-zone)="dragOverField($event, objectiveIdx, alternativeIdx)"
                  (dragleave.outside-zone)="dragLeaveField($event, matrixField, objectiveIdx, alternativeIdx)"
                >
                </dt-impact-matrix-field>
              }
            </div>
          }
        }
      </ng-container>
    }
  </div>
  <!-- HIGHLIGHT ELEMENTS -->
  @if (transposed ? highlightAlternatives : highlightObjectives) {
    <div class="highlight-row-headers"></div>
  }
  @if (transposed ? highlightObjectives : highlightAlternatives) {
    <div class="highlight-col-headers"></div>
  }
  @if (highlightCells) {
    <div class="highlight-cells"></div>
  }
  <!-- ADD BUTTONS -->
  @if (extendable && !fullscreenRef && !isInSortingMode) {
    <div class="add-top-right">
      <button (click)="transposed ? addAlternative() : addObjective()" mat-icon-button data-cy="add-objective-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  }
  @if (extendable && !fullscreenRef && !isInSortingMode) {
    <div class="add-bottom-left">
      <button (click)="transposed ? addObjective() : addAlternative()" mat-icon-button data-cy="add-alternative-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  }
</div>

@if (highlightedDominatedAlternative != null) {
  <p class="domination-legend dt-limit-width" [class.professional]="decisionData.isProfessional()">
    @if (!hasIndicatorObjective) {
      <ng-container i18n
        >Alternativen, welche die ausgewählte Alternative dominieren, sind <span class="dominating">blau</span> markiert.</ng-container
      >
    } @else {
      <ng-container i18n
        >Alternativen, welche die ausgewählte Alternative dominieren, sind <span class="dominating">grau</span> markiert.<br
      /></ng-container>
    }
  </p>
}

<dt-explanation-simple-open-button
  dtExplanationTrigger
  #explanationTrigger="explanationTrigger"
  #stepToExplainMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="stepToExplainMenu"
  [style.zIndex]="1050"
  (explain)="stepToExplainMenuTrigger.openMenu()"
  [class.hidden]="isInSortingMode"
></dt-explanation-simple-open-button>
<mat-menu #stepToExplainMenu="matMenu" xPosition="before">
  <span>
    <button
      mat-menu-item
      (click)="explainObjectivesStep()"
      (mouseenter)="highlightObjectives = true"
      (mouseleave)="highlightObjectives = false"
    >
      <mat-icon>track_changes</mat-icon>
      <span i18n>Ziele</span>
    </button>
    <button
      mat-menu-item
      (click)="explainAlternativesSteps()"
      (mouseenter)="highlightAlternatives = true"
      (mouseleave)="highlightAlternatives = false"
    >
      <mat-icon>alt_route</mat-icon>
      <span i18n>Alternativen</span>
    </button>
    @if (extendable) {
      <button mat-menu-item (mouseenter)="highlightCells = true" (mouseleave)="highlightCells = false" (click)="explainImpactModel()">
        <mat-icon>view_comfy</mat-icon>
        <span i18n>Wirkungsmodell</span>
      </button>
    }
  </span>
</mat-menu>

@if (dragConfirmation) {
  <dt-modal #modalDragDrop [opened]="true" [disableClose]="true" [showFooter]="true" (modalClose)="dragConfirmation = undefined">
    <ng-template #title i18n>Wirkungsprognose kopieren</ng-template>
    <ng-template #content>
      <div class="dragconfirm-modal-content">
        <p i18n
          >Willst Du die Wirkungsprognose für die Alternative „{{ decisionData.alternatives[dragConfirmation.to.alternative].name }}“ im
          Ziel „{{ decisionData.objectives[dragConfirmation.to.objective].name }}“ wirklich durch die Wirkungsprognose der Alternative „{{
            decisionData.alternatives[dragConfirmation.from.alternative].name
          }}“ ersetzen?</p
        >
        <mat-checkbox
          [ngModel]="!appSettings.overwriteOutcomeConfirmation"
          (ngModelChange)="appSettings.overwriteOutcomeConfirmation = !$event"
          >Nicht erneut fragen</mat-checkbox
        >
      </div>
    </ng-template>
    <ng-template #footer>
      <button
        mat-raised-button
        color="accent"
        (click)="confirmDragDrop(dragConfirmation.from, dragConfirmation.to, dragConfirmation.toElement)"
        i18n
        >Ja</button
      >
      <button mat-raised-button color="accent" (click)="modalDragDrop.close()" i18n>Nein</button>
    </ng-template>
  </dt-modal>
}
