<div
  class="wrapper"
  [style.background-image]="backgroundImage"
  [class.show-invalid]="!isValueValid"
  [dtHoverPopover]="actionsPopover"
  dtHoverPopoverPosition="top"
  [dtHoverPopoverDelay]="300"
  [dtHoverPopoverDisableClick]="true"
  [dtHoverPopoverDisableAnimation]="true"
  [dtHoverPopoverDisabled]="decisionData.projectMode === 'starter'"
  dtHoverPopoverScrollStrategy="close"
  matRipple
  (click)="onClick()"
>
  @if (objective.isVerbal && !outcome.influenceFactor) {
    <div class="verbal-input">
      <mat-select [(ngModel)]="outcome.values[0][0][0]" (ngModelChange)="onChange()" placeholder="?" [disabled]="readonly">
        <mat-select-trigger
          [matTooltip]="verbalOutcomeValue"
          [matTooltipShowDelay]="500"
          #tooltip="matTooltip"
          [dtOverflow]
          [dtOverflowTooltip]="tooltip"
        >
          {{ verbalOutcomeValue }}
        </mat-select-trigger>
        @for (option of objective.verbalData.options; let j = $index; track option) {
          <mat-option [value]="j + 1">{{ option }}</mat-option>
        }
      </mat-select>
    </div>
  } @else {
    <div class="readonly-display" #readonlyDisplay>
      <!-- Either with influence factor or an indicator objective -->
      @if (isValueValid) {
        <div class="row">
          <div class="truncate-text">
            @if (isFiniteNumber(min)) {
              {{ min | number: '1.0-2' }}
            } @else {
              {{ min }}
            }
          </div>
        </div>
        @if (min !== max) {
          <div class="row">
            —
            <div class="truncate-text">
              @if (isFiniteNumber(max)) {
                {{ max | number: '1.0-2' }}
              } @else {
                {{ max }}
              }
            </div>
          </div>
        }
      } @else {
        ?
      }
    </div>
  }
  @if (outcome.influenceFactor) {
    <div
      class="influence-factor-name"
      [matTooltip]="outcome.influenceFactor | influenceFactorName"
      [matTooltipShowDelay]="500"
      #tooltip="matTooltip"
      [dtOverflow]
      [dtOverflowTooltip]="tooltip"
    >
      {{ outcome.influenceFactor | influenceFactorName }}
    </div>
  }

  <dt-note-btn
    [(comment)]="outcome.comment"
    [caption]="{ objective: objective.name, alternative: alternative.name } | noteBtnPreset: 'outcome'"
    [readonly]="readonly"
  >
    <dt-team-comments additional-modal-content [object]="outcome"></dt-team-comments>
  </dt-note-btn>

  <ng-template #invalidValue>?</ng-template>
</div>

<ng-template #actionsPopover>
  <div class="actions-popover">
    <button (click)="openForecastModal()" mat-raised-button color="accent"
      ><div><mat-icon>edit</mat-icon></div></button
    >
    @if (isValueValid) {
      <button (click)="openForecastModal(1)" mat-raised-button color="accent"
        ><div><mat-icon>equalizer</mat-icon></div></button
      >
    }
    @if (hasTornadoDiagram) {
      <button (click)="openForecastModal(2)" mat-raised-button color="accent"
        ><div><mat-icon>tornado</mat-icon></div></button
      >
    }
    <button (click)="openNote()" mat-raised-button color="accent">
      <div><mat-icon>note</mat-icon></div>
    </button>
  </div>
</ng-template>

<ng-template #numericalInputPopover let-close="close">
  <!-- Numerical or verbal objective without influence factor -->
  <div class="numerical-input-popover">
    <input
      [min]="numericalScaleMin"
      [max]="numericalScaleMax"
      placeholder="?"
      type="number"
      [(ngModel)]="outcome.values[0][0][0]"
      (input)="onChange()"
      dtAutoFocus
      [dtAutoFocusSelectAll]="true"
      (keydown.enter)="close()"
    />
    @if (objective.numericalData.unit) {
      <div>
        {{ objective.numericalData.unit }}
      </div>
    }
  </div>
</ng-template>
