@use '@angular/material' as mat;
@use 'variables' as dt;
@use 'sass:math';
@use 'sass:color';

$dominated-border: 2px solid dt.$crimson-red;

:host {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 0;
  max-width: 100%;

  $header-normal-height: 125px;
  $header-compact-height: 106px;
  $box-normal-height: 89px;
  $box-compact-height: 70px;

  --row-count: var(--alternative-count);
  --col-count: var(--objective-count);

  &.transposed {
    --row-count: var(--objective-count);
    --col-count: var(--alternative-count);
  }

  --header-height: #{$header-normal-height};
  --cell-height: #{$box-normal-height};

  &.transposed {
    --header-height: #{$header-compact-height};
  }

  &.compact {
    --header-height: #{$header-compact-height};
    --cell-height: #{$box-compact-height};
  }

  &.transposed.compact {
    --header-height: #{$box-normal-height};
    --cell-height: #{$box-compact-height};
  }
}

.matrix-explainable-container {
  --cell-width: 200px;
  max-width: min-content;

  &.narrow-cells {
    --cell-width: 150px;
  }

  position: relative;
  min-height: 0;

  &:not(.fullscreen) {
    margin-bottom: 20px;
  }

  .add-top-right {
    position: absolute;
    right: -40px;
    top: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
  }

  .add-bottom-left {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: var(--cell-width);
    display: flex;
    justify-content: center;
  }

  .highlight-row-headers,
  .highlight-col-headers,
  .highlight-cells {
    position: absolute;
    border: 2px solid dt.$orange;
    z-index: 10;
  }

  .highlight-col-headers {
    width: var(--cell-width);
    top: var(--header-height);
    bottom: 0;
    left: 0;
  }

  .highlight-row-headers {
    left: var(--cell-width);
    right: 0;
    top: 0;
    height: var(--header-height);
  }

  .highlight-cells {
    left: var(--cell-width);
    right: 0;
    top: var(--header-height);
    bottom: 0;
  }
}

.matrix-layout-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: var(--cell-width) repeat(var(--col-count), var(--cell-width));
  grid-template-rows: var(--header-height) repeat(var(--row-count), var(--cell-height));

  overflow: auto;
  height: 100%;

  &.is-dragging ::ng-deep .mat-ripple-element {
    // Fixes the drag placeholder in Safari
    display: none;
  }

  &.scroll-snap {
    scroll-snap-type: x mandatory;
  }

  .box {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-left: var(--cell-width);

    &:not(.last-column-box) {
      border-right: 1px solid dt.$blue-darken-3;
    }

    &:not(.last-row-box) {
      border-bottom: 1px solid #e8dac9;
    }

    &.dominated {
      border-top: $dominated-border;
      border-bottom: $dominated-border;

      &.last-column-box {
        border-right: $dominated-border;
      }
    }
  }

  .objective-box-container {
    position: sticky;
    top: 0;
    z-index: 2;

    &.draggable {
      cursor: move;
    }
  }

  .alternative-box-container {
    position: sticky;
    left: 0;
    z-index: 1;

    &.draggable {
      cursor: move;
    }

    &.dominated {
      border-left: $dominated-border;
      border-bottom: $dominated-border;
      border-top: $dominated-border;
    }
  }

  .colorization-reference-indicator {
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    left: 0;

    background-color: color.change(dt.$orange, $alpha: 0.6);
  }

  .root-box {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    font-weight: bold;

    .alternative-text,
    .objective-text {
      position: absolute;
      padding: 8px;
    }

    .alternative-text {
      left: 0;
      bottom: 0;
    }

    .objective-text {
      top: 0;
      right: 0;
    }

    .close-fullscreen-button {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    button {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}

:host.transposed .matrix-layout-container {
  grid-auto-flow: column dense;

  .objective-box {
    left: 0;
    top: unset;
    z-index: 1;

    max-width: 100%;
    border-right: 1px solid #e8dac9;
    border-bottom: 1px solid dt.$blue-darken-3;
  }

  .alternative-box-container.dominated {
    border-right: $dominated-border;
    border-bottom: unset;
  }

  .alternative-box {
    left: unset;
    top: 0;
    z-index: 2;

    border-right: 1px solid #e8dac9;
    border-bottom: 1px solid dt.$blue-darken-3;
  }

  .colorization-reference-indicator {
    width: 100%;
    height: 10px;
  }

  .box {
    &:not(.last-column-box) {
      border-right: 1px solid #e8dac9;
    }

    &:not(.last-row-box) {
      border-bottom: 1px solid dt.$blue-darken-3;
    }

    &.dominated {
      border-left: $dominated-border;
      border-right: $dominated-border;
      border-top: unset;

      &.last-row-box {
        border-bottom: $dominated-border;
      }
    }
  }

  .objective-scale-info {
    height: 30px;
  }

  .root-box {
    .alternative-text {
      top: 0;
      right: 0;
      bottom: unset;
      left: unset;
    }

    .objective-text {
      top: unset;
      right: unset;
      bottom: 0;
      left: 0;
    }
  }
}

:host.compact.transposed .matrix-layout-container .objective-scale-info {
  height: 15px;
}

dt-impact-matrix-name-field {
  display: block;
  padding: 0 5px;
}

dt-impact-matrix-field {
  &:after {
    max-height: 0;
  }
  &:hover:after {
    max-height: inherit;
  }

  &.faded-out {
    opacity: 0.2;
    cursor: default;
    pointer-events: none;
  }

  &.highlighted {
    outline: 2px solid gray;
  }
}

.dominating {
  background-color: dt.$blue-lighten-5;
}

.domination-legend {
  padding: 10px 16px;
  text-align: center;

  &.professional {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  span {
    padding: 2px 6px;
    color: white;
  }
}

:host ::ng-deep .impact-drag-over {
  outline: 2px solid dt.$blue;
}

.dragconfirm-modal-content {
  padding: 8px 0;
}

mat-icon.small-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
}

.domination-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: dt.$orange;
}

.ellipsis {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.matrix-actions-wrapper {
  display: flex;
  width: 200px;
}

.matrix-popover-button {
  flex: 1 0 0;
  min-width: 0;
  border-radius: 0;
  padding: 0;

  & + & {
    border-left: 1px solid white;
  }

  &:first-of-type {
    border-top-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
  }

  div {
    display: flex;
    align-items: center;
  }

  &[disabled] {
    background-color: #e0e0e0;
  }
}

.non-interactive {
  pointer-events: none;
}

// cdk

.objective-scale-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: dt.font-size(caption);
  line-height: 1.2;
  margin-bottom: 3px;

  &:hover {
    color: dt.$orange;
  }

  .ellipsis {
    -webkit-line-clamp: 2;
    cursor: pointer;
  }

  &.non-interactive {
    pointer-events: none;
  }
}

.objective-box {
  background-color: dt.$objective;
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
  text-align: center;

  border-right: 1px solid dt.$blue-darken-3;

  &.last-column-box {
    border-right: none;
  }
}

.alternative-box {
  background-color: dt.$alternative;
  display: flex;
  align-items: center;
  padding: 5px 0 5px;
  height: 100%;

  border-right: 1px solid dt.$blue-darken-3;
  border-bottom: 1px solid #e8dac9;

  .alternative-name-wrapper {
    width: 100%;
  }
}

.hidden {
  visibility: hidden;
}

.drag-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 20;
  pointer-events: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;

  color: white;
  background-color: dt.$orange;
  opacity: 0.7;
}
