@use 'variables' as dt;

:host {
  display: none;

  &.active {
    display: block;
    z-index: 1;
  }

  background-color: dt.$modal-background;
}

.team-comments-container {
  display: flex;
  flex-direction: column-reverse;

  overflow: auto;
  max-height: 300px;

  .team-comment {
    display: flex;
    flex-direction: column;

    padding: 6px;
    padding-left: dt.$modal-padding;

    position: relative;

    &:not(:last-child) {
      border-top: 1px solid dt.$inputbox-border;
    }

    &:last-child {
      border-top: 1px solid dt.$inputbox-border;
    }

    &:has(~ .first-unread),
    &.first-unread {
      background-color: dt.$orange-lighten-9;
    }

    .header {
      display: flex;
      align-items: baseline;
      gap: 10px;

      .author {
        font-weight: 500;
      }

      .timestamp {
        @include dt.typography-level(caption);

        font-size: 11px;
      }
    }

    .delete-button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
    }
  }
}

.add-comment-container {
  border-top: 1px solid dt.$inputbox-border;
  background-color: dt.$inputbox-border;

  mat-form-field {
    width: 100%;

    ::ng-deep .mat-form-field-flex {
      padding-left: dt.$modal-padding;
    }
  }
}
