<div class="grid-container">
  @for (objective of decisionData.objectives; track objective; let i = $index) {
    <div class="objective-container mat-elevation-z3">
      <div class="top-container-wrapper">
        <div class="top-container" routerLink="detailed/{{ i }}">
          <div
            #overflow="dtOverflow"
            class="title-container"
            [dtOverflow]
            [matTooltip]="objective.name"
            [matTooltipDisabled]="!overflow.isOverflowing"
          >
            <span #objectiveName class="objective-title">{{ objective.name }}</span>
          </div>
          <button (click)="restore($event, i)" [class.disabled]="!hasChanged(i)" [disabled]="decisionDataState.isProjectReadonly"
            ><mat-icon>settings_backup_restore</mat-icon></button
          >
        </div>
        <dt-note-btn
          [darkBackground]="true"
          [twoComments]="true"
          [(comment)]="objective.comment"
          [secondComment]="getExplanation(objective)"
          [firstOpen]="false"
          [secondOpen]="true"
          [caption]="objective.name | noteBtnPreset: 'utilityFunction'"
          (secondCommentChange)="setExplanation(objective, $event)"
          [readonly]="decisionDataState.isProjectReadonly"
        ></dt-note-btn>
      </div>
      @if (!objective.isVerbal) {
        <dt-utility-function-main-element-numerical-or-indicator
          [readonly]="decisionDataState.isProjectReadonly"
          [objective]="objective"
        ></dt-utility-function-main-element-numerical-or-indicator>
      } @else {
        <dt-utilityfunction-main-element-verbal
          [objective]="objective"
          [readonly]="decisionDataState.isProjectReadonly"
          [hasChanges]="hasChanged(i)"
        ></dt-utilityfunction-main-element-verbal>
      }
    </div>
  }
</div>
