@use 'variables' as dt;

:host {
  display: flex;
}

.evaluation-grid {
  display: grid;

  border: 1px solid gray;

  width: 100%;

  align-items: center;

  grid-gap: 1px;
  background-color: lightgray;

  > div,
  .option {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: white;
    padding: 10px;
  }

  .header-row {
    border-bottom: 1px solid gray;
  }

  .prompt {
    font-weight: 500;
    align-self: flex-end;
    justify-items: flex-start;

    min-width: 10em;
  }

  .row-prompt {
    justify-content: flex-start;
  }

  .option {
    text-align: center;

    &.grayed {
      background-color: dt.$blue-lighten-9;
    }
  }

  mat-radio-button ::ng-deep label {
    padding-left: 0;
  }

  .even {
    background-color: rgb(250, 250, 250);
  }
}

mat-radio-group {
  display: contents;

  .option {
    transition: border-bottom-color 250ms linear;
    border-bottom: 2px solid transparent;
  }
}
