<p i18n
  >Aus der psychologischen Entscheidungsforschung sind viele Gefahrenquellen für verzerrte Ergebnisschätzungen (Biasfaktoren) bekannt.
  Überprüfe, ob bei Dir möglicherweise Verzerrungen vorliegen könnten, und korrigiere ggf. Deine Ergebnisschätzungen.</p
>

<h3 i18n>Betrachte nur die Zukunft:</h3>
<p i18n
  >Manchmal wird der Fehler gemacht, dass auch vergangene, unveränderbare Resultate in den Ergebnisschätzungen mitberücksichtigt werden.
  Dies kann zu einer falschen Entscheidung führen, wenn diese vergangenen Resultate nur bei einzelnen Alternativen mit eingerechnet werden
  und bei anderen nicht <a (click)="modalFuture.open()">(Beispiel)</a>. Berücksichtige dies bitte in der Formulierung Deiner Skala und achte
  darauf, dass Du nur Ergebnisse misst, die Du in der Zukunft durch die Wahl Deiner Handlungsalternativen beeinflussen kannst.</p
>

<h3 i18n>Verlasse Dich nicht auf Deine Intuition:</h3>
<p i18n
  >Bei der Angabe von Wahrscheinlichkeiten sind viele Entscheider zu vorschnell und lassen sich von ihrer Intuition lenken. Auch wenn
  Intuition in vielen Fällen und insbesondere bei Vorliegen einer großen Erfahrung nützlich sein kann, ist es nicht immer ein gutes
  Vorgehen, unreflektiert aus dem Bauch heraus Wahrscheinlichkeiten anzugeben. Dies gilt speziell dann, wenn die Gefahr besteht in
  schematische Denkmuster zu verfallen. In dem in der Literatur bekannten <a (click)="modalLinda.open()">Linda-Beispiel</a> kommt
  beispielsweise sehr gut zum Ausdruck, wie leicht sich die Intuition von schematischen Denkmustern in die Irre führen lässt. Versuche also
  bei der Angabe von Wahrscheinlichkeiten möglichst objektiv und nach Faktenlage zu schätzen und nicht vorschnell irgendetwas als
  wahrscheinlich anzusehen, weil es gerade plausibel erscheint (<a (click)="modalZiege.open()">„Ziegenproblem“</a> als weiteres
  Beispiel)!</p
>

<h3 i18n>Vermeide Überreaktionen:</h3>
<p i18n
  >Zu Fehleinschätzungen bei der Angabe von Wahrscheinlichkeiten kommt es häufig, wenn sich die Gedanken von Menschen auf gerade sehr
  verfügbare Informationen oder Geschehnisse konzentrieren und hierauf überreagiert wird. In der Psychologie spricht man diesbezüglich von
  einer Verfügbarkeitsheuristik <a (click)="modalVerfueg.open()">(Beispiel)</a>. Überprüfe also, ob Du nicht gerade in einer Situation bist,
  in der Du von einem Ereignis oder von aktuellen Berichten zu stark beeinflusst wirst.</p
>

<h3 i18n>Ziehe keine allgemeinen Schlüsse aus Geschichten:</h3>
<p i18n
  >Viele Sachverhalte und Risiken werden häufig nicht in Form von Statistiken, sondern in Form von ausgewählten Geschichten oder
  Einzelschicksalen präsentiert. Je schlüssiger die Geschichte in sich ist oder je anschaulicher ein bestimmtes Einzelschicksal geschildert
  wird, desto mehr besteht die Gefahr, dass man hieraus allgemeine Schlüsse zieht. Man nennt dies den Narrative Bias
  <a (click)="modalNarrative.open()">(Beispiel)</a>. Wer also Wahrscheinlichkeitsschätzungen auf der Basis einzelner Erzählungen oder
  Geschichten ableiten möchte, sollte sich bewusst sein, dass er hier möglicherweise einer Verzerrung unterliegt. Prüfe also, auf welcher
  Basis Du Deine Einschätzung abgibst. Am wenigsten anfällig für Verzerrungen bei den Wahrscheinlichkeitsangaben wäre ein Vorgehen, in dem
  die Wahrscheinlichkeiten mathematisch berechnet werden. Vielleicht ist es ja möglich, Datenquellen und Statistiken zu finden, auf deren
  Basis eine Ableitung oder Abschätzung der Wahrscheinlichkeiten fundierter möglich ist.</p
>

<h3 i18n>Unterschätze keine Randereignisse:</h3>
<p i18n
  >Menschen neigen im Allgemeinen dazu, bei der Abschätzung von unsicheren Ergebnissen die Wahrscheinlichkeiten für die mittleren
  Ausprägungen zu hoch anzusetzen und die Wahrscheinlichkeiten der extremen Randereignisse eher zu unterschätzen. Die Gründe hierfür liegen
  insbesondere in einem Narrow Thinking, welches Menschen dabei im Wege steht, sich größere Abweichungen von dem Normalen vorzustellen. Als
  Debiasing-Instrument bietet sich in diesem Fall Time Unpacking an, d.&nbsp;h. für mehrere, immer länger werdende Zeiträume sind die
  Prognosen sukzessive anzugeben. Wenn Du also z.&nbsp;B. eine Preisentwicklung für die nächsten drei Monate abzuschätzen hast, überlege
  zunächst, wie der Preis nach einem Monat minimal und maximal ausfallen könnte. Anschließend mache dasselbe für den zweiten und letztlich
  auch für den dritten Monat. <a (click)="modalStudy.open()">Studien</a> zeigen, dass mit diesen Zwischenschritten die resultierenden
  Schwankungsbreiten für die zu prognostizierende Größe größer und realistischer ausfallen als ohne diese Aufteilung.</p
>

<h3 i18n>Lasse Dich nicht manipulieren:</h3>
<p i18n
  >Eigentlich ist es immer eine gute Idee, auch Informationen von Dritten in der eigenen Schätzung zu berücksichtigen. Allerdings solltest
  Du Dir immer bewusst machen, dass in einigen Veröffentlichungen Daten und Ergebnisse so aufbereitet werden, dass sie einen stärkeren
  Effekt vortäuschen als er tatsächlich vorhanden ist <a (click)="modalBaby.open()">(Beispiel)</a>. Dies bedeutet nicht, dass Du niemandem
  mehr trauen sollst. Halte aber die Augen auf und berücksichtige bei allen Informationen die Interessenlage und Kompetenz der Quelle.</p
>

<h3 i18n>Löse Dich von vorschnellen Bewertungen:</h3>
<p i18n
  >Wer schon früh eine Vorliebe für eine bestimmte Alternative hat, läuft Gefahr, bei der Angabe der erwarteten Ergebnisse für diese
  Alternative zu positive Werte anzusetzen. Auch bei der Informationssuche beschränken sich Menschen meistens nur auf die Quellen, die das
  unterstützen, was sie ohnehin schon vorher gut finden. Man spricht in diesem Zusammenhang von dem Confirmation Bias
  <a (click)="modalCar.open()">(Beispiel)</a>. Solltest Du merken, dass Du von Beginn an schon bestimmte Alternativen bevorzugst, dann
  beschäftige Dich bitte intensiver mit Informationen bzw. Meinungen, die gegen diese Alternativen sprechen. Das sorgt dafür, dass Deine
  Einschätzung insgesamt realistischer wird!</p
>

<h3 i18n>Achte auf ein mögliches Commitment:</h3>
<p i18n
  >Wenn man in einzelne Alternativen schon einiges an Arbeit, Geld oder auch nur Gehirnschmalz investiert hat, besteht die Gefahr, die
  Ergebnisse dieser Alternativen zu positiv einzuschätzen. Unbewusst spielt dabei der Gedanke eine Rolle, dass ja die schon getätigten
  Aufwendungen nicht umsonst gewesen sein sollen. Hierbei wächst die Gefahr dieses sogenannten Sunk-Cost-Effektes mit dem Commitment,
  d.&nbsp;h. mit der emotionalen Bindung an diese Alternative. Das Commitment ist hierbei nicht nur dann hoch, wenn man schon viel
  investiert hat, sondern auch, wenn man sich für die Ergebnisse besonders verantwortlich fühlt und wenn es sich um eine vielleicht eher
  außergewöhnliche Maßnahme handelt und nicht um etwas, was ohnehin fast jeder so machen würde. Mache Dir also zunächst bewusst, welche
  Alternativen mit einem hohen Commitment von Dir verbunden sind, und setze die Ergebnisschätzungen dieser Alternativen bewusst etwas
  konservativer an, um insgesamt ein realistisches Bild zu erhalten!</p
>

<h3 i18n>Denke nicht nur im Erfolgsszenario:</h3>
<p i18n
  >Wer sich eine Alternative selbst entwickelt und diese im Detail durchplant, macht dies natürlich, um damit Erfolg zu haben bzw. um gute
  Ergebnisse zu erzielen. In einem solchen Fall liegt ein sogenannter Inside View vor, in dem wenig Gedanken an einen Misserfolg
  verschwendet werden. Dies hat zur Folge, dass das Projekt zu optimistisch gesehen wird und ein Misserfolg für unwahrscheinlich erachtet
  wird. Für Dein Entscheidungsproblem bedeutet dies Folgendes: Grundsätzlich besteht die Gefahr, dass Du Alternativen, bei denen Du einen
  solchen Inside View hast, zu positiv einschätzt. Um diesbezüglich zu einer realistischen Einschätzung der Ergebnisse dieser Alternativen
  zu kommen, kann die Prospective-Hindsight-Methode empfohlen werden. Stelle Dir hierzu vor, Du würdest eine Zeitreise unternehmen und in
  dem Zeitpunkt landen, in dem Dein Projekt endgültig gescheitert ist. Blicke dann zurück und analysiere, woran es gelegen haben könnte!
  Abschließend bewerte das Projekt noch einmal neu! Deine Einschätzungen werden nun vermutlich reduziert und realistischer sein.</p
>

<h3 i18n>Verbessere Deine Schätzung durch Dialectical Bootstrapping:</h3>
<p i18n
  >Es ist bekannt, dass man gute Schätzungen erlangt, wenn man den Durchschnitt vieler Schätzungen, am besten von vielen verschiedenen
  Personen (Wisdom of Crowd), heranzieht <a (click)="modalRadio.open()">(Beispiel)</a>. Der Grund für die hohe Qualität solcher
  Durchschnittswerte liegt darin, dass sich die Fehler der einzelnen Schätzungen ausmitteln. Und wenn, wie bei der Befragung verschiedener
  Personen, die Fehler in unterschiedliche Richtungen gehen, ist das Ergebnis besonders gut. Aber auch in dem Fall, dass gerade nicht
  zufällig andere Personen mitschätzen können, kann man sich helfen. So besteht die Methode des
  <a (click)="modalBootstrapping.open()">Dialectical Bootstrapping</a> darin, dass der Schätzer aufgefordert wird zweimal zu schätzen. Vor
  der zweiten Schätzung sollen dann mögliche Fehler der ersten Schätzung in eine Richtung durch Fehler in die entgegengesetzte Richtung
  ersetzt werden. Das klingt erstmal etwas kompliziert. Aber probiere es doch einfach mal aus! Das Consider-The-Opposite-Vorgehen kann Dir
  dabei helfen. Gehe hierfür erstmal davon aus, dass Deine erste Schätzung falsch ist! Was könnte es für Gründe dafür geben? Welche Annahmen
  waren vielleicht falsch? Was bedeuten diese Erkenntnisse für eine andere Schätzung? War die erste Schätzung eher zu hoch oder zu niedrig?
  Und was wäre letztlich eine alternative Schätzung? Aus Deinen beiden Schätzungen bildest Du dann den Mittelwert und hast dann vermutlich
  einen recht realistischen Wert. Studien zeigen, dass mit einer solchen Vorgehensweise ungefähr die Hälfte der Verbesserung erreicht werden
  kann, die man bei der Mittelung von Schätzungen mit einer anderen Person erreichen kann. Da diese Methode mit einem überschaubaren Aufwand
  verbunden ist, würde es sich für Dich sicherlich lohnen, das einmal auszuprobieren.</p
>

<dt-modal #modalLinda>
  <ng-template #title i18n>Linda-Beispiel</ng-template>
  <ng-template #content>
    <p i18n
      >Tversky und Kahneman (1983) veröffentlichten eine Untersuchung, in der sie anhand des Beispiels von „Linda der Bankangestellten“ die
      Tatsache belegten, dass Menschen zu schematischem Denken neigen. Den Probanden wurde eine hypothetische Person wie folgt vorgestellt:
      „Linda ist 31 Jahre alt, sehr intelligent, und nimmt kein Blatt vor den Mund. Sie hat Philosophie studiert. Als Studentin hat sie sich
      intensiv mit Fragen sozialer Gerechtigkeit und Diskriminierung auseinandergesetzt. Außerdem hat sie an Anti-Kernkraft-Demonstrationen
      teilgenommen.“ Danach sollten die Versuchspersonen die Wahrscheinlichkeiten des Vorliegens weiterer Eigenschaften schätzen. Unter
      anderem wurden die beiden Aussagen „1. Linda ist Bankangestellte“ und „2. Linda ist Bankangestellte und aktiv in der Frauenbewegung“
      präsentiert. Die Mehrheit der Probanden hielt hierbei die zweite Aussage für wahrscheinlicher, obwohl rein mathematisch eine
      zusätzliche Eigenschaft mit einer geringeren Wahrscheinlichkeit assoziiert werden sollte. Dies zeigt, dass Menschen schematisch
      denken, da die zweite Aussage im Kontext des eingeführten Beispiels eine höhere Plausibilität hat (Schema: „Wer Philosophie studiert
      und sich mit sozialen Fragen und Diskriminierung beschäftigt, kann auch durchaus in einer Frauenbewegung aktiv sein“)</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalZiege>
  <ng-template #title i18n>Ziegenproblem</ng-template>
  <ng-template #content>
    <p i18n
      >Das unter dem Namen „Ziegenproblem“ bekannte Beispiel für Schemadenken stammt aus der amerikanischen Spielshow „Let’s make a deal“
      und zeigt, dass aus Schemata abgeleitete Entscheidungen nicht immer richtig sind. Die Spielshow gestaltet sich wie folgt: Sie sind in
      einer Spielshow und stehen vor drei verschlossenen Türen. Hinter einer Tür befindet sich ein wertvolles Auto, hinter den beiden
      anderen Ziegen. Sie dürfen nun eine Tür auswählen – sagen wir, Sie wählen die Tür 1, die aber zunächst noch nicht geöffnet wird. Der
      Moderator, der genau weiß, hinter welcher Tür das Auto steht, öffnet stattdessen die Tür 3 und es erscheint eine Ziege in dieser Tür
      3. Auf seine Frage „Möchten Sie vielleicht jetzt doch lieber die Tür 2 wählen?“ kommen Sie ins Grübeln. Wechseln Sie oder nicht? Die
      richtige Lösung lautet „Ja, beim Wechseln erhöht sich die Gewinnchance von 1/3 auf 2/3“. Dies lässt sich mithilfe einer Berechnung auf
      der Basis von relativen Häufigkeiten begründen. Die Intuition lenkt den Menschen allerdings eher auf eine Fifty-Fifty-Chance beim
      Wechseln.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalVerfueg>
  <ng-template #title i18n>Verfügbarkeitsheuristik</ng-template>
  <ng-template #content>
    <p i18n
      >Wer beispielsweise gerade von einem Flugzeugabsturz gehört hat oder umfangreiche Berichte über Flugzeugabstürze gesehen hat,
      überschätzt aufgrund der Verfügbarkeitsheuristik regelmäßig die tatsächliche Wahrscheinlichkeit für ein solches Ereignis. Erst wenn
      nach ein paar Tagen die hohe kognitive Verfügbarkeit nachlässt, werden die Schätzungen wieder objektiver.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalNarrative>
  <ng-template #title i18n>Narrative Bias</ng-template>
  <ng-template #content>
    <p i18n
      >Wenn man sich beispielsweise vor einer Bali-Reise über die Nebenwirkungen der empfohlenen Tollwut-Impfung informiert, wird man diese
      Nebenwirkungen vermutlich überschätzen, wenn man im Fernsehen einen ausführlichen Bericht über das schwere Schicksal eines Menschen
      gesehen hat, der nach der Impfung schwer erkrankt ist. Da solche Geschichten für den Menschen sehr anschaulich sind, führen sie zu
      einer hohen kognitiven Verfügbarkeit und einer entsprechenden Überreaktion.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalStudy>
  <ng-template #title i18n>Studie</ng-template>
  <ng-template #content>
    <p
      >Jain, K.; Mukherjee, K.; Bearden, J. N.; Gaba, A. (2015): Unpacking the Future: A Nudge towards Wider Confidence Intervals, in:
      Journal of Consumer Research, 16(2), S. 158–174.
    </p>
  </ng-template>
</dt-modal>

<dt-modal #modalBaby>
  <ng-template #title i18n>Beispiel</ng-template>
  <ng-template #content>
    <p i18n
      >Ein diesbezüglich bekanntes Beispiel ist die Eilnachricht, die das britische Komitee für Arzneimittelsicherheit im Oktober 1995
      herausgab: „Die Antibaby-Pillen der dritten Generation verdoppeln das Thromboserisiko, d.&nbsp;h. sie erhöhen es um 100&nbsp;%.“.
      Absolut gesehen hat sich das Thromboserisiko bei den Pillen der dritten Generation lediglich von einem Risikolevel „1 von 7000 Frauen“
      auf „2 von 7.000 Frauen“ erhöht. Die Wahl des Bezugspunkts und die Betonung der hundertprozentigen Steigung wirkt jedoch weitaus
      drastischer.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalCar>
  <ng-template #title i18n>Confirmation Bias</ng-template>
  <ng-template #content>
    <p i18n
      >Hat man sich beispielsweise beim Neukauf eines Autos für eine bestimmte Marke und Ausführung entschlossen und die Bestellung
      aufgegeben, so schaut man sich in Folge kaum noch Werbeanzeigen anderer Marken an, vielmehr blättert man nur noch in dem Prospekt des
      bestellten Autos, um sich noch einmal mit allen Vorteilen zu beschäftigen.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalRadio>
  <ng-template #title i18n>Beispiel</ng-template>
  <ng-template #content>
    <p i18n
      >Der US-Radio-Sender Planet Money stellte im August 2015 ein Bild der Kuh Penelope ins Internet und bat die Hörer in einer Umfrage
      eine Schätzung zu dem Gewicht abzugeben. 17.000 Hörer nahmen teil und die durchschnittliche Schätzung war mit 1.287 amerikanischen
      Pfund sehr nah an der richtigen Lösung: 1.355 Pfund.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalBootstrapping>
  <ng-template #title i18n>Dialectical Bootstrapping</ng-template>
  <ng-template #content>
    <p i18n
      >Die Methode des Dialectical Bootstrappings vereint die Hegelsche Dialektik (These, Antithese, Synthese) mit der Erzählung des Barons
      von Münchhausen, der vorgab, sich an seinen Schuhriemen („bootstraps“) alleine aus einem Sumpf gezogen zu haben („to bootstrap“ =
      „sich selbst helfen“). Die Methode basiert auf der Überlegung, dass auch durch mehrfaches Schätzen derselben Person eine bessere
      Schätzung erreicht werden kann.</p
    >
  </ng-template>
</dt-modal>

<dt-modal #modalFuture>
  <ng-template #title i18n>Beispiel</ng-template>
  <ng-template #content>
    <p i18n
      >Man stelle sich eine Entscheidungssituation vor, in der zwei Projekte A und B verglichen werden sollen und als einziges
      Fundamentalziel der finanzielle Überschuss betrachtet wird. Projekt A bringt einen Gesamtüberschuss von 2.000 Euro, Projekt B einen
      von 1.500 Euro. Hiernach wäre Projekt A besser. Allerdings ergibt sich der Überschuss von B aus vergangenen, unwiederbringlichen
      Aufwendungen von 1.000 Euro und noch in der Zukunft erreichbaren Erträgen von 2.500 Euro, wenn man sich für das Projekt entscheidet.
      Die richtige Entscheidung wäre also die für das Projekt B.</p
    >
  </ng-template>
</dt-modal>
