<dt-step-title [showStepNumber]="false" i18n>Benennung schon bekannter Alternativen</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Schreibe alle Alternativen auf, die Dir direkt einfallen.</ng-template>
  <ng-template #subDescription i18n
    >Notiere in diesem Schritt alle bereits bekannten Möglichkeiten, wie Du die Entscheidungsfrage lösen kannst.</ng-template
  >
</dt-step-description>

<dt-alternative-list [pageKey]="pageKey"></dt-alternative-list>
