@use '@angular/material' as mat;
@use 'variables' as dt;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.values-wrapper {
  flex: 1 0 400px;
  min-height: 400px;

  &.thin {
    min-height: 500px;
  }

  dt-fundamental-values {
    @include mat.elevation(3);
    max-height: 100%;
  }
}
