<dt-step-title [showStepNumber]="false" i18n>Reflexion über grundlegende Werte</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Gebe an, welche Werte Dir wichtig sind.</ng-template>
  <ng-template #subDescription i18n
    >Du kannst die Wichtigkeit über die Balkengröße angeben, vorhandene Werte löschen bzw. umbenennen und eigene Werte
    einfügen.</ng-template
  >
</dt-step-description>

<div class="values-wrapper" [dtWidthTrigger]="{ thin: 400 }">
  <dt-fundamental-values></dt-fundamental-values>
</div>
