<div class="dt-help-padding">
  <p i18n
    >In diesem Schritt sollst Du herausfinden, welche Ziele für Dich in der Entscheidungssituation von Relevanz sind. Eine wohlüberlegte
    Formulierung von Zielen ist der wichtigste (!) Schritt im gesamten Entscheidungsprozess. Die Ziele werden nämlich später die Kriterien
    sein, anhand derer Du Deine Handlungsoptionen bewerten wirst. Zudem stellen Deine Ziele Erfolgskriterien Deiner Entscheidung dar. Wenn
    Du Deine wichtigsten Ziele als erfüllt ansiehst, hast Du eine qualitativ hochwertige Entscheidung getroffen. Nimm Dir allein für diesen
    Schritt mindestens eine Stunde Zeit und bearbeite ihn gewissenhaft. Du folgst einem strukturierten Prozess, in dem unter anderem
    folgende Techniken Dir dabei helfen, Deine Ziele zu identifizieren:</p
  >
  <ul>
    <li i18n
      ><b>Erstes Brainstorming:</b> Hier sollst Du zunächst frei und kreativ alle Aspekte aufschreiben, die theoretisch von Relevanz in der
      Bewertung der Alternativen sein könnten.</li
    >
    <li i18n
      ><b>Weitere Überlegungen:</b> Selbst wenn Du im ersten Brainstorming schon viele Aspekte notiert hast, ist es recht wahrscheinlich,
      dass noch einige fehlen. In
      <span class="hover-text" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover1">Studien</span>
      wurde gezeigt, dass Menschen nach einem Brainstorming im Schnitt nur etwa die Hälfte der Ziele benannt haben, die für sie tatsächlich
      relevant waren. Die Versuchspersonen gaben am Ende an, dass sie in dem Brainstorming zu oberflächlich bzw. zu eng
      <span class="hover-text" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover2">(Narrow Thinking)</span>
      gedacht haben. Wenn Du Dir bewusst klarmachst, dass vielleicht wichtige Aspekte in Deiner Liste fehlen und Du noch etwas mehr
      überlegen musst, wirst Du sehr wahrscheinlich in diesem Teilschritt auf viele der fehlenden Aspekte von allein stoßen.<br />
      Versuche also, in diesem Schritt mindestens sechs weitere Aspekte zu finden.</li
    >
    <li i18n
      ><b>Erste Zielhierarchie:</b> Hier beschäftigst Du Dich intensiv mit allen Deinen Aspekten, hinterfragst diese sukzessiv und
      strukturierst diese weiter, bis Du am Ende mit wenigen wirklich fundamentalen Zielen diesen Schritt beenden kannst (Informationen zur
      Identifizierung von Fundamentalzielen findest Du im Abschnitt „Weitere Hinweise“).</li
    >
    <li i18n
      ><b>Beispiele und Vorschläge:</b> Um dem beschriebenen Problem entgegenzuwirken, dass Menschen nicht wirklich dazu in der Lage sind,
      alle persönlich relevanten Ziele allein zu finden, werden hier Beispiele für Zielhierarchien bereitgestellt. In diesen findest Du ggf.
      weitere für Dich relevante Ziele, die Du in Deine Zielhierarchie übernehmen kannst.</li
    >
    <li i18n
      ><b>Überprüfung der Zielhierarchie:</b> Die Aufstellung der Zielhierarchie ist äußerst komplex, sodass ein zweiter, kritischer Blick
      auf den ersten Entwurf sehr zu empfehlen ist. Nutze diesen Teilschritt also, um Deine Zielhierarchie zu optimieren. In „Weitere
      Hinweise“ findest Du einige nützliche Hinweise, was eine gute Zielhierarchie ausmacht. Empfehlenswert ist es in jedem Falle, nach dem
      Erstellen des ersten Entwurfs der Zielhierarchie eine Pause einzulegen und diesen Teilschritt mit frischem Kopf anzugehen.</li
    >
  </ul>
  <br />
  <p i18n
    >Für weitere Informationen zu den Zielen empfehlen wir ein
    <a (click)="videosService.openYoutubeVideoModal('9WSiQFEDc20')">Video aus der digitalen Vorlesung „Entscheidungslehre“</a>.</p
  >
</div>

<ng-template #noteHover1>
  <dt-note-hover>
    <p i18n
      >Bond, S. D., Carlson, K.A., Keeney, R. L. (2008), Generating Objectives: Can Decision Makers Articulate What They Want?, in:
      Management Science, 54(1), 56-70.</p
    >
  </dt-note-hover>
</ng-template>

<ng-template #noteHover2>
  <dt-note-hover>
    <p i18n
      >Der Begriff „Narrow Thinking“ beschreibt eine Art der Informationsverarbeitung, bei der Menschen sich in ihren Gedanken nur in einem
      engen Umfeld um das, was ihnen mit wenig Ressourceneinsatz zur Verfügung steht, bewegen.</p
    >
  </dt-note-hover>
</ng-template>
