<div
  class="range-input-container"
  [class.label-above]="valuePosition === 'above'"
  [class.label-hidden]="valuePosition === 'hide'"
  [style.margin-right.ch]="!hasResponsiveLabelWidth ? maxValueLength / 2 : 0"
  [style.margin-left.ch]="!hasResponsiveLabelWidth ? maxValueLength / 2 : 0"
  [dtWidthTrigger]="{ narrowLabel: 270 }"
  (dtWidthTriggerStateChange)="isLabelNarrow = $event['narrowLabel']"
>
  @if (valuePosition !== 'hide' && !allowManualInput) {
    <div class="value-label" [style.width]="calculateLabelWidth()" [class.hidden-overflow]="hasResponsiveLabelWidth">
      <span [style.left.%]="(value / valueRange) * 100" class="label-container">
        @switch (unit) {
          @case ('none') {
            <span [title]="shownValue ?? (value | number)">{{ shownValue ?? (value | number) }}</span>
          }
          @case ('percent') {
            <span [title]="(value | numberCast) / 100 | percent: '.1-1'">{{ (value | numberCast) / 100 | percent: '.1-1' }}</span>
          }
        }
      </span>
    </div>
  }

  @if (allowManualInput && shownValue == null) {
    <div class="value-label" [style.width]="calculateLabelWidth()">
      <input
        matInput
        type="number"
        [min]="min"
        [max]="max"
        [ngModel]="value"
        (blur)="onInputChange($event)"
        (keyup.enter)="onInputChange($event)"
        class="number-input"
        required
        #numberInput
      />
      @if (unit === 'percent') {
        <span class="unit"> %</span>
      }
    </div>
  }

  <div class="input-container">
    <!-- Track and initial thumb and initial interval. -->
    <div class="track">
      @if (interval) {
        <div [style.left.%]="_intervalLeft" [style.width.%]="_intervalWidth" class="value-interval"></div>
      }
      @if (initialValue != null) {
        <div [style.left.%]="_initValueLeft" class="initial-thumb"></div>
      }
    </div>
    <!-- Only inhibits the thumb. -->
    <input
      #rangeInput
      type="range"
      [attr.min]="min"
      [attr.max]="max"
      [attr.step]="step"
      [ngModel]="value"
      [attr.disabled]="disabled ? true : undefined"
      (input)="onSliderChange(rangeInput.valueAsNumber)"
    />
  </div>
  @if (showLimits) {
    <div class="limit-container">
      <div class="limit-holder"
        ><span>{{ shownMin ?? min }}</span></div
      >
      <div class="limit-holder"
        ><span>{{ shownMax ?? max }}</span></div
      >
    </div>
  }
</div>
