@if (topLabels != null && topLabels.length >= 2) {
  <div class="labels">
    @for (label of topLabels; track label) {
      <span>{{ label }}</span>
    }
  </div>
}
<div
  class="slidershell"
  [class.vertical]="vertical"
  [style.height]="fillContainer ? '100%' : vertical ? length + 'px' : width + 'px'"
  [style.width]="vertical ? width + 'px' : '100%'"
  [class.disabled]="hasDisabledStyle()"
>
  <div class="sliderfill" [style.height.%]="vertical ? valueInPercent : 100" [style.width.%]="vertical ? 100 : valueInPercent"></div>
  <div class="slidertrack"></div>
  @if (!disabled && interval && precision > 0) {
    @if (vertical) {
      <div class="sliderinterval vertical" [style.height.%]="intervalHeightInPercent" [style.bottom.%]="valueInPercent">
        <div class="sliderinterval-centered">
          <div class="vert-line"></div>
        </div>
      </div>
    }
    @if (vertical) {
      <div
        class="slidercircle vertical"
        [style.height.px]="circleHeight"
        [style.width.px]="circleHeight"
        [style.bottom]="'calc(' + valueInPercent + '% - ' + circleHeight / 2 + 'px)'"
      ></div>
    }
    @if (!vertical) {
      <div class="sliderinterval horizontal" [style.width.%]="intervalHeightInPercent" [style.left.%]="valueInPercent">
        <div class="sliderinterval-centered">
          <div class="hor-line"></div>
        </div>
      </div>
    }
    @if (!vertical) {
      <div
        class="slidercircle horizontal"
        [style.height.px]="circleHeight"
        [style.width.px]="circleHeight"
        [style.left]="'calc(' + valueInPercent + '% - ' + circleHeight / 2 + 'px)'"
      ></div>
    }
  }
  <input
    [class.slidervertical]="vertical"
    type="range"
    [attr.step]="step"
    [attr.min]="min"
    [attr.max]="max"
    [(ngModel)]="sliderValue"
    (change)="emitChangeEvent(input.valueAsNumber)"
    [attr.orient]="vertical ? 'vertical' : 'horizontal'"
    [disabled]="disabled"
    [readonly]="readonly"
    #input
  />
</div>
@if (showBottomLabels) {
  <div class="labels">
    @for (label of intervals; track label) {
      <span>{{ label }}</span>
    }
  </div>
}
