:host {
  width: 100%;
}

$interval-color: rgba(59, 76, 91, 1);

/* CSS by Steven Estrella. http://www.stevenestrella.com */

/* The .slider and .slidervertical classes are for the range inputs.
	Set the z-index high so its on top. */
.slider,
.slidervertical {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  z-index: 100;
}

/* slidershell exists only
to provide a positioning context for the range input and other elements.*/
.slidershell {
  border: 0 none;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
}

/* .slidertrack is the visible track on which the user drags the thumb button. */
.slidertrack {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 0;
  position: absolute;
  opacity: 0.2;
}

/* .sliderfill adds color (or a gradient as seen here) to the track as the user
	drags the thumb. */

.disabled .sliderfill {
  background: #bbbbbb;
}

.sliderfill {
  border: 0 solid #000000;
  border-radius: 0;
  position: absolute;
  pointer-events: none;
  background: #f8931e;
  bottom: 0;
  left: 0;
}

/* .sliderthumb can be any css you like including an image.
	The dimensions must match those found in the rule for
	input[type=range]::-webkit-slider-thumb.
.sliderthumb {
  width: 0px;
  height: 40px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/358203/thumb.png');
  background-size: 40px 0px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
  opacity: 0.5;
}
*/

/* .slidervalue can be styled as you see fit */
/*.slidervalue {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ffaa1d;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
  opacity: 0.0;
}*/

%vert-center {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

%hor-center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sliderinterval,
.sliderinterval > div,
.slidercircle {
  position: absolute;
}

.sliderinterval .sliderinterval-centered {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slidercircle.vertical {
  @extend %hor-center;
  pointer-events: none;
}

.slidercircle.horizontal {
  @extend %vert-center;
}

.sliderinterval.vertical {
  @extend %hor-center;
  width: 75%;
  min-height: 2px;

  .sliderinterval-centered {
    justify-content: center;
    top: 50%;
    box-shadow:
      0 2px 0 $interval-color inset,
      0 -2px 0 $interval-color inset;
  }
}

.sliderinterval.horizontal {
  @extend %vert-center;
  height: 75%;
  min-width: 2px;

  .sliderinterval-centered {
    align-items: center;
    right: 50%;
    box-shadow:
      2px 0 0 $interval-color inset,
      -2px 0 0 $interval-color inset;
  }
}

.vert-line {
  height: 100%;
  width: 2px;
  background: $interval-color;
}

.hor-line {
  height: 2px;
  width: 100%;
  background: $interval-color;
}

.slidercircle {
  border: 2px solid $interval-color;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
}

/* First we have to make transparent all the default elements of the range input.
    We use color:transparent to eliminate the default tick marks in IE. */
input[type='range']::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type='range'] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

/* we need a separate rule for when the range input is to be vertical */
input[type='range'].slidervertical {
  -webkit-appearance: slider-vertical;
  writing-mode: sideways-lr;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

input[type='range']:focus {
  outline: none;
}

/* Make the thumbs the same size as your custom sliderthumb.
    they will not be visible but they will be draggable. 	*/
input[type='range']::-ms-thumb {
  width: 0;
  height: 0;
  border-radius: 0;
  border: 0 none;
  background: transparent;
}

input[type='range']::-moz-range-thumb {
  width: 0;
  height: 0;
  border-radius: 0;
  border: 0 none;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  width: 0;
  height: 0;
  border-radius: 0;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
}

/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
input[type='range']::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

input[type='range']::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

input[type='range']::-ms-tooltip {
  display: none;
}

.slidershell {
  margin: auto;
}

.disabled > input[type='range'] {
  &::-webkit-slider-runnable-track {
    cursor: default;
  }

  &::-moz-range-track {
    cursor: default;
  }

  &::-webkit-slider-thumb {
    cursor: default;
  }

  &::-moz-range-thumb {
    cursor: default;
  }

  &::-ms-thumb {
    cursor: default;
  }

  &::-ms-track {
    cursor: default;
  }
}

.labels {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
