@use 'variables' as dt;

.name-container {
  max-width: 100%;

  .subname {
    font-size: dt.font-size(caption);
    line-height: 1;
  }
}

.count-container {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 23px;
  height: 23px;

  background-color: dt.$orange;
  color: white;

  margin-left: auto;
}

mat-table .row {
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.mat-column-count {
  max-width: max-content;
}
