<dt-step-title [showStepNumber]="false" i18n>Intuitives Ordnen nach Bauchgefühl</dt-step-title>

<dt-step-description>
  <ng-template #description i18n>Ordne Deine Alternativen in absteigender Reihenfolge danach, für wie gut Du diese hältst.</ng-template>
  <ng-template #subDescription i18n
    >In diesem Schritt hältst Du Dein Bauchgefühl fest, bevor Du in die systematische Analyse einsteigst. So kannst Du am Ende des Prozesses
    noch einmal schauen, ob dieses mit dem Ergebnis übereinstimmt.</ng-template
  >
</dt-step-description>

<dt-alternative-list
  [pageKey]="pageKey"
  [collapsedByDefault]="true"
  [showAddButton]="false"
  [showPlacement]="true"
  [allowGrouping]="false"
></dt-alternative-list>
