<dt-inputbox
  (deleteEvent)="onDelete()"
  [deleteButton]="!readonly"
  [draggable]="!readonly"
  [isLocked]="isLocked"
  [collapsibleButton]="true"
  [collapsedByDefault]="collapsedByDefault"
  [confirmDeleteTemplate]="confirmDeleteTemplate"
>
  <div class="caption-wrapper">
    <ng-content select=".caption-wrapper"></ng-content>
  </div>
  <div class="control-wrapper">
    <ng-content select=".control-wrapper"></ng-content>
    <button mat-icon-button class="note-btn" (click)="openNotes()" i18n-title title="Notizen Editor öffnen" [disabled]="isLocked"
      ><mat-icon>note</mat-icon></button
    >
  </div>
  <div class="content-wrapper">
    <div class="container-left">
      <input
        type="text"
        class="name"
        [(ngModel)]="name"
        (ngModelChange)="onNameChange($event)"
        [readonly]="readonly"
        [placeholder]="namePlaceholder"
        data-cy="name-input"
      />
      <div class="children-list">
        @for (child of children; track child; let i = $index) {
          <div
            [draggable]="!lockedChildren[i]"
            [attr.dragHandle]="!lockedChildren[i]"
            isOrigin="true"
            [attr.childIndex]="i"
            class="child"
            [class.locked-child]="lockedChildren[i]"
            [@deleteAnimation]="deletedChild && deletingChildIndex === i"
            (@deleteAnimation.done)="finishDeleteChild($event)"
          >
            <span #overflow="dtOverflow" [dtOverflow] [matTooltip]="child.name" [matTooltipDisabled]="!overflow.isOverflowing">{{
              child.name
            }}</span>
            <button mat-icon-button [disabled]="readonly || lockedChildren[i]" (click)="!readonly && !lockedChildren[i] && deleteChild(i)"
              ><mat-icon>delete</mat-icon></button
            >
          </div>
        }
      </div>
    </div>
    <div class="container-right">
      <quill-editor
        [(ngModel)]="notes"
        (ngModelChange)="onNotesChange($event)"
        format="json"
        bounds="self"
        theme="bubble"
        placeholder=""
        [modules]="editorModules"
        [readOnly]="!notesEditable || readonly"
      >
      </quill-editor>
    </div>
  </div>
</dt-inputbox>
<dt-note-btn
  [triangle]="false"
  [(comment)]="notes"
  [caption]="noteCaption"
  (commentChange)="onNotesChange($event)"
  [readonly]="readonly"
  (noteModalClick)="noteModalClick.emit()"
></dt-note-btn>

<dt-modal #modalConfirmDeleteChild [showFooter]="true">
  <ng-template i18n #title>Löschen bestätigen</ng-template>
  <ng-template #content>
    @if (confirmChildDeleteTemplate) {
      <ng-container *ngTemplateOutlet="confirmChildDeleteTemplate; context: { $implicit: children[deletingChildIndex] }"></ng-container>
    } @else {
      <p i18n>Bist Du sicher, dass Du dieses Element löschen möchtest?</p>
    }
  </ng-template>
  <ng-template #footer>
    <button mat-raised-button (click)="confirmDeleteChild()" color="warn" i18n>Ja, löschen</button>
    <button mat-raised-button color="accent-less" (click)="modalConfirmDeleteChild.close()" i18n>Nein, abbrechen</button></ng-template
  >
</dt-modal>
