@use 'variables' as dt;
@use '@angular/material' as mat;
@import '../simple/inputbox-simple.component';

.children-list {
  margin-top: 5px;
  margin-left: 3px;
}

.child {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  cursor: move;

  margin-bottom: 5px;

  padding-left: 5px;

  height: 25px;
  background-color: dt.$blue;
  color: white;
  font-weight: bold;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.locked-child {
  cursor: default !important;
  background-color: #bebebe;
}

.control-wrapper,
.content-wrapper .child {
  @include mat.icon-button-density(minimum);
}
