<div class="dt-limit-width">
  @if (showTitle) {
    <h1 i18n>Schaue Dir die Zielvorschläge an</h1>
  }

  <dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
    <ng-template #description>
      @if (decisionData.isProfessional()) {
        <ng-container i18n
          >Auf dieser Seite kannst Du Ziele aus anderen Beispielprojekten übernehmen. Wähle dafür ein entsprechendes Projekt aus und ziehe
          die gewünschten Ziele per Drag &amp; Drop in Deine eigene Zielhierarchie.</ng-container
        >
      }
      @if (!decisionData.isProfessional()) {
        <ng-container i18n>Hier kannst Du aus anderen Beispielprojekten Ideen für Deine Fundamentalziele finden.</ng-container>
      }
    </ng-template>
    <ng-template #subDescription i18n
      >Du kannst durch das Setzen von Tags geeignete Projekte eingrenzen und aus der rechten Zielhierarchie passende Ziele für Dich durch
      Drag &amp; Drop in Deine Zielhierarchie übernehmen.</ng-template
    >
  </dt-step-description>
</div>

<div
  class="hierarchy-wrapper"
  [dtWidthTrigger]="{ 'screen-threshold': 800 }"
  (dtWidthTriggerStateChange)="smallScreen = $event['screen-threshold']"
>
  <div class="left-container" [style.width]="smallScreen ? '49%' : '47%'">
    <div class="stacked-object-wrapper">
      <div class="stacked-object-container">
        <dt-objective-hierarchy
          [class.blurred-background]="inSelectionMode"
          (simpleHierarchyDataDrop)="trackDataDrop($event)"
          [brainstormingShown]="false"
        ></dt-objective-hierarchy>
      </div>
      <div [class.visible]="inSelectionMode" [class.hidden]="!inSelectionMode" class="stacked-object-container project-list-wrapper">
        <div class="project-list-outer-container mat-elevation-z3">
          @if (selectedHierarchy != null) {
            <div class="close-button" (click)="inSelectionMode = false"><mat-icon>close</mat-icon></div>
          }
          <div class="project-list-inner-container">
            <div class="search-form" [dtOverlayProgress]="isLoading && !hasError">
              <mat-form-field subscriptSizing="dynamic" class="name-field">
                <mat-label i18n>Nach Name filtern</mat-label>
                <input matInput type="text" [(ngModel)]="nameFilter" (ngModelChange)="onFilterChange()" />
              </mat-form-field>
              @if (tags) {
                <dt-tag-input [allTags]="tags" [(selectedTagIds)]="tagIdFilter" (selectedTagIdsChange)="onFilterChange()" i18n
                  >Nach Tags filtern</dt-tag-input
                >
              }
            </div>
            @if (hierarchies?.count > 0 && !hasError) {
              <div class="project-list" (mouseleave)="hoveredHierarchy = null">
                @for (hierarchy of hierarchies.items; track hierarchy) {
                  <div
                    class="project-row"
                    (click)="selectHierarchy()"
                    (mouseenter)="hoverHierarchy(hierarchy)"
                    [class.is-opened]="selectedHierarchy?.id === hierarchy.id"
                    data-cy="quickstart-hierarchy-option"
                  >
                    <span>{{ hierarchy.name | localizedString }}</span>
                  </div>
                }
                @if (hierarchies && hierarchies.items.length < hierarchies.count) {
                  <div class="load-more-row">
                    @if (isLoading) {
                      <mat-spinner [diameter]="36"></mat-spinner>
                    } @else {
                      <button mat-raised-button color="accent" (click)="loadMore()" i18n>Mehr laden</button>
                    }
                  </div>
                }
              </div>
            } @else {
              @if (hasError) {
                <mat-error class="dt-error" i18n>Fehler beim Laden der Beispielziellisten. Versuche es später erneut!</mat-error>
              } @else {
                <div class="no-projects-found" i18n>Keine Beispielziellisten entsprechen dem Filter</div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (!smallScreen) {
    <div class="middle-container">
      <span class="arrow" [class.arrow-left]="!inSelectionMode"></span>
    </div>
  }

  <div class="right-container" [style.width]="smallScreen ? '49%' : '47%'">
    <div class="stacked-object-wrapper">
      <div class="stacked-object-container">
        @if (rightHierarchy != null) {
          <dt-simple-hierarchy [tree]="rightHierarchy.tree" class="right-hierarchy">
            <div overlay class="title-overlay" (click)="inSelectionMode = true">
              <mat-icon title="In anderen Bespielen suchen" class="title-icon" i18n-title>find_replace</mat-icon>
              <mat-divider [vertical]="true"></mat-divider>
              <span class="title-container" [attr.title]="rightHierarchy.name | localizedString">{{
                rightHierarchy.name | localizedString
              }}</span>
            </div>
          </dt-simple-hierarchy>
        } @else {
          <div class="no-hierarchy-text" i18n>Noch keine Zielhierarchie ausgewählt</div>
        }
      </div>
    </div>
  </div>
</div>
