<dt-extendable-header
  i18n-headerName
  headerName="In welcher Reihenfolge sollte ich hier vorgehen?"
  variation="large"
  [initialOpening]="helpContext === undefined"
>
  <p i18n
    >Dir stehen im Wirkungsmodell alle Funktionen von Beginn an zur Verfügung. Jedoch solltest Du Dich an eine Reihenfolge halten, um diesen
    Schritt sinnvoll zu bearbeiten:</p
  >
  <ol>
    <li i18n>Definiere für jedes einzelne Ziel eine geeignete Skala</li>
    <li i18n>Trage für alle Alternativen die Auswirkungen in den einzelnen Zielen (Wirkungsprognosen) ein</li>
    <li i18n>Verknüpfe Deine Wirkungsprognosen ggf. und wenn sinnvoll mit Einflussfaktoren</li>
    <li i18n>Kommentiere Deine Wirkungsprognosen, Skalen usw.</li>
    <li i18n>Bestimme die Entscheidungsqualität</li>
  </ol>
  <br />
  <p i18n>Zu jedem dieser Schritte findest Du im Folgenden weitere Beschreibungen.</p>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Definition einer Skala für ein Ziel">
  <p i18n
    >Als Erstes solltest Du für jedes Ziel eine eigene Skala erstellen. Klicke auf die Skalenbezeichnung unterhalb des Namens des
    Fundamentalziels. In dem Fenster, das sich öffnet, kannst Du über die drei Reiter wählen, ob Du eine numerische, eine verbale oder eine
    Indikatorskala anlegen möchtest. Wenn Du mit der Maus über eine blaue Zielbox fährst, wird Dir rechts ein Button angezeigt, über den Du
    eine Skala für andere Ziele kopieren kannst.</p
  >
  <dt-extendable-header i18n-headerName variation="small" headerName="Numerische Skalen">
    <p i18n
      >Bei einer numerischen Skala trägst Du die best- und schlechtestmögliche Ausprägung als obere bzw. untere Grenze als Zahlenwert ein.
      Standardmäßig sind hier die Werte eins und sieben eingetragen. Rechts neben den Eingabefeldern hast Du die Möglichkeit, Deine beiden
      Werte zu beschreiben. Unterhalb der besten und schlechtesten Ausprägung kannst Du eine Einheit angeben, in welcher Dein Ziel gemessen
      werden soll. Speichere Deine Einstellungen mithilfe des „Übernehmen“ Buttons.</p
    >
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Verbale Skalen">
    <p i18n
      >Wählst Du eine verbale Skala, werden zunächst automatisch fünf Ausprägungen von gering bis hoch vorgegeben. Du kannst die
      Bezeichnungen dieser Ausprägungen verändern und mithilfe des Buttons unten neue Ausprägungen hinzufügen. Mit den Mülleimerbuttons
      rechts löschst Du Ausprägungen. Greife das Symbol <mat-icon>drag_handle</mat-icon> links, um Deine Ausprägungen vertikal zu
      verschieben. Verwende die Kommentarzeilen und -dreiecke rechts, um die einzelnen Stufen näher zu beschreiben. Du kannst eine verbale
      Skala mithilfe des Buttons „Vordefinierte Skala“ auch erzeugen lassen. Gib die gewünschte Anzahl an Stufen an, die Deine Skala haben
      soll, und im Anschluss die Bezeichnungen der obersten und untersten Stufe. Klicke auf „Anwenden“ und die Skala wird automatisch
      erzeugt. Beachte, dass Deine Skala maximal sieben Stufen haben kann. Speichere Deine Einstellungen zum Schluss mithilfe des
      „Übernehmen“ Buttons.</p
    >
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Indikatorskalen – Allgemein">
    <p i18n
      >Wenn Du eine Indikatorskala wählst, musst Du für jeden Indikator einen Namen sowie jeweils den schlechtesten und besten Wert
      eintragen, der angenommen werden kann. Standardmäßig ist die dimensionslose Bandbreite von eins bis sieben eingestellt. Zudem kannst
      Du für jeden Indikator rechts eine Einheit und ein Gewicht angeben, welches bei der späteren Aggregation berücksichtigt werden soll.
      Neue Indikatoren fügst Du mithilfe des entsprechenden Buttons unterhalb Deiner Indikatoren hinzu. Ganz rechts löschst Du Indikatoren.
      Greife das Symbol <mat-icon>drag_handle</mat-icon> links, um Deine Indikatoren vertikal zu verschieben. Rechts unten siehst Du einen
      Ausschnitt aus der Zielhierarchie, der das Fundamentalziel inkl. der untergeordneten Aspekte zeigt. Per Doppelklick auf die
      untergeordneten Aspekte kannst Du diese direkt als Indikatoren in Deine Liste übernehmen.</p
    >
    <p i18n
      >Unten links im Fenster definierst Du die aggregierte Skala, auf welcher das Ziel insgesamt gemessen wird. Du kannst zwischen zwei
      Arten der Aggregation wählen. Standardmäßig ist die additive Gewichtung eingestellt, bei der Du die untere Grenze (schlechtester
      Wert), die obere Grenze (bester Wert) und die Einheit angeben musst, in der das Ziel gemessen werden soll. Auch hier ist standardmäßig
      die dimensionslose Bandbreite von eins bis sieben eingestellt. Die verwendete Formel kannst Du anschauen, indem Du mit der Maus über
      den schwarzen Infobutton fährst. Alternativ kannst Du über das Drop-Down-Menü bei der Aggregationsart die Möglichkeit wählen, eine
      benutzerdefinierte Formel anzugeben. Beachte dabei die zulässigen Zeichen (schwarzer Infobutton). Die Bandbreite kannst Du einerseits
      automatisch bestimmen lassen (auf Basis der schlechtesten und besten eingegebenen Werte der Indikatoren) oder eine eigene eingeben,
      wenn es notwendig ist. Siehe zur Eingabe einer eigenen Aggregationsformel auch den Bereich „Weitere Hinweise.“</p
    >
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Indikatorskalen – Verbale Beschreibung">
    <p i18n
      >Jeder numerische Indikator kann in verschiedene Stufen aufgeteilt werden, die dann jeweils kommentiert werden können. Um diese
      Funktion zu nutzen, klicke auf das <mat-icon>view_list</mat-icon> Symbol rechts neben dem Indikatornamen. Es öffnet sich ein Fenster,
      in welchem Du eine qualitative Beschreibung für Deinen Indikator erstellen kannst. Wenn Du diese Beschreibungen erstellst, wirst Du
      bei der Messung Deiner Alternativen später keine numerischen Werte bei den Indikatoren angeben, sondern Deine hier angegebenen
      verbalen Ausprägungen.</p
    >
    <p i18n
      >In der grauen Leiste links im Fenster siehst Du die komplette Bandbreite Deiner gewählten numerischen Skala für den Indikator.
      Standardmäßig siehst Du auch drei leere Textboxen, die sich auf den besten, mittleren und schlechtesten Wert dieser Skala beziehen. Du
      kannst nun Überschriften für die entsprechenden Werte in die grauen Zeilen der Textboxen schreiben, um diese Werte mit einer verbalen
      Beschreibung zu hinterlegen. Diese verbale Beschreibung wird auch diejenige sein, die Du später im Wirkungsmodell bei der Messung
      angibst. Im weißen Textfeld unter den Überschriften kannst Du nähere Beschreibungen der Stufen vornehmen. Möchtest Du weitere Stufen
      zur verbalen Beschreibung hinzufügen, nutze die +-Buttons zwischen den Textboxen. Mithilfe des Mülleimer-Buttons rechts neben den
      Überschriften kannst Du einzelne Stufen löschen.</p
    >
    <p i18n
      >Du kannst auch mehrere verbale Dimensionen zur Messung angeben. Nutze den +-Button rechts oben neben der Überschrift „Qualitative
      Beschreibung“, um eine neue sogenannte „Kategorie“ zu erstellen. In diesem Falle beschreibst Du Deinen Indikator nicht mehr mit nur
      einer verbalen Dimension, sondern mit mehreren Kategorien. Du kannst beliebig viele Kategorien erstellen.</p
    >
    <p i18n
      >Als Kategorien gut geeignet können vor allem Elemente aus der Zielhierarchie oder Deinen Stellhebeln sein. Über den Button
      „Vorschläge“ oben links kannst Du Dir Deine Zielhierarchie oder Deine Stellhebel in einem kleinen Fenster anzeigen lassen. Durch
      Doppelklick auf einzelne Elemente in der Zielhierarchie bzw. auf die blauen Boxen bei den Stellhebeln kannst Du diese als Kategorien
      übernehmen. Alternativ kannst Du Stellhebelpositionen oder Elemente aus der Zielhierarchie auf die Überschriften der Textboxen ziehen,
      um diese zu übernehmen.</p
    >
    <p i18n
      >Wenn Du Deine Änderungen übernommen hast, kannst Du die verbalen Ausprägungen über das Drop-Down Menü rechts neben den Indikatornamen
      auf- und wieder einklappen.</p
    >
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Indikatorskalen – Beschreibungen">
    <p i18n
      >Bei einer Indikatorskala kannst Du einzelne Werte auf der Skala des Ziels beschreiben und Konstellationen analysieren, die zu
      einzelnen Werten führen. Mit Klick auf den „Beschreiben“ Button öffnet sich ein Fenster, in dem drei numerische Stufen der Skala des
      Ziels abgebildet sind. Diese kannst Du in dem weißen Textfeld näher erläutern oder beschreiben. Alternativ kannst Du dafür den
      Button <mat-icon>note</mat-icon> klicken, um den Texteditor zu öffnen. Nutze den Mülleimer-Button, um eine Stufe zu löschen
      (funktioniert nicht bei der ersten und letzten Stufe). Wenn Du das Zustandekommen einer Zahl auf einer der Stufen näher untersuchen
      möchtest, klicke auf den Button „Beispiele“, um zu einer Tabellenansicht zu gelangen.</p
    >
    <p i18n
      >In dieser wird Dir gezeigt, welche Konstellationen der Indikatoren dazu führen, dass das Ziel insgesamt mit derjenigen Zahl bewertet
      wird, die auf Deiner Stufe steht <span class="hover-text" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover1">(Beispiel)</span>.
      Möchtest Du in dieser Tabelle weitere Beispiele als die fünf angezeigten sehen, klicke auf den Button „Weitere Beispiele finden“ oben
      links.</p
    >
    <p i18n
      >Wenn Du die Ansicht oben rechts auf „Erweitert“ stellst, stehen Dir weitere Optionen zur Verfügung. Du kannst für Deine Analyse
      einzelne Indikatoren mit einem festen Wert belegen, indem Du diesen in die Eingabezeile bei „Vorgegebene Werte“ eingibst. Wenn Du hier
      etwas einträgst, nimmt der entsprechende Indikator bei folgenden Beispielen nur noch diesen Wert an. In der Zeile „Rundung“ kannst Du
      einstellen, wie detailliert die Indikatoren gerundet werden sollen
      <span class="hover-text" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover2">(Beispiel)</span>. In der Zeile ganz rechts kannst
      Du einzelne Kombinationen in der Beschreibung speichern. Klicke den „Speichern“-Button und die Indikatorkombination wird in das
      Kommentarfeld der entsprechenden Stufe auf der Seite davor eingetragen.</p
    >
    <p i18n
      >Um grundsätzlich mehr Stufen als die eingestellten drei zu untersuchen, kannst Du auf der Seite „Stufen für Indikatorskala
      beschreiben“ mithilfe des entsprechenden Buttons unten links weitere Zwischenstufen ergänzen.</p
    >
    <ng-template #noteHover1>
      <dt-note-hover>
        <p i18n
          >Angenommen, Du hast die Standard-Skala von eins bis sieben verwendet. Wenn Du nun Beispiele für die Stufe mit dem Wert drei
          generierst („Wunschwert 3“), wird Dir angezeigt, welche Werte die Indikatoren annehmen können, damit das Ziel eine Gesamtbewertung
          von drei erhält.</p
        >
      </dt-note-hover>
    </ng-template>
    <ng-template #noteHover2>
      <dt-note-hover>
        <p i18n
          >Stellst Du die Rundung beispielsweise auf eins, werden nur noch ganzzahlige Werte angezeigt. Wenn Du sie auf 0,1 stellst, werden
          Werte mit einer Nachkommastelle zwischen x,1 und x,9 angezeigt.</p
        >
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Ansichts- und Filteroptionen">
  <p i18n>Rechts über dem Wirkungsmodell findest Du einige Ansichts- und Filteroptionen für Dein Wirkungsmodell:</p>
  <ul>
    <li i18n>Ganz links kannst Du das Wirkungsmodell in den Vollbildmodus schalten</li>
    <li i18n
      >Rechts daneben kannst Du nach Einflussfaktoren filtern. Dann werden die Felder hervorgehoben, die mit dem gefilterten Einflussfaktor
      verknüpft sind.</li
    >
    <li i18n
      >Wiederum rechts daneben kannst Du einstellen, ob Dominanzen in Deiner Matrix angezeigt werden sollen. In diesem Falle werden
      Alternativen automatisch markiert, die von anderen dominiert werden. Um mehr Informationen zu erhalten, klicke auf die dominierten
      Alternativen. Standardmäßig werden Dominanzen immer angezeigt.</li
    >
    <li i18n
      >Mit dem „Einfärbung“-Button kannst Du einstellen, ob Dein Wirkungsmodell farbige Markierungen beinhalten soll. In diesem Falle werden
      schlechte Ergebnisse einer Alternative in einem Ziel mit Rotabstufungen eingefärbt, gute Ergebnisse hingegen mit grünen Farben.
      Alternativ kannst Du die Matrix auch komplett weiß einstellen. Farbige Markierungen sind standardmäßig immer aktiviert.</li
    >
    <li i18n
      >Mithilfe des Buttons rechts neben des „Einfärbung“-Buttons kannst Du Dein Wirkungsmodell transponiert darstellen. In diesem Falle
      werden Deine Alternativen in der Kopfzeile angezeigt und Deine Ziele in der Spalte ganz links.</li
    >
    <li i18n
      >Ganz rechts kannst Du die Skalierung Deiner Matrix auf die normale bzw. eine kompakte Form einstellen. Gerade bei kleineren
      Bildschirmen bietet sich die kompakte Darstellungsart an.</li
    >
  </ul>
</dt-extendable-header>

<dt-extendable-header i18n-headerName variation="large" headerName="Eingabe einer Wirkungsprognose">
  <p i18n
    >In der oberen Zeile der Matrix findest Du Deine Fundamentalziele aus dem zweiten Schritt. In der Zeile ganz links stehen Deine
    Alternativen, die Du am Ende des dritten Schritts erarbeitet hast. Die hier abgebildeten Kommentardreiecke beinhalten denselben Text,
    den Du in den Schritten zwei und drei ggf. verfasst hast. Jedes einzelne Feld innerhalb der Matrix steht für die Bewertung einer
    Alternative in einem bestimmten Ziel. Je nach gewählter Skala unterscheidet sich die Art der Eingabe.</p
  >
  <p i18n
    >Bei einer numerischen Skala klickst Du einfach in ein Matrixfeld und trägst eine Zahl ein, die innerhalb der von Dir gewählten
    Bandbreite liegt. Misst Du ein Ziel auf einer verbalen Skala, klicke auf das Fragezeichen im Matrixfeld und wähle die passende
    Ausprägung im erscheinenden Drop-Down-Menü. Bei einer Indikatorskala öffnet sich durch Klicken des Fragezeichens ein Fenster, in das Du
    die Ausprägungen der Indikatoren einzeln eingibst (beachte dabei Deine Bandbreiten). Je nachdem, ob Du Deine Indikatoren numerisch misst
    oder mit verbalen Beschreibungen hinterlegt hast, gibst Du hier entweder direkt Zahlenwerte ein oder wählst die von Dir angegebenen
    verbalen Ausprägungen. Hast Du mit verbalen Beschreibungen gearbeitet, kannst Du über den Button rechts neben dem Indikatornamen auch
    direkt Deine Kategorien mit den ggf. ausformulierten Texten einsehen und durch Anklicken der Textboxen die Ausprägungen setzen. Die
    Gesamtbewertung des Ziels wird anhand der von Dir gewählten Aggregationsart automatisch vorgenommen. Mithilfe des Buttons
    <mat-icon>pivot_table_chart</mat-icon> oberhalb Deiner Indikatorbezeichnungen kannst Du die Spalten und Zeilen Deiner Tabelle als
    alternative Ansichtsoption vertauschen. Deine Eingaben übernimmst Du hier mit dem „Übernehmen“-Button.</p
  >
  <p i18n>Du findest rechts oben in jedem Matrixfeld Kommentardreiecke, mit denen Du jede Wirkungsprognose einzeln kommentieren kannst.</p>
</dt-extendable-header>
<dt-extendable-header
  i18n-headerName
  variation="large"
  headerName="Definition von Einflussfaktoren"
  [initialOpening]="helpContext === 'uncertaintyfactors'"
>
  <p i18n
    >Möchtest Du eine Alternative in einem Ziel in Abhängigkeit von bestimmten Zuständen bewerten bzw. Unsicherheiten berücksichtigen,
    solltest Du einen Einflussfaktor definieren. Klicke dazu unterhalb der Matrix auf den Button „Einflussfaktoren“. Es öffnet sich eine
    Übersichtsseite, auf der Du mithilfe des Buttons „Einflussfaktor hinzufügen“ einen solchen erstellen kannst.</p
  >
  <dt-extendable-header i18n-headerName variation="small" headerName="Erstellung eines Einflussfaktors">
    <p i18n
      >In dem sich öffnenden Fenster „Einflussfaktoren hinzufügen“ musst Du für Deinen Einflussfaktor zunächst in der grauen Zeile oben
      einen Namen eintragen. Anschließend kannst Du die angezeigten Zustände benennen und mit Wahrscheinlichkeiten versehen. Klicke dazu in
      die weißen Balken rechts neben der Zustandsbezeichnung bzw. ziehe diese an die gewünschte Stelle oder gebe rechts direkt die
      Wahrscheinlichkeiten als Zahl ein (Zwischen 0 und 100).</p
    >
    <p i18n
      >Beachte, dass die Summe der Wahrscheinlichkeiten aller Zustände 100&nbsp;% ergeben muss. Nutze den „Normieren“ Button unterhalb der
      Balken, damit eine Normierung Deiner Wahrscheinlichkeiten vorgenommen wird. Wenn Du diesen Button nicht nutzt, werden Deine
      Wahrscheinlichkeiten beim Verlassen des Fensters automatisch normiert. Mithilfe des entsprechenden Buttons links unterhalb Deiner
      Zustände kannst Du weitere Zustände hinzufügen. Mit dem Button rechts daneben kannst Du durch die Eingabe eines Erwartungswerts und
      der Streuung Deine Wahrscheinlichkeitsverteilung automatisch generieren lassen. Unter den Prozentzahlen kannst Du ein
      Präzisionsintervall einstellen, wenn Du keine genauen Wahrscheinlichkeiten angeben möchtest. In diesem Falle erzeugst Du in jedem
      Zustand ein Intervall, in welchem Deine eingestellten Wahrscheinlichkeiten um den eingestellten Prozentsatz nach oben und unten
      abweichen <span class="hover-text" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover4">(Beispiel)</span>. Rechts neben den
      Eingabefeldern der Wahrscheinlichkeiten kannst Du jeden Zustand auf der Eingabezeile beschreiben. Nutze das Mülleimer-Symbol
      <mat-icon>delete</mat-icon> rechts von einem Zustand, um einen solchen wieder zu löschen. Greife das Symbol
      <mat-icon>drag_handle</mat-icon> links, um Deine Ausprägungen vertikal zu verschieben und umzusortieren. Eine Beschreibungsmöglichkeit
      für den gesamten Einflussfaktor findest Du in dem ausklappbaren Erläuterungsfeld unterhalb der Zustände oder im Texteditor, denn Du
      durch Klicken des Kommentardreiecks rechts oben im Erläuterungsfeld öffnen kannst. Mit Klick auf den Button „Verknüpfungen“ unten
      links im Fenster wechselst Du zurück zum Wirkungsmodell, in welchem direkt nach dem entsprechenden Einflussfaktor gefiltert wurde (s.
      Ansichts- und Filteroptionen). Klicke auf „Übernehmen“, um Deine Einstellungen zu speichern und die Erstellung des Einflussfaktors
      abzuschließen.</p
    >
    <p i18n
      >Alle Einflussfaktoren werden auf einer Übersichtsseite in kleinen Fenstern dargestellt. Hier stehen Dir ein paar wenige Funktionen
      zum Bearbeiten des Einflussfaktors zur Verfügung. Durch Klicken auf den Namen oder das Stift-Symbol <mat-icon>edit</mat-icon> gelangst
      Du wieder in das Fenster, um einen Einflussfaktor zu bearbeiten. Über die Mülleimer-Symbole <mat-icon>delete</mat-icon> oben rechts
      kannst Du Einflussfaktoren löschen.</p
    >
    <p i18n>Du kannst Einflussfaktoren auch direkt über die Eingabe einer Wirkungsprognose erzeugen. Siehe dazu den folgenden Abschnitt.</p>
    <b i18n
      >Hinweis: Damit weitergearbeitet werden kann, muss die Summe der Wahrscheinlichkeiten bei allen Einflussfaktoren beim Verlassen der
      Seite auf jeweils 100&nbsp;% normiert sein. Wenn dies nicht überall der Fall sein sollte, wird eine automatische Normierung beim
      Verlassen der Seite vorgenommen!</b
    >
    <br /><br />
    <ng-template #noteHover4>
      <dt-note-hover>
        <p i18n
          >Wenn Du zwei Zustände mit einer Wahrscheinlichkeit von jeweils 50 % eingestellt hast und ein Präzisionsintervall von 10&nbsp;%
          angibst, rechnet das Entscheidungsnavi nicht genau mit 50&nbsp;%, sondern mit einem Intervall, in dem die Werte zwischen 45 und
          55&nbsp;% liegen können.</p
        >
      </dt-note-hover>
    </ng-template>
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Verknüpfung eines Einflussfaktors mit einer Wirkungsprognose">
    <p i18n
      >Um einen Einflussfaktor mit einer Wirkungsprognose zu verknüpfen, klicke auf den Button <mat-icon>edit</mat-icon> (zu sehen, wenn man
      mit der Maus über ein Matrixfeld fährt). Im Fenster, das sich öffnet, kannst Du oben auswählen, welchen Einflussfaktor Du mit der
      Wirkungsprognose verknüpfen möchtest.</p
    >
    <p i18n
      >Unterhalb Deiner Indikatorbezeichnungen erscheinen dann „EF“-Schieberegler, die standardmäßig deaktiviert sind. Zudem erscheinen die
      definierten Zustände und ihre Wahrscheinlichkeiten in der obersten Zeile der Tabelle. Wenn Du den „EF“-Schieberegler bei einem der
      Indikatoren anklickst, aktivierst Du den Einflussfaktor für diesen Indikator und kannst Bewertungen in Abhängigkeit von den
      verschiedenen Zuständen angeben. Wenn Du den „EF“-Regler deaktiviert lässt, ist die Bewertung unabhängig von den Zuständen des
      Einflussfaktors. Somit ist es möglich, Einflussfaktoren nur auf einzelne Indikatoren wirken zu lassen. Speichere Deine Änderungen mit
      „Übernehmen“.</p
    >
    <p i18n
      >Im Eingabefenster einer Wirkungsprognose hast Du zudem die Möglichkeit, Einflussfaktoren zu bearbeiten. Klicke hierzu auf das
      Stift-Symbol <mat-icon>edit</mat-icon> rechts neben der Bezeichnung Deines Einflussfaktors. Mit dem Plus-Button rechts daneben kannst
      Du direkt einen neuen Einflussfaktor definieren.</p
    >
  </dt-extendable-header>
  <dt-extendable-header i18n-headerName variation="small" headerName="Erstellen von Szenario-Einflussfaktoren">
    <p i18n
      >Du kannst jeweils zwei Einflussfaktoren zu einem Szenario-Einflussfaktor kombinieren. Der Szenario-Einflussfaktor wird hierbei immer
      als eine Matrix angezeigt, die sich aus den beiden ausgewählten Einflussfaktoren zusammensetzt. Klicke auf der Übersichtsseite der
      Einflussfaktoren auf „Szenario hinzufügen“ und wähle zwei Einflussfaktoren aus. Hierbei kannst Du angeben, welcher Einflussfaktor in
      den Spalten und welcher in den Zeilen der Matrix abgebildet wird. Bestätige Deine Auswahl mit dem „Erstellen“-Button, um die
      Erstellung abzuschließen. Der Szenario-Einflussfaktor erscheint nun in der Übersicht.</p
    >
    <p i18n
      >Die gemeinsamen Wahrscheinlichkeiten für zwei Zustände in der Matrix hängen von den angegebenen „Cross Impacts“, d.&nbsp;h. von den
      angegebenen Korrelationen zwischen den Zuständen ab. Standardmäßig wird ein unkorrelierter Zusammenhang angenommen. Die gemeinsamen
      Wahrscheinlichkeiten ergeben sich in diesem Fall aus dem Produkt der Einzelwahrscheinlichkeiten. Eine Veränderung der
      Korrelationsannahmen über die Auswahlfelder in jedem Matrixfeld führt jedoch zu einer automatischen Neuberechnung alle gemeinsamen
      Wahrscheinlichkeiten. Informationen, wie hier gerechnet wird, findest Du in den weiteren Hinweisen.</p
    >
  </dt-extendable-header>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Systemseitige Einflussfaktoren, Risikoprofil und Tornadodiagramm" variation="large">
  <p i18n
    >Bei der Verknüpfung einer Wirkungsprognose mit einem Einflussfaktor über den Button <mat-icon>edit</mat-icon> hast Du die Möglichkeit,
    systemseitige Einflussfaktoren auszuwählen, z.&nbsp;B. die Worst-Best-Verteilung. In diesem Falle musst Du je nach Skala für jede Ziel-
    bzw. Indikatorausprägung eine Worst (10 %-Perzentil), Median (50 %-Perzentil) und Best-Ausprägung (90 %-Perzentil) angeben (am Beispiel
    der dreistufigen Worst-Best Verteilung). Beachte, dass Deine Ziel- und Indikatorausprägungen von Worst bis Best in aufsteigender
    Reihenfolge vom schlechtesten bis zum besten Ergebnis angegeben werden müssen. Nähere Informationen hierzu entnimmst Du den weiteren
    Hinweisen.</p
  >
  <p i18n
    >Weiterhin kannst Du Dir im Fenster „Eingabe einer Wirkungsprognose“ oder über den Button <mat-icon>equalizer</mat-icon> ein
    Risikoprofil der entsprechenden Alternative in dem Ziel anschauen. Über den Button rechts über dem Diagramm kannst Du noch weitere
    Risikoprofile von anderen Alternativen hinzufügen, um so mehrere Risikoprofile miteinander zu vergleichen. Bei numerischen und
    Indikatorskalen kannst Du zusätzlich die Bandbreite des gezeigten Achsenabschnitts ändern. Standardmäßig ist als Bandbreite für die
    x-Achse die gesamte Skala dargestellt. Über die Einstellungsmöglichkeit „Angepasst“ ändert sich die Bandbreite der x-Achse und
    orientiert sich an den tatsächlich vergebenen Zielausprägungen.</p
  >
  <p i18n
    >Einen Indikatoreinfluss kannst Du hier nur dann aufrufen, wenn Du eine Indikatorskala zugrunde gelegt und mit einem Einflussfaktor
    verknüpft hast. Handelt es sich um einen systemseitigen Einflussfaktor, kannst Du noch zwischen zwei Varianten des Indikatoreinfluss
    wählen. In der einfachen Variante werden in der Berechnung des Ergebnisses die Median-Werte der nicht variierten Indikatoren
    herangezogen. In der probabilistischen Variante werden in der Berechnung jeweils die Erwartungswerte aller möglicher
    Indikator-Kombinationen gebildet. Nähere Informationen hierzu kannst Du den Weiteren Hinweisen entnehmen. Für die Bandbreite der
    Ergebnisskala stehen Dir drei verschiedene Ansichtsoptionen zur Verfügung:</p
  >
  <ul>
    <li i18n>Gesamtskala: Hier wird die gesamte Bandbreite der Skala zugrunde gelegt.</li>
    <li i18n
      >Wort-Best-Szenarien: Hier ergeben sich die Grenzen der Skalen aus einer Kombination der angegebenen besten bzw. schlechtesten
      Ergebnisse der Indikatoren <span class="hover-text" [dtHoverPopoverDelay]="200" [dtHoverPopover]="noteHover5">(Beispiel)</span>.</li
    >
    <li i18n>Angepasst: Die Bandbreite passt sich auf die tatsächliche Breite des Tornadodiagramms an.</li>
  </ul>
  <ng-template #noteHover5>
    <dt-note-hover>
      <p i18n
        >Angenommen, Du hast zwei Indikatoren auf einer Schulnotenskala von eins bis fünf definiert. Der erste Indikator hat ein Gewicht von
        zwei und der schlechteste vergebene Wert ist eine Fünf. Der zweite Indikator hat ein Gewicht von eins und der schlechteste vergebene
        Wert ist eine Drei. Die untere Grenze der Worst-Best-Bandbreite ergibt sich aus: (5 × 2 + 3 × 1) ÷ 3 = 4,33. Dieselbe Rechnung
        ergibt sich für die obere Grenze mit den besten Werten.</p
      >
    </dt-note-hover>
  </ng-template>
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Schnittstelle für einen Excel Ex- und Import" variation="large">
  <p i18n
    >Wenn Du zur Erstellung von Wirkungsprognosen komplexe Formeln oder Berechnungen verwenden möchtest, die im ENTSCHEIDUNGSNAVI nicht
    abbildbar sind, kannst Du die Schnittstelle zum Excel-Export verwenden. Über diese ist es möglich, das Wirkungsmodell als Excel-Datei zu
    exportieren und diese Datei später wieder ins ENTSCHEIDUNGSNAVI zu importieren. Einen Button dafür findest Du oben links im
    Wirkungsmodell. Komplexe Berechnungen können in einem separaten Excel-Sheet vorgenommen und mit Zellen aus der exportierten Matrix
    verknüpft werden. Wenn die Excel-Datei wieder importiert wird, werden die neu berechneten Wirkungsprognosen automatisch übernommen.
    Damit der Import der Excel-Datei ins ENTSCHEIDUNGSNAVI gelingt, müssen einige Umgangsregeln mit der Datei beachtet werden. Du findest
    diese per Klick auf den Excel-Export-Button und im Excel-Sheet selbst.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Globale Variablen" variation="large">
  <p i18n
    >Globale Variablen kannst Du über den entsprechenden Button unterhalb des Wirkungsmodells anlegen. Wenn Du den Button betätigst, öffnet
    sich ein Fenster, in welchem Deine definierten globalen Variablen aufgelistet sind. Über „+ Variable hinzufügen“ kannst Du neue globale
    Variablen definieren, indem Du einen Namen und einen festen Wert angibst.</p
  >
  <p i18n
    >Über den Button <mat-icon>delete</mat-icon> kannst Du angelegte Variablen wieder löschen. Mit dem „Übernehmen“-Button speicherst Du
    Deine Änderungen und über „Verwerfen“ schließt Du das Fenster, ohne Deine Änderungen zu übernehmen.</p
  >
</dt-extendable-header>
<dt-extendable-header i18n-headerName headerName="Bestimmung der Entscheidungsqualität" [isLast]="true" variation="large">
  <p i18n
    >Wenn Du Dein Wirkungsmodell vollständig aufgestellt hast, solltest Du eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner
    erzielten Ergebnisse ist. Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein
    Balken mit einer Skala von null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir
    eingeschätzte Qualität der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum
    Schluss in der Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten
    eingeschätzt hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste
    dieser Seite öffnet.</p
  >
</dt-extendable-header>
