<dt-modal-content size="giant" (closeClick)="tryClose()" [flexContent]="true">
  <ng-template i18n #title>Definition einer qualitativen Skala</ng-template>
  <ng-template i18n #subtitle
    >Ziel <strong>„{{ verbalIndicatorDefinitionModalData.objective.name }}“</strong>, Indikator
    <strong>„{{ verbalIndicatorDefinitionModalData.indicator.name }}“</strong></ng-template
  >
  <ng-template #content>
    <dt-verbal-indicator-diagram
      [indicatorIdx]="verbalIndicatorDefinitionModalData.indicatorIdx"
      [indicator]="verbalIndicatorDefinitionModalData.indicator"
      [objectiveTree]="verbalIndicatorDefinitionModalData.objectiveTree"
      [outcomeValuesInColumn]="verbalIndicatorDefinitionModalData.outcomeValues"
      [showEmptyField]="showEmptyField"
    ></dt-verbal-indicator-diagram>
  </ng-template>

  <ng-template #footer>
    <button mat-raised-button color="warn" (click)="deleteAndApply()" i18n-matTooltip
      ><mat-icon>delete</mat-icon><ng-container i18n>Qualitative Skala löschen</ng-container></button
    >
    <button
      mat-raised-button
      color="accent"
      [disabled]="!isValid"
      (mouseenter)="showEmptyField = true"
      (mouseleave)="showEmptyField = false"
      matTooltip="Bitte fülle alle Felder aus oder lösche sie"
      [matTooltipDisabled]="isValid"
      (click)="apply()"
      i18n-matTooltip
      ><mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container></button
    >
    <button mat-raised-button color="accent-less" (click)="dialogRef.close()" i18n>Verwerfen</button>
  </ng-template>
</dt-modal-content>
