@use '@angular/material' as mat;
@use 'variables' as dt;

mat-tab-group {
  height: 100%;

  ::ng-deep {
    .mat-mdc-tab-body-wrapper {
      height: 100%;
    }

    mat-tab-header mat-icon {
      margin-right: 10px;
    }
  }

  mat-action-list {
    padding: 0;

    .project-name,
    .last-updated {
      font-size: dt.font-size(body-2);
    }

    .last-updated {
      color: darkgray;
      font-size: dt.font-size(caption);
    }

    .no-projects {
      padding: 0.5rem;
      text-align: center;
      font-style: italic;
    }
  }
}
