@use 'variables' as dt;

form {
  background-color: #ebebeb;

  display: flex;

  mat-form-field,
  dt-tag-input {
    flex: 1;
  }

  mat-form-field {
    input {
      height: 36px;
    }
  }

  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: unset;
  }
}

dt-flex-table {
  --dt-flex-table-default-background-color: white;

  .project-info {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .text {
    color: grey;
    font-size: dt.font-size(caption);
    overflow-x: unset;

    &.edit {
      font-style: italic;
      margin: 0 1rem;
    }
  }

  .date {
    padding-right: 5px;
  }

  dt-tag-list {
    height: 100%;
    width: 100%;
    background-color: inherit;
  }
}
