<dt-modal-content
  (closeClick)="closeModal(false)"
  [showX]="true"
  [flexContent]="true"
  [contentPadding]="false"
  [size]="quickstart ? 'big' : 'normal'"
>
  <ng-template #title>
    @if (quickstart) {
      <ng-container i18n>Beispiele und Templates laden</ng-container>
    } @else {
      <ng-container i18n>Meine Projekte</ng-container>
    }
  </ng-template>
  <ng-template #content>
    @if (projects?.length > 0) {
      <form (submit)="submitSearch($event)">
        <mat-form-field subscriptSizing="dynamic" class="name-field">
          <mat-label i18n>Nach Name filtern</mat-label>
          <input
            matInput
            dtAutoFocus
            type="text"
            [(ngModel)]="filterText"
            [ngModelOptions]="{ standalone: true }"
            (input)="updateProjectsAndTags()"
          />
        </mat-form-field>

        @if (quickstart) {
          <dt-tag-input [allTags]="tags" [(selectedTagIds)]="filterTagIds" (selectedTagIdsChange)="updateProjectsAndTags()" i18n
            >Nach Tags filtern</dt-tag-input
          >
        }
      </form>

      <dt-flex-table
        [data]="filteredProjects"
        (clickRow)="loadProject(filteredProjects[$event])"
        [defaultSortColumn]="quickstart ? 'name' : 'date'"
        [defaultSortDirection]="quickstart ? 'asc' : 'desc'"
        (sort)="changeSorting($event)"
        [rowHeight]="quickstart ? 40 : 50"
        data-cy="project-list"
      >
        <!-- Common columns -->
        @if (!quickstart) {
          <dt-flex-column id="icon" [sortable]="false">
            <ng-template let-project="$implicit">
              <mat-icon [color]="'primary'">
                @if (isTeamProject(project)) {
                  groups
                }
              </mat-icon>
            </ng-template>
          </dt-flex-column>
        }

        <dt-flex-column id="name" [flex]="tagsById ? '0 1 auto' : '1'" i18n-name name="Name">
          <ng-template let-project="$implicit">
            <span class="project-info">
              <span data-cy="project-name">{{ project.name }}</span>
              @if (isTeamProject(project)) {
                <span class="text" data-cy="member-role" i18n>{{ project.userMemberRole | teamMemberRole }}</span>
              }
            </span>

            @if (project.id === openOnlineProjectId) {
              <span class="text edit" i18n>Geöffnet</span>
            }
          </ng-template>
        </dt-flex-column>

        @if (quickstart) {
          <!--Quickstart Projects-->
          @if (tagsById) {
            <dt-flex-column id="tags" name="Tags" i18n-name [sortable]="false" flex="1 0 70px">
              <ng-template let-project="$implicit">
                <dt-tag-list
                  [tagIds]="project.tags"
                  [tagsById]="tagsById"
                  [selectedTagIds]="filterTagIds"
                  (tagClick)="onTagClick($event)"
                  singleRow
                ></dt-tag-list>
              </ng-template>
            </dt-flex-column>
          }

          <dt-flex-column id="copy" [sortable]="false" flex="0 0 auto">
            <ng-template let-project="$implicit">
              <button
                mat-icon-button
                i18n-title
                title="Link in die Zwischenablage kopieren"
                [cdkCopyToClipboard]="getQuickstartProjectLink(project)"
              >
                <mat-icon>file_copy</mat-icon>
              </button>
            </ng-template>
          </dt-flex-column>
        } @else {
          <!--User Projects-->
          <dt-flex-column id="date" i18n-name name="Bearbeitet am">
            <ng-template let-project="$implicit">
              <span class="date">{{ project.updatedAt | date: 'medium' }}</span>
            </ng-template>
          </dt-flex-column>

          <dt-flex-column id="actions" [sortable]="false">
            <ng-template let-project="$implicit" let-index="index">
              <button
                mat-icon-button
                [matMenuTriggerFor]="actionMenu"
                i18n-matTooltip
                matTooltip="Weitere Aktionen"
                [matTooltipShowDelay]="500"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #actionMenu>
                <button mat-menu-item (click)="loadProject(project, true)">
                  <mat-icon>file_copy</mat-icon>
                  <span i18n>Als Kopie öffnen</span>
                </button>

                @if (isTeamProject(project)) {
                  <button mat-menu-item (click)="leaveTeam(project)">
                    <mat-icon>logout</mat-icon>
                    <span i18n>Team verlassen</span>
                  </button>
                } @else {
                  <button mat-menu-item (click)="renameProject(project)">
                    <mat-icon>drive_file_rename_outline</mat-icon>
                    <span i18n>Umbenennen</span>
                  </button>
                  <button mat-menu-item (click)="createProjectLink(project)">
                    <mat-icon>share</mat-icon>
                    <span i18n>Teilen</span>
                  </button>
                  <button mat-menu-item (click)="createTeam(project)">
                    <mat-icon>groups</mat-icon>
                    <span i18n>Teamprojekt aus Vorlage erstellen</span>
                  </button>
                  <button mat-menu-item (click)="deleteProject(project)">
                    <mat-icon>delete</mat-icon>
                    <span i18n>Löschen</span>
                  </button>
                }
              </mat-menu>
            </ng-template>
          </dt-flex-column>
        }
      </dt-flex-table>
    } @else {
      <!-- No projects available -->
      @if (quickstart) {
        <p i18n>Es sind aktuell keine Themenprojekte verfügbar!</p>
      } @else {
        <p i18n>Du hast noch kein Projekt online gespeichert!</p>
      }
    }
  </ng-template>
</dt-modal-content>
