@use 'variables' as dt;
// --------- Modal ----------
.text-center {
  text-align: center;
}

.half-cell {
  width: 50%;
}

.expandable-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wirkungsprog-table {
  width: 100%;
  border-collapse: separate;

  td {
    vertical-align: middle;
    padding: 7px 10px;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid lightgray;
  }

  &.indicator td {
    vertical-align: middle;
  }

  dt-numerical-or-verbal-value {
    display: inline-block;
  }
}

::ng-deep .dt-forecast-of-outcomes-modal-if {
  .mat-mdc-optgroup-label {
    font-size: dt.font-size(caption) !important;
    font-weight: 500;
    line-height: 3em;
    text-transform: uppercase;
    background-color: #ddd;
  }

  .mat-active {
    background-color: #f5f5f5 !important;
  }
}

.help-icon {
  margin-left: 5px;
  font-size: 22px;
  cursor: pointer;
  vertical-align: middle;
}

.explanation-text {
  background-color: white;
  padding: 8px;
  margin: 0 8px;
  max-width: 400px;
}

.single-value-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

mat-tab-group {
  overflow: auto;

  .inner-label {
    pointer-events: initial;
  }

  ::ng-deep {
    .mat-mdc-tab-label-container {
      // For disabled tab labels which get a decreased opacity.
      background-color: dt.$blue-lighten-2;
    }

    .mat-mdc-tab-body-content {
      display: flex;
      flex-direction: column;
    }

    .forecast-outcome-tab-label {
      background-color: dt.$blue-lighten-2;
      font-size: dt.font-size(body-2);
      font-weight: 700;

      span {
        color: #fff !important;

        label {
          cursor: pointer;
        }
      }
    }
  }
}

.influencefactor-selection {
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 2;
}
