<dt-modal-content [showFooter]="true" (closeClick)="tryClose()" [contentPadding]="false" [flexContent]="true" size="giant">
  <ng-template i18n #title>Eingabe einer Wirkungsprognose</ng-template>
  <ng-template i18n #subtitle
    >Ziel <strong>„{{ objective.name }}“</strong>, Alternative <strong>„{{ alternative.name }}“</strong></ng-template
  >
  <ng-template #content>
    <mat-tab-group mat-stretch-tabs color="accent" mat-align-tabs="center" [(selectedIndex)]="selectedTabIndex">
      <mat-tab labelClass="forecast-outcome-tab-label">
        <ng-template mat-tab-label i18n>Dateneingabe</ng-template>
        <!-- Show Alternative/Objective/Uncertaintyfactor -->
        <mat-form-field class="influencefactor-selection" subscriptSizing="dynamic">
          <mat-label i18n>Einflussfaktor</mat-label>
          <mat-select
            panelClass="dt-forecast-of-outcomes-modal-if"
            [ngModel]="copy.influenceFactor"
            (ngModelChange)="changeUncertaintyFactor($event)"
          >
            <mat-option i18n>--- Kein Einflussfaktor ---</mat-option>
            <mat-optgroup>
              <span i18n>Systemseitige Einflussfaktoren zur Unsicherheitsmodellierung</span>
              <mat-icon color="accent" class="help-icon" [dtHoverPopover]="systemSidedIFDescription" [dtHoverPopoverPosition]="'bottom'">
                help
              </mat-icon>
              @for (predefinedInfluenceFactor of predefinedInfluenceFactors; track predefinedInfluenceFactor) {
                <mat-option [value]="predefinedInfluenceFactor">{{ predefinedInfluenceFactor | influenceFactorName }}</mat-option>
              }
            </mat-optgroup>
            @if (decisionData.influenceFactors.length > 0) {
              <mat-optgroup>
                <span i18n>Benutzerdefinierte Einflussfaktoren</span>
                <mat-icon color="accent" class="help-icon" [dtHoverPopover]="customIFDescription" [dtHoverPopoverPosition]="'bottom'">
                  help
                </mat-icon>
                @for (uf of decisionData.influenceFactors; track uf; let i = $index) {
                  <mat-option [value]="uf">{{ uf | influenceFactorName }}</mat-option>
                }
              </mat-optgroup>
            }
          </mat-select>
          @if (isIFUserDefined(copy.influenceFactor)) {
            <button (click)="$event.stopImmediatePropagation(); editInfluenceFactor()" mat-icon-button matSuffix>
              <mat-icon>edit</mat-icon>
            </button>
          }
          <button (click)="$event.stopImmediatePropagation(); addInfluenceFactor()" mat-icon-button matSuffix
            ><mat-icon>add</mat-icon></button
          >
        </mat-form-field>

        <ng-template #systemSidedIFDescription>
          <div class="explanation-text mat-elevation-z4" i18n
            >Systemseitige Einflussfaktoren beschreiben den Worst-Case (p.10 Perzentil), den Median (p.50 Perzentil) und den Best-Case (p.90
            Perzentil). Alle Worst-Best-Verteilungen werden vom System ausnahmslos als unabhängig voneinander betrachtet. Dies gilt auch für
            alle Indikatoren innerhalb einer konstruierten Skala.</div
          >
        </ng-template>

        <ng-template #customIFDescription>
          <div class="explanation-text mat-elevation-z4" i18n
            >Benutzerdefinierte Einflussfaktoren beschreiben konkrete mögliche Zustände und erfordern die Angabe von Wahrscheinlichkeiten
            für jeden Zustand.</div
          >
        </ng-template>

        @switch (viewType) {
          <!-- Indicator View -->
          @case ('indicatorView') {
            <dt-indicator-values-matrix
              [alternative]="alternative"
              [outcomeValues]="copy.values"
              [influenceFactor]="copy.influenceFactor"
              [objective]="objective"
            ></dt-indicator-values-matrix>
          }
          <!-- Numerical/Verbal WITHOUT Influence Factor View -->
          @case ('noIndicatorWithIF') {
            <table class="wirkungsprog-table">
              @for (state of influenceFactorStates; track state; let stateIdx = $index) {
                <tr>
                  <td class="text-center half-cell">
                    <div>
                      {{ copy.influenceFactor | stateName: stateIdx }}
                      @if (!isInfluenceFactorPredefined(copy.influenceFactor)) {
                        <span> ({{ influenceFactorStates[stateIdx].probability / 100 | percent: '1.0-2' }}) </span>
                      }
                    </div>
                  </td>
                  <td class="text-center half-cell">
                    <dt-numerical-or-verbal-value
                      [objective]="objective"
                      [(outcomeValue)]="copy.values[stateIdx][0][0]"
                    ></dt-numerical-or-verbal-value>
                  </td>
                </tr>
              }
            </table>
          }
          <!-- Numerical/Verbal WITH Influence Factor View -->
          @case ('noIndicatorWithoutIF') {
            <div class="single-value-container">
              <dt-numerical-or-verbal-value [objective]="objective" [(outcomeValue)]="copy.values[0][0][0]"></dt-numerical-or-verbal-value>
            </div>
          }
        }

        <dt-note-btn
          [(comment)]="copy.comment"
          [caption]="{ objective: objective.name, alternative: alternative.name } | noteBtnPreset: 'outcome'"
        ></dt-note-btn>
      </mat-tab>
      <mat-tab [disabled]="!isValid" labelClass="forecast-outcome-tab-label">
        <ng-template mat-tab-label i18n>Risikoprofil</ng-template>
        <ng-template matTabContent>
          <dt-risk-profile #riskProfile [alternative]="alternative" [objective]="objective" [outcome]="copy"></dt-risk-profile>
        </ng-template>
      </mat-tab>
      @if (!decisionData.isStarter()) {
        <mat-tab [disabled]="!isValid || !isTornadoAvailable" labelClass="forecast-outcome-tab-label">
          <ng-template mat-tab-label>
            <label
              [matTooltip]="isCorrectSystemSidedIF() ? noTornadoAvailableMessage : wrongOrderMessage"
              [matTooltipDisabled]="isValid && isTornadoAvailable"
              matTooltipClass="warning-tooltip"
              class="inner-label"
              i18n
              >Indikatoreinfluss</label
            >
          </ng-template>
          <ng-template matTabContent>
            @if (isTornadoAvailable) {
              <dt-outcome-tornado-diagram [objective]="objective" [outcome]="copy"></dt-outcome-tornado-diagram>
            }
          </ng-template>
        </mat-tab>
      }
    </mat-tab-group>
  </ng-template>

  <ng-template #footer>
    <button
      mat-raised-button
      color="accent"
      (click)="apply()"
      [disabled]="!isValid || !hasChanges || readonly"
      [matTooltip]="wrongOrderMessage"
      [matTooltipDisabled]="isCorrectSystemSidedIF()"
      matTooltipClass="custom-tooltip"
      [matTooltipPosition]="'above'"
    >
      <mat-icon>save</mat-icon><ng-container i18n>Übernehmen</ng-container>
    </button>
    <button mat-raised-button color="accent-less" (click)="close()" i18n>Verwerfen</button>
  </ng-template>
</dt-modal-content>
