@use 'variables' as dt;

:host {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  padding-bottom: 24px;
}

main {
  width: 100%;
  max-width: 1300px;

  min-height: 500px;
  margin: 24px;

  background-color: white;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  .description-column,
  .login-column {
    flex: 1 1 400px;
  }

  .description-column {
    background: dt.$blue;
    color: white;
    padding: 72px;

    p {
      text-align: justify;
    }

    img {
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 0 auto 56px auto;
    }

    @media screen and (max-width: 500px) {
      padding: 48px 24px 24px 24px;

      img {
        margin-bottom: 28px;
      }
    }
  }

  .login-column {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 24px;

    .fields-wrapper {
      max-width: 300px;

      button,
      mat-form-field {
        width: 100%;
      }

      mat-error {
        margin-top: 8px;
      }
    }

    .password-reset {
      display: block;
      margin-top: 16px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;

  color: rgba(0, 0, 0, 0.7);

  a {
    padding: 0 8px;
  }
}
