@use 'thin-scrollbar';

.note-hover-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  max-width: 500px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;

  .content-container {
    display: none;
  }

  ::ng-deep {
    * {
      @include thin-scrollbar.thin-scrollbar;
    }

    .ql-editor {
      flex-basis: 0px !important;

      ul {
        padding-left: 0;
      }
    }

    .ql-toolbar {
      display: none;
    }
  }
}
