@use 'variables' as dt;

form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  dt-tag-input {
    flex: 1 0 200px;
    max-width: 500px;
  }
}

button + button {
  margin-left: 8px;
}

dt-quickstart-hierarchy {
  margin-top: 16px;
  flex: 0 1 600px;
  min-height: 200px;
}
