@if (showTitle) {
  <dt-step-title step="alternatives">{{ 'alternatives' | naviStep }}</dt-step-title>
}

<dt-step-description [mainDescriptionOnly]="decisionData.isProfessional()">
  <ng-template #description>
    <ng-container *dtProjectMode="'educational'" i18n>Hier siehst Du das Ergebnis des dritten Schritts.</ng-container>
    <ng-container *dtProjectMode="'professional'" i18n
      >In dieser Übersicht kannst Du Deine Alternativen mittels Drag &amp; Drop sortieren und zusammenfassen, indem Du eine Alternative auf
      eine andere ziehst.</ng-container
    >
  </ng-template>
  <ng-template #subDescription i18n>Du kannst an dieser Stelle weiterhin Änderungen vornehmen.</ng-template>
</dt-step-description>

<dt-alternative-list [showSendButton]="appSettings.showSendButtons"></dt-alternative-list>

<ng-template #helpTemplate>
  <div class="dt-help-padding">
    <p i18n
      >Du hast Schritt 3, die Identifikation der Alternativen, abgeschlossen. An dieser Stelle kannst Du jederzeit noch Änderungen
      vornehmen.</p
    >
    <p i18n
      >Du solltest auf dieser Ergebnisseite nun eine Selbsteinschätzung vornehmen, wie hoch die Qualität Deiner erzielten Ergebnisse ist.
      Klicke auf den Button „Qualität bewerten“ unten in der Mitte. In dem Fenster, das sich öffnet, wird Dir ein Balken mit einer Skala von
      null bis zehn angezeigt. Gib durch Klicken in den Balken oder Verschieben von diesem an, wie hoch die von Dir eingeschätzte Qualität
      der Ergebnisse des Schrittes ist. Weitere Hintergrundinformationen zur Entscheidungsqualität findest Du zum Schluss in der
      Abschlussbetrachtung. Dort wirst Du auch eine Übersicht darüber finden, wie hoch Du die Qualität in den anderen Schritten eingeschätzt
      hast. Eine solche Übersicht findest Du auch in dem Fenster, das sich bei Klick auf den Projektnamen oben in der Kopfleiste dieser
      Seite öffnet.</p
    >
  </div>
</ng-template>
