<div class="projects">
  @for (project of projects; track project; let projectIndex = $index; let lastProject = $last) {
    <div class="author">{{ members[projectIndex].user.name ?? members[projectIndex].user.email }}</div>
    <div class="progress">
      @for (icon of stepIcons; track icon; let stepIndex = $index) {
        <div
          class="step-circle"
          [class.in-progress]="stepIndex === progress[projectIndex]"
          [class.invalid]="stepIndex > progress[projectIndex]"
        >
          <mat-icon>{{ icon }}</mat-icon>
        </div>
      }
    </div>
    @if (!lastProject) {
      <mat-divider></mat-divider>
    }
  }
</div>
