@use '@angular/material' as mat;
@use 'variables' as dt;

.header-texts p:last-child {
  margin-bottom: 0;
}

.header-buttons-wrapper {
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .header-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 8px;

    padding: 4px 16px;
  }
}

.limit-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.info-box {
  @include dt.info-box;
  margin-bottom: 12px;
}

.questionnaire-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;

  margin: 16px 0 16px 16px;

  h2 {
    margin-bottom: 0;
  }
}

.empty-page-error {
  margin-bottom: 12px;
}

.questionnaire-entry {
  @include mat.elevation(4);
  border-radius: 5px;
  overflow: hidden;
  margin: 16px 0;

  position: relative;

  .drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 80px;
    height: 24px;
    margin: 0 auto;

    opacity: 0;
    transition: opacity 0.5s;

    cursor: move;
    text-align: center;

    mat-icon {
      transform: rotate(90deg);
    }
  }

  &:hover,
  &:focus-within {
    .drag-handle {
      opacity: 1;
    }
  }
}

.button-row {
  margin-top: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  button {
    position: relative;
  }
}

.cdk-drag-preview {
  @extend .questionnaire-entry;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #fafafa;

  .drag-handle {
    opacity: 1;
  }
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
