<dt-drag-drop-list [listElements]="decisionData.objectives" (move)="move($event[0], $event[1])" [readonly]="readonly">
  <ng-template let-objective="$implicit" let-index="index">
    <dt-objective-box
      [objective]="objective"
      [(expanded)]="objectiveExpanded[index]"
      [readonly]="readonly"
      (deleteClick)="delete(index)"
      (expandedChange)="updateExpansionStatus()"
    ></dt-objective-box>
  </ng-template>
</dt-drag-drop-list>

<div class="button-container">
  <button mat-raised-button color="accent" (click)="add()" [disabled]="readonly" data-cy="add-objective" i18n
    >Weiteres Ziel hinzufügen</button
  >
</div>
