@use 'sass:map';
@use '@angular/material' as mat;
@use '../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-navigation {
    .header {
      // Read the 500 hue from the primary color palette.
      background-color: mat.m2-get-color-from-palette($primary-palette, 500);
      color: mat.m2-get-contrast-color-from-palette($primary-palette, 500);
    }

    .help {
      background-color: klug-colors.$klug-help;
      color: mat.m2-get-contrast-color-from-palette($primary-palette, 300);
    }

    .navigation button {
      border: 1px solid mat.m2-get-contrast-color-from-palette($primary-palette, 300);
    }

    .corner {
      background-color: mat.m2-get-color-from-palette($primary-palette, 500);
    }

    .save-indicator {
      color: lightgray;

      mat-icon.error {
        color: red;

        & + span {
          color: red;
        }
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-navigation {
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
