<div class="header" [class.help-open]="isHelpOpen | async">
  <div class="left">
    <img class="logo" src="assets/klug-logo.jpg" />
  </div>
  @if (hasAccessToken() | async) {
    <div class="center">
      <div class="navigation">
        @for (step of steps; track step) {
          <div [routerLink]="step.link" [routerLinkActive]="''" #stepLinkActive="routerLinkActive"></div>
          @if (stepLinkActive.isActive) {
            <button mat-stroked-button color="primary" [disabled]="!canAccess(step.link)">
              @if (step.icon || step.svgIcon) {
                <mat-icon [svgIcon]="step.svgIcon">{{ step.icon }}</mat-icon>
              }
              <span>{{ step.name }}</span></button
            >
          } @else {
            <button mat-button [routerLink]="step.link" [disabled]="!canAccess(step.link)">
              @if (step.icon || step.svgIcon) {
                <mat-icon [svgIcon]="step.svgIcon">{{ step.icon }}</mat-icon>
              }
              <span>{{ step.name }}</span></button
            >
          }
        }
      </div>
    </div>
    <div class="right">
      @if (!projectService.isReadonlyProject) {
        <div class="save-indicator" [matTooltip]="saveIndicatorTooltip$ | async">
          @switch (autoSaveService.saveState$ | async) {
            @case ('saving') {
              <mat-icon class="rotate">sync</mat-icon>
            }
            @case ('errored') {
              <div class="save-error-container">
                <mat-icon class="error">cloud_off </mat-icon>
                <span>Speichern fehlgeschlagen!</span>
              </div>
            }
            @default {
              <mat-icon>cloud_upload </mat-icon>
            }
          }
        </div>
      }
      <div class="help" (click)="toggleHelp()">
        <div class="corner"></div>
        <span>Hilfestellungen</span><mat-icon class="expand-icon">expand_more</mat-icon></div
      >
    </div>
  }
</div>
