@use '@angular/material' as mat;
@use 'variables' as dt;

$stepper-icon-size: 28px;
$stepper-top-bottom-spacing: 16px;

:host {
  margin: 0 auto;
  width: 700px;
}

.save-warning {
  @include dt.info-box();

  margin-bottom: 16px;
}

.steps-wrapper {
  @include mat.elevation(4);

  background-color: white;
  border-radius: 5px;

  padding: 16px 0;
}

.step {
  display: flex;
  flex-direction: row;
  padding: 0 24px;

  text-align: left;
  width: 100%;

  .step-content {
    flex: 1;
    margin: $stepper-top-bottom-spacing 0;
  }

  &:last-child .bottom-icon-line {
    visibility: hidden;
  }

  &:first-child .top-icon-line {
    visibility: hidden;
  }

  &:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    opacity: 0.6;
  }
}

.stepper {
  display: flex;
  flex-direction: column;

  align-self: stretch;

  .icon {
    border-radius: 50%;

    position: relative;
    height: $stepper-icon-size;
    width: $stepper-icon-size;

    background-color: dt.$blue;
    color: white;
  }

  mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc($stepper-icon-size - 8px);
    height: calc($stepper-icon-size - 8px);
    font-size: calc($stepper-icon-size - 8px);
  }

  .icon-line {
    align-self: center;
    width: 1px;
    background-color: #0000001f;
  }

  .top-icon-line {
    height: $stepper-top-bottom-spacing;
  }

  .bottom-icon-line {
    flex: 1;
  }
}

.main-step-content {
  display: flex;
  flex-direction: row;

  margin-left: 8px;

  .description {
    flex: 1;
    color: rgba(0, 0, 0, 0.54);

    h4 {
      margin-bottom: 8px;
      line-height: $stepper-icon-size;
    }
  }

  .progress-icon {
    margin-left: 8px;

    align-self: center;
    font-size: 32px;
    height: 32px;
    width: 32px;
  }
}

.step-button {
  margin-top: 8px;
}

@media screen and (max-width: 799px) {
  :host {
    width: unset;
    margin: 0 -#{dt.$starter-padding};
  }

  .steps-wrapper {
    border-radius: 0;
  }

  .save-warning {
    margin-left: 24px;
    margin-right: 24px;
  }
}
