<dt-starter-heading [heading]="heading"></dt-starter-heading>

@if ((autoSaveService.saveState$ | async) === 'off') {
  <div class="save-warning">
    <mat-icon>warning</mat-icon>
    <div i18n>Dein Projekt ist nicht gespeichert. Speichere es über das Disketten-Symbol oben oder exportiere es als Datei.</div>
  </div>
}

<div class="steps-wrapper">
  @for (step of orderedSteps; track step; let stepIndex = $index) {
    <button
      class="step"
      matRipple
      [matRippleDisabled]="stepIndex > currentStepIndex"
      [attr.data-cy]="'starter-step-' + step.id"
      [disabled]="stepIndex > currentStepIndex"
      [routerLink]="stepIndex <= currentStepIndex ? step.link : null"
    >
      <div class="stepper">
        <div class="icon-line top-icon-line"></div>
        <div class="icon">
          <mat-icon>{{ step.icon }}</mat-icon>
        </div>
        <div class="icon-line bottom-icon-line"></div>
      </div>
      <div class="step-content">
        <div class="main-step-content">
          <div class="description">
            <h4>{{ step.title }}</h4>
            <div>„{{ step.question }}“</div>
          </div>
          @if (stepIndex < currentStepIndex) {
            <mat-icon class="progress-icon">done</mat-icon>
          }
        </div>
        @if (currentStepIndex === stepIndex) {
          <button mat-raised-button class="step-button" color="accent">
            <mat-icon>play_arrow</mat-icon>
            {{ step.editButtonText }}
          </button>
        }
      </div>
    </button>
  }
</div>
