@use 'sass:color';
@use '@angular/material' as mat;
@use 'variables' as dt;

$toolbar-height: 36px;

.menu {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px 4px;
}

.two-header-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .top-header {
    display: flex;
  }

  mat-toolbar {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    padding: 0;

    min-height: $toolbar-height;
    height: $toolbar-height;

    button {
      display: block;
    }
  }

  .flex-container {
    display: flex;
    width: 100%;
    overflow: hidden;

    .spacer {
      min-width: 50px;
    }
  }
}

.container {
  display: flex;
  flex-wrap: nowrap;

  background-color: dt.$blue;

  @include mat.icon-button-density(-3);

  button.change-mode-button {
    padding: 0;

    .content {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: center;

      padding-left: 4px;

      font-weight: bold;
      font-size: dt.font-size(caption);
      line-height: 1;

      .project-mode {
        margin-top: 1px;
        margin-bottom: 3px;

        background-color: white;
        color: dt.$blue;

        border-radius: 2px;
        padding: 1px 3px;

        text-align: right;
        font-size: 11px;
      }
    }
  }

  .login-spinner-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 36px;
  }

  .update-button {
    margin: 0 4px;

    &.invisible {
      display: none;
    }
  }

  .side-by-side-button {
    border-radius: 0;
    height: 100%;
    background-color: dt.$help-blue-lighten-8;
    color: dt.$help-blue;

    &.history-button {
      background-color: #fafafa;
      color: dt.$foreground;
    }
  }
}

.login-button-wrapper {
  @include mat.button-density(-2);
  align-self: center;
}

.user-popover {
  display: flex;
  flex-direction: column;

  background-color: white;

  border-radius: 5px;

  .user-info {
    display: flex;
    align-items: center;
    hyphens: none;

    padding: 0 16px;
    min-height: 48px;
    font-weight: 500;
  }
}

.update-popover {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;

  margin-top: 10px;

  @include mat.elevation(3);

  background-color: dt.$blue;

  font-weight: 500;

  color: white;

  padding: 15px;

  max-width: 23rem;

  border-radius: 5px;

  span {
    margin-right: 10px;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.left-flex {
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  min-width: 260px;

  &.small {
    min-width: fit-content;
    border-right: none;
  }
}

.template-projects-button {
  flex-shrink: 0;
  color: white;

  span {
    color: white;
  }
}

.right-flex {
  display: flex;
  gap: 4px;
  flex-grow: 1;
  overflow: hidden;
  height: $toolbar-height;
}

.spacer {
  flex: 1 1 auto;
}

.change-mode-button {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

dt-project-area {
  flex: 0 1 auto;
  min-width: 0;
  align-self: center;
}

@media (max-width: 850px) {
  .left-flex {
    min-width: fit-content;
  }
}

@media only screen and (min-width: 415px) {
  .two-header-layout .template-projects-button {
    margin-right: 51px;
  }
}

.theme-wrapper {
  display: contents;
}
