@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-decision-statement-box {
    .statement-container {
      background-color: mat.m2-get-color-from-palette($primary-palette, 500);
      color: mat.m2-get-contrast-color-from-palette($primary-palette, 500);
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-decision-statement-box {
    .prefix {
      @include mat.m2-typography-level($typography-config, 'subtitle-1');
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
