.statement-container {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 10px 15px;
  border-radius: 8px;

  .textarea-container {
    display: flex;
    flex: 1;
  }

  textarea {
    flex: 1;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    resize: none;
  }
}
