<div class="statement-container">
  <div class="prefix">Entscheidungsfrage</div>
  <div class="textarea-container" [klugRequiredFieldRipple]="!!decisionData.decisionStatement.statement">
    <textarea rows="7" value="" [(ngModel)]="decisionData.decisionStatement.statement"></textarea>
  </div>
</div>
