@use '@angular/material' as mat;
@use 'thin-scrollbar';
@use 'variables' as dt;

$screw-width: 150px;
$screw-header-height: 10px + 3 * (1.5 * 15px) + 10px;

:host {
  display: flex;
  position: relative;
  justify-content: center;

  // always make sure that at least both the configurations and the first column are visible
  &.small-screen {
    overflow: auto;
    justify-content: left;

    .blur-container {
      width: fit-content;
      max-width: unset;
      justify-content: left;
    }

    .configuration-label-container {
      width: 200px;
    }
  }

  &.is-dragging-screw {
    pointer-events: none;

    .screw-connection-stripe {
      opacity: 0;
    }
  }

  &.is-pressing-shift {
    user-select: none;
  }

  &.exporting-image {
    .screw .state {
      overflow-y: unset;
    }

    .blur-container {
      max-width: unset;
      width: max-content;
      height: fit-content;
    }

    .configuration-label-container {
      overflow: hidden;
    }

    .screw-list {
      width: fit-content;
      overflow: hidden;
    }
  }

  &.full-screen {
    height: fit-content;
    max-height: 100%;
  }
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blur-container {
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  background-color: white;
  padding: 10px;
}

.full-screen-container {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: $screw-header-height;
}

.configuration-label-container {
  position: relative;

  min-height: 100px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 435px;
  min-width: 230px;
  margin-right: 10px;

  overflow-y: auto;
  overflow-x: hidden;

  .button-container {
    background-color: white;
    position: sticky;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .configuration-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    line-height: 1.2;
    padding-left: 10px;
    padding-top: 5px;

    cursor: pointer;

    .indicator {
      visibility: hidden;
      user-select: none;

      display: flex;
      align-items: center;
      justify-content: center;

      // for the bullet displayed when the alternative is only highlighted
      font-size: 25px;
      font-weight: bold;
      color: dt.$orange;

      // to prevent vertical layout shift when we switch from 'highlighted' to 'selected'
      height: 25px;
      min-width: 20px;
      // for the ripple animation
      margin: 0 10px;

      mat-icon {
        // for the lock icon when the alternative is selected
        width: 20px;
        height: 20px;
        font-size: 20px;
      }

      ::ng-deep .mat-ripple-element {
        background-color: rgba(248, 147, 30, 0.1);
      }
    }

    .name-box {
      outline: 1px solid dt.$blue;
      background-color: dt.$blue-lighten-9;
      padding: 8px;
      border-radius: 4px;
      min-width: 0;
      width: 100%;
      min-height: 55px;
      height: 100%;

      &:hover {
        outline-color: dt.$orange;
      }

      .alternative-name-input {
        margin: 0;
      }

      .name-text {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    &.highlighted {
      .name-box {
        font-weight: 500;
      }

      .indicator {
        visibility: visible;
      }
    }

    &.selected {
      .name-box {
        outline: 2px solid dt.$orange;
      }
      .name-box,
      .alternative-name-input {
        background-color: dt.$orange-lighten-9;
        font-weight: 500;
      }

      .indicator {
        visibility: visible;
        font-weight: 500;
      }
    }
  }
}

.screw-list {
  display: flex;

  padding-bottom: 10px;

  overflow-x: auto;
  overflow-y: hidden;

  &.cdk-drop-list-dragging .screw:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.screw {
  position: relative;

  display: flex;
  flex-direction: column;

  background: white;

  min-width: $screw-width;
  max-width: $screw-width;

  border-radius: 5px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    // For the note button.
    position: relative;
    overflow: hidden;

    background: dt.$blue;
    color: white;

    height: $screw-header-height;

    padding: 10px 15px;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
      color: dt.$orange;
    }

    &:hover:not(:has(dt-note-btn:hover)) {
      background: darken(dt.$blue, 5%);
    }

    .name-box {
      display: -webkit-box;

      text-align: center;

      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .state {
    display: flex;

    justify-content: center;
    text-align: center;

    background: dt.$blue-lighten-9;
    border: 1px solid darken(dt.$blue-lighten-9, 5%);
    border-radius: 5px;

    //Das Padding hier muss 1px mehr sein, als bei &.selected und &.highlightes, sonst springt das Layout
    padding: 0px + 1px;
    margin-top: 10px;

    cursor: pointer;
    overflow-y: auto;
    overflow-wrap: anywhere;

    .name-box {
      margin: auto 0;
      user-select: none;
    }

    &:not(.not-defined) {
      flex: 1;
    }

    &.not-defined {
      background: darken(dt.$blue-lighten-9, 5%);
      padding: 1px;
      height: 28px;

      &.selected,
      &.highlighted {
        padding: 0px;
      }
    }

    &.highlighted {
      border: 2px dashed dt.$orange;
      padding: 0px;
    }

    &.selected {
      border: 2px solid dt.$orange;
      padding: 0px;
    }

    &:hover {
      background: darken(dt.$blue-lighten-9, 5%);
    }
  }

  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }
}

.screw:not(.editable) .state.not-defined {
  display: none;
}

.state {
  @include thin-scrollbar.thin-scrollbar;

  &::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #dde1e2;
    opacity: 0.8;
    border: none;
    border-radius: 0 5px 5px 0;
  }
}

.screw-connection-stripe {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1);

  path {
    fill: transparent;

    &.screw-state-connection-highlight-area {
      cursor: pointer;
      stroke: transparent;
      stroke-width: 25;
    }

    &.screw-state-connection {
      stroke: rgba(187, 187, 187, 0.7);
      stroke-width: 2px;

      &.highlighted {
        stroke: dt.$orange;
        stroke-width: 2px;
        stroke-dasharray: 3 4;
      }

      &.selected {
        stroke: dt.$orange;
        stroke-width: 2px;
        stroke-dasharray: none;
      }
    }
  }
}

.screw-append-button {
  align-self: flex-start;
  margin-left: 15px;
  margin-top: calc($screw-header-height / 2);
  transform: translateY(-50%);
}
