@if (showHeader) {
  <dt-select-line>
    <ng-content></ng-content>
    @if (enableAlternativeSelection) {
      <dt-select [(selectedOptions)]="selectedAlternatives" [multiple]="true">
        <dt-select-label i18n>Alternativen</dt-select-label>
        @for (alternative of decisionData.alternatives; track alternative; let index = $index) {
          <dt-select-option
            [disabled]="selectedAlternatives.length === minAlternatives && selectedAlternatives.includes(index)"
            [tooltipWhenDisabled]="tooltipWhenDisabledText.innerText"
            [value]="index"
            >{{ alternative.name }}</dt-select-option
          >
        }
      </dt-select>
    }
    <span #tooltipWhenDisabledText i18n [style.display]="'none'">
      @if (minAlternatives === 1) {
        Du musst mindestens eine Alternative selektiert lassen.
      } @else {
        Du musst mindestens {{ minAlternatives }} Alternativen selektiert lassen.
      }
    </span>
    @if (!initialUtilityValues) {
      <dt-select [selectedOptions]="orderMode" (selectedOptionsChange)="setOrder($event)">
        <dt-select-label i18n>Sortierung</dt-select-label>
        <dt-select-option [value]="'utilityValues'" i18n>Nutzenwerte</dt-select-option>
        <dt-select-option [value]="'gutFeeling'" i18n>Bauchgefühl</dt-select-option>
      </dt-select>
    }
    @if (weightedUtilityMatrix) {
      <dt-select [selectedOptions]="displayMode" (selectedOptionsChange)="setDisplay($event)">
        <dt-select-label i18n>Darstellung</dt-select-label>
        <dt-select-option [value]="'simple'" i18n>Einfach</dt-select-option>
        <dt-select-option [value]="'detailed'" i18n>Detailliert</dt-select-option>
      </dt-select>
    }
  </dt-select-line>
}

<dt-explanation-criteria-open-button
  #explainCommitmentToFollowThrough="explanationTrigger"
  dtExplanationTrigger
  criteriaToExplain="COMMITMENT_TO_FOLLOW_THROUGH"
></dt-explanation-criteria-open-button>

<div
  class="scroll-container"
  dtExplainable
  [explanationTrigger]="explainCommitmentToFollowThrough"
  [explainable]="explainable"
  [class.explainable]="explainable"
  data-cy="chart-ranking-container"
>
  <div
    class="element-container"
    [style.grid-template-columns]="gridColumnTemplate"
    [style.grid-template-rows]="gridRowTemplate"
    (mouseleave)="hoverPartition = -1"
    [attr.hover-partition]="hoverPartition"
    [dtWidthTrigger]="{ mobile: 500 }"
    (dtWidthTriggerStateChange)="isMobile = $event['mobile']"
  >
    @for (alternativeIndex of selectedAlternativeIndicesOrdered; track trackByRankingChange(c, alternativeIndex); let c = $index) {
      <div>
        <div
          class="ranking"
          [class.ranked-better]="getRankingChange(alternativeIndex) > 0"
          [class.ranked-worse]="getRankingChange(alternativeIndex) < 0"
          >{{ c + 1 - getRankingChange(alternativeIndex) }}.
        </div>
      </div>
    }

    @if (showRankingChange && !isMobile) {
      @for (alternativeIndex of selectedAlternativeIndicesOrdered; track trackByRankingChange($index, alternativeIndex)) {
        <div class="ranking-change">
          @if (rankingChangeArray[alternativeIndex] > 0) {
            <mat-icon [style.color]="'green'" [inline]="true"> arrow_drop_up</mat-icon>
            <span>(+{{ rankingChangeArray[alternativeIndex] }})</span>
          }
          @if (rankingChangeArray[alternativeIndex] < 0) {
            <mat-icon [style.color]="'red'" [inline]="true"> arrow_drop_down</mat-icon>
            <span>({{ rankingChangeArray[alternativeIndex] }})</span>
          }
          @if (rankingChangeArray[alternativeIndex] === 0) {
            <span>-</span>
          }
        </div>
      }
    }

    @for (alternativeIndex of selectedAlternativeIndicesOrdered; track $index) {
      <div class="caption" (mouseenter)="hoverPartition = -1">
        <div class="alternative-name">{{ decisionData.alternatives[alternativeIndex].name }}</div>
      </div>
    }
    @for (alternativeIndex of selectedAlternativeIndicesOrdered; track alternativeIndex; let first = $first) {
      <!-- value -->
      @if ((!weightedUtilityMatrix && displayMode === 'detailed') || displayMode === 'simple') {
        <div class="value-container" [class.winner]="alternativeIndex === winnerAlternativeIndex">
          <div class="value-bar whole" [style.width.%]="utilityValues[alternativeIndex] * 100">
            <div class="value-text overflow-text">
              {{ utilityValues[alternativeIndex] * 100 | number: numberDigitsInfo }}
            </div>
            <div class="value-text">
              {{ utilityValues[alternativeIndex] * 100 | number: numberDigitsInfo }}
            </div>
          </div>
          @if (initialUtilityValues) {
            <div class="original-value" [style.left]="'calc(' + initialUtilityValues[alternativeIndex] * 100 + '% - 2px)'"></div>
          }
        </div>
      }
      @if (weightedUtilityMatrix && displayMode === 'detailed') {
        <div class="value-container-holder">
          @if (first) {
            <div
              class="objective-names"
              [style.width.%]="adjustedUtilityValues[orderOfAlternatives[0]] * 100"
              dtViewIntersection
              (enterView)="namesVisible = true"
              (leaveView)="namesVisible = false"
            >
              @for (objectiveName of objectiveNames; track objectiveName; let dI = $index; let last = $last) {
                <div
                  class="objective-name"
                  [style.color]="colors[dI % colors.length]"
                  [style.flex]="weightedUtilityMatrix[orderOfAlternatives[0]][dI] * 100"
                >
                  <div class="objective-name-text">
                    {{ objectiveName }}
                  </div>
                  @if (!last) {
                    <div class="partition-separator"></div>
                  }
                </div>
              }
            </div>
          }
          <div class="value-container" [class.winner]="alternativeIndex === winnerAlternativeIndex">
            <div class="partition-container" [style.width]="getUtilityValuePartitionContainerWidth(alternativeIndex)">
              @for (utilityValuePartition of nonZeroUtilityValuePartitions(alternativeIndex); track $index; let last = $last) {
                <div
                  class="value-bar partition"
                  [style.flex]="utilityValuePartition[2] ? undefined : (utilityValuePartition[0] / utilityValues[alternativeIndex]) * 100"
                  [style.background-color]="colors[utilityValuePartition[1] % colors.length]"
                  [class.ignored-partition]="utilityValuePartition[2]"
                  [class.clickable]="canIgnoreObjectives"
                  [attr.partition]="utilityValuePartition[1]"
                  [matTooltip]="namesVisible ? null : objectiveNames[utilityValuePartition[1]]"
                  [matTooltipPosition]="'right'"
                  (mouseenter)="hoverPartition = utilityValuePartition[1]"
                  (click)="toggleObjective(utilityValuePartition[1])"
                >
                  <div class="wrap-helper">
                    <div class="fake-wrap-helper"></div>
                    <span class="value-text" [style.background-color]="colors[utilityValuePartition[1] % colors.length]">
                      {{ utilityValuePartition[0] * 100 | number: numberDigitsInfo }}
                    </span>
                  </div>
                  <div class="wrap-helper">
                    <div class="fake-wrap-helper"></div>
                    <span class="value-text" [style.background-color]="colors[utilityValuePartition[1] % colors.length]">
                      {{ utilityValuePartition[0] * 100 | number: numberDigitsInfo }}
                    </span>
                  </div>
                </div>
                @if (!last) {
                  <div class="partition-separator"></div>
                }
              }
              <span class="partition-text">
                {{ shownValues[alternativeIndex] * 100 | number: numberDigitsInfo }}
              </span>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
