<dt-starter-heading heading="objectives"></dt-starter-heading>

<div class="dt-starter-limit-width objective-list" cdkDropList (cdkDropListDropped)="drop($event)">
  @for (objective of decisionData.objectives; track objective; let index = $index) {
    <div class="objective mat-elevation-z4 dt-dark-theme" cdkDrag>
      <mat-icon cdkDragHandle class="drag-handle">drag_handle</mat-icon>
      <input
        type="text"
        [(ngModel)]="objective.name"
        placeholder="Ziel benennen"
        i18n-placeholder
        class="browser-default"
        required
        (keydown.enter)="addObjective()"
        [dtAutoFocus]="enableAutoFocus"
        data-cy="objective-name-input"
      />
      <button mat-icon-button data-cy="delete-objective-button" (click)="decisionData.removeObjective(index)"
        ><mat-icon>delete</mat-icon></button
      >
    </div>
  }
  <button mat-raised-button color="accent" class="add-objective-button" data-cy="add-objective-button" (click)="addObjective()"
    ><mat-icon>add</mat-icon>&nbsp;<ng-container i18n>Ziel hinzufügen</ng-container></button
  >
</div>

<dt-starter-help-expansion-panel>
  <p i18n
    >Deine Entscheidung wird umso reflektierter, je besser Du mit den Zielen beschreiben kannst, auf was es Dir im Kern bei der Entscheidung
    ankommt bzw. was Du erreichen möchtest. Stelle Dir bei jedem Ziel die Frage „Warum ist mir dieses Ziel eigentlich wichtig?“, um eine
    vielleicht noch bessere, fundamentalere Beschreibung von dem zu finden, was Dir wirklich wichtig ist. Vielleicht schaust Du Dir auch
    erstmal ein paar Beispiele von möglichen Fundamentalzielen an und holst Dir dort Anregungen.</p
  >
  <button mat-raised-button color="help" (click)="openFundamentalObjectives()" i18n>Beispiele für Fundamentalziele</button>
</dt-starter-help-expansion-panel>

<dt-starter-navigation-buttons step="objectives" [invalidTooltip]="errorMessage"></dt-starter-navigation-buttons>
