@use 'variables' as dt;
@use '@angular/material' as mat;

.objective {
  background-color: dt.$objective;

  border-radius: 5px;
  margin: 16px 0;

  display: flex;
  align-items: center;

  .drag-handle {
    cursor: move;
    margin: 0 8px;
  }

  input {
    flex: 1 0 100px;
    min-width: 0;
    outline: none;

    color: white;

    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: normal;
    }

    border-bottom: 2px solid transparent;
    padding-top: 2px;

    &.ng-invalid.ng-touched {
      border-bottom-color: red;
    }

    &:focus {
      border-bottom-color: dt.$orange;
    }
  }
}

button.add-objective-button {
  display: flex;
  margin: 0 auto;

  background-color: dt.$objective;
}

.cdk-drag-preview {
  @include mat.elevation(8);
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.objective-list.cdk-drop-list-dragging .objective:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
