<div class="wrapper">
  <ngx-charts-chart [view]="[width, height]" [showLegend]="false" [animations]="animations">
    <svg:defs>
      <svg:clipPath [attr.id]="clipPathId">
        <svg:rect [attr.width]="dimensions.width" [attr.height]="dimensions.height" />
      </svg:clipPath>
      <svg:clipPath [attr.id]="relaxedClipPathId">
        <svg:rect [attr.width]="dimensions.width + 14" [attr.height]="dimensions.height + 14" [attr.transform]="'translate(-7, -7)'" />
      </svg:clipPath>
    </svg:defs>

    <svg:g [attr.transform]="transform">
      @if (xAxis.displayAxis) {
        <svg:g
          dt-charts-x-axis
          [xScale]="xAxisProperties.scale"
          [xScaleType]="xAxisProperties.scaleType"
          [dims]="dimensions"
          [xAxis]="xAxis"
          (dimensionsChanged)="updateXAxisHeight($event)"
        ></svg:g>
      }

      @if (yAxis.displayAxis) {
        <svg:g
          ngx-charts-y-axis
          [yScale]="yAxisProperties.scale"
          [dims]="dimensions"
          [showGridLines]="yAxis.gridLines"
          [showLabel]="yAxis.showLabel"
          [labelText]="yAxis.labelText"
          [ticks]="yAxis.ticks"
          [tickFormatting]="yAxis.format"
          [yOrient]="yAxisOrientation"
          (dimensionsChanged)="updateYAxisWidth($event)"
        ></svg:g>
      }

      @for (series of areaChartSeries; track series) {
        <svg:g
          dt-charts-area
          [xScale]="xAxisProperties.scale"
          [yScale]="yAxisProperties.scale"
          [data]="series"
          [scaleType]="xAxisProperties.scaleType"
          [curveType]="curveType"
          [animations]="animations"
          [attr.clip-path]="clipPath"
        />
      }

      @for (series of lineChartSeries; track series) {
        <svg:g
          dt-charts-line
          [xScale]="xAxisProperties.scale"
          [yScale]="yAxisProperties.scale"
          [data]="series"
          [scaleType]="xAxisProperties.scaleType"
          [curve]="curveType"
          [animations]="animations"
          [attr.clip-path]="clipPath"
        />
      }

      @if (!tooltipDisabled) {
        <svg:g (mouseleave)="hideCircles()">
          <svg:g
            ngx-charts-tooltip-area
            [dims]="dimensions"
            [xSet]="lineXSet"
            [xScale]="xAxisProperties.scale"
            [yScale]="yAxisProperties.scale"
            [results]="lineChartSeries"
            [colors]="lineChartColors"
            (hover)="updateHoveredValue($event)"
          />
        </svg:g>
      }

      <!-- These are the points from the line-series that are permanently shown as points or currently being hovered -->
      <!-- This is shown above the TooltipArea -->
      @for (series of lineChartSeries; track series) {
        <svg:g
          dt-charts-circle-series
          [series]="series"
          [visibleXValues]="visiblePoints"
          [highlightedXValues]="hoveredXValue != null ? [hoveredXValue] : []"
          [xScale]="xAxisProperties.scale"
          [yScale]="yAxisProperties.scale"
          [dimensions]="dimensions"
          [scaleType]="xAxisProperties.scaleType"
          [tooltipDisabled]="tooltipDisabled"
          [tooltipTemplate]="lineCircleTooltipTemplate"
          [animations]="animations"
          [attr.clip-path]="relaxedClipPath"
        />
      }

      <!-- These are the points from the textCircleSeries -->
      @for (series of textCircleSeries; track series) {
        <svg:g
          dt-charts-circle-series
          [series]="series"
          [xScale]="xAxisProperties.scale"
          [yScale]="yAxisProperties.scale"
          [dimensions]="dimensions"
          [scaleType]="xAxisProperties.scaleType"
          [tooltipDisabled]="tooltipDisabled"
          [tooltipTemplate]="textCircleTooltipTemplate"
          [animations]="animations"
          [attr.clip-path]="relaxedClipPath"
        />
      }
    </svg:g>
  </ngx-charts-chart>
  <div class="resizing-overlay" [class.hidden]="!isResizing">
    <mat-spinner></mat-spinner>
  </div>
</div>
