@use 'sass:map';
@use 'sass:list';
@use 'sass:color';
@use '@angular/material' as mat;
@use '../../../../klug-colors' as klug-colors;

@mixin color($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  klug-assessment-graph {
    .box {
      color: white;

      &.header {
        background-color: list.nth(klug-colors.$klug-diagram-colors, 3);
      }

      &.outcome {
        background-color: list.nth(klug-colors.$klug-diagram-colors, 7);

        &.unset {
          background-color: white;
          border: 5px solid list.nth(klug-colors.$klug-diagram-colors, 7);
          color: list.nth(klug-colors.$klug-diagram-colors, 7);
        }
      }
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);

  klug-assessment-graph {
    .assessment-grid .box {
      @include mat.m2-typography-level($typography-config, 'subtitle-1');

      &:not(.outcome) {
        font-weight: 500;
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
