<div class="assessment-grid-container">
  <div class="assessment-grid" [style.grid-template-columns]="gridColumns">
    <div class="box header"> Bewerten der Optionen </div>
    @for (objective of objectives; track objective) {
      <klug-matrix-cell [object]="objective" [orientation]="'vertical'"></klug-matrix-cell>
    }
    @for (alternative of alternatives; track alternative; let alternativeIndex = $index) {
      <klug-matrix-cell [object]="alternative"></klug-matrix-cell>

      @for (objective of objectives; track objective; let objectiveIndex = $index) {
        <div
          class="box outcome"
          [matMenuTriggerFor]="pointMenu"
          [class.unset]="outcomes[alternativeIndex][objectiveIndex].values[0][0][0] == null"
          [klugRequiredFieldRipple]="outcomes[alternativeIndex][objectiveIndex].values[0][0][0] != null"
        >
          {{ outcomes[alternativeIndex][objectiveIndex].values[0][0][0] ?? '?' }}
          <mat-menu #pointMenu="matMenu">
            @for (outcome of possibleOutcomes; track outcome) {
              <button mat-menu-item (click)="outcomes[alternativeIndex][objectiveIndex].values = [[[outcome]]]">
                <span>{{ outcome }}</span>
              </button>
            }
          </mat-menu>
        </div>
      }
    }
  </div>
</div>
