@use 'variables' as dt;

.indicator-name {
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  padding: 15px 10px 0 10px;

  text-align: center;

  font-weight: 500;
}

.indicator-scale {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: hsl(0 0% 50% / 1);
}

:host {
  display: contents;
  --category-count: var(--category-count);
}

.wrapper {
  transition: width 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d2d2d2;

  position: relative;
  padding: 8px;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.65);
}

.wrapper_no-influence-factor {
  @extend .wrapper;
  margin: 0;
  height: 100%;
  border: 1px solid #d2d2d2;
  grid-row: span var(--state-count);
}

:host.transposed .wrapper_no-influence-factor {
  grid-row: unset;
  grid-column: span var(--state-count);
}

.wrapper-minimized {
  height: 100%;
  margin: 0;
  border: 1px solid #d2d2d2;
}

.indicator-box {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;

  z-index: 10;

  border: 1px solid #d2d2d2;
  padding: 5px;
  background-color: white;
  transition: width 0.2s;
  height: 100%;
  width: max-content;
}

.hasCategories {
  border: 0;
  padding: 0;
  grid-column: span var(--category-count);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
}

.hasCategories.transposed {
  padding: 0;
  grid-column: unset;
  grid-row: span var(--category-count);
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  .indicator-name {
    @extend .indicator-name;
    padding: 0 15px 0 10px;
  }
}

.minimize-button {
  top: -10px;
  right: -10px;
  position: absolute;
  scale: 50%;
}

.mini-preview {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.center-vertical {
  justify-content: center;
  height: 100%;
  width: 100%;
}

.center_horizontal {
  display: flex;
  justify-content: center;
}
