<div
  class="indicator-box"
  [style.width]="transposed || numberOfCategories > 1 ? 'auto' : minimized[0] ? '70px' : '270px'"
  [class.hasCategories]="numberOfCategories > 1"
  [class.transposed]="transposed"
  [class.center-vertical]="!influenceFactor"
>
  @if (indicator.isVerbalized && indicator.verbalIndicatorCategories.length > 1) {
    <div
      class="indicator-box center-vertical"
      [style.flex-flow]="transposed ? 'column wrap' : 'row'"
      [style.grid-row]="transposed ? 'span ' + (indicator.verbalIndicatorCategories.length + 1) : 'span 1'"
      [style.grid-column]="!transposed ? 'span ' + (indicator.verbalIndicatorCategories.length + 1) : 'span 1'"
    >
      <span class="indicator-name" [matTooltip]="indicator.name">{{ indicator.name }}</span>
      <button mat-icon-button color="accent" (click)="openVerbalIndicatorForecastModal(indicatorIdx)">
        <mat-icon>read_more</mat-icon>
      </button>
    </div>
    @for (category of indicator.verbalIndicatorCategories; track category; let categoryIdx = $index) {
      <div
        class="indicator-box"
        [class.center-vertical]="!influenceFactor"
        [style.width]="transposed ? 'auto' : minimized[categoryIdx] ? '70px' : '270px'"
      >
        <span
          class="indicator-name"
          [matTooltip]="indicator.verbalIndicatorCategories[categoryIdx].name"
          [style.padding]="transposed ? '0 15px 0 10px' : '15px 10px 0px 10px'"
        >
          {{ indicator.verbalIndicatorCategories[categoryIdx].name }}
        </span>
        @if (!transposed) {
          <button
            class="minimize-button"
            mat-icon-button
            [color]="minimized[categoryIdx] ? 'accent' : 'accent-less'"
            (click)="minimized[categoryIdx] = !minimized[categoryIdx]"
          >
            <mat-icon>{{ minimized[categoryIdx] ? 'add' : 'remove' }} </mat-icon>
          </button>
        }
        @if (influenceFactor) {
          <dt-slide-toggle
            [(value)]="efDefined[categoryIdx]"
            (valueChange)="handleToggleChange($event, categoryIdx)"
            [tooltipTrue]="'Einflussfaktor abwählen'"
            [tooltipFalse]="'Einflussfaktor anwenden'"
            [sliderTextAbbreviation]="sliderTextAbbreviation"
          ></dt-slide-toggle>
        }
      </div>
    }
  } @else {
    <span class="indicator-name" [style.padding]="transposed ? '0 15px 0 10px' : '15px 10px 0px 10px'" [matTooltip]="indicator.name">
      {{ indicator.name }}
    </span>
    <span class="indicator-scale">
      <span i18n>Von</span> {{ indicator.min }} <span i18n>bis</span> {{ indicator.max }} {{ indicator.unit }}
    </span>
    @if (indicator.isVerbalized) {
      <button mat-icon-button color="accent" (click)="openVerbalIndicatorForecastModal(indicatorIdx, 0)">
        <mat-icon>read_more</mat-icon>
      </button>
    }
    @if (!transposed) {
      <button
        class="minimize-button"
        mat-icon-button
        [color]="minimized[0] ? 'accent' : 'accent-less'"
        (click)="minimized[0] = !minimized[0]"
      >
        <mat-icon>{{ minimized[0] ? 'add' : 'remove' }} </mat-icon>
      </button>
    }
    @if (influenceFactor != null) {
      <dt-slide-toggle
        [(value)]="efDefined[0]"
        (valueChange)="handleToggleChange($event, categoryIdx)"
        [tooltipTrue]="'Einflussfaktor abwählen'"
        [tooltipFalse]="'Einflussfaktor anwenden'"
        [sliderTextAbbreviation]="sliderTextAbbreviation"
      ></dt-slide-toggle>
    }
  }
</div>
<!--normally there are no categories and the only categroyIdx is 0,
there is no case distinction to avoid duplicate code-->
@for (ef of efDefined; track ef; let categoryIdx = $index) {
  @if (efDefined[categoryIdx]) {
    @for (state of influenceFactorStates; track state; let stateIdx = $index) {
      <div
        class="wrapper"
        [style.width]="transposed ? 'auto' : minimized[categoryIdx] ? '70px' : '270px'"
        [style.min-width]="transposed ? '270px' : '70px'"
        [style.background]="getColor(stateIdx, categoryIdx)"
      >
        @if (!minimized[categoryIdx] || transposed) {
          @if (indicator.isVerbalized) {
            <!-- VERBAL INDICATOR -->
            <dt-select
              class="verbal-indicator-value"
              [selectedOptions]="outcomeValues[stateIdx][indicatorIdx][categoryIdx || 0]"
              (selectedOptionsChange)="handleValueChange($event, stateIdx, categoryIdx)"
            >
              @for (
                verbalStage of indicator.verbalIndicatorCategories[categoryIdx || 0].stages;
                track verbalStage;
                let verbalStageIdx = $index
              ) {
                <dt-select-option [value]="verbalStageIdx">
                  {{ verbalStage.name }}
                </dt-select-option>
              }
            </dt-select>
          } @else {
            <!-- NON-VERBAL INDICATOR -->
            <div class="expandable-dropdown-container">
              <dt-numerical-input
                [from]="indicator.min"
                [to]="indicator.max"
                [value]="outcomeValues[stateIdx][indicatorIdx][0]"
                (valueChange)="handleValueChange($event, stateIdx)"
              ></dt-numerical-input>
            </div>
          }
        } @else {
          <div class="center_horizontal">
            @if (indicator.isVerbalized && outcomeValues[stateIdx][indicatorIdx][categoryIdx || 0] != null) {
              <span class="mini-preview">{{
                indicator.verbalIndicatorCategories[categoryIdx || 0].stages[outcomeValues[stateIdx][indicatorIdx][categoryIdx || 0]].name
              }}</span>
            } @else {
              <span class="mini-preview">{{
                outcomeValues[stateIdx][indicatorIdx] | indicatorValue: indicator | safeNumber: '?' : '1.0-2'
              }}</span>
            }
          </div>
        }
      </div>
    }
  } @else {
    <div
      class="wrapper_no-influence-factor"
      [style.width]="transposed ? 'auto' : minimized[categoryIdx] ? '70px' : '270px'"
      [style.background]="getColor(undefined, categoryIdx)"
    >
      @if (!minimized[categoryIdx] || transposed) {
        @if (indicator.isVerbalized) {
          <!-- VERBAL INDICATOR -->
          <dt-select
            class="verbal-indicator-value"
            [selectedOptions]="valueWithoutEF[categoryIdx]"
            (selectedOptionsChange)="handleValueChange($event, undefined, categoryIdx)"
          >
            @for (verbalStage of indicator.verbalIndicatorCategories[categoryIdx].stages; track verbalStage; let verbalStageIdx = $index) {
              <dt-select-option [value]="verbalStageIdx">
                {{ verbalStage.name }}
              </dt-select-option>
            }
          </dt-select>
        } @else {
          <!-- NON-VERBAL INDICATOR -->
          <div class="expandable-dropdown-container">
            <dt-numerical-input
              [from]="indicator.min"
              [to]="indicator.max"
              [value]="valueWithoutEF[categoryIdx]"
              (valueChange)="handleValueChange($event, undefined, categoryIdx)"
            ></dt-numerical-input>
          </div>
        }
      } @else {
        <div class="center_horizontal">
          @if (indicator.isVerbalized) {
            @if (valueWithoutEF[categoryIdx] != null) {
              <span class="mini-preview">{{
                indicator.verbalIndicatorCategories[categoryIdx || 0].stages[valueWithoutEF[categoryIdx]].name
              }}</span>
            } @else {
              <span class="mini-preview">?</span>
            }
          } @else {
            <span class="mini-preview">{{ [valueWithoutEF[categoryIdx]] | indicatorValue: indicator | safeNumber: '?' : '1.0-2' }}</span>
          }
        </div>
      }
    </div>
  }
}
