@if (tornadoData.bars.length !== 0) {
  <div class="select-container">
    @if (isOutcomePredefined) {
      <dt-select [(selectedOptions)]="isProbabilisticVariant" (selectedOptionsChange)="createTornadoDiagram()">
        <dt-select-label i18n>Variante</dt-select-label>
        <dt-select-option [value]="false" i18n>Einfach</dt-select-option>
        <dt-select-option [value]="true" i18n>Probabilistisch</dt-select-option>
      </dt-select>
    }
    <dt-select [(selectedOptions)]="scaleVariant" (selectedOptionsChange)="updateScaleLimits()">
      <dt-select-label i18n>Bandbreite</dt-select-label>
      <dt-select-option [value]="'total'" i18n>Gesamtskala</dt-select-option>
      @if (isOutcomePredefined) {
        <dt-select-option [value]="'worst-best'" i18n>Worst-Best-Szenarien</dt-select-option>
      }
      <dt-select-option [value]="'fixed'" i18n>Angepasst</dt-select-option>
    </dt-select>
    <dt-select [(selectedOptions)]="defaultOrder">
      <dt-select-label i18n>Sortieroptionen</dt-select-label>
      <dt-select-option [value]="true" i18n>Standard</dt-select-option>
      <dt-select-option [value]="false" i18n>Einfluss</dt-select-option>
    </dt-select>
  </div>
  <dt-tornado-diagram
    [tornadoData]="tornadoData"
    [scaleAxis]="scaleAxis"
    [significantDigits]="5"
    [defaultOrder]="defaultOrder"
  ></dt-tornado-diagram>
}
