<dt-object-box
  [expanded]="expanded"
  (expandedChange)="onExpandedChange($event)"
  [sidePanelExpandedByDefault]="alternative.children.length > 0"
>
  <ng-template #header>
    <mat-icon class="drag-handle" [draggable]="!readonly" dtDragHandle [attr.dtDragGroup]="alternative.children.length > 0 || null"
      >drag_handle</mat-icon
    >
    @if (isLocked) {
      <mat-icon class="lock-icon" matTooltip="Die Alternative ist gesperrt, da sie in einem anderen Schritt erstellt wurde" i18n-matTooltip
        >lock</mat-icon
      >
    }
    <input
      class="browser-default name-input"
      data-cy="name-input"
      type="text"
      [(ngModel)]="alternative.name"
      [placeholder]="namePlaceholder"
      [readonly]="readonly"
      [disabled]="isLocked"
    />
    @if (sendEnabled) {
      <button mat-icon-button color="accent" (click)="sendAlternative(me)" #me="dtElementRef" dtElementRef
        ><mat-icon>send</mat-icon></button
      >
    }
    <button
      mat-icon-button
      data-cy="delete-button"
      color="accent"
      [disabled]="isLocked || readonly"
      dtConfirmPopover="Alternative wirklich löschen?"
      i18n-dtConfirmPopover
      (dtConfirmPopoverConfirm)="deleteClick.emit()"
      ><mat-icon>delete</mat-icon></button
    >

    <dt-note-btn
      [(comment)]="alternative.comment"
      [readonly]="readonly"
      caption="Erläuterung zur Alternative „{{ alternative.name }}“"
      i18n-caption
    >
      <dt-team-comments additional-modal-content [object]="alternative"></dt-team-comments>
    </dt-note-btn>
  </ng-template>

  <ng-template #body>
    <quill-editor
      [(ngModel)]="alternative.comment"
      format="json"
      bounds="self"
      theme="bubble"
      [modules]="{ toolbar: { container: [['bold', 'italic', 'underline', 'strike']] } }"
      [placeholder]="notePlaceholder"
      [readOnly]="readonly || isLocked"
    ></quill-editor>
  </ng-template>

  <ng-template #sidePanel>
    <div class="children-wrapper">
      @for (child of alternative.children; track child; let i = $index) {
        <div class="child" [draggable]="!readonly && !lockedChildren[i]" dtDragOrigin dtDragHandle [attr.dtDragChildIndex]="i">
          <div
            class="child-name"
            [matTooltip]="child.name"
            [matTooltipPosition]="'left'"
            #tooltip="matTooltip"
            [dtOverflow]
            [dtOverflowTooltip]="tooltip"
            >{{ child.name }}</div
          >
          <button
            mat-icon-button
            class="delete-button"
            color="accent"
            [disabled]="lockedChildren?.[i] || readonly"
            (mousedown)="$event.preventDefault()"
            dtConfirmPopover="Eingruppierte Alternative wirklich löschen?"
            i18n-dtConfirmPopover
            (dtConfirmPopoverConfirm)="deleteChild(i)"
            ><mat-icon>delete</mat-icon></button
          >
        </div>
      }
      @if (alternative.children.length === 0) {
        <div class="no-children" i18n>Keine Alternativen eingruppiert</div>
      }
    </div>
  </ng-template>
</dt-object-box>
