@use 'variables' as dt;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 100vh;

  mat-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .frame-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  iframe {
    width: calc(100% + 1px); // sometimes (at some screen sizes) there's a 1px white gap on the right
    height: 100%;
    position: relative;
    z-index: 10;
    flex: 1;
  }

  .video-browser {
    min-height: 250px;
    display: flex;

    .categories-area {
      flex: 4;
      display: flex;
      flex-direction: column;
      max-width: 65%;
    }

    .videos-area {
      display: grid;
      grid-template-rows: repeat(auto-fill, 100px);
      grid-template-columns: repeat(auto-fill, 120px);
      padding: 10px;
      flex: 6;
      gap: 5px;
      max-height: 250px;
      border-top: 1px solid dt.$blue-lighten-8;
      border-left: 1px solid dt.$blue-lighten-8;
      overflow: auto;
    }
  }
}

.video-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;

  .thumbnail {
    width: 100px;
    height: 56.25px;
    color: white;
    background-color: dt.$blue-lighten-2;
    border-radius: 4px;
    position: relative;

    mat-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      position: relative;
      z-index: 10;
    }
  }

  .video-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 12px;
  }

  &.selected {
    background-color: dt.$blue-lighten-10;

    .video-title {
      color: dt.$orange;
    }
  }
}

.category {
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  &.selected {
    background-color: dt.$blue-lighten-9;
    color: dt.$orange;
  }

  &:hover {
    background-color: dt.$blue-lighten-10;
  }
}

mat-tab-group {
  overflow: auto;

  ::ng-deep {
    .mdc-tab {
      flex: 1;
    }

    .mat-mdc-tab-label-container {
      background-color: dt.$blue-lighten-2;
    }

    .categories-area-label {
      background-color: dt.$blue-lighten-2;
      font-size: dt.font-size(body-2);
      font-weight: 700;

      span {
        color: #fff !important;
      }
    }
  }
}

.container {
  padding: 20px;
}
